[2016-09-29 02:29] japaric opened #2 "Support more families of microcontrollers"
The "Arduino" sub-ecosystem is probably the biggest as it contains several devices from different
architectures. Right now, Rust pretty much only supports, albeit not officially, microcontrollers
based on the ARM Cortex-M processor. This family is big but there are a lot of other widely used
architectures, to name a few:
- AVR
- PIC
- MSP430
- Xtensa (see [ESP8266](http://www.esp8266.com/))

To ea

[2016-09-29 02:35] japaric opened #3 "AVR support"
Parent issue: #2

Next steps:
- [x] Wait until AVR support [lands in upstream LLVM](https://github.com/avr-llvm/llvm)
- [x] Update rust-lang LLVM fork (rust-lang/rust#37609), implement cabi stuff, etc.
- [ ] Experiment with custom targets out of tree (to get the specification right)
- [x] Get libcore compiling without modifications
- [ ] Upstream all LLVM patches required for the AVR fork (avr-rus

[2016-09-29 02:47] japaric opened #4 "Support more OpenWRT devices"
Currently, the Rust compiler supports MIPS OpenWRT devices via these targets:
- `mips(el)-unknown-linux-uclibc`. OpenWRT 15.05. There is no binary release of `std` for this
  target though. Having binary releases for this target is at least blocked by rust-lang/libc#361
- `mips(el)-unknown-linux-musl`. OpenWRT Trunk. As a Tier 3 (?) target.

OpenWRT not only supports MIPS devices but also ARM devi

[2016-09-29 03:07] japaric opened #5 "Programs linked to `std` are too big"
The biggest problem at the lower spectrum of this sub-ecosystem is binary size. Rust programs tend
to be very big in size compared to the common storage sizes (a few MBs) of these devices.

Possible solutions are:
## Dynamic linking

Currently, Rust doesn't have a stable ABI/metadata so it may change from version to version or even
between nightlies. Still, it is possible to use dynamic linking to

[2016-09-29 03:55] kevinmehall commented on #5
OTOH, this is much less of a blocker in the embedded Linux space than on desktop OSs. It's common for the build process to produce a read-only squashfs with the entire system, and updates rebuild and replace that entire filesystem. But, because of this issue, dynamic linking hasn't seen much attention in the ecosystem and isn't well-supported in Cargo.

[2016-09-29 03:57] japaric opened #6 "Tooling: Ideal developer experience"
Building programs, written in C or Rust, "manually" for microcontrollers is quite complicated as it
involves several device specific files (e.g. linker scripts) and configuration (e.g. compiler flags).

This issue is about what the ideal experience would look like for embedded Rust developers. I think
it's informative to study first what the experience of C/C++ developers looks like:

Embedded C/C

[2016-09-29 04:35] japaric commented on #6
For starters, I'd like something like this to just work:

[code]

[code]

- No need to mess with a .json file. The thumb target is in the compiler.
- No need to write a linker script. The `f3` crate creates one for me.
- No need to mess with RUSTFLAGS, link-args and other nonsense. The `f3` crate injects the required linker flags (probably `-nostarfiles` and `-Tsome_linker_script.ld`) and `rustc`

[2016-09-29 15:29] cwoodall opened #8 "Abstract support for peripheral drivers for communication protocols"
The following list of protocols are often found as drivers in many embedded systems:
- SPI
- I2C
- CAN
- UART
- Ethernet
- The protocol the [WS2812](https://cdn-shop.adafruit.com/datasheets/WS2812.pdf) leds use (very popular in hobby projects)

Each application often needs to use these in slightly different ways, and need support for: interrupts, asyncio of some form, and blocking operation typica

[2016-09-29 16:30] japaric commented on #8
I think it may be possible to leverage traits for this. The trait provides an API over e.g. SPI and then one can write a generic driver for a SPI device (e.g. an accelerometer) that exposes an API that takes e.g. `&mut T where T: Spi`.

I think we should start experimenting with a blocking API. Async is going to require settling on some async solution first.

I think I've heard @posborne mention t

[2016-09-29 17:27] cwoodall commented on #8
@japaric I agree that we shoul

I agree with this statement, I just wanted to point out that in general I would never want a framework for embedded which didn't have a good story for async, even if that is just callback functions.

[2016-09-29 19:49] japaric opened #9 "Cargo doesn't work out of the box for Cortex-M micros"
The Rust compiler supports the Cortex-M architecture but this doesn't work out of the box:

[code]

for two reasons:
- `thumbv6m-none-eabi` is not a "built-in" target so you have to supply your own target definition.
- `cargo build` doesn't compile the standard crates and there's no binary release of the standard
  crates for this target.

The upstream solution is to either:
- Add the thumb target

[2016-09-29 20:58] tcr commented on #8
Traits as peripheral interfaces is a great end goal. I want to advise against formalizing this too early; Firmata has many edge cases that (as a generic protocol) prevents it from compatibility with every device. It may be more practical to start with a generic crate with multiple feature-enabled backends (like [Johnny-Five's IO adapters](http://johnny-five.io/)) before going straight to traits.

[2016-09-29 21:09] posborne commented on #8
Here's something that I started to put together to come up with a standard trait for accessing GPIOs: https://github.com/posborne/rust-gpio/pull/1

[2016-10-03 18:11] cwoodall opened #10 "svd2rust support for autogenerating ARM device drivers/memory maps"
Rust should support the ability to autogenerate device drivers/memory maps from SVD files similar to the ARM CMSIS support or the AdaCore support for for Ada provided by [svd2ada](https://github.com/AdaCore/svd2ada).

I know that @japaric started working on this in the [japaric/svd](https://github.com/japaric/svd) repository, but I think in the long run this would go a long way to improving Rusts

[2016-10-04 16:53] posborne commented on #10
👍  I'm the maintainer of https://github.com/posborne/cmsis-svd which currently has a bunch of SVD files from various vendors and a reference SVD parser in python.  Generating definitions for Rust would not necessarily require the parser to be in Rust, but I am not opposed to it by any means.

This is something we have explored some on Zinc: https://github.com/hackndev/zinc/issues/327

[2016-10-04 17:08] japaric commented on #10
@posborne Thanks for cmsis-svd! I'm using the "bunch of SVD files" in my svd parser as a test suite.

@cwoodall I haven't look at svd2ada yet but I expect they generate an API that does a bunch of validation at compile time thanks to its integer ranges and what not (I'm not really familiar with Ada).

I have a hacky, unpublished svd -> Rust generator where I'm using my svd parser plus the awesome

[2016-10-04 17:26] jdub commented on #10
Out of interest, how does SVD compare/contrast to DeviceTree?

[2016-10-04 18:00] cwoodall commented on #10
For reference [device tree](https://www.devicetree.org/)

[2016-10-04 18:18] posborne commented on #10
SVD is a more pure description of a particular processor whereas Device Tree typically contains more configuration that is specific to a given design.  I would never create an SVD to describe my board (using a particular SoC) but this is exactly what I do frequently for board bringup with embedded Linux on various SoCs.

[2016-10-05 04:42] japaric commented on #10
This is what I'm automatically generating: [docs] and [code]. Pretty simple but enough for my current needs. Ah, and this is the source [SVD].

[docs]: https://docs.rs/f3/0.1.0/f3/peripheral/rcc/struct.Registers.html
[code]: https://github.com/japaric/f3/blob/v0.1.0/src/peripheral/rcc.rs
[SVD]: https://github.com/posborne/cmsis-svd/blob/python-0.4/data/STMicro/STM32F303x.svd#L4487

[2016-10-05 04:56] japaric commented on #9
Update: The target definitions have landed upstream in rust-lang/rust#36874.

[2016-10-05 05:00] jdub commented on #10
@posborne Thanks!

[2016-10-05 17:07] japaric opened #11 "A richer tag system"
#1 originally proposed using just three labels, Arduino, OpenWRT and RPi, to categorize issues. But @nastevens [proposed](https://github.com/japaric/embedded-rust/pull/1#issuecomment-251127147) using a richer tag system. Also check [my comment](https://github.com/japaric/embedded-rust/pull/1#issuecomment-251737055) about grouping tags in categories. The questions are:
- Should we adopt a richer ta

[2016-10-05 17:51] japaric opened #12 "Survey: Crates you use for embedded development"
Ultimately, we'd like to have a list of curated crates that are nicely categorized in a presentable format (a website with search function, etc.). But, for starters, let's list here all the crates we use for embedded development.

Just add a comment here with the list of crates that you use The crate can be a library or a tool (binary). Try to stick to the following format:

[code]

I'll be collec

[2016-10-05 22:10] japaric commented on #6
So, today (or actually by the time the next nightly is released), using the [f3](https://docs.rs/f3/0.1.0/f3/) crate this is as close as I can get to my ideal:

- This code:

[code]

- plus this `.cargo/config`

[code]

- and Xargo.

[code]

produce a binary that Just Works.

Comparing it to my ideal:

- ~~No need to mess with a .json file.~~ Done. The `thumbv*` have landed in master.
- ~~No need

[2016-10-06 11:06] phil-opp commented on #12
[`bitflags`](https://crates.io/crates/bitflags) - A macro for C-like bit flags, pretty useful for modeling hardware registers.
Tags: `no_std` `macro` `bitflags`

[`lazy_static`](https://crates.io/crates/lazy_static) - A macro that allows to initialize a static using arbitrary code.
Tags: `no_std` `marco` static` `lazy`

[`rustc_builtins`](https://github.com/japaric/rustc-builtins) - Current state

[2016-10-06 11:38] igutekunst commented on #6
Targeting different environments is extremely complicated, especially once it comes to making it scalable. In addition, as much as I'm sure we'd all like to provide a solution to everyone's problems, we can't foresee every possibility, so we should probably focus on something that is easy for beginners (sane defaults), but is easily expandable to work in a larger tool ecosystem.

[Platform IO](htt

[2016-10-06 13:54] Amanieu commented on #12
[`intrusive-collections`](https://crates.io/crates/intrusive-collections) - Intrusive (non-allocating) singly/doubly linked lists and red-black trees.
Tags: `no_std` `intrusive` `rbtree` `collections`

[`log`](https://crates.io/crates/log) - Supports logging in `no_std` environments, as long as you define your own logger type.
Tags: `no_std` `log`

[2016-10-06 15:55] igutekunst commented on #8
@posborne , that looks like a good start.

I'm with @tcr and @cwoodall about the risks of over constraining ourselves too early, but also the need for async.

It's hard to define a universal interface/trait that will satisfy all hardware.
For example, UARTS and SPI interfaces don't have to send 8 bits per write, and can send many more,. I think I've seen up to 32 bits in a single write. They may h

[2016-10-06 15:58] cwoodall commented on #8
@igutekunst and then to get a little more into the weeds, how are pins as a resource handled? Pins can have multiple configurations... May even have multiple configurations throughout a program. A major improvement of the current state would be if there was a concept of ownership applied to pin configurations. Not sure how you could do this, but it seems like rust might actually be able to solve t

[2016-10-06 16:32] igutekunst commented on #8
The lifetimes and borrowing idea brings a smile to my face! I'd love to see peripherals actually owning pins in a compiler enforced manner.

Maybe it's time to actually building a few projects for a few different MCUs (let's say an AVR/Arduino and a STM32F4), and see what emerges.

A concern is how to do this in a zero cost way. I'm too new to Rust to have an intuition on whether it's possible to

[2016-10-06 16:57] japaric commented on #8
relevant: zinc has this "platform tree" feature ([example]), which is just a syntax extension, that assigns pins to peripherals (e.g. PA0 -> UART1) in a declarative manner and validates the assignments (no pin can be shared between two peripherals) at compile time. The syntax extension expands to rust code, so the compile time validation is actually done by rustc borrow checker.

This feature also

[2016-10-06 16:59] jcsoo commented on #6
I'm going to throw in one of my favorite quotes from Larry Wall: "Easy things should be easy, and hard things should be possible."

The top priority should be making it as easy as possible for a moderately experienced Rust programmer to go from reading about embedded Rust programming online to having a working demo blinking a LED on an actual board. This includes every barrier that you can think o

[2016-10-06 17:22] igutekunst commented on #8
That's quite cool. I had only briefly looked at it, but will look at it more.

[2016-10-06 18:12] japaric commented on #6
@igutekunst

That's an interesting thought. Some crates are meant to be compiled for a particular target so it
makes sense to be able to omit this flag if one of those crates is present as a dependency.

Right now you can omit the target in the command line if you specify it in the build.target field of
.cargo/config but .cargo/config is a local file and not really attached to a crate itself so Ca

[2016-10-06 18:28] japaric commented on #6
@jcsoo That sounds a lot like what I'm trying to do with my [f3] crate and my [Copper] book.

The f3 crate provides a high level, Arduino like API that people can use to play with the [STM32F3DISCOVERY]. Its main goal is to demonstrate that "you can totally hack embedded systems using Rust and it's actually easy".

OTOH, the Copper book wants to be a *reference* that explains every detail/concept

[2016-10-06 18:52] igutekunst commented on #6
Couldn't agree with that more. A great quote!

I'm trying to not think about details just yet, but rather raise the more general question about build systems and dependency trees.

I'd say that if two crates require a different default target, they can't both be built.

Maybe it's worth defining platform, framework and board so I can express myself better.

**Platform**
Some CPU that can be target

[2016-10-06 19:11] jcsoo commented on #6
Aha, I had stumbled across the Copper repository but hadn't actually looked at the book. It looks wonderful, and it looks like you have things very well covered. I'm going to have to pull out my STM32 board and try it out myself now!

This would be incredibly useful. Being able to install everything through a single rustup command immediately makes things simpler than almost all of the open source

[2016-10-06 19:38] jcsoo commented on #8
Not sure if anyone here has seen this: [Zinc mini post-mortem](https://users.rust-lang.org/t/zinc-mini-post-mortem/7079)

This matches up with my experience looking at Zinc, admittedly more than a year ago. There are a lot of ambitious ideas which unfortunately can lead to a big learning curve, and it is tough having basically everything in a single crate.

[f3](https://github.com/japaric/f3) seem

[2016-10-06 20:26] japaric commented on #6
@igutekunst

This is how I'd map the concepts you mention to Rust code:

- A framework is a crate that defines interfaces (traits) to peripherals.

[code]

- There are also device-agnostic crates that target one or more frameworks:

[code]

- Then there is a crate that implements a framework for a particular board. This crate also provides a linker script (through its build script) that defines th

[2016-10-06 20:35] japaric commented on #6
You could even break the `arduino_stm32f3discovery` crate even further in:

- A crate that provides device-agnostic (no addresses) register maps for each peripheral

[code]

- Then an `stm32f3discovery` crate that gives addresses to those register maps:

[code]

- And finally the `arduino_stm32f3discovery` that implement the Arduino framework for the
  STM32F3DISCOVERY:

[code]

[2016-10-06 21:56] japaric opened #13 "Survey: Frequently Asked Questions"
Let's start collecting questions for the FAQ!

What people usually ask about when they think/read/talk about Rust and embedded systems?

Post those questions here. It's OK if you post a question that seems similar or related to a question someone else already posted. I'll collect all the questions up here and then we can derive a smaller set of more general questions from this bigger pool.

[Here'

[2016-10-06 22:23] cwoodall commented on #8
@jcsoo that us a really awesome piece of info I did not see that post mortem! It all makes a lot of sense to me! Ideally we want a world where we have a bunch of interoperable crates, maybe built up from some core abstractions (like how many concurrency libraries use the future/promises crates and then build up easier to use semantics from there)

I have rethought some of my thinking I think those

[2016-10-06 23:20] japaric commented on #12
:heart:

if you use the `rustc_builtins` crate, you are morally obliged to contribute back to it by porting at least one compiler-rt intrinsic to Rust. :smiling_imp:. (I should totally go and modify that crate to show that message as a warning everytime it gets compiled.)

---

[`cortex-m`](https://crates.io/crates/cortex-m) - Low level access to Cortex-M processors
Tags: `arm` `cortex-m` `hardwar

[2016-10-07 00:49] jcsoo opened #14 "Embedded Linux"
Since it looks like we're breaking out topics from the Scope PR, here's a place to discuss the various classes of Linux devices and how they might be addressed in embedded-rust.

On one end there is [uCLinux](http://www.uclinux.org) for devices without MMUs. I don't know how widely used this or any other similar projects are used, but it doesn't appear to be useful outside the embedded context.

O

[2016-10-07 01:09] japaric commented on #14
The [meta-rust](https://github.com/meta-rust/meta-rust) seems to be related to this but I'm not familiar with Yocto or Buildroot.

There's an issue about this: #4

re: OpenWRT. Some time ago it was reported to me that Rust programs are too big to fit in a typical OpenWRT device and that proper support for dynamic linking would solve the problem. So, I've opened #5 to discuss that.

Could you elabo

[2016-10-07 11:57] jcsoo commented on #14
Interesting, I will take a look.

I was thinking along the lines of a cargo subcommand that could do the proper cross-compiling for the target including non-rust dependencies (a big challenge, I think) and then use Buildroot to package everything along with a custom kernel into a bootable image. So hypothetically:

[code]

to go from a bare Rust install to a bootable SD card with Rust code running

[2016-10-07 11:59] jdub commented on #14
A `build.rs` and the `gcc` crate will help with cross-compiling non-Rust dependencies.

[2016-10-07 14:53] japaric commented on #13
Another from [Reddit](https://www.reddit.com/r/rust/comments/567fsz/the_state_of_rust_on_embedded_devices_and_iot/d8hvz71):

- Why would you run embedded then if you can get a full os at the same form factor, Is it for power usage or custom hardware interactions?

[2016-10-07 16:21] japaric commented on #14
From my vague undestanding of what buildroot does. The easiest way would be to integrate Cargo itself into buildroot. AFAIK, buildroot will build a cross toolchain and cross compile a sysroot for the target device. So, in principle, to make Cargo use this custom sysroot and toolchain instead of the system ones we only have to change the linker Cargo uses. This means buildroot just has to e.g. set

[2016-10-07 16:31] jdub commented on #14
Most `-sys` crates just link to whatever static/dynamic library is available, rather than build code themselves. But `build.rs` and `gcc` are good for adding tricky blobs of custom C / asm, which can be especially handy for dealing with odd low level requirements.

[2016-10-07 16:49] jcsoo commented on #14
Is there a way to have gcc / build.rs use the buildroot environment, maybe by tweaking the PATH? I assume there are cases where there's custom C that needs to be built (as jdub just pointed out).

There are a lot of parallels with how containers are constructed using Dockerfiles.

Speaking of Docker, it will be nice if we can get all of this packaged up in a Docker image. I'll see if I can find so

[2016-10-07 17:01] japaric commented on #14
Yes, there are env variables to change the compiler, archiver, etc. that the `gcc` crate uses. `CC_mips_unknown_linux_musl`, for instance, changes the compiler that the `gcc` crate will use to compile C code for the `mips-unknown-linux-musl` target.

[2016-10-08 05:49] brandonedens commented on #10
Hi folks. I built a SVD to Rust source code generator as CLI or Rust macro. Its called svd-mmap and is available at:
https://github.com/brandonedens/svd-mmap
The resulting output is very similar to what Zinc ioreg generates and its using the quasi and aster crates which hopefully protects it some from upstream changes.

It needs a little more work; a README and possible alternative backend to Zinc

[2016-10-08 14:08] japaric commented on #10
Awesome, @brandonedens!

For those that want to try out `svd-mmap` as a CLI tool, you'll first have to switch to nightly-2016-09-30 because `aster` is not compiling with today's (and yesterday's) nightly. Then you'll also have to set `LD_LIBRARY_PATH` so they binary can find some dynamic libraries:

[code]

[2016-10-09 03:30] japaric commented on #10
I've published my generator as well: [svd2rust](https://github.com/japaric/svd2rust)! Which I've just started using in f3 (cf. japaric/f3#22). It's main differences with ioregs are:

- it doesn't update the register on "drop" (which can be "forgotten" (`mem::forget`)), instead it uses explici, unforgettable closures (in the read-modify-write case).
- Instead of a single `VolatileCell` wrapper for

[2016-10-09 05:17] brandonedens commented on #10
Neat. I'll poke through svd2rust as soon as possible and investigate switching to volatile-register. I'm also going to look at a possible pull request against Zinc to swap out ioreg for SVD generated hardware.

A basic README.md is now present in the svd-mmap repo.

I noticed the aster breakage as well. Hopefully aster / quasi fix soon; they tend to be quick (otherwise I'll maybe issue the pull re

[2016-10-09 13:44] japaric commented on #10
Yes, please. I think it's a great idea to breathe some life back into Zinc. If they check in generated register maps instead of re-rebuilding them at build time using `ioregs!`, then they should have way less breakage.

Someone already sent a [PR fixing aster](https://github.com/serde-rs/aster/pull/114) but it hasn't been merged yet.

---

I think it's healthy to have competition / choices in the

[2016-10-12 05:48] dylanmckay commented on #3
[Here](http://lists.llvm.org/pipermail/llvm-dev/2016-October/105737.html)'s an email I sent out to the `llvm-dev` list very recently regarding the status of the AVR backend.

tl;dr there's really only 3 files needed before the backend will be 80% usable.

[2016-10-15 12:17] thejpster commented on #11
So, my view on embedded development (and while I've done this sort of thing professionally for the past 12 years, I'm aware that I'm still a relative newcomer) is this. For me, the difference between embedded software and 'non-embedded' software comes down to privilege. Software that is 'non-embedded' is low privilege - that is, it is isolated in its own virtual memory space, it's limited as to wh

[2016-10-15 13:17] thejpster commented on #8
Perhaps there's something to be said for the UNIX character device / ioctl approach. Implementing the Read and Write traits would work for a range of I/O devices, and you can specify peripheral specific setup in the new method.

I think it would be limiting to say this is a UART and this is an SPI device when all I actually need to know is that it's a u8 sink of some sort.

[2016-10-15 14:21] thejpster commented on #9
This upstream change is excellent. I'll go and delete the custom targets from primer immediately.

Is it possible to set a default target for a crate? If we have a one-board-per-crate model then specifying the crate seems redundant.

[2016-10-15 21:09] alevy commented on #13
This is a really important one, I think, especially as far as motivating why a language community ought to care about supporting that sort of development.

Some arguments I've been collecting:

  * ~3 orders-of-magnitude difference in sleep power consumption. This is partially due to the hardware actually focusing on sleep current, but also to do with fundamental differences between SRAM and DRAM.

[2016-10-15 21:10] alevy commented on #13
* What's the overhead of using Rust vs. C for embedded?

  * What's the benefit of using Rust for embedded?

  * Can I compile Rust for XYZ-obscure ISA?

[2016-10-16 02:54] nastevens commented on #6
Something that @japaric mentioned that I would like to expand on is the potential power of the `cargo-foo` binary naming plugging into the `cargo` command. A very complicated setup of cargo config, linker script, etc. can be made almost transparent by creating tools that tap into the `cargo` namespace. A totally contrived example:

`cargo arduino new --board=uno` - generates a template project wit

[2016-10-16 03:12] nastevens commented on #14
The `meta-foo` pattern is the standard way of naming "layers" for the Yocto ecosystem. `meta-rust` provides tooling for building Rust projects using the Yocto build system.

One important note about `meta-rust` is that it compiles its own Rust compiler as part of the build process. This is in-line with the Yocto philosophy, which originally derived from the Gentoo Linux project, and values being a

[2016-10-16 03:23] nastevens commented on #12
[`meta-rust`](https://github.com/meta-rust/meta-rust) - Yocto layer providing from-source version of the Rust compiler and Cargo
Tags: `build` `yocto`

[`meta-rust-bin`](https://github.com/rust-embedded/meta-rust-bin) - Yocto layer that uses pre-built Rust and Cargo from rust-lang.org
Tags: `build` `yocto`

[`fixedvec`](https://github.com/rust-embedded/fixedvec-rs) - `Vec`-like interface to a pre-

[2016-10-16 03:35] nastevens commented on #11
Interestingly, #12 seems to already be flushing out a number of tags. I propose that we let that survey run its course and use that to inform any decisions we make here.

I've put out a request to the community to help flesh out that list on [Twitter](https://twitter.com/bitcurry/status/787495345353744386) and [Reddit](https://github.com/rust-embedded/rfcs/issues/12). Other places we should perhap

[2016-10-16 03:56] nastevens opened #15 "Provide real content at rust-embedded domains"
We currently have three domains available to the rust-embedded org, but all of them simply redirect to landing pages:
- www.rust-embedded.com
- www.rust-embedded.org
- www.areweembeddedyet.com

There are a lot of possibilities for content that could go on that site:
- List of useful crates for embedded dev (#12)
- List of frequently asked questions about embedded dev with Rust (#13)
- Getting star

[2016-10-16 04:49] whitequark commented on #12
[log_buffer](https://github.com/whitequark/rust-log_buffer) - Rust library for logging into a circular string buffer
Tags: `no_std`

[2016-10-16 04:56] dpc commented on #12
[`slog`](https://crates.io/crates/slog) -  Supports logging in `no_std` environments, as long as you implement your own `Drain`
Tags: `log` `no_std`

[2016-10-16 10:14] SimonSapin commented on #12
[teensy3-rs](https://github.com/jamesmunns/teensy3-rs/) - bindings for the official [C/C++ stack](https://github.com/PaulStoffregen/cores) for [Teensy 3.x](https://www.pjrc.com/teensy/teensy31.html) boards.

[2016-10-16 10:51] cwoodall commented on #15
I would be interested in helping out on this front.

[2016-10-16 10:51] flosse commented on #12
here are some links to related posts: https://github.com/flosse/rust-os-comparison#embedded-systems

[2016-10-16 17:03] Geal commented on #12
I don't know if you'd do much parsing in embedded dev, but [nom](https://github.com/Geal/nom) can build in `no_std` (and if it fails for you, I'm willing to fix it and support no_std correctly).

[2016-10-16 17:54] emk commented on #12
I have three very minor crates that were all building on nightly as of a couple of weeks ago:

- [cpuio](https://crates.io/crates/cpuio). Bare metal (no_std) inb, outb, inw, outw, inl, outw instructions, with a Rust-friendly API.
- [alloc_buddy_simple](https://crates.io/crates/alloc_buddy_simple). Simple, drop-in replacement allocator for Rust running on bare metal. This intended for small, known-

[2016-10-16 18:26] japaric commented on #15
Next month, I can work on the getting started guides and the FAQ front.

Also, FYI, @jcsoo has an areweiotyet website, which is more focused on the "openwrt" ecosystem and embedded/IoT networking protocols, on the works. Let's coordinate with them to not duplicate content and to link to each other site where it makes sense. :smile:

[2016-10-16 18:50] japaric commented on #12
If you are working with Cortex-M microcontrollers, need register maps for their peripherals but
don't feel like writing an API that involves thousands of LoCs, you can use:

[`svd2rust`](https://crates.io/crates/svd2rust) - Generate Rust register maps (`struct`s) from SVD files
Tags: `tool` `arm` `cortex-m` `registers` `peripherals`

to save yourself lots of time. Many thanks to @brandonedens for

[2016-10-16 19:09] aochagavia commented on #12
I guess "xargo - A drop-in replacement for xargo..." should be "xargo - A drop-in replacement for cargo"

[2016-10-16 19:10] thejpster commented on #12
My [launchpad](https://github.com/thejpster/bare-metal-arm-rust) project uses these (according to my extern crate statements anyway...)

[volatile_register](https://crates.io/crates/volatile-register) - for memory mapped registers
Tags: kernel_mode

[spin](https://crates.io/crates/spin) - a spinlock Mutex
Tags: no_std

[linked_list_allocator](https://crates.io/crates/linked_list_allocator) - basic

[2016-10-16 19:19] emk commented on #12
@japaric:

run on a Cortex-M processor?

I've only tried it on x86_64, but it can probably be made to work almost anywhere with a few tweaks. The major advantage of `alloc_buddy_simple` is that it's _tiny_, and you can understand the whole thing front-to-back in an hour or so. And it's good enough to make `collections` basically usable. The biggest drawbacks are that (1) it can't grow its heap, an

[2016-10-16 19:22] thejpster commented on #12
linked_list_allocator is from Phil Opperman's x86-64 blog but but it works on a Cortex-M4.

[2016-10-16 19:22] emk commented on #12
I also note that nobody has mentioned this popular crate yet:

[x86](https://crates.io/crates/x86). Library to program x86 (amd64) hardware. Contains x86 specific data structure descriptions, data-tables, as well as convenience function to call assembly instructions typically not exposed in higher level languages.

[2016-10-16 19:41] Geal commented on #12
some parsers can allocate and return a Vec, but the rest won't rely on
allocations. You can provide your own alloc and collections replacement.
Even without, it should build correctly, since the code using Vec is in
macros.

Le 16 oct. 2016 20:50, "Jorge Aparicio" <notifications@github.com> a écrit :

[2016-10-16 19:42] japaric commented on #12
@aochagavia yes, thank you.

@thejpster @emk Thanks for the pointers. I'll read more about these allocators. :+1:

[2016-10-16 21:37] japaric commented on #9
Not using a crate, no. You can use .cargo/config but that's "local" to the current project and doesn't get passed up to the top crate if set in one of the dependencies.

This "feature" has been mentioned before in the issue tracker before though (can't find the comment right now).

[2016-10-16 23:57] whitequark commented on #12
@japaric This is of course not the case, thumbv6m supports atomic reads/writes via regular read/write instructions and atomic read/modify/writes through a cpsid/cpsie sequence. LLVM only needs to be taught that.

[2016-10-17 01:03] japaric commented on #11
I'm late but the Rust users forum is a good place. I've also added links to our surveys to the gitter and IRC channels.

[2016-10-17 08:56] fbstj commented on #8
@thejpster yes definitely in some (maybe most) respects the UNIX way makes sense, but there are probably a number of peripherals that would end up being served oddly by this approach. particularly I would much rather be able to send CAN frames directly rather than serialising them to bytes or something? Similarly I would rather send the struct that wraps my structured messages over serial than hav

[2016-10-17 21:13] thejpster commented on #8
@fbstj I think the trick is building an ioctl interface that's type safe (and it may have to be interface specific to achieve that) but I'd argue that I/O device payloads (to be clear, I mean the data you wish to transfer to the remote system, as opposed to the metadata like the destination address or the baud rate) should fundamentally be expressed in octets. If you need to send structured data,

[2016-10-17 21:36] sbarral commented on #12
A crate to load and control bare-metal programs on the PRU, an ARM co-processor found among others on the BeagleBone.

[`prusst`](https://github.com/sbarral/prusst) - Rust interface to the PRU subsystem on AM335x processors (BeagleBone & other SBC)
Tags: `hardware` `linux` `pru` `beaglebone`

[2016-10-17 23:58] posborne commented on #8
I think implementing the `Read` and `Write` is a worthwhile activity for devices (like SPI) where many use cases can be distilled down to that simple pattern but I think most interfaces do deserve separate, standard interfaces as well that capture the semantics of configuring and interacting with the device in a way to minimizes the possible runtime errors.

Take, for instance, the interface expos

[2016-10-18 06:50] dtolnay commented on #10
Aster 0.30.0 is out with a fix for the most recent nightlies. Sorry about the delay - this was the most complicated merge conflict we have had in a long time because there were significant changes to macro expansion in libsyntax.

[2016-10-18 14:47] japaric commented on #10
@dtolnay no worries! That build error prompted us to look into syn+quote and we have already ported svd2rust to it :smile:. BTW, syn and quote are really nice to use, thanks for creating them :heart:.

[2016-10-21 03:52] japaric commented on #12
I've started porting `libm` to Rust because I needed to do some floating point math on my microcontroller. The crate has very few functions right now though.

[`m`](https://crates.io/crates/m) - A C free / pure Rust mathematical library ("libm") for `no_std` code
Tags: `no_std` `math` `float`

---

@whitequark

That's true. I personally don't know how one would implement the `Atomic*` Rust API wit

[2016-10-21 04:08] cwoodall commented on #12
There are a few other ways to do atomics.

You can set basepri to max which will mask out all interrupts (except those with 0 priority). This is what brittle and freertos seem to do. I suppose this is more for critical sections than atomics.

You can also use the `strex` and `ldrex` instructions to form some form of a to. Uc operation (this is what the gcc atomic primatives seem to do) http://info

[2016-10-21 04:12] cwoodall commented on #12
This stackoverflow.com article appears to be somewhat insightful: http://stackoverflow.com/questions/11894059/atomic-operations-in-arm

Might be hard to wrap this properly.

[2016-10-21 04:29] japaric commented on #12
This, like cpsid/cpsie, can only be done in privileged mode.

These are not available for the thumbv6m target (which is what I said is doesn't support atomics -- keep reading). For thumbv7 and newer, rustc (or rather LLVM) lowers `Atomic*`'s methods to strex/ldrex instructions.

[2016-10-21 06:32] whitequark commented on #12
@japaric

You cannot. You need RMW cycles to implement the complete API.

Indeed. Fortunately... thumbv6m doesn't have the concept of user mode, as far as I'm aware! So this is not a problem.

[2016-10-22 20:36] thejpster commented on #12
I pulled out the drivers from my Stellaris Launchpad project, so I'd like to add:

[lm4f120](https://crates.io/crates/lm4f120) - A set of drivers for the TI LM4F120.
Tags: `bare-metal` `drivers`

[2016-10-23 20:31] posborne opened #16 "Testing/CI/Release For Embedded Targets"
## Problem

Embedded targets typically do not target the same architectures that are readily available on CI services like Travis and developers machines, yet we would still like for CI to be able to build our software for alternative architectures and, ideally, run tests on that architecture.

As an example, let's consider another project I am a maintainer on, [nix-rust/nix](https://github.com/ni

[2016-10-23 21:40] thejpster commented on #16
I'm building with Xargo on Travis for Cortex-M4 but I don't have a strategy for test as yet (so maybe that counts as 'trivial', I don't know). At work, we would generally hook up target hardware to our CI system to flash binaries and run tests on target, but this is a personal project for now.

[2016-10-23 21:44] japaric commented on #16
I have been working in this space :smile:.

I really liked `libc` idea of one docker container per target. It makes builds reproducible, you can easily run the test suite for any target locally (if you have Docker and are running Linux) and its Dockerfiles let you pick which glibc version you want to compile against (through the Ubuntu image tag/version).

While building smoke (a repository that's

[2016-10-28 22:43] japaric commented on #12
@whitequark oh, then it sounds like we could provide the required intrinsics in some standard-ish crate. I've opened rust-lang-nursery/compiler-builtins#114 to track this.

[2016-11-01 14:37] japaric commented on #3
Hey, @dylanmckay. I'm wondering what's the current status. I saw that there's only one "PR" (differential revision) in the review queue and that it has already been accepted but has not landed yet.

After that lands, will LLVM be ready to compile Rust programs for AVR? Will you (and @shepmaster) be sending a PR updating Rust's LLVM next?

Happy to help with anything to land this in rust-lang/rust.

[2016-11-01 15:13] shepmaster commented on #3
Eventually, yeah, except the LLVM 4.0 changes are more annoying than any previous LLVM changes I've had to make.

I *think* it will help. Especially because one "bug" we have at the moment is that I've forgotten to publish the WIP branch of compiler-rt so people are getting build failures.

[2016-11-01 15:35] japaric commented on #3
I'm really looking forward to LLVM 4.0 in rust-lang/rust so if you make it happen you'll have my gratitude.

Did you have to implement new intrinsics? I only see build system related changes in your fork.

[2016-11-01 17:35] shepmaster commented on #3
What benefits do you expect to see from it?

I *think* we might have to, but haven't yet.

[2016-11-01 17:45] japaric commented on #3
I'm working on embedding lld, the LLVM linker, into `rustc` and having LLVM 4.0 lets me use the latest lld release which has better linker script support. (Linker script support in lld 3.9 is minimal) I'm hoping that someday I'll be able to build Rust programs for Cortex M devices without having to install `arm-none-eabi-gcc` first.

[2016-11-02 06:42] dylanmckay commented on #3
I'm about to commit that one now :)

It should be able to compile very trivial instructions. There are two source files that will fix that.

* `AVRBranchSelector` - The branch relaxation pass (which will be rewritten to use the generic relaxation pass before it is merged)

* `AVRExpandPseudoInsts` - This is required for basically any 16-bit operation (hint: almost everything). I've put this one of

[2016-11-04 13:08] japaric opened #17 "Let's participate in the novemb.rs Code Sprint"
[Website](http://novemb.rs/)

TL;DR It's an offline/online/remote Rust code sprint with a focus on
European/African time zones/locations but everyone's welcome no matter their
time zone/location.

The event will last two days: November 19 and 20.

It seems like a great opportunity to get together and work on embedded stuff.
We can use the #rust-embedded IRC channel to coordinate our work.

We are

[2016-11-05 03:38] japaric opened #18 "`core::fmt` machinery optimized for size"
This

[code]

generates a [.text section of 94 bytes](https://gist.github.com/japaric/b8364106dbff1f1e31dfda9d44ab2aed#file-empty-objdump)

This

[code]

generates a [.text section of 314 bytes](https://gist.github.com/japaric/b8364106dbff1f1e31dfda9d44ab2aed#file-print-no-fmt-objdump)

But this

[code]

generates a [.text section of 2340 (!) bytes](https://gist.github.com/japaric/b8364106dbff1f1e

[2016-11-05 04:37] briansmith commented on #18
Why not just write guidelines recommending that people avoid `core::fmt`. Isn't its design fundamentally flawed, like `printf`, for size-conscious implementations? You're almost always going to end up with some code being included that you don't use with this design.

Probably that should happen anyway.

[2016-11-05 04:42] briansmith commented on #18
Maybe it's good to (also) write guidelines recommending people avoid `core::fmt` if they care about code size. It seems like there are probably a lot of improvements that can be made, but in many cases it is used, it can be avoided completely.

[2016-11-05 04:58] japaric commented on #18
What would the guideline suggest to use instead of core::fmt? Other than don't use formatting at all.

[2016-11-05 05:12] briansmith commented on #18
Exactly "don't use formatting at all." For example, when a function returns an error, don't avoid using `core::fmt` to format an error string stored in the error. Instead, return an error type that can be formatted by the code using the library, if it actually wants a formatted message.

[2016-11-05 07:21] thejpster commented on #18
I would be interested in seeing the equivalent results for C and C++
(printf vs std::cout) for the same target before I worried unduly.

[2016-11-05 08:02] raphaelcohn commented on #3
@japaric Big shout out for `lld` embedded into `rustc`. It's not an easy thing to do - I know I'd struggle - but a rust toolchain that's entirely independent of GNU binutils and gcc is an enormous win for rust.

[2016-11-05 20:35] japaric commented on #3
@raphaelcohn Check rust-lang/rust#36120. It's pretty much already working on Linux and it can link Cortex-M programs without arm-none-eabi-gcc. It hasn't landed because I couldn't get lld to build properly on Windows :disappointed:

Indeed! If all goes well we'll also be able to (cross) compile statically linked MUSL binaries without needing glibc installed on the system as well. Ahh, the dream of

[2016-11-06 01:04] jamesmunns opened #19 "Define minimal Traits for common embedded peripherals"
Peripherals are often used in a similar style (or a few styles), with an uncountable number of details of difference between implementations.

In order to have Arduino-level usability and portability, it would be useful to define a minimal set of traits that can be used to write libraries against. When more constraints are necessary, these traits can be composed together.

For example, a baseline

[2016-11-06 07:21] thejpster commented on #19
I have come across one situation so far, writing a Linux application in Rust, where it was necessary for my Serial object to be used in a read thread and a write thread simultaneously. To do this, I needed to split it into two objects.

I wonder if we could expand this Trait so that one half of the comms (say, read) could be broken off in to a separate object for such occasions. And maybe merged b

[2016-11-06 11:38] jamesmunns commented on #19
For UART, that definitely makes sense. For other kinds of serial comms (i2c, spi) it doesn't make sense to break them up due to how they are implemented.

[2016-11-06 12:18] thejpster commented on #19
I think I agree.

The question for SPI I think is whether you have an in buffer and a mut out buffer, or a single buffer it but reads and writes from.

I've previously argued that a single Linux style char device interface should be the goal, but the more I think about it the more I think the limited ability of the platform to work around problems with the API (with buffering, etc) perhaps means w

[2016-11-06 12:24] thejpster commented on #17
+1

[2016-11-06 12:34] jamesmunns commented on #19
@thejpster I struggled with this on `teensy3`: https://github.com/jamesmunns/teensy3-rs/blob/master/teensy3/src/spi.rs#L121

I went with one in, one out with in-place replacement, since SPI will always be a 1:1 match.

To be honest, I would probably prefer something like this, but it is not currently possible AFAIK:

[code]

[2016-11-06 13:17] japaric commented on #19
:+1: frome as long as

This is clearly marked, in the crate name, as an Arduino compatible interface / compatibility layer.

This probably wants an associated type error.

Is `wr_fifo` a "software buffer" (i.e. a chunk of RAM) or the "hardware fifo" that some chips have? If the former when does the data actually get pushed into the wire?

If the same trait (Serial) can be blocking or nonblocking b

[2016-11-06 13:44] japaric commented on #18
@briansmith

Sounds like a good, general (as in, not embedded specific) recommendation to me.

I guess my worry is most types will implement `core::fmt` traits but the user wants to use the `CodeSizeOptimizedFmt` trait but they can't because (a) the trait is not in `core`, (b) third party crate didn't implement it because it's not in `core` and (c) the user can't implement it themselves because of

[2016-11-06 20:08] japaric commented on #13
Asked twice in the lapse of 24 hours on the #rust-embedded IRC channel.

[2016-11-06 21:16] jamesmunns commented on #19
@japaric

My point here wasn't to sell an "arduino compatable layer", but rather, define some lowest common denominator that is useful, so that people who dont care how things work can have things "just work", which is a hallmark of the Arduino. This would be useful for the first stage of a bringup, and allow writers of a library (for example, a radio modem), to consume these traits.

So I would e

[2016-11-06 22:07] wesen commented on #17
Here is a link to the etherpad: [https://public.etherpad-mozilla.org/p/embedded-novemb.rs](https://public.etherpad-mozilla.org/p/embedded-novemb.rs)

[2016-11-07 15:33] japaric commented on #19
That seems fine to me and I pretty much agree with your points about being able
to write code in a generic way.

I'm just afraid that we (the community) will settle for an Arduino-like API
(read: direct translation of the Arduino API) **without** exploring patterns
that are more Rustic and more familiar to the Rust community as a whole, like
futures, and that that could get us stuck in a non-optim

[2016-11-07 19:57] pftbest commented on #18
In my case:
- C code goes from 1550 bytes to 30241 bytes if you use sprintf from newlib (default libc on cortex-m).
- Rust code goes:
  - from 956 to 3810 if you format integer
  - from 956 to 19884 if you format double and use compiler-builtins
  - from 968 to 20020 if you format double and use libgcc

So I think 2k bytes of code is not a big deal really, compared to 20k needed for floating point

[2016-11-07 22:17] jamesmunns commented on #19
I agree, I don't want to copy it wholesale. I'm still dipping my toes into `futures`, and think it could make sense from the embedded point of view, I guess I was just pushing to get something consistent first, that could grow.

I will do my best to rebuild some existing things I have in C and C++ in the embedded space into at least a partially fleshed out set of examples. It might be good to outl

[2016-11-08 00:39] jamesmunns commented on #19
Broken out into a organization/repo here: https://github.com/knurling-rs

I will publish the crates once crates.io is feeling a little better.

@posborne and @japaric I would welcome criticism, comments, and pull requests, especially with how to "specialize" these traits.

[2016-11-08 02:15] japaric commented on #18
Is this (a) optimized and (b) the increase for formatting an integer? or is the increase the same regardless of the kind of formatting one does?

The float formatting code is pretty hardcode. It prints floats with "full" precision AIUI.

I wonder if we could have some sort of "pluggable" formatting where one can bring their own formatting code that does different trades off between code size and p

[2016-11-08 05:27] posborne commented on #19
For reference, here's the core traits that I have been using for a few of the libraries I have written.  These are decidedly *not* designed for MCUs/no_std, but they might be useful for comparison as they mimic the Linux API closely (which we will definitely want to have be supported in most cases).

* https://rust-embedded.github.io/rust-i2cdev/i2cdev/core/trait.I2CDevice.html
* https://rust-embe

[2016-11-08 06:52] dylanmckay commented on #3
* The machine code test suite is now fully passing and currently in review ([D26387](https://reviews.llvm.org/D26387))
* About half of the code generation tests are fully passing and are also currently in review ([D26388](https://reviews.llvm.org/D26388))

[2016-11-09 17:46] pftbest commented on #18
@japaric

Yes, it is always the same, because libc comes precompiled with gcc toolchain, so it does not matter if I use optimizations or integers instead of floats. I even tried `-flto` but the difference was less than 40 bytes.

[2016-11-11 14:36] japaric opened #20 "MSP430 support"
Parent issue: #2

Next steps:

- [x] rustc: Enable the MSP430 LLVM backend, implement cabi stuff,
  etc. See rust-lang/rust#37672
- [x] Experiment with a custom target out of tree. Please document everything you do! You don't have to write a tutorial but take note of all the tools you use, the environment you used, the steps you did. Bonus points if you write down the outputs of running `readelf -

[2016-11-11 15:04] japaric commented on #20
rust-lang/rust#37672 has a custom target specification in the PR description but
it has only been lightly tested. What needs to be done after that PR lands is
compiling a Rust program that actually "works", i.e. that can be flashed and
that boots correctly.

To do that, we need to know low level details about the microcontrollers:

- How does the boot process work?
- How is the memory address spac

[2016-11-11 16:15] pftbest commented on #20
I can get a MSP430 board tomorrow, to do some tests.
Also I have a question, how does rust support `__attribute__((interrupt))` declaration?
And there is no way (as far as I know) to exit low-power mode, because `__bic_SR_register_on_exit` built-in is not implemented in llvm.

[2016-11-11 16:19] japaric commented on #20
It doesn't right now. We'll have to add a new ABI, e.g. `extern "msp430-interrupt"`, to get the ABI/prelude/calling convention right. The AVR folks have done something like this, I think.

[2016-11-11 16:20] japaric commented on #20
Could you elaborate about what this does? Is a gcc intrinsic that lowers to an assembly instruction? Or something else?

[2016-11-11 19:01] pftbest commented on #20
@japaric

It modifies the value on the stack that is located one word below the current frame (I don't know the right words how to say this). Basically when CPU enters interrupt it does this:

1. CPU pushes status register on stack
2. CPU jumps to interrupt handler
3. interrupt handler pushes some stuff on the stack (it's frame)
4. here we need to modify the value that was pushed on stack by CPU o

[2016-11-11 19:06] pftbest commented on #20
@japaric
Maybe it is possible to implement this behaviour using naked functions and some assembly code, but I have not tried.

[2016-11-11 19:23] japaric commented on #20
The built-in looks like a function call that goes inside an "interrupt handler"? Something like this:

[code]

Maybe. But I think that if you use a naked function then you have to manually modify the stack pointer during the prologue/epilogue of the function according to the number of local variables you use. My worry is that this approach may require the (final) user to deal with low level ABI-is

[2016-11-11 19:24] japaric commented on #20
Or is an attribute?

[2016-11-11 20:35] pftbest commented on #20
Yes, it looks and feels like normal function.

## Synopsis
[code]
## Description
`__bic_SR_register_on_exit` clears the bits specified in mask in the saved status register of an interrupt function (i.e. it bitwise ands the complement of mask into the saved status register). This allows you to change the operating mode of the MSP430 on return from the interrupt service routine, such as changing the

[2016-11-11 20:54] pftbest commented on #20
I think it is not possible to write llvm IR that will do this kind of thing. So this function should be added as intrinsic in llvm (and as built-in in clang). and only then we can have it in rust.

[2016-11-16 04:06] japaric commented on #20
rust-lang/rust#37672 has landed and the MSP430 LLVM backend should be enabled in the next nightly. People should be able to experiment with custom targets out of tree with that nightly.

[2016-11-16 04:14] jck commented on #20
I've got a couple of MSP430 fram boards. I'll try out a blinky tomorrow.

On Tue, Nov 15, 2016, 23:06 Jorge Aparicio <notifications@github.com> wrote:

[2016-11-16 04:54] dhylands commented on #18
Not only is it a 1K memset, it's 1K of stack space that's required. On embedded targets wasting 1K of stack space like this is atrocious.

[2016-11-16 04:55] jethrogb commented on #18
In the embedded world, formatting is well known to require large amount of code. See for example section 3.15.2.1 of http://sdcc.sourceforge.net/doc/sdccman.pdf . I've seen tables like those for other compilers but I can't seem to find them right now.

[2016-11-16 23:33] japaric commented on #3
:tada: Awesome work, @dylanmckay! :tada:

Now, it's time for the (Rust) compiler hackers (hey, don't look at me!) to roll up their sleeves and update the LLVM submodule to version 4.0 to enable this backend in rustc.

[2016-11-16 23:35] japaric commented on #3
Check rust-lang/rust#37609

[2016-11-17 18:21] pftbest commented on #20
So I tried to compile core and I get this errors from assembler:
[code]
the code on line 9468 looks like this:
[code]
I tried both `msp430-gcc` (4.6.3) and `msp430-elf-gcc` (5.3.0) and both give the same errors. Then I've renamed symbol `str.3@` to `str.3_at` in assembly and it compiled successfully. I think msp430 assembler just does not like `@` in symbol names. So I see 2 options:
1. Modify MSP

[2016-11-19 22:20] thejpster commented on #19
So, as part of novemb.rs, and after some discussion on IRC, I've put some serial traits at https://crates.io/crates/embedded-serial. They differ from other examples in that they break out read/write seperately, and try to handle blocking, non-blocking, and blocking-with-timeout scenarios. The only trait that's missing is non-blocking-but-callback-when-it-would-no-longer-block and I don't have a go

[2016-11-20 01:25] japaric commented on #19
Here are two sketchs of blocking I2C traits:

Disclaimer: I haven't tried to implement them so they likely contain errors

- [Closure based](https://gist.github.com/japaric/1dd1c2ad532bf238d7debab9b6b2a97c)
- [Session types based](https://gist.github.com/japaric/6ac6235403cc786f5c5eda81764f60f0)

The goal of the design is to prevent, at the compile time, users from trying to "connect" (send START)

[2016-11-20 07:17] kevinmehall commented on #19
It's supposed to be legal to send a repeated start, even to a different slave address. This can be useful in a multi-master situation to avoid releasing the bus to another master.

[2016-11-20 18:52] japaric commented on #19
@kevinmehall That could be implemented as a `restart` method (that takes a slave address as argument) on the "session type based" design then the connected state would mean "currently holding ownership of the bus" rather than "currently connected to a specific device".

[2016-11-20 22:54] japaric commented on #19
[Sketch](https://gist.github.com/japaric/cce13ac03a902310c9f6e245fc67de30) of futures based IO traits (Read and Write). Sadly most of the methods in them can't be defined in the traits without ATC (Associated Type Constructors). However, note that it's possible to "concretely" implement the full API today (i.e. using inherent `impl`s) but that way we can't write generic code.

[2016-11-21 10:03] dylanmckay commented on #3
There will still be a bunch of code generation bugs that'll cause the compiler to crash, but I/we can fix them as we get them, and I will then be able to cherry-pick the fixes into our fork.

[2016-11-21 17:40] istankovic commented on #19
[Sketch](https://gist.github.com/istankovic/4652922b59558c1110884502a66b0410) of a session types based approach that requires only one trait.

[2016-11-23 05:22] japaric commented on #19
Check japaric/f3#52 for a futures based async API for (basic) Timers, Serial, I2C and SPI that has been implemented for a STM32F3 micro (that PR also contains async API to read three different motion sensors). I'd like to know if the API over there, or a blocking version of it, can be implemented as it's for different micros. Or want changes would be required to make it more universal.

[2016-11-24 17:08] japaric commented on #17
We had a great and productive time during novemb.rs!

Here's a list of accomplishments during that weekend:

- The number of LEDs blinked using Rust increased exponentially. :smile:

- The number of "permanent" people in the #rust-embedded channel increased by ~50%. Welcome all!

- An easy to use allocator crate for Cortex-M microcontrollers: [alloc-cortex-m].

[alloc-cortex-m]: https://crates.io/

[2016-11-24 17:08] #17 closed

[2016-11-24 20:25] japaric commented on #15
OK. I just realized that it's already November and I was supposed to do something about this issue :-).

Here's a sketch of what the areweembeddedyet website could contain:

---

You can hack stuff!

We are currently working on making things as straightforward as possible.

# Supported architectures

- ARM Cortex-M is good

- AVR and MSP430 are being worked on.

# Where do I start?

Beginner -> [D

[2016-11-27 21:32] crypto-universe commented on #20
Hi!
I have MSP430G2553 and I can make some tests on it. Just let me know.

[2016-11-28 10:33] pftbest commented on #20
Anyone working on this `@` symbol issue? It is blocking us from compiling core. What will be the right way to fix it? I don't know yet how hard it will be to hack it in llvm, fixing it in rustc seems easier to me.

[2016-11-30 23:23] Kixunil commented on #19
This is interesting topic. My opinion is that we should define low-level traits as well as high-level traits and wrappers that implement high-level traits for stuff that implements low-level traits.

Commonly known example of such design is `Read` and `BufRead` from `std::io`. `Read` is low-level trait which you can implement and you get the possibility to create `BufReader` if you need buffered r

[2016-12-01 05:06] durka commented on #20
@pftbest how did you get around the LLVM assertion compiling core?

[2016-12-01 05:41] durka commented on #20
@japaric re: the linker deleting everything, the problem seems to be `-Wl,--gc-sections`. We have to get rustc to stop passing that to the linker. I ran `cargo rustc` with `-Z print-link-args`, copied the linker command, and removed `-Wl,--gc-sections` and I get [this disassembly](https://gist.github.com/anonymous/debeed0822c36959021537dc4bfae734):

[code]

[2016-12-01 06:02] durka commented on #20
OK, so `cargo rustc --target=msp430 -- -C link-dead-code` seems to do the trick. But I don't know why it's telling the linker that public symbols are dead in the first place.

[2016-12-01 06:52] pftbest commented on #20
So I fixed the issue in LLVM, but it is not committed in upstream yet. See [#37829](https://github.com/rust-lang/rust/issues/37829). Don't know how long it will take to get it into rust. Alternatively, you can just disable the assertions in `configure` script, the code for these functions will be bad anyway. Also there is this issue with `@` in symbol names, that is not fixed yet.

There should be

[2016-12-01 16:12] japaric commented on #20
@pftbest

I didn't see this issue when compiling core but I used msp430-gcc 6.2.0.

@durka

If `--gc-sections` is dropping `start`, that means that `start` was never going to be called by the program. This means that the startup objects expect the user entry point to be named differently. IIRC, I tried `start`, `_start` and `main` but none of those worked.

`nm -u crt*.o` should yield some clues a

[2016-12-01 17:28] durka commented on #20
Alternatively, we can pass `-Wl,-emain` to force it.

[2016-12-01 18:17] pftbest commented on #20
@japaric

I believe you saw this issue before [link](https://github.com/rust-lang/rust/pull/37672#issuecomment-260195110)

It happens with both mspgcc and msp430-elf 5.4 (latest stable version from TI)

Maybe I should create a separate issue for it.

[2016-12-01 19:14] japaric commented on #20
After re-checking with mps430-gcc 6.2, I see that core doesn't compile due to the "@" business. Weird, I tought that was already working

[2016-12-01 19:22] pftbest opened #21 "MSP430, unrecognized character `@' in symbol names."
So I tried to compile core and I get this errors from assembler:

[code]

the code on line 9468 looks like this:

[code]

I tried both `msp430-gcc` (4.6.3) and `msp430-elf-gcc` (5.3.0) and both give the same errors. Then I've renamed symbol `str.3@` to `str.3_at` in assembly and it compiled successfully. I think msp430 assembler just does not like `@` character in symbol names. So I see 2 options:

[2016-12-01 19:22] pftbest commented on #21
Sorry

[2016-12-01 19:22] #21 closed

[2016-12-01 19:30] pftbest commented on #20
Submitted [#38116](https://github.com/rust-lang/rust/issues/38116)

[2016-12-06 16:24] japaric commented on #12
@Razican on #rust-embedded

[`fel-cli`](https://crates.io/crates/fel-cli) - CLI tools for dealing with Allwinner devices in FEL mode, in pure Rust.
Tags: `arm` `sunxi` `allwiner` `fel`

[2016-12-07 19:19] japaric commented on #12
An easy to plug in allocator crate based on `linked_list_allocator`

[`alloc-cortex-m`](https://crates.io/crates/alloc-cortex-m) - A heap allocator for Cortex-M processors
Tags: `arm` `cortex-m` `allocator`

[2016-12-07 20:13] japaric opened #22 "Survey: Crates / libraries / tools you need / want"
Let's try to find out what libraries the embedded ecosystem lacks with a survey!

Please request **one** library / tool per comment. You can comment several times though. I suggest sticking to the guidelines below but feel free to ignore some of them if you think it makes sense to do so:

- Microcontroller and development board specific crates are out of scope for this survey. The requested crate

[2016-12-07 23:31] genbattle commented on #22
It would be good to see statically allocated data structures like those implemented by [ETL](http://www.etlcpp.com/) for C++. The biggest blocker for the creation of data structures with a similar API in Rust at the moment is [type-level integers](https://github.com/rust-lang/rfcs/issues/1038) for Generics. There may be a way around this using a different approach in Rust, but there's also various

[2016-12-09 16:25] japaric commented on #19
For comparison sake, here's [an implementation](https://github.com/embed-rs/novemb-rs-stm32f7/blob/2ff814e6ccf7ab5f15e4ce8b8e84847d093d1a78/src/audio.rs#L10) (not by me) of the closure based I2C design I posted before.

[2016-12-09 21:56] Kixunil commented on #19
I see closures mostly as a way to prevent leaking values (e.g. to solve scoped thread fiasco) or avoid some lifetime issues (for example `query_map()` method in `rusqlite` crate). Does any of these apply to I2C? Or is there some other reason to use closures? I tend to avoid closures if I can, because API without them provides somewhat bigger flexibility.

[2016-12-10 20:49] pftbest commented on #20
Finally managed to blink a real LED on MSP430 board. The code [is here](https://github.com/pftbest/rust_on_msp), but unfortunately, you need a patched `rustc` to compile it. I've put some info in README for some of the the issues I've ran into while trying to get it working.

[2016-12-11 16:47] japaric commented on #20
Nice work, @pftbest!

re: MSP430 and MSP430X. Is `-mmcu` the only way to pick between those two variants *during the .s -> .o step*? We could add a `external-asm-args` field to target specifications that would let us pass arguments to `msp430-elf-gcc` during that step but I'd prefer if we used a more "coarse" flag to select between those variants then we'd ideally have only two built-in targets: `

[2016-12-11 16:49] japaric commented on #20
@pftbest Could you post (in a gist) the disassembly of a minimal program that gets the startup part right? i.e. your rust-on-msp project but with an empty (or `loop {}`) `main` function.

[2016-12-11 17:08] pftbest commented on #20
@japaric
compiled minimal rust program and minimal c program, they have almost identical assembly code.
https://gist.github.com/pftbest/917bfa4cf1a0326be464bd885803181d

[2016-12-11 18:04] pftbest commented on #20
@japaric

I've looked into binutils source code, and I see that there is only two options, `-mmcu` flag and `-mcpu` flag. You can pass generic names into those like `msp430` or `430x`, but that's it.

I think it is possible to write the initialization in pure rust, but I have not tried this yet. But then you will have to manually specify the right linker script in target json anyway.

[2016-12-12 04:08] japaric commented on #20
Seems like those would do the trick.

Not necessarily. You can pass the linker script via RUSTFLAGS / .cargo/config like [the Cortex-M targets do](https://github.com/japaric/f3/blob/ccba1d326a47cfd7ee3d18ad1646ef3faa78faa4/.cargo/config#L4).

[2016-12-12 07:54] pftbest commented on #20
@japaric

I didn't know about this feature, nice, we can remove the custom target then. Would you make this changes to the compiler?

Also there is one small issue left, right now rust code is not compatible with C code, because llvm is still using old ABI. I am working on a patch that will move llvm to the new EABI. It will be a breaking change, because `mspgcc` is deprecated and it is too much h

[2016-12-12 23:38] japaric commented on #20
By "making these changes to the compiler" you mean adding "built-in" targets for msp430 to rustc? If so, I'd like to more extensively test the targets out of tree before adding them to rustc because that would make them insta-stable and would make it harder to modify them if we didn't get something right in the first try.

Awesome!

[2016-12-17 01:44] pftbest commented on #20
Updated the code on https://github.com/pftbest/rust_on_msp
Now it using xargo and works on the latest nightly.
Also it no longer requires startup code from gcc, so this fix with `default-libraries` is not necessary anymore. So the only one big issue left is interrupt CC.
But I think it is already possible to write something useful (or a least to blink a LED) in rust for MSP430, so anyone who has a

[2016-12-17 02:30] japaric commented on #20
@pftbest Excellent! I'd suggest posting your repo to reddit and/or to the thread (or to a new thread) in the users forum to let others know.

Seems like the two most pressing issues on the rustc side are: (a) adding some way to pass flag to the assembler to override the msp430x default and (b) adding support for `extern "msp430-interrupt" fn`. I'll see if I can tackle those during the weekend.

[2016-12-17 07:33] pftbest commented on #20
@japaric I was thinking maybe I should do some cleanup first, before letting it go out into the wild. I was writing 'how to port to other MCUs' part of the readme, and it involves too many steps that I'd like. Maybe I should make generic `msp430.json` target and use `.cargo/config` instead of this mess.

Regarding this msp430x issue, I think it can be done using llvm features. So if `+ext` feature

[2016-12-17 07:55] pftbest commented on #20
@japaric Also is there a way to prevent xargo from printing out this huge wall of errors when it fails to compile libc crate? I think it may scare somebody 😄

[2016-12-18 02:54] japaric commented on #20
Hmm, wouldn't be better to have to two targets instead of adding special logic to check if `+ext` is present? In any case, I'm certain the tools team would prefer to add a new field to the target specification rather than adding target-specific logic to the compiler.

Not right now.

Xargo tries to compile everything "below" `std` so it has to show you the errors in case you *actually* wanted to c

[2017-01-14 08:00] awygle commented on #20
I am no longer able to compile core for the MSP430 target, either on my own or by using @pftbest 's repo. I am hitting an llvm_unreachable line in "release mode", or if I give rustc "-Z debug-llvm" I hit an assertion. This appears to be different from rust-lang/rust#37829 - something to do with argument lowering.

Should I file an issue for this? Is there more information I could extract that woul

[2017-01-14 08:39] pftbest commented on #20
@awygle This is issue https://github.com/rust-lang/rust/issues/38824

To fix this we need to patch LLVM so it will support 128bit numbers on MSP430.
Until this fixed, please use older version of nightly, you can get it like this:
[code]

[2017-01-24 22:03] awelkie opened #23 "Async IO for embedded concurrency"
I'd like to discuss the merits of async IO style concurrency versus preemptive tasks in embedded applications. Rust may make it easier to write async IO style concurrent embedded applications. See [futuro](https://github.com/japaric/futuro) for an example of using a `Future` trait in an embedded context. But what's the benefit of this style of concurrency vs preemptive tasks (e.g. FreeRTOS)?

My u

[2017-01-24 22:10] whitequark commented on #23
It is significantly less ergonomic, usually.

It removes the need for a machine-level scheduler, which has the indirect benefit of greatly conserving stack space, removing the need to care about stack overflows (which are often hard to detect), and making the code more portable by eliding assembly.

[2017-01-24 22:24] awelkie commented on #23
Stack space is conserved because the task knows when it will context switch, so it can minimize the amount of information that it needs to store when idle, right? Like in the future-rs world, the "stack" space would be limited to the size of the final struct that implements `Future`. Whereas in a preemptive world, the task can be preempted at any time so the task needs to have as much storage as i

[2017-01-24 22:32] whitequark commented on #23
Pretty much. There's no real tasks in the futures world, hence no stack space reserved for them.

Note there's also no reliable way to predict stack usage with rustc, and no especially good way with C compilers either.

[2017-01-25 05:57] getreu commented on #23
If my understanding is right, with async IO we still need some kind of event loop:

[code]

I do not really understand how to implement this. Future polls are non-blocking. What the idiomatic way to wait for an hardware event without continuously polling a future? How to give back the time you do not need?

[2017-01-25 06:01] whitequark commented on #23
Give back the time to *whom*? There isn't anything else running on the same core. You just poll the future continuously, with the exception that you may want to sleep and wait until you get an interrupt or a timer expires.

[2017-01-25 07:43] posborne commented on #23
Generally true for basic MCU development.  One big reason to design for periods of "blocking" is to enable putting the processor into a lower processor power state until an interrupt (I/O or timer interrupt) wakes up the processor again to do some work.

[2017-01-25 07:48] whitequark commented on #23
@posborne I specifically mentioned that. You don't really have to give time back or even track future states in a more finely grained way. It's enough to recheck all the ready bits at the next wakeup, and make sure to set up a hardware timer to wake you up at the closest software timer expiry.

[2017-01-25 13:04] enricostano commented on #23
Since I'm really really really new to embedded programming I would like to see a blog post talking about the theory and the possible Rust implementations coming out from this kind of issues. 😹

[2017-01-25 15:41] awelkie commented on #23
So it sounds like, in the embedded world, "async IO" really just means co-routines. So I wonder is there any benefit to using a `Future` trait abstraction for writing co-routines? I'd love to hear from someone working on Tock (@alevy) because they use both co-routines and preemptive scheduling.

I'm asking because there seems to be a lot of excitement around futures in rust, and I'd like to know i

[2017-01-26 22:39] thejpster commented on #23
So I've built both single threaded 'co-routine' style systems and many-threaded message passing systems on a variety of embedded architectures, and there are merits to both approaches. For Rust to work for embedded development, we need a driver framework that supports all of these approaches, and more we haven't even thought of. Sometimes I'll want to spin up a serial thread that blocks on the UAR

[2017-01-27 16:28] alevy commented on #23
I think futures is a really promising paradigm for async I/O on embedded systems. However, I'm still skeptical that it's actually possible to pull it off without dynamic memory anywhere.

@awelkie we actually don't use co-routines per-say, components in the kernel are just cooperatively scheduled (but co-routines implies notions of independent execution stacks, which we intentionally wanted to avo

[2017-01-28 09:45] thejpster commented on #23
Without wishing to derail the thread, I can't immediately see how it would be safe to share immutable refs to hardware backed resources. I'll try and dig through the Tock source and see if I can get my head around it.

[2017-01-28 21:33] alevy commented on #23
@thejpster short answer is Cell (actually VolatileCell, generally but small idea). Happy to elaborate on IRC, email, or a separate thread or whatever.

[2017-01-29 00:17] posborne commented on #23
More generally, the concept is called interior mutability (https://doc.rust-lang.org/beta/book/mutability.html#interior-vs-exterior-mutability).

[2017-01-31 16:40] jcsoo commented on #10
Any thoughts on strategies for generating shared register access layers within a chip family, particularly in a way that can be used as a base for a common HAL? I'm thinking a vendor-specific HAL similar to the libraries that most provide in C as part of their SDKs, not higher-level cross-vendor traits such as Serial I/O.

I've spent a couple of weeks working on SVD tooling (including testing some

[2017-02-11 00:20] alexchandel commented on #2
I've successfully compiled Rust programs to IR, then compiled that to MIPS32 assembly and assembled it with LLVM, and linked it with the PIC toolchain's linker (although I imagine LLD would do it too). I've done something similar with MSP430 too.

So it's possible, someone just has to create bare-bones target files for rustc for those architectures.

[2017-02-11 09:28] thejpster commented on #2
How different were the LLVM versions in Rust and in the MIPS32 version you
used to compile the IR? I recall AVR support for example was in one fork
and Rust used a different fork, so someone had the fun job of trying to
merge it all together.

On Sat, 11 Feb 2017, 00:20 Alex, <notifications@github.com> wrote:

[2017-02-11 09:31] pftbest commented on #2
I don't get the message. MIPS32r2 is officially supported "Tier 2" target, of course it will work :)

[2017-02-11 12:42] whitequark commented on #2
The Espressif people are actively working on Xtensa support, from what I know.

[2017-02-15 08:46] lifthrasiir commented on #18
Maybe I'm late in the discussion but I'm the initial author of flt2dec formatting code.

I think the stack space can be reduced *as long as the formatting itself requests only that amount of digits*. In the other words, the stack usage for `{:.10e}` or so can be bounded and fixed (it will only need 11 digits), but `{:.10}` cannot (it depends on the length of the integral part, 319 digits max). It

[2017-02-20 03:24] japaric commented on #12
(I just realized that I hadn't yet posted these two projects here.)

`cortex-m-semihosting` is a crate to do semihosting on ARM Cortex-M devices. It provides a `syscall!` macro to invoke operations like WRITE. It also provides a convenience `hprintln!` macro to print formatted messages on the host's stdout.

[`cortex-m-semihosting`](https://crates.io/crates/cortex-m-semihosting) - Semihosting for

[2017-02-28 17:40] japaric commented on #12
I built a custom `test` crate that supports `no_std` targets. It can run unit `#[test]`s on real Cortex-M microcontrollers as well as on emulated Cortex-M processors (QEMU user emulation).

[`utest`](https://github.com/japaric/utest) - Unit `#[test]`ing for microcontrollers and other `no_std` systems
Tags: `arm` `cortex-m` `test` `runner`

[2017-04-23 19:22] akovaski commented on #20
This is very cool, I was able get a small screen connected through SPI to output text using this :+1:. 2 things I noticed, though:
1. Using pftbest's rust_on_msp repository, the stack pointer is not set on initialization.
* From what I've seen, the stack pointer is retained even when you restart the device. I have resorted to inserting an instruction to set the stack pointer to 0x400. (Above, on a

[2017-04-23 20:01] pftbest commented on #20
Glad to hear that you got it working.

Yes, you're right, I forgot about the stack pointer.
I will take a look at this u32 issue.

[2017-04-23 22:58] poisson commented on #20
Note that the crt0 stuff isn't linked in @pftbest's repo because of passing -nostartfiles in .cargo/config. You may wish to pass -minrt instead, or link explicitly to crt0.o., or implement the crt0 features using [the r0 crate](https://crates.io/crates/r0). If you do link to crt0.o your first Rust function should be called "main" rather than "_start".

[2017-04-23 22:59] awygle commented on #20
Note that the crt0 stuff isn't linked in @pftbest's repo because of passing -nostartfiles in .cargo/config. You may wish to pass -minrt instead, or link explicitly to crt0.o., or implement the crt0 features using the r0 crate. If you do link to crt0.o your first Rust function should be called "main" rather than "_start".

[2017-04-24 06:33] awygle commented on #20
I took a look at this again today and noticed the remaining TODO item on this rfc:

`rustc: support the __bic_SR_register_on_exit gcc built-in somehow. Needed to enter/leave low-power mode.`

@pftbest said

That's not quite true - one can actually implement `__bic_SR_register_on_exit` and `__bis_SR_register_on_exit` using the LLVM intrinsic @llvm.frameaddress. An example of this for the bit-set va

[2017-04-24 16:32] pftbest commented on #20
@akovaski
I've traced the codegen for `u32_ge_u32_or` and found that CSE is incorrectly removing CMP instruction. This can be either a bug in MachineCSE or something is wrong with CMP instruction.
I have submitted a bug in llvm bugzilla https://bugs.llvm.org/show_bug.cgi?id=32769

@awygle Maybe you know more about machine instructions?

[2017-04-27 20:05] eddyb commented on #20
FWIW you can import the `llvm.frameaddress` symbol into Rust, if you want to do that in a library, and you *could also* just fake a platform intrinsic that `librustc_trans` codegens.

[2017-04-27 20:21] pftbest commented on #20
@eddyb, Is there any other target that has intrinsics in a language? If not, I don't want to be the one who opened that pandora box.

How can I import a name with a dot in Rust?

[2017-04-27 20:23] eddyb commented on #20
@pftbest `#[link_name = "llvm.frameaddress"]` on the `fn` declaration. This works for both imports and exports, i.e. you don't *need* to use `#[no_mangle]` and you can do more.

[2017-04-27 20:32] pftbest commented on #20
@eddyb, ok, I'll try to import this symbol, thank you.

[2017-04-27 20:32] eddyb commented on #20
I think this is not relevant. We implement our intrinsics in the compiler *and* the common platform intrinsics (the ones that start with `simd` instead of `x86` or `arm` etc.).

I wouldn't hold a custom intrinsic implementation against its addition *as long as there was no plan for stabilizing it*. I think these intrinsics are misguided in how they modify stack memory and this functionality should

[2017-05-05 20:09] awygle commented on #20
I'm posting a slightly modified version of my MSP430 TODO list from [this reddit thread](https://www.reddit.com/r/rust/comments/687fhh/status_of_msp430_support_in_rust/) here in case somebody who comes by wants to work on one of them or has a strong opinion about priority.

- [x] ~~Convert the LLVM backend to generate libcalls which comply with the EABI from TI for things like multiplication and d

[2017-05-17 16:28] japaric commented on #23
For those who haven't seen yet. I have wrote a [blog post](http://blog.japaric.io/fearless-concurrency) about the Real Time For the Masses (RTFM) framework which brings a different approach to the table: event driven tasks rather than poll based futures. So instead of writing a huge event loop in `main` you can split your application in several small tasks (functions) that respond to events (butto

[2017-05-17 16:36] japaric commented on #22
I want a no-std binary serialization crate that doesn't require memory allocations and that uses fixed size buffers in its API to eliminate the possibility of runtime errors. I'm thinking of some API like this:

[code]

Currently I'm using the [byteorder](https://crates.io/crates/byteorder) for this task and it works wondefully but I'd like to avoid having to write the serialization / deserializat

[2017-05-17 16:39] japaric commented on #20
@awygle @pftbest how do you feel about merging the existing msp430(x) target(s) in rustc proper so that you don't need to carry around a custom target specification file. I think the target definiton you have been using hasn't changed in months.

[2017-05-17 16:43] japaric commented on #22
I got some (2) in the [heapless](https://crates.io/crates/heapless) crate. You can workaround the lack of integer generics by including the type of the array buffer, instead of just its size, in the data structure. So for example an `std::Vec<T>` backed by an array looks like `Vec<T, [T; 8]>` where `[T; 8]` is the statically allocated storage (capacity = 8).

[2017-05-17 16:56] japaric commented on #19
Yeah, I think this is the right approach: having wrapper to provide more functionality.

In my mind, the API should be nonblocking first / only. It's pretty hard to do anything non-trivial just with a blocking API. OTOH, you can easily block with a nonblocking API by e.g. busy waiting.

Do note there's a new async model in the ecosystem: the tasks and resources introduced in [this blog post](http:

[2017-05-17 17:06] japaric commented on #18
For formatting of integers, I recommend [numtoa](https://crates.io/crates/numtoa); it generates fast and small code IME. You'll have to put together different buffers into a human readable message though.

Another option is just to send everything using a binary format. The receiver end will have to parse the binary stuff and format it properly for human consumption. This uses less resources on th

[2017-05-17 17:21] pftbest commented on #20
Well, I think the only option that can change in the near future is `no-integrated-as`  (and when it does, `asm-args` will no longer be needed).
Also there is an open question what do we do with brand new `mhwmult` option.

[2017-05-17 17:40] japaric commented on #16
@jamesmunns wrote [an excellent blog post](https://jamesmunns.com/update/2017/05/07/hardware-ci-overview.html) about the different ways to do CI testing in the embedded world. The approaches listed there are:

### CI Build

Basically run `xargo build --target $T` (or `cross build`) on Travis to make sure the crate doesn't stop compiling / linking.

I think this method is well supported today thank

[2017-05-17 18:04] pftbest commented on #20
@japaric, Can rust use llvm feature flags? Or is there any other preferred way to handle codegen options? So the problem is that some micros have hardware multiplier and some don't, and also there is 2 types of multipliers.

[2017-05-17 18:13] awygle commented on #20
Yes, I am working on adding integrated assembler support, though I have no immediate ETA. We should still support external assemblers though - this can be overridden, right?

Let me make sure I understand the proposed targets. There are four sets of flags - rustc, llvm, assembler, and linker. We can obviously control rustc flags, and linker flags are said (above) to be able to be modified with RUS

[2017-05-17 18:36] thejpster commented on #16
Most of my work products achieve HIL testing by exposing the functional API at each level of the stack through a command line harness. This can compile for either host and embedded target. You can drive the interface manually or with an automated tool.

[2017-05-17 19:51] awelkie commented on #18
Indeed, I think a lot of the use cases for formatting could be handled by a procedural macro that replaced uses of `format!` with an automatically generated binary format, and also spit out a machine-readable description of that binary format. For example, something like this:

[code]

could be replaced by

[code]

And then a document describing that message "1" is "variable x is {}" followed by a

[2017-05-17 20:07] japaric commented on #20
The scenario in that case would be: LLVM learns to emit object files and we no longer need to use an external assembler. rustc would directly generate object files and still depend on an external linker but the asm-args flag could be dropped. The target specification would be updated to change no-integrated-as to true, drop the asm-args and to emit msp430 (not msp430x) object files.

There's `-C l

[2017-05-17 20:23] japaric commented on #18
Yeah, that sounds like an autogenerated enum that sits in a crate common to both the device program and the host side. Something like this:

[code]

Now we just need a macro wizard to implement the procedural macro (or macro 1.1) that takes care of all the boilerplate.

[2017-05-17 20:59] awygle commented on #20
There are several issues here. First, the CPU core. TI produces two different CPU cores under the larger MSP430 "umbrella" brand. msp430 cores have 16-bit registers and can access a 64k address space. msp430x cores have 20-bit registers (mostly) and can access a 1M address space. msp430x cores also support an extended ISA which includes instructions for manipulating 20-bit registers and data value

[2017-05-17 21:31] pftbest commented on #20
In theory this is possible, but the linker will not allow it:
[code]
So they must be a separate targets.

Multiplier option on the other hand is not so strict, for example, gcc will happily link two object files, where one was compiled with `-mhwmult=32bit` and the other with `-mhwmult=none`. So for this option we probably don't need to create separate targets.

What can be done about small/large

[2017-05-17 21:38] awygle commented on #20
You're right, I don't know why I didn't notice the 430/ folder for crt0. Curious that they chose to do this but I suppose it would almost always be an error.

[2017-05-17 21:49] pftbest commented on #20
I think we would need only 3 targets in the end:

- msp430
- msp430x-small
- msp430x-large

But right now we only have the first one working, so if we are going to merge something, I think we should only do `msp430`.

[2017-05-18 01:06] japaric commented on #10
So [svd2rust](https://github.com/japaric/svd2rust) has been out there for a while and it has more users and developers than just me :smile:. Also, @whitequark wrote the [dslite2svd](https://github.com/m-labs/dslite2svd) tool which you can use to convert TI's version of SVD to standard SVD and then feed to svd2rust.

Can we consider this issue done? Further discussion about the API that svd2rust ge

[2017-05-18 01:10] japaric commented on #9
In the short term I hope to make binary releases of the core, compiler-builtins, etc. crates for the thumb targets available and installable via rustup; that should let us drop the dependency on Xargo for those targets.

[2017-05-18 01:18] japaric commented on #3
Current status: rust-lang/rust has alread switched to LLVM 4.0 but there are still some bugs in the AVR backend that make it impossible to compile the core crate for the AVR architecture. (I bet 128-bit integers are to blame)

*However*, you can get away by using a smaller version of the core crate that does compile with the current AVR backend (plus some patches). If you are feeling adventurous,

[2017-05-18 02:06] japaric commented on #20
Possibly because all the operations that would involve the hardware mulitplier get lowered to calls to intrinsics by gcc and are left undefined in object files. Thus the only -mhwmult that matters is the one used to link the final binary; that one selects the appropriate libmul_foo.a library.

If that hypothesis is correct then today, where the intrinsics are written in C and packaged in libmul_fo

[2017-05-18 02:07] awygle commented on #20
I agree all of with the above.

[2017-05-18 03:26] shepmaster commented on #3
One of many things, sadly. But we are making progress!

[2017-05-18 11:37] whitequark commented on #10
@japaric btw,

from https://users.rust-lang.org/t/zinc-mini-post-mortem/7079

[2017-05-18 15:38] japaric commented on #10
@whitequark I know. I saw that post back when it was first posted, but there was still some activity in the repo when I made [this comment](https://github.com/rust-embedded/rfcs/issues/10#issuecomment-252487136). Today, Zinc has seen no activity for like 5+ months, so I think it's time to let it rest in peace.

[2017-05-19 12:07] alevy commented on #23
@japaric @thejpster ack regarding immutable references. It still seems to assume a quite different model for dealing with busy HW, but I'll look more deeply. that might be either possible to work around or extensible in some way.

I also realize I've been making allusions to  our execution model but there isn't any good description of the constraints of it (and justifications for it) anywhere exce

[2017-05-22 21:51] leodasvacas commented on #23
Hello embedded developers. As you know a part of the futures crate is `no_std` compatible, in particular the `Future` trait itself, and I'm sure some of you are using it in constrained environments such as 16-bit architectures. The patch alexcrichton/futures-rs#436 will be landing soon, it opens the door to having the `Task` system also be `no_std` compatible. We came across a choice between `u64`

[2017-05-23 16:02] japaric opened #25 "Support older versions of the ARM architecture"
As of 2017-05-23 Rust officially supports only the ARMv6 and ARMv7 architectures. For ARM Linux, binary releases of std are provided for these targets. For bare metal ARM, there are built-in targets for ARM Cortex-M microcontrollers.

These are two cases that I know of that are currently unsupported:

- ARMv5 processors that run Linux
- ARMv4 processors (microcontrollers?) that operate without an

[2017-05-23 16:09] thejpster commented on #25
What about Cortex-R? You see a few Cortex-R4s around in WiFi processors (I think there's a Cypress/Broadcom one, for example).

[2017-05-23 16:53] japaric commented on #25
@thejpster I have never dealt with one of those, but I suppose that as long as you create a proper target specification file then things should just work? LLVM seems to support the architecture.

[2017-05-23 16:59] jamesmunns commented on #25
@japaric @thejpster I know @uvekilledkenny is doing some bare metal work on ARMv4 targets in their Rust on GBA work here: https://github.com/Uvekilledkenny/rba

Might be useful to talk to them about it

[2017-05-23 17:11] japaric commented on #25
@thejpster This looks like a reasonable target specification for the Cortex-R4:

[code]

Atomics work in the sense that atomic ops get lowered to `dmb` instructions like the thumb targets.

[2017-05-24 02:42] rafaeldelucena commented on #2
Any updates?

[2017-05-24 09:53] whitequark commented on #2
Honestly I can't imagine many Rust people putting up with the kind of code you have to write to get a GCC frontend... An Xtensa backend isn't that scary either, it's only a few months of work.

[2017-05-24 15:39] rafaeldelucena commented on #2
Regardless of imagination, what the reason to not doing it?

The reason to do is enabling Rust on all available architectures which GCC is present (Taking advantage of all the expertise that exists, all the tests and validations that have been done in real world, and not try to do something new and have to deal with this kinda stuff again)

With a GCC frontend

[2017-05-24 15:54] redbrain commented on #2
I reckon it would be worth the effort i want to restart the project some day.

[2017-05-24 17:05] whitequark commented on #2
To rephrase my earlier comment: the reason is that now you have to work with gcc. If my choice would have been working on gcc or not writing a compiler, I would not have written a compiler. There is a reason no new language (that I'm aware of) uses gcc as its middle/backend. gcc often has many more architecture-specific microoptimizations than LLVM for more obscure architectures, but they are, apt

[2017-05-24 18:40] rafaeldelucena commented on #2
This is okay, mainly because new languages as a first step, they intend to initially run on more common architectures.

But when you want to have an infrastructure for embedded systems, I think you have to think about a greater plurality of vendors and chips, and at this point GCC is way ahead of LLVM.

[2017-05-24 19:02] whitequark commented on #2
Or we could write more backends for LLVM, and benefit every LLVM-based language, of which there are far more. The argument goes both ways, and IME (I maintain an LLVM backend) this way is easier.

[2017-05-24 20:02] rafaeldelucena commented on #2
As you mentioned, clearly this is the easiest way, since you are already an LLVM developer.

In my view, everything that involves hardware and the physical world takes a lot more time to validate and test, It's not just code. This time has already been spent by the GCC developers and their users (embedded software developers) and of course, the product consumers.

One thing does not make the other

[2017-05-25 03:28] Susurrus opened #26 "Addressing ergonomics around Rust and embedded/no_std development"
This issue is a place to track broadening the Rust embedded ecosystem by tracking various papercuts that will hit users, especially new ones (both to embedded and Rust), when they start to dive it. Rust has been good at attracting new users and many don't come with a systems background. The broad availability of SBCs and microcontrollers that Rust can target and can be used for cool hobbyist or Io

[2017-05-25 21:11] japaric commented on #10
I'm going to close this since [svd2rust](https://github.com/japaric/svd2rust) already exists. If you would like to raise an issue against that implementation please open a ticker in [the issue tracker](https://github.com/japaric/svd2rust/issues).

On that note, I would like to request your help to improve svd2rust! I have created a [cmsis-svd](https://github.com/japaric/svd2rust/milestone/1) miles

[2017-05-25 21:11] #10 closed

[2017-05-25 23:40] japaric commented on #26
@Susurrus Thanks for the write up!

Some comments

2. This is rust-lang/rfcs material. Sounds good to me, but it seems non
   backwards compatible: For example a `no_std` crate with a module named `core`
   in its root when compiled with the "std" feature enabled.

3. Same comment as above.

4. I wish `cargo add` accepted a `--no-default-features` flag. A magic solution
   here would to disable th

[2017-05-26 10:52] jannic commented on #25
About max-atomic-width on ARMv5: If I understand it correctly, the PR at https://github.com/rust-lang-nursery/compiler-builtins/pull/115 isn't even necessary. LLVM already knows how to call the kernel helpers.

I tried it by just setting max-atomic-width to 64. (Not sure if 32 would be more appropriate, but the kernel helpers are available in 64 bit variants, wo why not?)

The resulting code compi

[2017-05-26 11:09] jannic commented on #25
And, as a quick update, using rust beta I actually get a binary which works on the Mindstorm. Just the default 'Hello world' from `cargo new --bin`, for now, and some trivial cloning of `Arc`.
(With current master I got some panics I don't understand, yet.)

[2017-05-26 21:40] japaric commented on #25
Maybe this changed recently due to the recent LLVM upgrade to 4.0. I certainly recall hitting the "undefined reference" errors when linking a std program for ARMv5. I'm grepping both llvm and compiler-rt sources and I don't the magic `0xffff0fc0` or an implementation that looks like your code; there's an implementation but it uses `dmb` which is not available on ARMv5, AFAIK. Are you sure that `__

[2017-05-26 22:46] Amanieu commented on #25
@japaric These functions are provided by libgcc.

[2017-05-26 23:12] whitequark commented on #25
But LLVM calling `__sync_fetch_and_sub_4` is a perfectly desirable behavior! Just, these functions should be provided by libcompiler_builtins conditional on building for a non-`none` target, or otherwise by some `rt` crate like `cortex-m-rt`.

[2017-05-27 07:21] jannic commented on #25
@japaric Does it matter if `__sync_fetch_and_sub_4` is coming from compiler-rt or libgcc? In the end, it gets linked into the binary and works as expected. From my point of view, it's just part of the environment provided by `-linux-gnueabi`.
(This is not a rhetorical question: It's perfectly possible that I'm just missing something!)

Of course, for some hypothetical `armv5-none-eabi` target, ano

[2017-05-27 07:25] Amanieu commented on #25
The implementation of `__sync_fetch_and_sub_4` in compiler-rt is ARMv6+ only. Only the libgcc version supports ARMv4/5. But you are right, we could just link with libgcc and atomics should work.

[2017-05-27 07:36] jannic commented on #25
When you write 'we could just link with libgcc', does that mean it doesn't happen, now? Then, where does the code quoted above come from? It clearly uses the kernel user helpers, by jumping to `0xffff0fc0`, so it should work on ARMv5. And it looks like that jump is neither in llvm nor in compiler-rt, so were does it come from?

[2017-05-27 09:11] jannic commented on #25
While I was unable to follow the LLVM source code, using strace on rustc I saw that `/usr/lib/gcc-cross/arm-linux-gnueabi/6/libgcc.a`, which contains the `__sync_*` symbols, gets read during compilation.
This at least solves the mystery where those symbols get defined.

[2017-05-27 16:30] japaric commented on #25
It matters in the sense that we shouldn't break linking of std programs in the future. I recall std programs not linking for ARMv5 before so maybe something changed in the libc crate and we now link to libgcc.a but we didn't before. It would be bad if that changed again and broke linking of the ARMv5 target.

I would prefer if the __sync_fetch_and_sub_4 symbols were defined in the [compiler-builti

[2017-05-27 21:51] vitiral commented on #12
[byteorder](https://github.com/BurntSushi/byteorder) should be included here. It supports `no_std` with `default-features = false`

[2017-05-29 17:56] japaric commented on #12
@vitiral Added.

A few more crates

[`cortex-m-quickstart`](https://crates.io/crates/cortex-m-quickstart) - A template for building applications for ARM Cortex-M microcontrollers
Tags: `arm` `cortex-m` `template`

[Introductory blog post](http://blog.japaric.io/quickstart)

[`cortex-m-rtfm`](https://crates.io/crates/cortex-m-rtfm) - Real Time For the Masses (RTFM), a framework for building concurr

[2017-05-29 21:10] thejpster commented on #12
I'm using [stm32f7-discovery](http://github.com/embed-rs/stm32f7-discovery) to play with, erm, an STM32F7 Discovery.

[2017-05-30 15:54] jannic commented on #25
Found the cause for the panic I got with nightly on ARMv5: https://github.com/rust-lang/rust/pull/42314

[2017-05-31 18:24] m4b commented on #22
Yea afaics I've literally already done this some time ago:

https://GitHub.com/m4b/scroll for the base reading traits of various flavors. Basically a pread style version where you specify an offset, and another version which takes a mutable offset and when it successfully reads it increments the offset for you.

Each trait has different methods which have all proved extremely useful for different

[2017-05-31 19:11] vitiral commented on #12
**[build-const](https://crates.io/crates/build_const)** - a helper library for computing constants at compile time in `build.rs` or a script. Also includes `no_std` macros for importing them.

Tags: `["embedded", "no_std", "build", "const", "static"]`

**[defrag](https://crates.io/crates/defrag)** - safe defragmenting memory manager for microcontrollers

Tags: `["no_std", "embedded", "memory", "ma

[2017-06-02 03:40] japaric opened #27 "Increase discoverability of embedded crates on crates.io"
Hey all,

Lately I have been thinking about how we can increase the discoverability of the
embedded ecosystem (tooling, crates, documentation, etc.). Part of that effort
is making it easier to find relevant crates on crates.io and that's why I have
opened this issue.

Background:

A [categories] feature landed recently (well, not that recently) on crates.io
(you can see list of current categories

[2017-06-02 03:41] japaric commented on #27
My answers:

So far I have only used the search function. I don't know how much having
categories or not helps with the search ranking, but it would be nice to able to
refine the search using categories. For example: "search all crates in the
'no-std' category using the keyword 'foo'". It seems this hasn't been
implemented yet; see rust-lang/crates.io#491.

I think both would help. A curated list

[2017-06-02 14:03] vitiral commented on #27
What is the difference between categories and tags? I feel like there are now two separate things to search for (not great).

What would be best is something like "are we web yet?" for embedded. Even something like awesome rust would be helpful. But it can't just be a dumping ground, it has to be curated.

http://www.arewewebyet.org

https://github.com/rust-unofficial/awesome-rust

[2017-06-02 14:35] vitiral commented on #27
What is the difference between categories and tags? I feel like there are now two separate things to search for (not great).

What would be best is something like "are we web yet?" for embedded. Even something like awesome rust would be helpful. But it can't just be a dumping ground, it has to be organized and curated.

Whatever the solution, there needs to be clear recommendations for different t

[2017-06-02 18:54] japaric commented on #27
From the blog post linked above:

The thing is that keywords are too free form so it's hard to use them as categories. For example: are `no_std`, `no-std`, `no-stdlib`, `no_stdlib`, `no-standard-library`, etc. supposed to be the same thing? OTOH there's a single canonical category for crates that work without the standard library: the `no-std` category. That facilitates searching.

I'm working on

[2017-06-02 19:04] japaric commented on #12
[`aligned`](https://crates.io/crates/aligned) - Statically allocated arrays with guaranteed memory alignments
Categories: `embedded` `memory-management` `no-std`
Tags: `alignment` `aligned` `array`

[`cty`](https://crates.io/crates/cty) - Type aliases to C types like c_int for
use with bindgen
Categories: `embedded` `ffi` `no-std`
Tags: `bindgen` `ffi` `c` `types`

[2017-06-02 19:46] japaric commented on #15
I have finally come back to this and I have made [a draft] for the possible
contents of the areweembeddedyet.com site.

[a draft]: https://gist.github.com/japaric/7302257be4d330343052f94e3b4f93aa

I'd like to get feedback on this draft. In particular:

- Is *all* the information you'd expect to find in there? Or is anything
  missing?

- In there anything that should be highlighted? Maybe some emb

[2017-06-02 21:14] japaric commented on #18
An alternative to `core::fmt` popped up this week: [`fast_fmt`]. It's faster and leaner than `core::fmt` as it doesn't use trait objects so LLVM can optimize the code better. The downsides: it's formatting syntax (`fwrite!` macro) is not the same as `write!`'s and since it has it's own `Write` trait you can't format things marked with `#[derive(Debug, Display)]`. However, if you only need to forma

[2017-06-02 22:28] digikata commented on #15
I'm not sure its fully gelled in my mind yet, but while the set of topics in the page is very interesting and relevant, I feel like it's a little difficult to load the page, hop to the relevant topic, and start working given some bit of hardware - at least without reading the whole page.  Personally, I don't mind doing this as I'm interested in the whole state of Rust embedded-wise but a lot of pr

[2017-06-02 23:11] japaric commented on #15
That may be more a problem of presentation rather than of content. This is what the page looks like with a table of contents.

![sidebar](https://cloud.githubusercontent.com/assets/5018213/26747320/8a98934a-47ba-11e7-8e26-fcfea8105c7e.png)

---

Your three ideas sounds to good to me but I'm a bit afraid about maintenance cost of doing something like that down the road i.e. once more and more crate

[2017-06-03 02:03] japaric commented on #9
One blocker to do this is landing the [compiler-builtins] crate into rust-lang/rust as we require a libcompiler_builtins crate that contains weak memcpy et al symbols in the sysroot to make all this work.
If someone wants to help with that [this comment] explains what needs to be done.

[compiler-builtins]: https://github.com/rust-lang-nursery/compiler-builtins
[this comment]: https://github.com/r

[2017-06-03 02:53] japaric opened #28 "Performance tracking tool for ARM Cortex-M microcontrollers"
### Update: 2019-01-20

See [`itm-tools`]

[`itm-tools`]: https://github.com/japaric/itm-tools

---

In my [last blog post] I talked about the Instrumentation Trace Macrocell (ITM)
peripheral as a mean to log data and/or debug messages from a microcontroller to
a PC or some other host. However the ITM can be used to trace many other things
like:

[last blog post]: http://blog.japaric.io

- It can

[2017-06-03 03:39] whitequark commented on #28
Thankfully this is utterly trivial. Run `arm-none-gnueabi-addr2line -Cfi -e <binary>`, feed it addresses on stdin, get decoded info on stdout.

[2017-06-03 22:51] vitiral commented on #15
@japaric I LOVE the layout of [your gist](https://gist.github.com/japaric/7302257be4d330343052f94e3b4f93aa). The only thing that I think is missing is a "need to work on list".

I am the developer of [artifact](https://github.com/vitiral/Artifact). It's a design documentation tool made for developers. One of the things I'd like to work on is "designing a microcontroller software suite" of librarie

[2017-06-06 08:42] goandylok commented on #12
[`scroll`](https://crates.io/crates/scroll) A suite of powerful, extensible, generic, endian-aware Read/Write traits and contextual conversion traits (Byte serializing and deserializing)
Tags: `pread` `bytes` `endian` `pwrite`

[2017-06-07 03:30] vitiral commented on #12
I just started work on [ubyte](https://github.com/vitiral/ubyte), a rust library for serialization/deserialization on microcontrollers. The API is still in progress, but I got `serde::Serializer` to compile so I'm well on my way to a functional library

[2017-06-08 20:08] vitiral commented on #12
on the above note:

[`ssmarshal`](https://crates.io/crates/ssmarshal) - stupid simple (no_std) serde serialzation library
Tags: `no_std`, [see issue](https://gitlab.com/robigalia/ssmarshal/issues/3_

[2017-06-08 20:16] vitiral commented on #12
Also, one I recently wrote:

[`build_const`](https://crates.io/crates/build_const) - replacement for `lazy_static` to build constants at compile time (instead of lazily) by using the build script.
Tags: `no_std`, `embedded`, `const`, `static`, `build`

[2017-06-09 23:10] japaric commented on #19
re-posting [my u.r-l.o comment] here:

[my u.r-l.o comment]: https://users.rust-lang.org/t/rust-for-embedded-development-where-we-are-and-whats-missing/10861/87?u=japaric

An update on the HAL front.

I have now published (on GitHub) the [`cortex-m-hal`] crate which contains a
Hardware Abstraction Layer (HAL), in the form of a bunch of traits, for the
following peripherals / functionality:

[`cort

[2017-06-09 23:19] whitequark commented on #19
Why is it called `cortex-m-hal`? I don't see anything obviously specific to Cortex-M...

[2017-06-10 03:56] japaric commented on #19
~~Because the name [hal] is already taken on crates.io :-(~~

[hal]: https://crates.io/crates/hal

Because the only existing implementation of this HAL targets a Cortex-M microcontroller and because IDK if I may add some Cortex-M specific stuff to it in the future (seems rather unlikely). It'd be OK with renaming it if someone confirms that this HAL makes sense for MSP430, AVR and/or embedded Linu

[2017-06-10 04:10] whitequark commented on #19
I worked with AVR and embedded Linux and sure. It would be *extremely* surprising, to say the least, if this interface would be *more* expressive (and so unimplementable) than anything on any embedded platform.

One issue though is that it can be not expressive enough. For example, it doesn't allow for 9-bit communication over serial.

[2017-06-10 06:31] thejpster commented on #19
I strongly believe that this should not be named after a particular class
of microcontroller cores. It is an abstraction after all. I also believe
any sort of HAL should have a POSIX and Windows implementations, to aid
native compilation.

I'd also prefer the traits being split in to separate crates. If I write,
say, a reusable command line harness implementation, then I'm only
interested in the U

[2017-06-10 16:48] Kixunil commented on #19
I agree that such thing should not be limited to specific architecture. But it seems nice anyway.

[2017-06-10 21:21] whitequark commented on #19
This seems like a really bad idea. Instead of a coherent, internally consistent set of abstractions, we will now have many disjoint crates and the associated versioning nightmare. I see what's currently called `cortex-m-hal` becoming a crate akin to `collections`--not covering *everything* there is, but giving a good foundation, and becoming an example to follow.

Having two users as opposed to ha

[2017-06-10 21:50] thejpster commented on #19
My experience is limited, but I'd have said that managing versions for a series of disjointed crates was one of the things that Cargo does pretty well right now. To take one example, we already take advantage of this by having cortex-m, alloc-cortex-m and cortex-m-semihosting instead of one larger crate. At the moment, I don't see the UART trait having anything much in common with, say, the SPI tr

[2017-06-10 21:58] adamgreig commented on #19
:+1: on keeping it as a single crate with a nice collection of abstract traits, and :+1: on reconsidering the name as well - perhaps `embedded-hal` or `embedded-peripherals`?

@thejpster I would kind of hope this could stabilise relatively quickly and then not require much churn -- short of inventing entirely new types of things, once we've covered UART, SPI, I2C, ADC, DAC, TIM, GPIO, and maybe CA

[2017-06-10 22:46] jamesmunns commented on #19
Hey, I still have the GitHub space that i mentioned above: https://github.com/knurling-rs/knurling @adamgreig you might be interested in the scenario I described above, if we have traits that cover peripherals, we could write drivers for common components like sensors, etc.

I'm happy to contribute the knurling space if anyone finds the pun (knurling: making bare metal easier to handle) as funny a

[2017-06-10 22:51] adamgreig commented on #19
It looks like knurling-traits covers the same sort of stuff as cortex-m-hal?

Yep, I'd like to have traits covering peripherals so that you could imagine writing crates that nicely implement interacting with specific devices. Though I don't think the lack of such available traits stops you (since you can just supply your own trait and require the crate user to implement it); it's just it would be

[2017-06-11 01:01] japaric commented on #19
Renamed cortex-m-hal to embedded-hal. If someone wants to bikeshed that further please an issue on that repo issue tracker.

[2017-06-11 09:49] Kixunil commented on #19
I like embedded-hal!

[2017-06-16 21:34] japaric commented on #15
I went through all the board support crates I know of (apologies if I missed your crate), collected information about what their HALs support (i.e. what peripherals do they support in their APIs) and sorted the information as per @digikata comment. The result was [this].

[this]: https://gist.github.com/japaric/bf6566d3e8e0732ef82fd2cc820da574

This information could be better displayed as (compar

[2017-06-16 21:35] japaric commented on #15
re: previous comment. I think we should highlight what applications have been build with this or that board / device. People are always looking for example projects to use as reference.

[2017-06-16 21:54] japaric opened #31 "Survey: unstable features you routinely (have to) use"
This goal of this survey is to get an idea of what (currently) unstable Rust features would need to be stabilized to make embedded development feasible on the stable channel.

One unstable feature per comment. If an unstable feature you use is already listed in the comments up vote it (:+1: reaction) so we can track the number of users that feature has.

[2017-06-16 21:54] japaric commented on #31
Xargo

[2017-06-16 21:54] japaric commented on #31
`#[lang_item = "panic_fmt"]` (`#![feature(lang_items)]`)

[2017-06-16 21:54] japaric commented on #31
`extern crate compiler_builtins` (`#![feature(compiler_builtins)]`)

[2017-06-16 21:55] japaric commented on #31
`asm!` (`#![feature(asm)]`)

[2017-06-16 21:55] japaric commented on #31
`#[linkage = "weak"]` (`#![feature(linkage)]`)

[2017-06-16 21:55] japaric commented on #31
`#[naked]` (`#![feature(naked_functions)]`)

[2017-06-16 21:55] japaric commented on #31
`#[used]` (`#![feature(used)]`)

[2017-06-16 21:55] japaric commented on #31
`const fn foo()` (`#![feature(const_fn)]`)

[2017-06-16 21:55] japaric commented on #31
`core::intrinsics` (`#![feature(core_intrinsics)]`)

[2017-06-16 21:55] japaric commented on #31
`global_asm!()` (`#![feature(global_asm)]`)

[2017-06-16 22:59] coder543 commented on #31
Just being able to build even the tiniest, most incomplete functional firmware in Rust completely using the stable toolchain is the first step. Anything else is secondary, but a lot of those secondary items are important. Specifically, that primarily means `lang_items`, I think. For practical embedded usage, the standard `asm!` macro is the very next thing on the list.

Everything on this informal

[2017-06-16 23:58] japaric commented on #31
@coder543 I agree with everything you said. *We*, embedded developers, know what's required for "being able to build even the tiniest, most incomplete functional firmware in Rust completely using the stable toolchain" and what's "the very next thing on the list" but the Rust team doesn't -- they are not embedded developers. That's where this survey can help. I can tell (and I already have) the Rus

[2017-06-17 07:11] whitequark commented on #12
<code>[smoltcp](https://github.com/m-labs/smoltcp)</code> ­— a no_std TCP/IP stack

[2017-06-21 17:23] pftbest commented on #20
We have some new ABI related bugs.
First the `#[repr(C)] struct Foo { a: i8 }` has 2 byte size in rust but 1 byte size in clang. This might be a bug in the data layout string.

Also this C code doesn't follow EABI
[code]
gcc:
[code]
llvm:
[code]

[2017-06-21 17:37] awygle commented on #20
The latter issue seems to be due to the promotion of i8s to i16s in AnalyzeVarArgs in MSP430ISelLowering.cpp. We might be able to just delete that whole block and call it done.

[2017-06-21 17:46] pftbest commented on #20
I found it becase of this comment in callingconv.td
[code]

The first issue is indeed a bug in our data layout string. It shouldn't have `a:16` spec in it.
When I remove it, everything works as expected.
This also means that clang is ignoring layout string for some reason (or it also has a bug)

[2017-06-21 17:48] pftbest commented on #20
There is an exception for varargs in EABI, they should be promoted to i16 still.

[2017-06-28 14:12] goandylok commented on #12
[`byte`](https://crates.io/crates/byte) A low-level, zero-copy, panic-free, binary serializer and deserializer. (parser and encoder)

Tags: `no_std` `byte` `encode` `binary` `parser`

[2017-06-29 09:38] samdolt opened #32 "Is rust-embedded a part of the Increasing Rust's Reach project?"
The Increasing  [ Rust's Reach project](https://blog.rust-lang.org/2017/06/27/Increasing-Rusts-Reach.html)  was announced yesterday.

For some time now, I want to help on the embedded side of Rust, but it's not easy to know where to focus, what is needed first.

So what do you think about participating in the Rust's Reach Project? Are there mentors available?

[2017-06-29 18:11] vi commented on #15
Shall there be red/yellow/green "needs a lot of work" / "getting there" / "support is awesome" icons like in arewewebyet.com?

They provide general feeling of readiness/nonreadiness when one glances over the page just to answer "Is Rust ready for embedded or not yet?" without wanting to know further details.

[2017-06-30 15:13] kunerd commented on #12
[clerk](https://crates.io/crates/clerk) - A hardware agnostic HD44780 LCD controlling library.
Tags: `embedded` `driver`

[2017-07-07 00:10] japaric commented on #12
[`stlog`](https://crates.io/crates/stlog) A lightweight logging framework for resource constrained devices

Categories: `embedded` `no-std` `development-tools::debugging`
Keywords: `log` `elf` `symtab`

`stlog` can log strings of arbitrary size to a host in a constant number of instructions (O(1) runtime). Furthermore these strings are *not* stored in the device memory (O(0) memory usage). `stlog`

[2017-07-10 02:13] ryankurte opened #33 "Device family HALs in rust"
Hey all,

Has anyone looked at / worked out how to build generic HALs / driver libraries that work across a family of cores instead of writing a peripheral implementation for each? IMO it is an important layer of abstraction to make embedded rust easier both to use and maintain, and I haven't seen it mentioned in any of the roadmaps so far or worked out how to achieve it yet.

As an example of wha

[2017-07-10 11:00] pftbest commented on #20
Hello, @awygle.
To be consistent with cortex-m-rt, we need to enable interrupts before entering main() in msp430-rt.
Is it safe to do on msp430? Can some peripheral interrupt stay enabled after MCU reset?

[2017-07-10 17:11] jcsoo commented on #33
I've been working on this exact problem for about a year now, and you bring up a lot of great points about what's desirable and how hard it will be to accomplish. I believe the only workable approach is to have layers of crates covering architecture-common, vendor-common, subfamily-common, and eventually chip-specific features. There are some use cases where developers will want to target purely h

[2017-07-11 00:18] japaric commented on #20
Note that cortex-m-rt does nothing special about interrupts before main. However, Cortex-M devices behave like this: on reset all the interrupts are *unmasked* (PRIMASK = 0), but *each* interrupt must be *enabled* (using the NVIC) before it can be used. With code:

[code]

IMO, msp430-rt shouldn't do anything special to try to match the behavior of Cortex-M devices; msp430-rt should preserve the d

[2017-07-11 00:25] awygle commented on #20
Hi @pftbest,

All peripherals should be reset after MCU reset. However, be aware that LPM3.5 allows the RTC module to stay active but triggers what looks like a reset on wakeup. See pages 60 and 61 of http://www.ti.com/lit/ug/slau367n/slau367n.pdf for more details. Basically, it will reset itself but that might not be what you actually want.

[2017-07-11 01:34] japaric commented on #33
I have done some work in this area. Here's a WIP [HAL] as a set of traits. You
can find an implementation of those traits [here]; even though the crate says
"blue-pill" -- that's the name of the board I'm using -- the implementation
works for different devices in the family of STM32F103xx devices.
Finally [here][1] are [some][] [applications] that make use of those crates.

[HAL]: https://github.c

[2017-07-11 17:31] pftbest commented on #20
Well, then we would always have a one more unsafe block inside the main().

And in general I think that current system doesn't work too well with MSP430.
For example, lets look at the [timer example](https://github.com/pftbest/msp430-quickstart/blob/master/examples/timer.rs), it boils down to:
[code]

I think a better system for MSP430 may look like this:
[code]

[2017-07-11 19:29] japaric commented on #20
Sure. I don't really like or directly use the cortex-m-quickstart system either. Quickstart is meant to give you *one way*, ideally the simplest way (vanilla `main` and no weird (proc) macros), to write data race free code but it's not necessarily the most ergonomic or the most efficient way to write data race free code.

cortex-m-rt and svd2rust should serve as a good substrate to build better sy

[2017-07-11 23:45] ryankurte commented on #33
Hey, thanks for the responses! Pretty much everywhere I put "macro" I should have put conditional compilation (`#[cfg]`), language context switching troubles :-/

The top level [embedded-hal](https://github.com/japaric/embedded-hal) is an awesome concept for the top level (ie. how to implement/use generic peripherals) abstraction (though I am sure likely to lead to some contention ^_^).

The hal i

[2017-07-12 02:01] japaric commented on #33
left some tentative next steps for that issue in https://github.com/japaric/svd2rust/issues/96#issuecomment-314622685

[2017-07-20 00:55] japaric commented on #31
PSA: rust-lang/rfcs#2070 proposes a stable mechanism to specify the behavior of `panic!` in no-std context; this mechanism would supersede the unstable `panic_fmt` lang item.

cc @adamgreig @therealprof @coder543 @pftbest @parched @Michael-F-Bryan @lexxvir @cmerrill

[2017-07-24 20:33] jcsoo commented on #16
I recently released [Bobbin CLI](https://github.com/bobbin-rs/bobbin-cli/), which includes a simple text-based serial console based test runner. I experimented with a full-fledged two-way COBS encoded TLV-style protocol, but eventually decided that I wanted something much, much simpler.

[code]
`bobbin test` recognizes [start], [pass] and [done] tags, exiting with return code 0. It also recognizes

[2017-08-12 09:01] therealprof commented on #18
@japaric I think you're numbers are not quite up-to-date anymore. The overhead keeps growing and growing. A simple
[code]
into a dummy Buffer creates a 2744 bytes .text section on thumbv6m nowadays.

Just yesterdays changes caused the code generated for `pad_integral` to grow by another 60 bytes.

Yet the compiler/linker leaves plenty of dead code hanging around, like `show_usize` which is not eve

[2017-08-14 14:49] enricostano opened #34 "Embedded.fm Wednesdays in Rust"
I would like to learn embedded programming and Rust and I thought that maybe I could follow this blog post serie: http://embedded.fm/blog/embedded-wednesdays

Hopefully taking notes and sharing my findings in the process.

**Which microcontroller / development board should I try**? In the serie they use STM32F401C discovery board but I don't think Rust supports it. Please correct me if I'm wrong.

[2017-08-14 19:11] alevy commented on #34
That board is definitely programmable in Rust! The microcontroller is Cortex-M4.

My guess is you ought to be able to follow the embedded.fm blog to the letter, but just using Rust instead of C --- the compile toolchain will be different, as will the syntax for doing things like reading/writing hardware registers, but those are all things folks are happy to help with on the #rust-embedded IRC. If

[2017-08-14 20:05] niklasad1 commented on #34
I would consider to use [nRF52-DK](https://www.nordicsemi.com/eng/Products/Bluetooth-low-energy/nRF52-DK) if I were you. The kit comes with radio, LEDs, buttons, temperature sensor etc.

1. If you want to build stuff from bare-metal you can start out from [https://github.com/jamesmunns/nrf52dk-sys](https://github.com/jamesmunns/nrf52dk-sys) more stuff is in that repo but you can perhaps start out

[2017-08-16 08:10] lilianmoraru opened #35 "Make the communication channels more visible"
Currently it is not very clear how somebody could contact the "Rust Embedded" community.
Through a Google search, I found that the links are actually mentioned in the RFC.

Could you guys please add the Gitter and Mozilla IRC links to the "Rust Embedded" org description?

[2017-08-16 08:10] lilianmoraru commented on #35
Pinging @japaric @posborne

[2017-08-21 14:27] dvc94ch opened #36 "RISCV Arch Support"
Tracking issue for riscv support:

[riscv-rust-toolchain](https://github.com/dvc94ch/riscv-rust-toolchain)

## llvm and rustc
these are likely not going to get done for Epoch 2018 release:
- [ ] llvm upstreaming (wip, asb is working on this)
- [ ] rustc upstreaming (I don't need cabi support at the moment, and likely easier to get done once llvm upstream can build libcore)

- [ ] port to riscv32-u

[2017-08-21 15:52] thejpster commented on #36
I just wanted to add - that's amazing!!

[2017-08-24 14:52] dvc94ch commented on #36
Is there a secret to backtraces in rust?

[code]

[2017-08-24 19:14] japaric commented on #36
@dvc94ch That should Just Work if LLVM is doing the right wrt emitting debuginfo / DWARF. Maybe RISCV debuginfo support is not complete or buggy?

Some ideas:

Any chance you could test this with clang? If you do and get something better then this might be a rustc (i.e. frontend) bug. (seems unlikely to me; AFAIK we do nothing arch specific about debuginfo).

You could try compiling with opt-level

[2017-08-25 07:57] blanham commented on #3
What's the current status of this? @japaric @dylanmckay

[2017-08-25 08:19] dsvensson commented on #3
@blanham https://github.com/rust-lang/rust/issues/44052

[2017-08-26 23:18] dvc94ch commented on #36
Still debugging this problem, this is what I wrote to the riscv ml, in case someone has any input on the rust side of things...

I'm having some trouble implementing this feature correctly. When should
there be a .debug_frame and when a .eh_frame section?

My work in progress patch emits a .debug_frame section when all
functions are @nounwind and an .eh_frame section if any function does
not have

[2017-09-07 15:04] japaric commented on #36
there be a .debug_frame and when a .eh_frame section?

functions are @nounwind and an .eh_frame section if any function does
not have @nounwind. This seems to me like desired behavior.

functions unless extern "C" is used to declare it. This leads rust
libraries compiled with an extern "C" to have a .eh_frame section and
rust libraries containing no extern "C" to have a .debug_frame
section. I'm n

[2017-09-07 21:59] dvc94ch commented on #36
I'm past this issue, at least in a it works way. I'll be publishing a
tutorial and all the code for running rust on the hifive board soon...

[2017-09-10 19:42] dvc94ch commented on #36
Bricked my first hifive board today! Don't mess with the clocks... =P Unless you can disconnect the external flash to halt the cpu.

[2017-09-12 10:40] dvc94ch opened #37 "Question: Best practices - semantics of init functions"
Do people expect a Device.init() function to be from (reset state -> device initialized) or from (unknown state -> device initialized)?

[2017-09-12 11:37] dvc94ch opened #38 "Question: Hardware designed to run rust (bikeshed)"
GPIO peripheral registers have the structure register{pin0: bool, pin1: bool ...}. If one where designing a GPIO IP with rust in mind, would one prefer reg_pin0 {input_en: bool, ...}?

The reason why I'd think it's a good idea is because pins could be owned by device drivers. Downside may be requires more gates because of unused bits. What are your opinions?

[2017-09-12 12:03] thejpster commented on #37
Given you might have a bootloader fiddle with state before you run, I'd assume the state was unknown.

[2017-09-12 12:35] dvc94ch commented on #37
A related question would be should a device driver keep it's state - making sure for example that it was initialized before use? With simple devices it's only a matter of initialized vs uninitialized, but I imagine that for more complex devices there are more states. This is (since rust doesn't support dependent types (types can't be changed at runtime)) not a zero cost abstraction. I see that the

[2017-09-12 12:53] thejpster commented on #38
So far I've only implemented the C model where pins are enums and there's no ownership, which is sub-optimal.

[2017-09-12 12:55] thejpster commented on #37
Yes, it send reasonable to me for a driver to track peripheral state. The trick, I guess, is to ensure drivers are singletons (or rather, there's only one driver per peripheral).

[2017-09-12 16:33] whitequark commented on #38
Unused bits are just missing from the register, they don't take up any FFs.

In any case, hardware designed to run Rust should likely feature a capability-based access control system, which can represent ownership directly.

[2017-09-16 03:20] idubrov commented on #12
[`lcd`](https://github.com/idubrov/lcd) - Yet another HD44780/LCD display library (third, at least)! Batteries are _not_ included: all binding to the hardware/GPIO initialization is the responsibility of the user (including the sleep function).
Tags: `no_std` `embedded`

[2017-10-01 19:22] afonso360 commented on #15
Hi, i've been working a little on this.

I made a Jkelly page out of @japaric's gist. I thought about making a custom page, but using Jkelly other people can update it by using Markdown and YAML files.

A demo is available on my [github.io](http://localhost:4000/rust-embedded/). A lot of it is still broken, but its there. Let me know which other sections you guys would like me to add.

Also, with

[2017-11-14 12:04] #37 closed

[2017-11-14 12:05] #38 closed

[2017-11-25 09:43] dvc94ch commented on #36
[riscv-rust-toolchain](https://github.com/dvc94ch/riscv-rust-toolchain), the crates are still lacking, but from what I can tell the toolchain works pretty well. Let me know if you have any problems with it.

[2017-12-01 01:09] pftbest commented on #26
I have a question about `#![no_std]` attribute. Why do we need to have it in the source code? Why not just a compiler flag? I think there are many crates like `ref_slice` that doesn't need anything from std, and would have happily compiled for no_std target. But instead you need to ask each crate's author to modify their source code. This feels counterproductive. Also having std/core renaming make

[2017-12-01 11:35] Kixunil commented on #26
@pftbest instead of writing custom IO traits, please consider using `genio` crate. It has `no_std` support and addresses some other problems with `std::io`. Let me know if it's missing something you need.

[2017-12-01 16:52] pftbest commented on #26
@Kixunil
My goal was to make modifications as small as possible, so it would be easy for me to update the crate in the future if I need to.

If I understand correctly, `genio` uses a different approach to error handling than `std::io`, so it would require some heavy modifications to both `rmp` and `byteorder`. Which I don't have the time to do at the moment, sorry.

I did consider using `core_io`

[2017-12-18 14:09] fluffysquirrels commented on #28
I started a debug tooling [thread](https://users.rust-lang.org/t/arm-embedded-tooling-feature-discussion-on-itm-crate/14486/3) on users.rust-lang before finding this RFC.

There I wrote:

[2017-12-19 05:52] enricostano commented on #34
Thanks!

[2017-12-19 05:52] #34 closed

[2017-12-24 22:51] fluffysquirrels commented on #22
@japaric [wrote](https://github.com/rust-embedded/rfcs/issues/22#issuecomment-302147726):

For those that find their way to this thread, [ssmarshal](https://crates.io/crates/ssmarshal) seems to this job nicely, as mentioned elsewhere.

[2017-12-24 23:15] fluffysquirrels commented on #22
I want no_std-friendly std::io::Read and std::io::Write traits. It should be easy to write a

Repository <https://github.com/QuiltOS/core-io> has some nice ideas. It's not on crates.io. It has std::io-inspired Read and Write traits, but with a generic associated type as an error type. In practice I found the error type made it difficult to create an implementation of a module that worked with std

[2017-12-24 23:20] whitequark commented on #22
*Please* do something about core::io! It's been bothering me for over a year at this point, with no resolution. I've tried to do something with the core_io crate but the model seems a dead end to me.

[2017-12-24 23:29] fluffysquirrels commented on #22
More searching for core Read, Write traits found these links:
* https://github.com/jethrogb/rust-core_io/issues/3
* https://github.com/rust-lang/rust/pull/33149
* https://github.com/rust-lang/rust/pull/37133
* https://internals.rust-lang.org/t/refactoring-std-for-ultimate-portability/4301
* https://github.com/BurntSushi/byteorder/issues/51
* https://github.com/rust-lang/rfcs/blob/master/text/0517-

[2017-12-25 00:23] fluffysquirrels commented on #22
@whitequark [wrote](https://github.com/rust-embedded/rfcs/issues/22#issuecomment-353807147):

I was thinking it should be possible to have some core_io2 crate that supports compiling with and without std with some feature flags, std itself re-exports the traits from that, and no_std crates can use it directly. The problem with core_io was it keeps breaking and needing more patches whenever std::io

[2017-12-25 01:03] pftbest commented on #22
There is also `genio` crate by @Kixunil. I think it has some compatibility with std::io traits, but it's using associated types for errors.

[2017-12-25 01:53] fluffysquirrels commented on #22
I added this issue: https://github.com/rust-lang/rfcs/issues/2262

[2017-12-25 01:54] fluffysquirrels commented on #22
@pftbest wrote:

Thanks for the link! I'll take a look.

[2017-12-25 02:13] fluffysquirrels commented on #22
Wow, [genio](https://crates.io/crates/genio) looks really good. I created [a PR](https://github.com/Kixunil/genio/pull/3) to add keywords to make it more visible.

[2017-12-25 02:31] fluffysquirrels commented on #12
[genio](https://crates.io/crates/genio) - io::{Read, Write} traits for no_std. It has wrappers for std::io::{Read, Write} to allow use in crates that support std and no_std. Its Read, Write traits have associated type parameters to support custom error types.

[2017-12-25 23:20] blanham commented on #22
What about bare metal support for full processors (ie x86(_64), SPARC, MIPS, etc)? They are used in the embedded space, and the support code could also be used as the basis for unikernels, hypervisors, and full kernels. There's currently a hodgepodge of x86, x86_64, and x86/x86_64 support libraries of varying quality and completeness, and I think collecting them under the rust-embedded banner woul

[2017-12-25 23:26] whitequark commented on #22
"Full processors"? x86 is just a microcontroller like AVR ;P It even comes on a SoC these days.

[2017-12-25 23:29] blanham commented on #22
I'd also love to have a tool or DSL for specifying binary file and wire formats. [Kaitai Struct](http://kaitai.io/) is an existing format in this space, though I'm not the biggest fan of it's specification language. I believe the maintainers attempted a Rust target/runtime, but gave up.

And really better support for bit access/twiddling/masking. I've never been a fan of having to write such code

[2017-12-31 18:22] fluffysquirrels commented on #12
[`framed`](https://crates.io/crates/framed) - Rust crate to send and receive data over lossy streams of bytes.

* Supports sending slices of bytes or serde-serialized types.
* Uses a checksum to detect and skip corrupted frames.
* Includes a command-line tool to decode and display serialized types.

Full disclosure: I wrote this.

[2017-12-31 18:29] Amanieu commented on #12
[`cstr_core`](https://crates.io/crates/cstr_core) - `#[no_std]` port of `std::ffi::CStr` and `std::ffi::CString`. `CString` support is optional, and uses the `alloc` crate instead of `std`.

[`hashmap_core`](https://crates.io/crates/hashmap_core) - `#[no_std]` port of `std::collections::HashMap` and `std::collections::HashSet`. This crate uses `alloc` instead of `std` and uses FNV as the default h

[2017-12-31 19:29] whitequark commented on #12
@Amanieu any plans to push this through the RFC process? In particular HashMap not being in `alloc` is ridiculous.

[2017-12-31 19:37] Amanieu commented on #12
@whitequark The problem is that the default `HashMap` constructor uses `SipHash`, which requires a call to the system RNG to get a random seed.

[2017-12-31 19:39] whitequark commented on #12
@Amanieu I know. Can't the libstd facade provide it, though?

[2018-01-01 11:58] Kixunil commented on #26
Thank you for feedback!

I'm considering to implement byteorder-like trait for `genio`. Regarding `rmp`, maybe we could convince the author to implement it on top of `genio` as `genio` wants to be compatible with `std::io`. (Anything that impls `std::io` should be able to impl `genio`.)

[2018-01-01 12:08] Kixunil commented on #22
I'd like to see an abstraction for generating waveforms. I'd love to port some of my Arduino libraries to use such abstraction and work on RPi or other stuff.

[2018-01-01 14:03] pftbest commented on #26
@Kixunil

Maybe it would be better to add `genio` support in `byteorder` crate itself. If such popular crate would gain support for `genio` then it would be easier to convince `rmp` and other libraries to switch.

[2018-01-01 22:55] Kixunil commented on #26
@pftbest Since `genio` still needs some work, I doubt 1.0 crate will want to depend on 0.1 crate.

I looked at `genio` and realized it already has native implementation of `byteorder`-like methods, if you turn on `byteorder` feature.

[2018-01-18 00:00] japaric opened #39 "The weekly driver initiative"
There's now a HAL published on crates.io: [`embedded-hal`][] ([Introduction blog post][brave-new-io]). :tada:

[`embedded-hal`]: https://docs.rs/embedded-hal/0.1.0/embedded_hal/
[brave-new-io]: http://blog.japaric.io/brave-new-io

To put it to test and to expand the crates.io ecosystem I'm starting the *weekly driver* initiative.

The goal is to release a new no_std, generic, `embedded-hal` based

[2018-01-18 08:25] niklasad1 commented on #39
I can probably help porting some NRF51/NRF52 drivers from [TockOS](https://github.com/helena-project/Tock) that I have been involved in. I think the BLE driver could be interesting to have in a separate crate.

Let me know if you think it is a good idea!

[2018-01-18 09:18] thejpster commented on #39
I'm going to look at my Raspberry Pi SenseHat crate and my LM4F120 chip
crate, as used by the Stellaris Launchpad, as soon as I can.

If TockOS starts using this HAL internally then new chip support should be
easier to add in the future. I found the LM4F120 port fairly hard going.

[2018-01-18 10:59] dbrgn commented on #39
If I find time I could try to do a DS18B20 (dallas one-wire) temperature sensor driver implementation.

Current stumbling blocks so far:

- https://github.com/japaric/svd2rust/issues/16
- https://github.com/rust-lang/rust/issues/47040

(In both cases, what @rnestler wrote)

[2018-01-18 15:46] therealprof commented on #39
I've tons of devices at hand and I might write drivers for them but first I need to get the device crates and HALs up to snuff.

Apart from the usual Serial/I2C/SPI suspects what I'd like to see is whether the HAL approach is also viable for bit-banged GPIO, potentially even timing critical devices, some of which are also in @japaric's list, like the Neopixels. Something that would be really kille

[2018-01-18 20:46] alevy commented on #39
I'd personally be highly supportive of that, but would need some convincing that it would fit the capsule architecture (that hasn't _seemed_ to be the case for previous iterations). Perhaps @niklasad1 can report some insights if he ports his BLE stack from Tock.

[2018-01-18 20:52] therealprof commented on #39
@japaric Is there going to be a registry for embedded stuff and especially drivers? crates.io is becoming more and more useless to find interesting crates...

[2018-01-18 20:53] thejpster commented on #39
The LM4F120 crate now implements `embedded_hal::serial::{Read, Write}`. It was pretty straightforward.

[2018-01-18 22:46] japaric commented on #39
@niklasad1

More drivers is a good idea, IMO. :-)

Just to clarify: Is this driver about interfacing an *external* pre-flashed nRF5x device, or is it some `BleRadio` trait on top of which a generic BLE stack con be built? In the later case you implement the `BleRadio` trait for, say, a `nrf51` device crate and you get a BLE stack for free (ideally).

@therealprof

At the very least we'll want to a

[2018-01-19 01:03] therealprof commented on #39
@japaric

Coincidentally I'm working on a micro:bit crate (which is based on the NRF51822, as I'm pretty sure you're aware of 😉). I planned on adapting the BLE code from the Zephyr project, since Nordic is quite active there providing a BLE implementation for their devices without the humongous softdevice blob.

It's not quite ready for primetime yet since the documentation is somewhat lacking and

[2018-01-19 01:57] jacobrosenthal commented on #39
Greetings,

Another open source nrf ble stack to check out is mynewt's nimble, which is
the rtos im currently using in my daily work.
https://github.com/apache/mynewt-core/tree/master/net/nimble

Im hoping to try out rust for the first time, and ble on the microbit would
be a great reason for me to finally dig in as 'full' functionality
(bootloading over ble mainly) on nrf51822 devices is tough to

[2018-01-19 08:24] therealprof commented on #39
@jacobrosenthal

the rtos im currently using in my daily work.
https://github.com/apache/mynewt-core/tree/master/net/nimble

I am aware, I tried everything I could find for that MCU, including (but not limited to) Mynewt, RIOT and Zephyr. Most ecosystems rely on the softdevice while some others provide their own (but often very limited) BLE stack. The Zephyr stack is written by the vendor Nordic t

[2018-01-19 08:42] whitequark commented on #39
Is that really true? The generated `format!` code is very bloated, for example, with its myriad of vtables, tables, floating point...

[2018-01-19 09:43] therealprof commented on #39
@whitequark

That's true, `format!` is _relatively_ expensive due to the incapability to properly see the used types and monomorphize; however (unless there's another bug I'm not aware of, not using `format!` too much in my code) it should be a one-time overhead which is comparable to `printf()` formatting in C and no-one forces you to use formatters; outputting strings using `write_str()` as well

[2018-01-19 12:10] chocol4te commented on #39
I have both an HC05 and HC06 pair and a tricolour e-ink display. I should be able to start work on these pretty soon.

[2018-01-19 16:39] Kixunil commented on #39
I already have (incomplete) `PN532` Rust implementation based on `i2cdev` crate. I'd love to adapt it to HAL, but I don't expect to have time soon. In case anyone else wants to do it, I'm willing to help.

[2018-01-19 16:44] Kixunil commented on #39
@whitequark, @therealprof check out [`fast_fmt`](https://crates.io/crate/fast_fmt) crate. It was specifically designed to avoid this overhead.

[2018-01-19 16:59] whitequark commented on #39
@Kixunil any documentation would be helpful.

[2018-01-19 20:02] mneumann commented on #39
would be great to have USB support, i.e. some library interfacing for instance FTDI chips. seems like tock os got some generic USB code.

[2018-01-19 20:40] therealprof commented on #39
@mneumann Not sure I follow. Why would you use an USB<->Serial interface? Some MCUs have USB peripherals built-in but providing an HAL for creating an USB endpoint is a somewhat complex and very specific.

[2018-01-19 22:30] japaric opened #40 "USB stack"
This issue is for gathering resources on writing USB firmware in Rust and for tracking progress on building a generic USB stack in Rust.

This is basically a place where people working on USB firmware can post about the progress they have made, exchange notes, etc.

People that have been doing USB stuff (that I know of):

- @jgouly has ported some C firmware that incorporates USB functionality for

[2018-01-19 22:45] alevy commented on #40
@japaric RE: Tock, it can enumerate as well as send/receive data via control endpoints. Bulk and interrupt endpoints isn't much different but hasn't been implemented yet. Also looking at implementing the interfaces for the new NRF52 (which has USB stack) and a Synergy-IP-base one (which I believe is the same as the STM32 series). Those span _very_ different levels of abstraction from the hardware,

[2018-01-19 23:27] jcsoo commented on #40
I've been working on USB stacks for a couple of different MCUs (STM32F4 / F7 and K64, hoping to get to STM32F0, STM32L4 and SAMD21 soon) and device classes (HID, CDC-ACM, CDC-EEM, and hopefully CDC-ECM soon). I feel like I have a reasonable grasp of potential traits for basic lower-level USB drivers that could work across all of these - you set up descriptors and buffers owned by the driver and si

[2018-01-20 11:13] nallar commented on #40
I've been trying to get USB working here on the blue pill: https://github.com/nallar/BluePillKeyboard/blob/master/src/usb/mod.rs

Doesn't work yet and uses types from stm32f103xx so couldn't be used with anything else.

[2018-01-20 11:58] kinnison commented on #40
I got very stuck when trying to work out how to update svd2rust to deal with registers which contained write-to-toggle bits (the stm32f103 and similar devices have, in their USB peripherals, registers which contain read/write bits where you write zero to leave alone and 1 to toggle).

[2018-01-20 12:01] mneumann commented on #39
@therealprof : if the MCU has a built-in USB peripheral then I'd of course use that, given that it's easy to use from Rust ;-). But those devices I have at hand, need an external USB chip. Regardless of whether it's on or off-chip, I'd love to be able to use USB from Rust. This is just the last (big) missing piece to make use of Rust on embedded for me.

[2018-01-20 12:44] lnicola commented on #39
@mneumann There's a couple of posts about implementing USB Serial in Rust [here](https://blog.digital-scurf.org/posts/), but the series is unfinished.

[2018-01-20 13:10] japaric commented on #39
I have created a separate issue for tracking progress on a generic USB stack: #40. Please continue USB discussions over there; let's keep this thread focused on drivers built on top of embedded-hal. (I'm of the opinion that USB is complex and specialized enough that it should go into its own crate separate from embedded-hal.)

[2018-01-20 13:12] japaric commented on #36
@dvc94ch

Do you have a SVD file for the RISC-V micro you are using? I hear from the Ada folks that SiFive is not providing one and that they are writing [one](https://github.com/AdaCore/svd2ada/blob/master/CMSIS-SVD/SiFive/FE310.svd) manually.

[2018-01-20 13:18] japaric commented on #40
@kinnison Could you open an issue in the svd2rust repo describing the issue you are running into? I'd be happy to look into it.

@nallar

I think that's fine to start with. We should have at least, ideally independent, two implementations of USB for different devices then we can think about what, or what level, things can / should be abstracted into traits / common types.

[2018-01-20 17:47] dvc94ch commented on #36
I wrote the one I'm currently using [0] but we should migrate to using
these [1]. I'm currently working on another project, will hopefully get
back to working on this sometime...

[0] https://github.com/dvc94ch/e310x/blob/master/e310x.svd
[1] https://github.com/micro-os-plus/sifive-devices-xpack/tree/xpack/xsvd

[2018-01-21 20:31] Kixunil commented on #39
@whitequark what exactly are you missing?

[2018-01-22 09:44] hannobraun commented on #39
I already had the DHT22 working with Rust at some point, although not in the form of a reusable driver library. If anyone is interested, I can dig up the code. Caveats: It's messy code, integrated into an application, built on top of other messy unpublished code. I'm not sure how useful it's going to be, but as a starting point, it may be better than nothing.

@japaric

I'm in full agreement. Not

[2018-01-22 10:23] JJJollyjim commented on #39
I'm gonna have a go at building something for a HD44780-style (S6A0069 in my case) 16x2 LCD. @japaric I see you mention an LCD in the context of an IO expander: would a potential IO expander API expose `digital::OutputPin`s such that the LCD module could operate generically over either the uC's pins or the expander's?

[2018-01-22 10:37] therealprof commented on #39
@hannobraun

I totally agree. One doesn't preclude the other. I fully expect that crates.io will remain the official source for all crates, including embedded ones. I was hoping we could at least get something like https://github.com/brson/stdx up.

[2018-01-22 10:53] kunerd commented on #39
@JJJollyjim: [clerk](https://github.com/kunerd/clerk) might be of interest for you. Here are some tickets from [embedded-hal](https://github.com/japaric/embedded-hal)
https://github.com/japaric/embedded-hal/issues/29
https://github.com/japaric/embedded-hal/issues/30

[2018-01-22 11:58] japaric commented on #39
@JJJollyjim

It's just that the LCD I have has an I2C port expander attached to it and the only interface that the module exposes in I2C. But ideally the port expander driver, say `PCF8574<I2C>` itself would implement the `digital::*` traits and then you be able to plug that in the LCD driver, say `LCD<PCF8574<I2C1>>`, but an LCD abstraction right on top of I2C would still be a good start.

[2018-01-22 12:32] dbrgn commented on #39
For HD44780 compatible LCDs, there are mainly two I²C port expanders used: The PCF8574 and the MCP23008.

In case it helps, here's my Python driver for those LCDs: https://github.com/dbrgn/RPLCD/blob/master/RPLCD/i2c.py

[2018-01-22 15:32] kunerd commented on #39
@JJJollyjim @japaric: My current `Display` implementation is abstract over the underlying protocol, currently there are two impls for either 4 or 8 data line parallel mode, but it should be possible to impl the traits for I2C, too, but maybe it would need some refactoring with the new HAL traits in mind.

[2018-01-23 23:52] tib888 commented on #39
Thanks, this "switch to a stable embedded-hal release" fixes lots of things I was fighting with in the previous version. As soon as the blue-pill crate is updated I'll port my working "1-Wire" driver on this new version (with a 18B20 example, device enumeration).
I also have a work in progress CAN driver (that is not an easy one).

[2018-01-24 10:49] dbrgn commented on #39
@tib888 ok, if you already have a working DS18B20 driver I won't start with writing another one :)

[2018-01-24 17:12] chocol4te commented on #39
Are there plans to implement a generic display driver, and then device specific crates that implement that abstraction? There are so many different variations of each display type (Eg 128x64, 128x32, monochrome, yellow/blue) that there is a lot of deduplication to be done.

[2018-01-24 17:18] japaric commented on #39
@tib888 FYI: the `blue-pill` crate has been replaced by the [`stm32f103xx-hal`](https://github.com/japaric/stm32f103xx-hal) crate, which implements the embedded-hal traits for the whole STM32F103XX family.

[2018-01-24 17:24] thejpster commented on #39
Are there plans to implement a generic display driver, and then device
specific crates that implement that abstraction?

I just want to note I have extensive experience in this area. There are a
number of LCD types in terms of striping and colour depth, as you note. You
also need tooling for building static filesystems containing bitmaps (or
bitmap maps, such as fonts) in the correct stripe format

[2018-01-24 18:06] kunerd commented on #39
@thejpster: Maybe you want have a look at the RFCs and already implemented stuff of the embedded-hal trait and add some comments with suggestions or even new feature request for things that will be needed to implement such drivers.

[2018-01-31 23:04] wose commented on #39
I'm currently working on a driver for the Si7021 humidity/temperature sensor (I2C).
WIP driver code: [Si7021](https://github.com/wose/si7021)

Some other sensors I'll probably tackle later:
- MMA8652FC - accelerometer (I2C)
- BMP 280 - barometric pressure/temperature sensor (SPI/I2C)
- BH1750 - ambient light sensor (I2C)

I also have a couple of SSD1306 based OLEDs in different sizes (96x32, 128x6

[2018-01-31 23:25] therealprof commented on #39
@wose I've some old and crusty Rust code for the SSD1306 in here: https://github.com/therealprof/stm32f042/blob/master/examples/i2c_ssd1306.rs

[2018-02-02 00:21] therealprof commented on #39
I've just released a driver for the NXP MAG3110 magnetometer [here](https://github.com/therealprof/mag3110).

[2018-02-02 10:03] thejpster commented on #39
My SenseHat crate has drivers for the [https://github.com/thejpster/sensehat-rs/blob/master/src/hts221.rs](HTS221)  humidity sensor and the [https://github.com/thejpster/sensehat-rs/blob/master/src/lps25h.rs](LPS25H) pressure sensor. They're written against the I2CDevice trait so should be easy enough to move out and swap to working against the HAL.

[2018-02-05 23:36] japaric commented on #39
@therealprof neat. Want to do a small writeup about your driver covering what it does and how to use it?

[2018-02-05 23:56] therealprof commented on #39
@japaric Well, to be honest. I can tell you how to use it but I have no idea what a possible application might be and how to implement it since the datasheet is somewhat lacking. You can detect proximity to magnets and (so I would guess) with a bit of calibration sense and calculate the orientation in the room and cardinal direction. I just needed something to test the nrf51 I2C driver with and th

[2018-02-10 16:22] japaric commented on #36
@dvc94ch btw, LLVM 6 just landed in rustc and should ship with tomorrow's nightly. Do you know if LLVM 6 has good support for RISC V or if it still needs some patches on top of that? If the former, we could send a PR enabling the LLVM backend to allow experimentation with an out of tree target specification. If the later perhaps the Rust team would be willing accept some backports.

[2018-02-14 02:07] dunmatt commented on #39
I would love to help with this and create a driver for the NEO-M8 series of GPS receivers, but I will need help.  I've already written a driver for them in C++, so I know the chips and the protocols (and have some known-working M8Ts on hand to test with), but I'm still at the "blink an LED" phase when it comes to embedded rust (have lost momentum due to not doing random-thing-I-don't-know-about wh

[2018-02-14 11:44] ilya-epifanov commented on #39
I have a WIP Si5351 clock generator driver here: https://github.com/ilya-epifanov/si5351

[2018-02-14 22:02] japaric commented on #39
I've added the WIP drivers that people have reported to the issue description. If yours is missing
let me know!

I've also send a [PR / RFC] to the embedded-hal repo that establishes a process for adding new
traits to it. If you would like to suggest a tweak to the proposed process leave a comment over
there. In that PR I'm also calling for collaborators that will help me put the proposed process

[2018-02-16 16:04] dvc94ch commented on #36
Need to try it to know for sure, but it seems that there isn't much missing. That sounds like a plan...

[2018-02-21 12:56] japaric opened #41 "Panic handler binary size bloat"
There are two issues here. The first one I consider a (compiler) bug and the second one a missing
feature.

### Panic strings kept in the binary

Even when `panic_fmt` (the panic handler) is defined to simply `abort` the compiler still produces
machine code that passes the (unused) arguments (panic message, file name, line number and column
number) to that function at runtime. This causes the argu

[2018-02-21 13:31] japaric opened #42 "Embedded development on stable"
Triage(2018-07-15): This is only waiting on #[panic_implementation] being stabilized. [Proposal for FCP](https://github.com/rust-lang/rust/issues/44489#issuecomment-398965881).

---

Development of `no_std` applications is relegated to the nightly channel because it requires opting
into several unstable features. This makes Rust hard to sell to C developers; they'd rather stick to
their stable ven

[2018-02-21 13:57] nagisa commented on #41
I [wrote down my ideas](https://github.com/rust-lang/rust/issues/44489#issuecomment-367301641) on how we should fix the underlying issue. I still am going to write a separate issue for the underlying cause.

[2018-02-21 14:26] cr1901 commented on #41
Relevant commit for my use case: https://github.com/cr1901/AT2XT/commit/b6e299208dd90cf8ec1bb054ebfbaa87797eb93a

Notably, embedding unused strings does _not_ happen with `Result`, only `Option`.

[2018-02-21 15:00] japaric opened #43 "One step setup"
Embedded development involves cross compilation and remote debugging; the Rust toolchain doesn't
provide all the tools so you have to install external ones like: a cross linker (e.g.
`arm-none-eabi-ld`), a cross debugger (e.g. `arm-none-eabi-gdb`), some tool to communicate with the
remote target (e.g. `OpenOCD`), etc.

It would be great if the user didn't have to figure out where to get all those

[2018-02-21 15:55] whitequark commented on #43
The `monitor` command is `process plugin packet monitor` in `lldb`, and I'm afraid it's rather user unfriendly:
[code]
The flash functionality of the gdb stub is not supported.

IMO, it's a good idea to extend lldb to handle these use cases instead of giving up on it.

[2018-02-21 16:12] japaric opened #44 "Consistent development experience"
Ideally the development experience for the different embedded targets should be very similar so a
user can easily transition from one target to the target instead of having to redo the setup
process, learn about new tools, learn a new development process, migrate to different crates that
basically do the same things as the ones they were previously using, etc.

This problem can be tackled from dif

[2018-02-21 17:12] japaric opened #45 "RTOS implementations / bindings"
Parent issue: #55

Place to discuss RTOS implementations / bindings.

There's some agreement on making some standard RTOS API (traits) and then have the implementation adhere to that.

### TODO

Define tasks to tackle

[2018-02-21 17:24] thejpster commented on #45
I think there are two pieces to the RTOS story - the API and the implementation(s). The first implementation might be a FreeRTOS wrapper but I'd love to write a Rust port of it in due course.

The API would involve:

* Static and dynamic queues
* Static and dynamic threads
* Static and dynamic event groups (bitfields you can pend on)
* Static and dynamic mutexes (although in my world we really try

[2018-02-21 17:39] maikelwever commented on #39
While playing around with rust on the 'Black Pill' (stm32f103xx device like blue pill), I've created a very basic MAX7219 driver, which when development is completed should have a very similar feel to the LedControl library for Arduino.

It's still a WIP, but I've uploaded the code I currently have to: https://github.com/maikelwever/max7219

When I fix the TODOs outlined in the readme there, I'll

[2018-02-21 17:51] fitzgen commented on #41
See also https://github.com/rust-lang-nursery/rust-wasm/issues/19

[2018-02-21 19:05] jcsoo commented on #42
Does anyone have experience with [Unicorn](http://www.unicorn-engine.org), which has what looks to be a fairly solid Rust binding in [unicorn-rs](https://github.com/ekse/unicorn-rs)? It wouldn't be able to test peripheral-dependent crates without someone mocking the peripherals themselves, but could it be useful for testing Rust codegen and linking for other no-std libs?

[2018-02-21 19:22] jcsoo commented on #45
In this context, can you go further into what you mean by static and dynamic? Do you mean static creation before starting up tasks vs. creating / destroying these objects within tasks?

Looking at your list, I wonder how far it is possible to get using a SPSC queue supporting zero-sized objects as the main communications primitive.

[2018-02-21 19:26] thejpster commented on #45
In brief, yes. Sometimes you know the resource requirements at compile time - six threads, six queues, one event group, etc. Allocating static space means you don't take up heap/pools. Sometimes you also want to spin up background threads, or bring up a new queue for a test that you later want to delete. It's good to support both models.

I imagine the former would use an RTFM style macro.

[2018-02-21 19:45] japaric opened #46 "Maintenance of core parts of the embedded / Cortex-M ecosystem"
A.K.A. @japaric is a bottleneck for development :-)

There are critical components of the embedded / Cortex-M ecosystem that are currently being
maintained by me. Unfortunately I don't have the bandwidth to keep up with everything so issues and
PRs have been piling up in some repos.

This issue is a call for maintainers (if you want to help leave a comment!) and a place to discuss
how to organize

[2018-02-21 20:45] adamgreig commented on #45
The CMSIS-RTOS ([v1](http://www.keil.com/pack/doc/cmsis/RTOS/html/index.html), [v2](http://www.keil.com/pack/doc/cmsis/RTOS2/html/index.html)) APIs might be a useful reference too. In theory a wide range of RTOSs implement them, so Rust bindings to that API would allow you to plug in multiple RTOSs under the hood. This includes FreeRTOS: https://github.com/ARM-software/CMSIS-FreeRTOS

In general t

[2018-02-21 20:45] japaric opened #47 "Embedded testing"
There are quite a few ways to do testing in embedded development. This [blog post] by @jamesmunns
does a great job at describing the different approaches.

[blog post]: https://jamesmunns.com/update/2017/05/07/hardware-ci-overview.html

Right now Rust only provides testing support for `std` targets via the built-in `#[test]` attribute
and it's quite inflexible at supporting any other kind of testi

[2018-02-21 21:36] ryankurte commented on #45
Really like the idea of a `rust-embedded/rtos-api` similar to cmsis-rtos that rtos implementations or bindings can implement. I guess a bit like `embedded-hal`, if we have a set of primitive traits that RTOS implement it should be pretty easy to build "thread" safe primitives on top of that API.

It seems to be falling out of favour but just to chime in, I think predictability is critical if rust

[2018-02-21 21:51] ryankurte commented on #46
I like the idea of moving components into rust-embedded (and increasing the bus factor with that org 😂).

I'd like to see a code of conduct  (something line the [contributor covenant](https://www.contributor-covenant.org) and the contacts and policy to support it, as well as contribution guidelines (ie. how to pr, policy on breaking changes and versioning, adoption of projects by rust-embedded etc

[2018-02-21 23:41] #35 closed

[2018-02-21 23:59] japaric commented on #32
Last year Increasing Rust's Reach projects were limited to those announced in the blog post. This year the plan is to have some of / all the four domain WG participate in the program. I can't say more than that I think (I probably already said more than I should have, actually :sweat_smile:). Subscribe to the blog and wait for the official announcement of this year edition.

The README now lists o

[2018-02-21 23:59] #32 closed

[2018-02-22 00:49] japaric commented on #3
@dylanmckay if core didn't contain any 128-bit integer related code how many codegen bugs would still need to be fixed to be able to build core? If your answer is 0 then I'll try my best to convince the Rust team to *temporarily* `cfg(target_arch = "avr")` away all i128 code from libcore and let us enable the AVR backend in rustc.

I should also note that developments like pure MIR .rlibs (cf. rus

[2018-02-22 04:29] dylanmckay commented on #44
I've raised avr-rust/rust#93 to track porting `embedded-hal` to AVR.

It's not as high on the priority list compared to LLVM bugs though.

[2018-02-22 04:35] dylanmckay commented on #46
@japaric

format: atdf -- using the atdf2svd approach. And there are XSVD (JSON version of SVD files) files
for RISCV -- I don't think they are official though? -- so svd2rust could also grow support for
RISCV via a xsvd2svd tool.

I have already written a library to parse ATDF files into data structures, which should be fairly easy to plug in.

It is [almost being] used in the [ruduino](https://g

[2018-02-22 04:46] dylanmckay commented on #46
Agree strongly. I have mixed feelings on whether this should be done for AVR before it actually gets merged into upstream Rust though.

I've tried to be quite careful to manage expectations with the AVR fork - there's been quite a bit of interest, but the experience is still quite buggy. I think that moving some of the AVR stuff to the `rust-embedded` org might give off the impression that the AVR

[2018-02-22 09:26] dvc94ch commented on #36
@japaric Do you think that rust would accept a llvm fork like llvm-emscripten for riscv until llvm7 is released?

[2018-02-22 09:47] dvc94ch commented on #43
So is there interest in making an openocd crate so that it can be installed via cargo? I think this would be a requirement for useful `cargo flash` and `cargo debug` commands.

[2018-02-22 09:48] whitequark commented on #43
Repackaging completely unrelated C applications in cargo seems wrong. The gcc crate doesn't package gcc...

[2018-02-22 09:53] hannobraun commented on #43
@jcsoo

A few years ago, I built a simple tool to replace Bossa for my own use, to upload to the SAM3X8E. Here: https://github.com/hannobraun/embedded/tree/master/uploader

I don't know how much is missing to make it useful, but I recall successfully using it to upload my program at the time. Maybe it can serve as a starting point or reference for your own efforts.

[2018-02-22 10:47] dvc94ch commented on #43
@whitequark gcc isn't essential to the toolchain, and would require a dozen different crates for each architecture. Relying on distro package managers can be an option for Linux/established computer architectures. If we want a seamless experience for non-linux and archs like riscv, what do you suggest as an alternative? Rewriting openocd in rust is probably not a realistic goal till September

[2018-02-22 10:53] whitequark commented on #43
@dvc94ch If you want a seamless experience? Rely on distro package managers for Linux and OS X, and provide prebuilt Windows installers.

Even if you *did* package openocd as a crate, it depends on, at least, MinGW, MSYS and libusb1 to build on Windows, and these dependencies ensure that it's not going to be installable as simple as `cargo install openocd`. That's forgetting about any adapters mor

[2018-02-22 10:57] hannobraun commented on #46
@japaric I'm happy to help out here and there with the cortex-m crates, but I don't have the bandwidth to drive any major initiatives.

running `svd2rust` over it and committing the code to the `cortex-m` repo.

I did some digging. I already knew about [these incomplete SVD files](https://github.com/ARM-software/CMSIS_5/tree/develop/Device/ARM/SVD), so at least there must have been some interest b

[2018-02-22 11:05] hannobraun commented on #47
I didn't have a chance to say this before we ran out of time in the meeting, but I'm very interested in this topic, specifically HIL testing. So far I haven't looked into the details, and I have some other stuff to get out of the way before I can work on this, but I'm definitely interested in anything that's going on in this space.

[2018-02-22 11:48] thejpster commented on #43
I think OpenOCD is a well solved problem and I don't think we need to do
much there. What's more useful, I think, is helping people understand the
differences between the normal C development process for any given platform
and the 'normal' Rust development process. People could effectively then
apply those differences to almost any C example/tutorial they find for any
random board we've never even

[2018-02-22 12:59] jcsoo commented on #47
For `bobbin-cli test` I implemented a simple text-based protocol similar to TAP. From the README:

This has worked pretty well for me. It's simple to implement, you can capture panics and exceptions by having your handlers print a [panic] or [exception] line after any diagnostics, and it's easy to add additional output that the test runner will ignore just by using println!.

I chose the prefix ta

[2018-02-22 13:19] jcsoo commented on #43
When Rust has LLD and LLDB integration, does anyone know whether Rust will build, ship, and install the standalone binaries also? And what about other utilities? `objcopy` will be needed to convert to hex format for many flash loaders, and I use `objdump` + `size` very often.

I would hate to do all this work and still need the user to install the full GCC or LLVM toolchain just to get access to t

[2018-02-22 13:28] thejpster commented on #43
They're from GNU Binutils, which is distinct to GCC and LLVM. I agree Rust
versions would be easier to ship, but I'm OK with depending upon binutils
as-is.

[2018-02-22 13:29] japaric opened #48 "Integration with C codebases"
An approach that has worked well for the adoption of Rust in std land is to replace existing
components of a C codebase with Rust components (rather than the more radical rewrite everything in
Rust from scratch).

I think we are lacking guides for this important use case in embedded Rust land and we should fix
that. There are different aspects to integrating Rust into a existing C codebase:

- Int

[2018-02-22 13:31] whitequark commented on #43
There are llvm-objdump and llvm-size since sometime late in 3.x cycle.

binutils are a really gross dependency to carry around. First, you get an entire second machine layer with its own independent bugs and deficiencies. There's no guarantee that the disassembler in binutils will know about all the same relocations as LLVM. (I've hit this.) Second, they're a pain in the ass to build on Windows as

[2018-02-22 13:37] japaric opened #49 "Material for the revamped website"
A revamped Rust website will be released with the Epoch 2018 in mid September. The four domain WG
will have a space in the website to showcase their accomplishments and make the case for Rust in
their domain.

Some ideas that were discussed in the first meeting.

### Who's our audience?

- Early adopters: students, hobbyists, researchers, startups
  - Not a lot of existing organizational momentum

[2018-02-22 13:46] japaric commented on #43
That's what rust-lang/rust#48125 does. A LLD binary will be shipped with the Rust toolchain; it will be somewhere in `$(rustc --print sysroot)`. There's some magic that will append the path to LLD to the PATH env variable when rustc invokes the linker so the user won't have to do anything to their environment.

I don't know what's the LLDB plan with respect to PATH.

[2018-02-22 13:48] japaric commented on #43
There's a Rust tool that's basically a `objdump` re-implementation. Unfortunately I don't recall its name but, iirc, it's based on the Keystone (dis)assembler.

[2018-02-22 13:53] japaric commented on #43
It's called [cargo-sym](https://crates.io/crates/cargo-sym) but it doesn't seem like they are working on it anymore (no activity in the last 11 months).

[2018-02-22 14:22] whitequark commented on #43
I really don't think we should use anything besides `llvm-objdump` if we want to support lesser-used architectures. That's just duplicating work and introducing more opportunity for obscure errors.

[2018-02-22 15:44] japaric commented on #36
@dvc94ch I think that would be a tall order. The Rust team is fine enabling backends that won't impose a heavy maintenance burden. The exception being the emscripten backend, which has been a pain in the neck to maintain, but it's there because of the popularity of asm.js / wasm. I doubt they'll want to maintain a fork with a maintenance burden similar to the emscripten fork. Also, emscripten supp

[2018-02-22 16:18] japaric commented on #43
I tested `llvm-objdump` locally and it worked fine; I had to pass `-triple=thumbv7m-none-eabi` to it to get the correct diassembly though. I also didn't see any demangling option but piping the output through `c++filt` did the trick. `llvm-size` worked without problems.

Given that `lld` is being added to the Rust toolchain I think we could push (submit an RFC) for shipping both `llvm-size` and `l

[2018-02-22 16:21] dvc94ch commented on #36
I haven't looked closely at llvm-emscripten, but could we maybe leverage
loading llvm at runtime for using it with an independently maintained llvm
fork (published via crates.io)? I'm not sure if there is an advantage,
since it would be a source build, which is a put-off for most people...

On Feb 22, 2018 16:44, "Jorge Aparicio" <notifications@github.com> wrote:

[2018-02-22 16:30] jcsoo commented on #43
Can we get `llvm-objcopy` included also? It's needed for generating .bin or .hex files from the ELF output. All of the flash loaders (Bossa, Teensy, dfu-util) as well as ST-Link and DAPLink on-board drag-and-drop require one of those two formats.

[2018-02-22 17:18] whitequark commented on #43
While you're at it, also include:
  * `llvm-nm`
  * `llvm-cxxfilt`
  * `llvm-cov`

[2018-02-22 18:41] posborne commented on #49
Under "what do we want to highlight?" I would definitely add bidirectional C interop.  Few places are going to want to go "whole hog" on Rust for an embedded product but might be willing to implement a module in Rust (with C as the "master") or use Rust as the "master" but continue to make use of existing things like drivers they have written in C.

[2018-02-22 20:47] thejpster commented on #43
Oh, cool!

I totally agree that if there are LLVM equivalents then that's a much better approach, and an easier way to get all our architectures supported properly.

Oh man, that would really improve my workflow.

[2018-02-22 23:19] docbrown commented on #46
@hannobraun It looks like the SVDs in that pack are for some kind of abstract Cortex-M device. They include peripherals (timer, GPIO, serial engine, etc) that aren't common to all Cortex-M designs. Maybe they're just copied directly from the Cortex-M System Design Kit?

@japaric If a SVD needs to be written from scratch, I can try to put one together directly from the Technical Reference Manuals s

[2018-02-23 00:28] lylecheatham commented on #40
I'm interested in potentially using rust to write firmware for a 3D printer, but it would most definitely require a USB stack as the bandwidth difference between using real USB vs something like an FTDI is several orders of magnitude.

[2018-02-23 08:39] dvc94ch commented on #44
How do are target files and programmer configuration files distributed? Does it make sense to include these in the ic/soc/bsp crates or not? For RISCV we expect to have many different soc's with different combinations of extensions and custom extensions. So it would make sense to have 2-3 common combinations in rust (maybe RV32G and RV64G (G means IMFDAC)) but have custom configurations like for e

[2018-02-23 10:34] hannobraun commented on #46
@docbrown Ah, too bad. And I'm guessing we're not allowed to modify it (though I haven't read the EULA).

[2018-02-23 14:08] dvc94ch commented on #46
So moved all riscv crates to a rust-riscv org. Should help find riscv crates, contributing etc. If someone wants to collaborate I can add you to the org.
There is also a riscv-crates repo that creates a cargo workspace to make hacking on riscv crates easier - rust and llvm forks are updated.
Some of these crates could be moved to rust-embedded once they're more mature.

[2018-02-23 17:32] docbrown commented on #46
@hannobraun Yeah, it's kind of a minefield. There's the EULA (which appears to only reference example code and drivers, but IANAL), a 3-clause BSD(?) license from ARM on the SVDs themselves, and then another license from ARM applied to the code generated from the SVD (the licenseText element). And if the SVDs were just copied from the reference design in the Cortex-M System Design Kit, then there'

[2018-02-23 17:53] hannobraun commented on #46
@docbrown

I'd try to contact ARM first, to try and clarify the license. That might not come to much, but it probably won't hurt either. But if you're willing to write an SVD from scratch, I'm not trying to stop you! Just offering suggestions.

[2018-02-23 18:12] japaric opened #50 "Ship llvm binutils with the Rust toolchain"
As per the discussion in #43, it would be convenient to have LLVM tools like `llvm-objdump` and
`llvm-size` shipped with the Rust toolchain. These would remove the need to have to install GCC
binutils which require you to do one binutils install *per target architecture*. OTOH, LLVM binutils
have multi-arch support and support all (most?) the architectures that rustc supports (since rustc
is LLVM

[2018-02-23 18:16] whitequark commented on #50
Rustfilt is not an implementation of c++filt, it takes Rust symbols and not C++ symbols; the former are a tiny subset of the latter. But I suppose if you're compiling C++ code then you already have clang, and that probably already comes with llvm-cxxfilt, so we don't  need it.

[2018-02-23 18:24] japaric opened #51 "`cargo-objdump`, `cargo-size`, etc."
Once #50 is accepted / implemented it would be nice to have wrapper over e.g. `llvm-objdump` for
convenience. The wrapper would take care of passing `-triple=$target` to `llvm-objdump`, demangling
the output, passing the path to the binary to `llvm-objdump`, etc.

We don't have to wait until #50 is implemented though; we can start prototyping on top of
`arm-none-eabi-objdump`.

### Tasks

- [ ] De

[2018-02-23 18:25] japaric commented on #43
Based on the discussion so far I have created two work items:

- #50  Ship llvm binutils with the Rust toolchain
- #51 `cargo-objdump`, `cargo-size`, etc.

Help wanted!

[2018-02-23 18:59] japaric commented on #44
@dvc94ch

Ideally we should add a few, baseline targets to rustc itself and ideally users shouldn't need to deal with custom targets / target configuration files.

What are "programmer configuration files"?

Crates can't change the compilation target; at most they can't preven't generate compiler errors if the wrong target is used. If we *must* ship target configuration files I'd say they should g

[2018-02-23 19:09] japaric opened #52 "Test embedded targets in rust-lang/rust CI"
### Triage

#### 2018-07-02

The extending Rust reach participants mentored by @jamesmunns are working on this. Among their
goals they have:

- Adding "it compiles" tests. libcore, or some other crate, compiles for $TARGET
- Adding "it links" tests. A minimal embedded program links with different compiler options
  (opt-level, LTO, incremental, etc.) and the presence of some symbols is checked (e.

[2018-02-23 20:58] dvc94ch commented on #44
I meant openocd configuration. But these are now included in the openocd riscv port, so I'll remove them from the crate. So this issue is a non-issue.

The cabi stuff can be parameterized over xlen (shared between 32bit and 64bit) as in the clang implementation [0] and the psabi docs [1]. I don't currently intend to port std to rv64.

For 32bit targets it's indeed only features that changes and ma

[2018-02-24 01:54] Emilgardis commented on #46
I'd be happy to help maintaining svd2rust. I'm also glad that were taking this direction because the pressure and responsibility has been something I've noticed to big for a one-man team.

[2018-02-24 14:27] Kixunil commented on #39
Not sure about this. The RFC proposes to open a new issue for each stage of trait design. I worry it might lead to confusion from having so many issues.

[2018-02-25 08:00] dylanmckay commented on #3
I have rebased the avr-rust fork ontop of Rust master. There I've summarised the results [here](https://github.com/avr-rust/rust/issues/90#issuecomment-367606217).

Aside from the removal of the i128 type, the only other change required to get libcore compiling as a static library was to remove the `fmt` string <-> float conversion routines (tracked by avr-rust/rust#92).

The blink example fails t

[2018-02-25 08:09] dylanmckay commented on #44
@japaric

That could definitely work. It does feel a bit hacky though as `.config/cargo` wouldn't be the first place I'd like for a target CPU.

Still a better solution than hundreds of JSON files though!

Some MCUs have hardware multiplication, some don't. The AVR backend uses the target-cpu and maps it to a list of enabled CPU features.

For example

* The backend will do hardware MUL if support

[2018-02-26 10:23] wose commented on #39
I did a little writeup ["Let's write an embedded-hal-driver"](http://zuendmasse.de/blog/2018/02/23/lets-write-an-embedded-hal-driver/) as part of the [WIP driver for AT24C32/64](https://github.com/wose/at24cx) like EEPROMs. I'll *finish* and release it to crates.io within the next few days.

Some other WIP drivers:

- [DS3231](https://github.com/wose/ds3231) - real time clock (I2C)
- [BH1750](http

[2018-02-26 15:40] japaric opened #53 "Fix linking issues when using multiple codegen units"
To improve build times rustc is now defaulting to building crates using multiple codegen units. The
problem is that using multiple codegen units can sometimes break linking of no-std applications
("undefined reference to `rust_begin_unwind`").

We are looking for someone who can help us fix the problem in the compiler

### Tasks

- [ ] Tweak rustc linking process to properly support multiple codeg

[2018-02-26 15:47] thejpster commented on #53
I've also seen cargo/xargo emit entirely empty binaries unless this property is set.

[2018-02-26 15:53] japaric commented on #53
@thejpster with the cortex-m-rt linker script or with some other custom linker script? I have patched the cortex-m-rt linker script a few times to make it work with multiple codegen units but I wouldn't be surprised if there are still issues out there ...

[2018-02-26 15:57] japaric opened #54 "Guide for doing embedded development in an IDE"
We have [instructions] for doing embedded development from the command line but we are missing
instructions for doing embedded development in an IDE.

[instructions]: https://docs.rs/cortex-m-quickstart

I heard that VS Code plus the cortex-debug extension works nicely for embedded development but I
have no first hand experience.

We are looking for someone who can help us write down some instruct

[2018-02-26 16:25] niklasad1 commented on #54
I got debugging in VSCode to work in [TockOS](https://github.com/helena-project/tock) you can grab the script for remote debugging [here](https://github.com/helena-project/tock/blob/master/.vscode/launch.json) and a very brief tutorial [here](https://github.com/helena-project/tock/blob/master/doc/debugging/VSCode_Debugging.md). Feel free to use it but I haven't tried the cortex-m extension cheers.

[2018-02-26 18:14] japaric commented on #44
@dvc94ch

OK, if `max-atomic-width` changes then we may need to have at least two targets one with `-A` and
one with `+A` as we can't change `max-atomic-width` from the command line. We have something like
this in Cortex-M land: the `thumbv6m-none-eabi` has max-atomic-width = 0; the other targets have
max-atomic-width = 32.

@dylanmckay out of curiosity do the AVR targets have max-atomic-width set

[2018-02-26 18:43] dvc94ch commented on #44
There are many possible ABI's depending on the combination of features (xlen = E/32/64/128, flen = 0/32/64/128, 4*4=16 possible abi's). There are currently three calling conventions: soft float, hard float, and RV32E (only requires 16 instead of 32 registers for very small implementations) and two official ABI's (ILP32 for RV32G and LP64 for RV64G).

For now I'd suggest we stick to soft float (Int

[2018-02-26 18:44] japaric commented on #39
@wose Neat! If you (or any one else) want me to retweet your blog post feel free to @ me on Twitter (japaricious).

Added the MCP3008 driver by @pcein to the list of released drivers.

[2018-02-26 19:31] thejpster commented on #53
This was with stellaris-launchpad, which had its own linker script dating back to my original C implementation. Would it be useful if we wrote up requirements for linker scripts somewhere, rather than relying on some magic in one example?

[2018-02-26 20:38] japaric commented on #36
@dvc94ch Yeah, I think we should not have the users build LLVM from source; that's too high a entry barrier.

[2018-02-26 20:49] nunolucas commented on #53
The empty binaries, on Windows, may be related to this bug under heavy load:
https://randomascii.wordpress.com/2018/02/25/compiler-bug-linker-bug-windows-kernel-bug/

[2018-02-26 21:04] thejpster commented on #53
That is *beautifully* done, but I still wonder if it's worth pulling out into something that's more generic and not Cortex-M specific, to help people with other platforms and improve discoverability.

[2018-02-26 22:30] japaric commented on #3
That's just the feature gate that prevents you from using `i128` on stable (`#![feature(i128_type)]`), right? I don't see any i128 related cfg attribute in the latest version of libcore; core [doesn't have any Cargo feature either][toml].

[toml]: https://github.com/rust-lang/rust/blob/bedbad61195d2eae69b43eca49c6d3e2aee8f208/src/libcore/Cargo.toml

[2018-02-27 09:19] dylanmckay commented on #44
@japaric

value?

It is currently the default of `None`, which Rust maps to the target point width, therefore `16`.

[2018-02-27 09:32] dylanmckay commented on #3
@japaric good catch, that's my mistake.

I wonder if it worked for me because it always evaluated to true. Easy to replace with `#[cfg(target_arch)]` though.

[2018-02-27 16:49] japaric commented on #46
@Emilgardis @ryankurte

Thanks for volunteering!

I have just sent you collaborator invites for both japaric/svd and japaric/svd2rust. Those two
are in a worse state than the cortex-m repos and I don't want to block development on those until we
figure out an org structure.

@ryankurte

Great idea! Any suggestion on how to make it visible at the org level? I don't think you can have
pinned repos a

[2018-02-27 18:03] japaric commented on #45
There seems to be agreement on the direction of a standardized RTOS API / traits. Could someone make a work item issue about that? I expect the issue would also include the task of making a reference implementation by binding some C RTOS.

[2018-02-27 18:23] scowcron commented on #46
@dylanmckay @japaric re: ATDF

`atdf2rust` really would be nice to have, even for micros in the ATSAM families (Cortex-M). Atmel's SVD files are non-compliant and don't play nicely with `svd2rust`. I'd love to be able to generate code for those without have to hack `svd2rust` to ignore problems in the SVDs.

The other significant pain point I had working with `svd2rust` was lack of register group

[2018-02-27 18:39] kunerd commented on #46
@dylanmckay @japaric: ATDF

@ecstatic-morse created this [`atdf` parser repo](https://github.com/ecstatic-morse/atdf), which also can parse `.atdf` files into `svd2rust` structs, if I remember correctly. From my point of view it would make sense to separate the code generation part from the description file parsing part, so that for example `svd2rust` and `atdf2rust` tools can be created by using

[2018-02-27 18:44] jamesmunns commented on #25
@japaric it is worth noting that as of ~end of 2017, there is now support for the `armv5te`, including official `std` builds:

[code]
The atomics mentioned above are even provided by `compiler_builtins` now :)

Do we still want to try to get an official `armv4` target config json for bare metal, or should we consider this "done" (and closeable)?

[2018-02-27 18:50] jamesmunns commented on #48
I made a talk last year based on my learnings when integrating C/C++ code for the `teensy3` and `nrf52dk-sys` crates.

The slides are [here](https://docs.google.com/presentation/d/16oLlXMeBtvhW53oUfb8Iov4r2vxVbqT0Zbi9NL9zl7U/edit?usp=sharing) and the video is [here](https://www.youtube.com/watch?v=SOTh6Bu_0OM).

I think there are two main scenarios to consider:

1. Rust is the main component, and

[2018-02-27 18:58] jamesmunns commented on #39
I will be working on an `embedded-hal` driver for the Decawave DW1000 module (which should also support the DWM1000 and DWM1001 modules), which is an 802.15.4 compatible UWB (3.5-6.5GHz) SPI based radio chip.

Right now the (verrrrry little) code lives here: https://github.com/jamesmunns/raumfahrer/tree/master/src/dw1000 (living next to the application code), but once it is a bit further along, I

[2018-02-27 19:04] jamesmunns commented on #45
If we select a target RTOS to bind against (seems like FreeRTOS or cmsis-rtos are the frontrunners), I would be happy to apply the same techniques I used with https://github.com/jamesmunns/nrf52dk-sys.

A word of warning: Most C based project rely HEAVILY on compile time macro settings to change configuration settings, and Cargo/Rust does not really have the same kind of mechanisms to deal with th

[2018-02-27 19:07] jamesmunns commented on #48
Another issue with integrating with C codebases is matching the configuration of the C project in Rust. For most C libraries (including driver and bsp support), this machinery is configured using compile time `#define` flags set by the dependent code, or by `-D` settings at the command line/Makefile.

Rust's equivalent is broken up into two components: `build.rs` scripts, and `#[cfg()]` items, whi

[2018-02-27 19:08] jamesmunns commented on #46
@japaric I would be interested in also helping to maintain at least `svd2rust`. I have now spend 1/2 a week with it (due to the cluster issue), and feel more comfortable with it (but I am still far from being an expert).

[2018-02-27 19:11] jamesmunns commented on #47
I am also interested in assisting with this topic. I don't have anything to offer (except the blog post linked), but I would be happy to advise and assist once there is a direction to run with.

[2018-02-27 19:35] japaric commented on #44
@dvc94ch That's a lot but I expect that most of them are forward compatible? Like you can link flen=64 objects and flen=32 objects together. The different calling conventions are likely not linkable and we may different targets for each.

@dylanmckay

But does it generate the right thing? Does `AtomicU16.compare_and_swap` produce machine code that does the CAS loop? Or does it generate a call to a

[2018-02-27 19:40] japaric commented on #46
@dylanmckay @dvc94ch Since you have org for core AVR / RISCV crates I would suggest you add a link to your orgs to the README of this repo. Also if you tag issues with the `help-wanted` label then when someone visits the org page they'll see how many `help-wanted` issues each repo under the org has.

@jamesmunns Awesome! Thanks. Sent you an invite.

@kunerd if the ATDF parser produces a svd2rust::

[2018-02-27 19:42] jamesmunns commented on #52
I think this relates to #47.

@jcsoo and I discussed this in the last meeting, I think it comes down to a balance of what is the cost to develop and maintain, and what value it could bring.

Using the terms from my [blog post](https://jamesmunns.com/update/2017/05/07/hardware-ci-overview.html), I would make the following general assessment:

# CI Build

*Can a set of basic Embedded Rust applicatio

[2018-02-27 19:43] japaric commented on #25
Good question. Let's discuss that in today meeting.

[2018-02-27 19:54] dvc94ch commented on #44
Hmm, doesn't passing a double require to registers if flen=32?

[2018-02-27 21:37] paoloteti commented on #28
Lautherbach Trace32 is the de-facto tool **everybody** in the professional world use. Yes it is really expensive, I agree. Here an example of T32 on a Safety Critial ARM Cortex-4RF CPU in Lock-Step mode I use daily in lab. and it work seamless in Rust. (Perf Trace, Power Cons., Event, PMUs counters)
Collecting ITM data or similar, without hw support (JTAG, ICD with up to 5GB of trace mem. and logi

[2018-02-27 23:19] ryankurte commented on #52
This infrastructure would be super neat outside of the rust ecosystem too, I'd love to have shared / distributed hardware resources for driver and hardware testing (hardware ci is something I've been dreaming of for [a while now](https://github.com/ryankurte/USB-Thing))

Once concept we've been discussing recently is dev kits or peripherals paired with an RPi that manages tests and provides standa

[2018-02-28 00:09] ryankurte commented on #46
@japaric org level code of conduct / contributor guidelines / how to contact are probably good candidates for [rust-embedded.org](http://www.rust-embedded.org)? Then the org description can just be a link there and the main page already has a link back.

[2018-02-28 00:34] jamesmunns commented on #52
Hey @ryankurte, I'm actually familiar with GitLab CI, as I use it at my current work.

I know groups like RIOT-OS have tools that do this (See https://github.com/RIOT-OS/murdock-scripts), and I have personally developed non-distributed systems in the past that do what you describe: Integrate some kind of host with some kind of embedded client (either a dev board, unit under test, etc), usually wit

[2018-02-28 00:37] jamesmunns commented on #52
Also paging @jcsoo since he has expertise in this area.

[2018-02-28 07:14] dvc94ch commented on #52
What about CI systems developed specifically for linux distributions?
fedora, nixos, guix all have built their own CI's specifically for testing
the distribution on multiple hardware platforms. Maybe they are too
distribution / linux specific to be adapted to generic / embedded targets,
I don't know.

[2018-02-28 08:17] odlg commented on #39
I am working on a RFM95W/RFM96W lora driver, which are actually based on SX1276/SX1278 modules. So far the driver is going to be without interrupt handling, but that might be added later.

[2018-02-28 11:58] hannobraun commented on #46
You can have pinned repositories for orgs! Might require some specific permission though, I don't know. See screenshot:
![org-pinned-repo](https://user-images.githubusercontent.com/85732/36786542-0750ab1a-1c87-11e8-8b8b-15d380bd00fa.png)

[2018-02-28 13:49] ratkins commented on #13
A question I have is how do I go from knowing about the existence of `embedded-hal`, to running Rust code using those APIs on the microcontroller I have in front of me—whatever that happens to be.

(What I mean is, I as far as I understand there needs to be an implementation of `embedded-hal` for a particular microcontroller/board, what is the canonical source for those? Where do I start if that i

[2018-02-28 15:05] japaric opened #55 "Multitasking models"
(Originally this was issue #45 but that turned into an RTOS only discussion)

Unlike Linux / Windows / *BSD / etc. targets where the OS provides threading support,
there exist no standard way to do multitasking on embedded targets. This means that we
either have to implement a multitasking mechanism ourselves or bind to a C implementation.
There are few different ways to do multitasking:

- [Real

[2018-02-28 15:07] japaric commented on #45
I saw this FreeRTOS [bindings](http://www.hashmismatch.net/libraries/freertos_rs/) on reddit today. I don't know how it maps to what you folks have in mind.

Also, I have turned this issue into an RTOS-only discussion since that's the multitasking model that has been discussed so far.

[2018-02-28 16:09] jamesmunns opened #56 "The Embedded Rust Book"
This is a tracking issue for an official guide to using rustlang on microcontroller targets.

For now, these are the major steps:

- [x] Add a `book/` folder to this repository (until a better home is found)
    - [x] Populate the book folder with an [MdBook](https://github.com/rust-lang-nursery/mdBook) project
- [x] Add some kind of CI to render the book
- [x] Determine where to host the book (po

[2018-02-28 16:11] jamesmunns commented on #13
CC @ratkins @alevy - I would love for you both to weigh in here: https://github.com/rust-lang-nursery/embedded-wg/issues/56 - we are working on determining what should be in the "Embedded Rust Book", and I think you would have valuable input.

[2018-02-28 16:16] jamesmunns commented on #56
Related issues:
#54 - IDE Development Guide
#49 - Material for the revamped website
#22 - Tools you need/want
#12 - Tools you frequently use
#15 - provide real content at rust-embedded domains

[2018-02-28 17:46] japaric commented on #51
Adding to the epoch 2018 milestone as discussed in yesterday's meeting

[2018-02-28 17:46] japaric commented on #50
Adding to the epoch 2018 milestone as discussed in yesterday's meeting

[2018-02-28 18:53] ah- commented on #56
Oh fantastic! I've been thinking about how to document an embedded pet project of mine and it will be super useful to have an up to date book to point to for how to get started with microcontrollers and rust.

Regarding the audience, I could see many people coming from a traditional embedded background being interested, without them having much prior Rust experience.

[2018-02-28 19:11] ratkins commented on #56
If you mean to take an audience survey, I'm in the "confident with µCs, new to Rust" quadrant. I think a significant "market" for embedded Rust is people who like Arduino but have the hump with C++.

I think your points 1, 2 are a fantastic start, and I would consume them voraciously. One of the problems I've faced (and I've seen others mention) is that there *are* a number of "blink an LED with R

[2018-02-28 20:11] andre-richter commented on #56
You are mentioning two points that came to my mind instantly.

1.  Choice of target. Shall the book cover one target it mainly focuses on, or shall it cover multiple targets?
    1. There a lots of good books on programming that take the approach of a constantly evolving project throughout the book. For example, focusing mainly on a Raspberry Pi and guide the reader on a journey from booting up un

[2018-02-28 20:28] ratkins commented on #56
If it's all in Git it can be tagged periodically, with the current-at-the-time versions of Rust/Cargo/etc noted. Should be pretty simple to default the user to the latest version but allow them to select a previous tag relevant to their environment.