[2018-02-28 22:13] ryankurte commented on #13
@alevy agree with your points, to add some further reasons we don't use linux everywhere.
- you can't get a full os in the same form factor
- order of magnitude difference in price (and power consumption, both running and sleeping)
- you need predictable execution / actual real time
- you're building anything against a safety standard (complexity directly corresponds to difficulty and cost)

[2018-02-28 23:20] jcsoo commented on #52
If you just want to plug in dev boards and load stuff onto them as-is, you need to have someone willing to set up and host all of the host systems, CI infrastructure, and physical hardware, not to mention setting up an isolated network and VPN for others to access it. This is all running in someone's office or lab, so it's not a case of running scripts in AWS. Someone will also have to debug these

[2018-03-01 00:36] ryankurte commented on #13
One of the things I am not sure clear on is what's ok / not ok in the `no_std` context, might be a good addition to the faq / book.

[2018-03-01 01:29] ryankurte commented on #52
So for the just CI option as mentioned in your post @jamesmunns, are we really just taking about architecture level like `msp430` or `cortex-m4`?

Because in that case could we create a generic project with some basic internal tests (can we add stuff, do we have working atomics etc., whatever else is important and ) and compile and run them for each architecture in qemu without a whole lot of work

[2018-03-01 02:05] anxiousmodernman commented on #56
Bounced here from Reddit. To quote a comment from there:

Speaking as someone who is the latter, I think what this ecosystem really needs right now are contributions from the former: **experienced hardware developers who want to try Rust**.

In practical terms, that probably means lingering at the lower levels, and teaching good patterns for safe abstractions over `unsafe` code. You really want th

[2018-03-01 13:31] enricostano commented on #56
I would love some content for "new to µCs, new to Rust" quadrant :grimacing:

[2018-03-01 14:37] nordmoen commented on #39
I'm implementing drivers for `HC-SR04` and `VL6180`. The `HC-SR04` driver will initially be married to the `f3` crate because there are no general timers to estimate length of time. Once I have tested a bit with the `f3` I want to try and generalize the needed timers and have them included in `embedded-hal`.

[2018-03-01 21:44] Lakier15 commented on #54
I've been using [IntelliJ IDEA Community](https://www.jetbrains.com/idea/) with the [Rust plugin](https://intellij-rust.github.io/) for almost 9 months. It works really well. Only problem might be the different approach from using the RLS.
I believe that they use their own parsing engine.

What really is lacking, out there, is some form of Rust IDE debugging. [Rust-DT](https://github.com/RustDT/Ru

[2018-03-02 09:56] nallar commented on #54
Debugging in CLION with intellij-rust works.

[2018-03-02 10:11] Lakier15 commented on #54
I thought there were some problems with debugging in CLION.

Anyway, I think CLION is not free. It doesn't have a community edition, so it would not be accessible to everybody equally.

[2018-03-02 10:33] MrBuddyCasino commented on #39
Wanted to make a driver to improve my Rust skills, but it seems there is only an SPI implementation.  Any idea when I2C module will be available?

[2018-03-02 10:37] therealprof commented on #39
@MrBuddyCasino I2C traits do exist and some HALs also have I2C support. Anything specific you think is missing?

[2018-03-02 10:49] MrBuddyCasino commented on #39
No, I just saw an SPI module but no I2C module. Got a link as starting point?

[2018-03-02 11:01] therealprof commented on #39
@MrBuddyCasino See the top comment in this thread?

The `embedded-hal` trait is here: https://github.com/japaric/embedded-hal/blob/master/src/blocking/i2c.rs

Support is available at least for some stm32 MCU and e.g. for the nrf51. Which ones are you trying to use?

[2018-03-02 11:07] MrBuddyCasino commented on #39
Totally missed that, thx. I was referring to https://docs.rs/embedded-hal/0.1.2/embedded_hal/#modules which is what confused me.

I've got some blue pill boards, I'll just try and see.

[2018-03-02 12:38] MrBuddyCasino commented on #39
So I'm trying my hands on the MCP9808 temperature sensor. The I2C sorcery required to read a value is this:

[code]
The Rust I2C trait only lets me do `Read`and `Write` operations, with automatic start and stop commands. But it looks like I need to have control over start and stop commands in order to implement the required protocol. Anyone got an idea? Is there a better place to discuss these iss

[2018-03-02 12:58] MrBuddyCasino commented on #39
The Python I2C module supports start/stop parameters, maybe the Rust HAL could be extended?
This is how they do it:
[code]

Source: https://github.com/adafruit/Adafruit_CircuitPython_MCP9808/blob/master/adafruit_mcp9808.py

[2018-03-02 13:05] kunerd commented on #39
@MrBuddyCasino: It seems, that the read/write functions from the embedded-hal traits accept `u8` Slices, so you should be able to send and receive more then one byte without sending stop commands. Anyhow, a better place to discuss this would be users.rust or the #rust-embedded channel, I think.

[2018-03-02 13:16] MrBuddyCasino commented on #39
I'm not an I2C expert, but start/stop conditions are transitions of SDA while SCL is high, while during regular data transmissions, SDA is only allowed to change while SCL is low and remains stable when SCL is high. So I'm suspect that won't work.

[2018-03-02 17:14] nastevens commented on #48
The friction when integrating C and Rust gets cranked _way_ up when you add cross-compiling to the mix, and 99.9% or more of embedded code is going to be cross-compiled. In addition to documentation of how to deal with different cross-compiling scenarios when integrating Rust with C, it may also be valuable to look at the current state of the art for Rust interaction with things like CMake and see

[2018-03-03 02:28] burrbull commented on #39
@MrBuddyCasino I think you need something like this.
[code]

[2018-03-03 08:14] MrBuddyCasino commented on #39
Thats exactly the code I came up with :)

[2018-03-03 10:20] dvc94ch commented on #43
@therealprof had some success with lldb and stlink. [0]

monitor and load can probably be implemented as python scripts. If someone gets it working with openocd I can probably port lldb to riscv. According to [1] it doesn't seem too involved to get a basic working debugger running and could probably be implemented in a week or two. (gdb keeps segfaulting on me, so I'd be interested in trying a dif

[2018-03-03 10:39] therealprof commented on #43
@dvc94ch The "problem" with lldb is its funny interpretation of the "standard" gdbserver protocol. It'll pretty much only work reliably with it's own counter implementation `lldb-server` but none of the other available tools (e.g. OpenOCD or [Blackmagic Probe](https://github.com/blacksphere/blackmagic)) with the only notable exception being being `st-util` from the [STLink](https://github.com/texa

[2018-03-03 10:46] dvc94ch commented on #43
@therealprof mmh, are not the same people working on it that work on llvm? I got a small patch upstreamed, didn't seem that annoying. I guess it depends on who is actually in charge of the code you want to change? anyway that's a shame...

[2018-03-03 10:48] therealprof commented on #43
Ooh, actually there seems to be movement on the gdbserver protocol support front since I last checked http://lists.llvm.org/pipermail/lldb-dev/2018-January/013078.html .

@dvc94ch There's some overlap. But `lldb` is mostly handled by Apple and Google people.

[2018-03-03 11:19] therealprof commented on #43
Nice, things are starting to move. Google contributes vFlash command support to lldb just a few days back, however it has been reverted due to virtual/physical address confusion. Otherwise I'd had done a quick check of whether the OpenOCD situation has improved.

[2018-03-03 11:20] pftbest commented on #43
@dvc94ch You mentioned msp430 in your comment, did you mean riscv?

[2018-03-03 11:23] dvc94ch commented on #43
Yes, I copy pasted it from the link I mentioned.

[2018-03-03 11:28] pftbest commented on #43
@dvc94ch Interesting, I'll need to check out this msp430 lldb port.

[2018-03-03 13:37] IGBC commented on #56
I think initially targeting the new to rust new to µC's is probably the best option. It includes everyone and readers can skip over paragraphs explaining concepts they are familiar with.

[2018-03-03 14:35] therealprof commented on #56
@IGBC I agree, especially since a developed Rust ecosystem is **far** easier to use than a generic C/C++ ecosystem and specialised/vendor ecosystems may look great and easy at first glance but quite restrictive both in terms of moving to a different vendor and getting things one once you (inevitably) run into the restrictions of the particular choice. Establishing Rust as **the** choice for embedd

[2018-03-05 00:02] dbrgn commented on #39
I started writing a driver for the SHT{21,22,25} temperature/humidity sensors: https://github.com/dbrgn/sht2x-rs

The code is very much inspired by @wose (nice and clean code for the SI7021!). It seems that the SI7021 made their sensor compatible to the SHT2x, correct? I'd suspect that it still makes sense to create a separate driver though (there might be some details that differ?), unless @wose

[2018-03-05 19:27] japaric commented on #25
Closing this as the armv5 target is now in tree. If there's demand for a built-in armv4 target we can open a new issue.

[2018-03-05 19:27] #25 closed

[2018-03-05 20:03] wose commented on #39
@dbrgn I think the SHT2x (and HTUxx) can and should be supported by the si7021 driver crate. Actually, measurements should already work if you're using [this](https://github.com/wose/si7021/pull/2). The SHT and HTU sensors support a subset of the SI7021 features. The heater control (on/off) is controlled by the same bit (bit 2 of the UserReg) for SI, SHT and HTU, but the SI7021 has an additional r

[2018-03-05 21:10] hannobraun commented on #39
@wose

Idea: Create one crate per supported sensor, make their names extremely specific. Have all those crates consist of a single statement that re-exports everything from a weirdly named master crate.

(Not sure myself how serious I am with this suggestion. Seems a bit spammy, but definitely helps with discoverability.)

[2018-03-05 21:15] lnicola commented on #39
Wouldn't `crates.io`/`Cargo.toml` keywords work for this?

[2018-03-05 21:20] hannobraun commented on #39
@lnicola To a degree, yes. But if the crate name is either too general, or specific to a different sensor, then a potential user might be put off on first sight, simply because they don't understand that this is the crate they need.

[2018-03-05 21:26] lnicola commented on #39
@hannobraun The `description` field (and a README) can probably clear things up, as the first is shown in the `crates.io` search results, and the latter is visible on the crate page and most likely in the source repository.

I feel that making a generic crate, then one per sensor would create more confusion.

Anyway, this seems a bit off-topic, maybe we could create another issue for defining some

[2018-03-05 21:34] hannobraun commented on #39
@lnicola

Good idea! Could you open an issue an tag me there? I would do it myself, but I'm on my way to bed right now (and would already be there, if I hadn't left my email client open :-) ).

[2018-03-05 21:48] lnicola commented on #27
There was some concern in #39 about the discoverability of crates supporting compatible, or mostly-compatible sensors. My proposal would be to pick a well-known device in the family, and use the `description` and `keywords` manifest elements to include the others. These should be quite visible in the `crates.io` search results.

I do have one concern, though, about the five keywords limit.

cc @ha

[2018-03-05 21:58] davidtibbetts commented on #39
Great to hear about what everyone is working on! I hope everyone is as excited as I am.
I've pushed my first PR on the stm32f103xx-hal repo ([#56](https://github.com/japaric/stm32f103xx-hal/pull/56)) to support the different flash/ram densities on that chip.  It works, but can be better. This is also a prelude to my plan to tackle stm32f103xx-hal Issue [#37](https://github.com/japaric/stm32f103xx-

[2018-03-05 22:09] kunerd commented on #39
I have finally started to re-factor my HD44780 driver [clerk](https://github.com/kunerd/clerk) to use the traits from embedded-hal. The good news, it was really easy to get it working on STM32 (arm-cortex), without the embedded-hal traits at first. After that I was able to replace my custom `Delay` trait with the one from embedded-hal. If anyone is interested, there is an [issue](https://github.co

[2018-03-05 22:19] davidtibbetts commented on #54
I've had success with VSCode using OpenOCD and STM32 MCUs on Windows.
[launch.json](https://gist.github.com/davidtibbetts/ae8a9ba29f99c1d812d3aeffe20fedee)
[tasks.json](https://gist.github.com/davidtibbetts/9ae8131d9f7e87c62ac064302405c453)

[2018-03-06 09:31] Nemo157 commented on #55
blog post.

Any currently public information on this? I'm currently looking into what is necessary for an ergonomic `futures` wrapper around the `embedded-hal` traits along with all the associated machinery to run them, so knowing what else is being worked on in this space would be very useful.

[2018-03-06 16:12] dbrgn commented on #27
I think it would be better to have crates for the actual device families, even if they're very similar.

So in the case of the SHT2x compatible temperature/humidity sensors, I'd prefer to have separate crates called `si70xx` and `sht2x`. They could both be shims on top of a more generic crate though.

In any case, when I'm looking for a driver for an SHT21 sensor (released in 2009 if I'm not mista

[2018-03-07 00:17] therealprof commented on #39
Just posted a new driver for the I2C based TI INA260 power monitor. It's available here: https://crates.io/crates/ina260

[2018-03-07 04:20] getreu commented on #39
Drivers should be published under the same license as `embedded-hal` and `cortex-m-rtfm` which is:

It is important that the ecosystem grows under the same license! If you agree with me, the question arises if and how we could enforce this?

One way to go: We set up an "official repository" to create an incitement for developers to become part of it. License compliance would be the first condition

[2018-03-07 07:09] thejpster commented on #39
Actually I disagree. The Author of a work must always be free to license
that work in any way they see fit. We can certainly suggest MIT/Apache 2,
for good reasons, but if someone wants to use PD, or BSD, or GPL3, then
that's their choice.

[2018-03-07 07:37] hannobraun commented on #27
For the record, here's what I wrote in the other thread:

@lnicola I think you're not wrong about the description and keywords, and that might be a good way to convey the information in many cases. However, even though the description is visible in search results, it's less emphasized than the crate name.

For someone carefully reading all the search results, the description is a good way to conve

[2018-03-07 08:27] therealprof commented on #39
@getreu I really don't care too much about licensing. I picked 0BSD at some point because it seems to be one of the most liberal licenses out there and explicitly excludes liability which is really the only thing I actually do care about. I absolutely **don't** want to **waste** my time with licensing crap and games, so love it or leave it; or if you really care: take the source and re-release it

[2018-03-07 08:36] therealprof commented on #27
@hannobraun Yes, I think we should definitely have that. There're quite a few pitfalls you most likely will come across when developing a driver and it's very likely others have encountered it before and developed a workaround.

[2018-03-07 08:45] dbrgn commented on #27
@hannobraun yes, such a guide would be fantastic.

[2018-03-07 08:51] therealprof commented on #27
I just noticed that we only have 6 properly tagged drivers on crates.io. 🤔 Seems the situation is even worse than I thought.

[2018-03-07 08:57] getreu commented on #39
*In a professional environment the license is of utmost importance*. When you start a project and choose an ecosystem for embedded development you need to make sure that **all** code and drivers are released under a compatible license.

A common license policy is not only supporting our vision ([To improve the productivity of embedded software development teams](https://github.com/rust-lang-nurser

[2018-03-07 09:03] dbrgn commented on #39
@getreu yes, the use of permissive licenses (which are generally compatible among each other) is important if you want your code to be used by companies. however, whether the library authors use MIT, or BSD, or Apache 2, or a combination of them or something else, should be up to them.

[2018-03-07 09:05] therealprof commented on #39
@getreu Compatible: yes, identical: no. And I absolutely don't get your "Linux" point, are you talking about the kernel or the ecosystem?

[2018-03-07 09:08] MrBuddyCasino commented on #39
Embedded work is often Big Company work, and I've learned they hate one thing: the GPL (even LGPL). Never had issues with the permissive ones, be it MIT / BSD / Apache / Mozilla or whatever, so I don't see the value of enforcing a standard.

So maybe no GPL and a suggested but not required permissive standard license?

[2018-03-07 09:24] wose commented on #27
After thinking some more about this: the amateur embedded developer, the hacker who uses what he has at hand, probably won't know of similarities between his device and some other, which happens to have an embedded-hal-driver implementation. And this is the main target group, right? To make it easier for them it would indeed be best to have a driver per device family, which name does give a clear

[2018-03-07 10:30] getreu commented on #39
@therealprof

@MrBuddyCasino

A license is a legal agreement. Unfortunately "permissive" and "compatible" are no legal concepts. In general when someone assembles code with different licences, he needs to make sure that his usage does not violate *any* of the licences. In other words, you have to comply with *all* of them. This needs to checked against the business model that is subject to change.

[2018-03-07 10:43] MrBuddyCasino commented on #39
Is this something you have experienced or something that you think might be an issue?

[2018-03-07 10:46] getreu commented on #39
If we all agree with:
@dbrgn

... it should not hurt anybody to chose the same than the Rust language and RTFM. A professional user will always prefer a code base with a common simple and clear license policy.

[2018-03-07 10:54] therealprof commented on #39
@getreu As an OSS developer and "professional" user for well over 20 years now I find your authoritative stance rather disconcerting. I deserve the right to publish my code under which ever license I please, especially when it's even clears and simpler than the ones suggested here.

[2018-03-07 11:04] jamesmunns commented on #39
@getreu @therealprof @dbrgn @MrBuddyCasino

Would you mind opening up a separate issue to discuss this? It seems that there are a couple different views here, and it might make sense to discuss that in a single place, rather than on this issue.

[2018-03-07 11:04] thejpster commented on #39
RTFM. A professional user will always prefer a code base with a common
simple and clear license policy.

Open source is about freedom. We should make a recommendation but accept
that it is up to the author to choose who to grant access to their work -
work which we are extremely grateful to them for performing and sharing
with the world.

Yes collecting open source licences is a pain, but having a

[2018-03-07 11:04] getreu commented on #39
@therealprof
Yes, you deserve it!

My claim is that a *coherent*, simple and permissive license policy helps to introduce this project in the professional space.

[2018-03-07 11:08] thejpster commented on #39
Agreed.

[2018-03-07 12:59] getreu opened #57 "Common and coherent license policy for rust-embedded and drivers?"
Drivers should be published under the same license as `embedded-hal` and `cortex-m-rtfm` which is:

It is important that the ecosystem grows under the same license! If you agree with me, the question arises if and how we could enforce this?

One way to go: We set up an "official repository" to create an incitement for developers to become part of it. License compliance would be the first condition

[2018-03-07 13:03] getreu commented on #39
Agreed. I opened #57 and copied my comments there. @thejpster , @dbrgn , @jamesmunns , @MrBuddyCasino , @therealprof : if you could do the same then your arguments will not get lost.

[2018-03-07 13:04] getreu commented on #57
*In a professional environment the license is of utmost importance*. When you start a project and choose an ecosystem for embedded development you need to make sure that **all** code and drivers are released under a compatible license.

A common license policy is not only supporting our vision ([To improve the productivity of embedded software development teams](https://github.com/rust-lang-nurser

[2018-03-07 13:04] getreu commented on #57
@therealprof

@MrBuddyCasino

A license is a legal agreement. Unfortunately "permissive" and "compatible" are no legal concepts. In general when someone assembles code with different licences, he needs to make sure that his usage does not violate *any* of the licences. In other words, you have to comply with *all* of them. This needs to checked against the business model that is subject to change.

[2018-03-07 13:04] getreu commented on #57
If we all agree with:
@dbrgn

... it should not hurt anybody to chose the same than the Rust language and RTFM. A professional user will always prefer a code base with a coherent, simple and clear license policy.

[2018-03-07 13:13] dvc94ch commented on #57
I prefer the ISC because it is shorter and fits nicely at the end of a
README. To my knowledge that allows someone to fork a project I've written,
remove the ISC part from the README and add whatever license they like
(MIT/BSD/Apache/GPL). From a license perspective there are three target
groups:

1. normal people
2. big companies that don't contribute to foss and prefer investing there
money into

[2018-03-07 14:01] MrBuddyCasino commented on #57
I had to provide Excel sheets of dependency licenses that were used in projects of ours multiple times in my career. Only GPL and LGPL gave us trouble, everything else was fine. So I suggest that unless there is actual _evidence_ that the "Very Big Corporation of America" has an issue with this, this discussion is academic. Yes we need to be business friendly, but if some company decides to be unn

[2018-03-07 16:09] nastevens commented on #56
@jamesmunns As this moves forward, please let me know if you want to do anything with the rust-embedded.com, rust-embedded.org, and/or areweembeddedyet.com domains. I parked these a while ago (way too long ago) and would love to see them actually get use. If someone wants to share responsibility for the DNS records themselves I'd be game as well - it'd be good to reduce the bus-factor.

[2018-03-07 16:18] jamesmunns commented on #56
@nastevens that sounds great! I'll keep it in mind. Feel free to shoot me an email regarding the DNS records (its in my profile)

[2018-03-07 16:24] thejpster commented on #57
Actually I disagree. The Author of a work must always be free to license
that work in any way they see fit. We can certainly suggest MIT/Apache 2,
for good reasons, but if someone wants to use PD, or BSD, or GPL3, then
that's their choice.

RTFM. A professional user will always prefer a code base with a common
simple and clear license policy.
Open source is about freedom. We should make a recommen

[2018-03-07 16:31] nastevens commented on #57
Same here. I suggest that it's not as important to _limit_ which licenses can be used as it is to clearly _surface_ the licenses being used. I.e. provide clear instructions on how to show which licenses are being used so that people who need to justify their FOSS usage can quickly gauge if RTFM/drivers/etc. will work for them.

[2018-03-07 16:55] rahul-thakoor commented on #39
I am planning on doing an I2C driver for JHD1313M1 Controller for HD44780-based Displays and an I2C driver for MMA7660FC based 3-Axis Digital Accelerometer(±1.5g)? Is anyone already working on this?

[2018-03-07 17:08] kunerd commented on #39
@rahul-thakoor I don't know how the JHD1313M1 controller works, but if it only uses a non-parallel interface and the same control codes as specified in HD44780 spec, then you could use my driver `clerk` and you only would have to implement a couple of traits (currently three I think).

[2018-03-07 17:21] rahul-thakoor commented on #39
@kunerd Hey thx! I believe you are refactoring the driver to be `embedded-hal`compatible. I will try the implementation for JHD1313M1 controller later on

[2018-03-07 20:17] scowcron commented on #39
I'm working on an ssd1306 driver [here](https://github.com/EdgewaterDevelopment/rust-ssd1306)

[2018-03-07 20:43] therealprof commented on #39
@scowcron Great stuff. I guess you beat me to it and it's much cleaner than my version. Have to check whether I can use my character display on top of it.

[2018-03-07 22:25] scowcron commented on #39
@therealprof thanks, still WIP but it's getting close to 0.1

[2018-03-07 23:20] dbrgn commented on #39
Here's my [MCP3425](https://github.com/dbrgn/mcp3425-rs) driver. It's a low-current 16-bit I²C ADC with an internal voltage reference.

The driver is not yet fully done, so far only one-shot measurements work. I'll have to look into continuous mode, but I'm not actually sure how nicely that's implementable with a blocking API.

By the way, is there a nice way to mock the embedded-hal APIs? I'd lik

[2018-03-08 17:23] cldershem commented on #13
A question I see (and attempt to answer) on most /r/rust embedded threads is, "Can I run Rust on my ESP-8266/32?". Which then inevitably leads to, "How does one write an LLVM backend?" and several other related questions.

In addition to a stock explanation to those questions, I think maybe a simple grid of common chipsets (hobbiest to prosumer), their architecture, and a red/yellow/green color co

[2018-03-08 17:48] cldershem commented on #56
As far as targets audiences go, I think we could take a look at how Rust itself has moved. There is The RPL book (intro/overview of the language), Rustonomicon (advanced/easier to shoot yourself in the foot), and soon to be the Rust Compiler Book (advanced). I'm not suggesting we start out with the idea to write 3 books, but that we think of it in the same fashion.

We've already got Discovery whi

[2018-03-09 11:57] dvc94ch commented on #47
I'm working on adding support for the redpitaya logic analyzer to sigrok/pulsview. I'm considering building an ice40 based test board that hooks up the la channels for the unit test and loads the unit tests via ftdi. Does this sound generally useful? Does this already exist?

[2018-03-09 16:43] kfihihc commented on #56
For RTOS, I recommend [TockOS](https://github.com/helena-project/tock).

[2018-03-09 23:20] japaric commented on #43
Update: LLD is now being shipped with the Rust toolchain. You'll need Xargo v0.3.11 to be able to use it though.

Unfortunately, it doesn't seem to be ready for prime (at least when dealing with ARM Cortex-M). See the issues I encountered in https://github.com/japaric/cortex-m-rt/issues/53#issuecomment-371972935.

[2018-03-10 07:39] japaric commented on #44
@dvc94ch Yeah, you are right the CPU registers have different sizes. Bad example. The linker doesn't like merging i686 objects and x86_64 objects; my flen example would probably be rejected by the linker in the same way.

[2018-03-10 08:35] japaric opened #58 "Embedded WG newsletter #1"
We'll be releasing periodic (biweekly) newsletters (on ~~u.r-l.o~~ https://users.rust-lang.org, unless someone wants to suggest some other medium) about the progress the embedded community is making.

These newsletters are a great chance to:

- Thank old and new contributors for their work :heart:
- Inform the broader Rust community about what we are doing :loudspeaker:
- Bring in new contributors

[2018-03-10 14:22] ah- commented on #57
Maybe even a cargo tool? `cargo license` goes and prints a list of all your dependencies and their licenses?

[2018-03-10 14:29] Nemo157 commented on #57
I have an existing cargo sub command for this [`cargo-lichking`](https://github.com/Nemo157/Cargo-lichking), it may have issues with embedded projects currently since it doesn’t support specifying the target for target specific dependencies; but I’m planning to add that soon since I’m starting to work with Rust on embedded projects.

[2018-03-11 02:04] dbrgn commented on #39
Ok, I finished the implementation of the [MCP3425 driver](https://github.com/dbrgn/mcp3425-rs/). Feedback is welcome. Now I have a few comments and questions about the implementation (exploring the design space). It's probably a bit long, but might be interesting for other driver implementations.

Any feedback is very welcome, since I'm using this driver as a playground to learn to write a device

[2018-03-11 03:52] japaric opened #59 "The embeddonomicon"
### Triage

#### 2018-07-03

Work left to do here:

- [ ] panic_fmt -> #[panic_implementation]
- [ ] flip the structure to start with the "doesn't require unstable features" way to build a no-std binary. The appendix will cover unstable features like start, termination, etc.
- [ ] cover targeting custom targets (not in `rustc --print target-list`): sysroot, Xargo, LLVM relationship.

---

This iss

[2018-03-11 09:48] japaric commented on #39
@therealprof (`ina260`, `mag3110`) @yuri91 (`ili9341`) @dbrgn (`mcp3425`)

Y'all have release a driver crate on crates.io tagged with the `embedded-hal-driver keyword`. If any of you doesn't plan to do a blog post or any other kind of announcement about your driver crate let me know so that I can move your crate to the "Released" list! (see issue description).

@dbrgn I would suggest moving your c

[2018-03-11 11:04] therealprof commented on #39
@japaric No plans to do a blog article on the INA260 alone. I wanted to create an application using the INA260 and the SSD1306 and write a blog article about writing real world applications but this is blocked on a decent solution for japaric/embedded-hal#35.

[2018-03-11 11:57] dbrgn commented on #39
I'll probably do one today.

Done!

[2018-03-11 13:00] yuri91 commented on #39
@japaric Yes, I am planning to do a small blog post (along with a small example application).

I don't have much time these days so it may take a while.

Also I am not 100% convinced about the API to expose for drawing on the screen. I am hoping that using the crate in a project I am working on will help on this.

I guess that you can put it in the WIP section for now (https://github.com/yuri91/il

[2018-03-12 00:54] jdub commented on #59
Happy to help with editing. I'll watch this ticket.

[2018-03-12 14:23] kfihihc opened #60 "Building a series hardware product/module which should be friendly for Rust programmers."
I am newbie with Rust, but i am work on hardware/IoT over 5 years.

Some of my friends, who work on internet company, they don't have hardware background. But still want to try to build some IoT projects.

So I think it should be very interesting if we can provide a series friendly development boards/modules.

I and my friend create an open source Nordic nRF52832 BLE development board: https://git

[2018-03-12 14:26] kfihihc commented on #60
BTW, we were ported [TockOS](https://github.com/helena-project/tock) to nRF52832-MDK which will pull request to TockOS's repo soon.

[2018-03-12 14:51] LinusU commented on #60
Have you seen [the Tessle](https://tessel.io)?

It has support for both JS and Rust ❤️

[2018-03-12 15:00] therealprof commented on #60
@LinusU That's a rather weird device and not quite like what @kfihihc is proposing... If a cheap embedded device with Rust support is needed you can always get a BBC micro:bit.

@kfihihc That's really nifty. I like it. I'm not quite sure what exactly you're looking for though, care to elaborate?

[2018-03-12 16:23] steveklabnik commented on #56
Sorry for taking a while here, @jamesmunns <3

So, I basically agree with what has been said above: the big concerns are "knows Rust vs not" and "knows embedded vs not". I think the two important audience are "knows Rust but not embedded" and "knows embedded but not Rust."

What I would recommend is that you make your primary audience "knows embedded and Rust", with some small caveats. I think up-

[2018-03-12 17:04] kfihihc commented on #60
@LinusU actually, Tessle makes me confuse, and it based on MT7620n(It's MIPS ISA) which different with ARM Cortex-M series chips, MT7620n has MMU that means it can runing an OS, like OpenWRT and not design for IoT.

@therealprof Right now, I just have a simple idea of the hardware stack: main board + extension board.

1. Main board has a unified form factor. So that we can build different main boa

[2018-03-12 17:32] wez opened #61 "Supporting adafruit ATSAMD21 based boards"
I hack on keyboard hardware and firmware in my spare time, and I do it in bursts.  I've previously worked with the nrf52 boards from adafruit and have made contact with @jamesmunns on that front.

I have a few adafruit boards that I'd love to use with rust and I'm willing to help move the ball forwards, but I'm not super sure what to do, in which order, and I'm not sure what the current best pract

[2018-03-12 17:56] wez commented on #40
I'm interested in contributing time on this for the ATSAMD21 boards that adafruit produces (https://github.com/rust-lang-nursery/embedded-wg/issues/61)

[2018-03-12 18:22] kevinmehall commented on #61
I'm interested in this as well, and would have published said `atsamd21_svd` crate already if it were that simple, but `svd2rust` can't handle a few of the features that Atmel uses in their SVDs. I've been meaning to put some time into fixing this, but haven't gotten very far yet.

The biggest missing svd2rust feature, register clusters, just landed (japaric/svd2rust#107), but I haven't had a chan

[2018-03-12 18:30] therealprof commented on #61
What @kevinmehall said. I've written code for the ATSAMD20 a while ago (https://github.com/therealprof/atsamd20e15a) to support https://github.com/LuckyResistor/SnowFlakeProject so I might be able to help out with a few bits and pieces. However that MCU is so quirky, the documentation incomplete and utter crap and the a community pretty much non-existent so I don't want to sink a lot of time there

[2018-03-12 18:59] cyplo commented on #56
I would love to help editing and proof-reading or trying to follow examples, if needed. I have some prior experience (AOSA books)

[2018-03-12 20:16] therealprof commented on #60
@kfihihc There's some more "standards" you could use, like "Arduino Nano", used by Arduino Nano and e.g. Nucleo-32 board (e.g. https://os.mbed.com/platforms/ST-Nucleo-F042K6/). The last one you've provided a picture for is, I believe, the Teensy. Then (if you don't mind larger) there's ST Morpho, and of course Arduino.

Last but not least you could also do PMOD.

[2018-03-13 01:04] wez commented on #61
FWIW, I just ran svd2rust; https://github.com/japaric/svd2rust/issues/191 is the only hard error I get with svd2rust master at the moment.  There are also warnings about overlapping registers for `pmux` and `pincfg`.

[2018-03-13 02:00] kfihihc commented on #60
@therealprof PMOD? You means this: https://store.digilentinc.com/pmod-modules/ ? It seem like Seeed's Grove modules but more flexible.

Also there are some other connectors, like https://www.littlebits.cc, but it's too expensive for development boards. Arduino-like form factor maybe the best choice right now.

BTW, Particle's Photon has a nice example.
![](https://www.particle.io/static/Photon-wo-

[2018-03-13 02:27] RandomInsano commented on #39
Is there a meta HAL over top of the Linux device tree? I wrote a driver for the PMIC chip in the Next Thing Co.’s C.H.I.P. that should be easy to port. It makes use of a port of WiringPi.

It’s definitely a different world that real embedded, but I think given a possible abstraction it could work in both.

[2018-03-13 02:29] RandomInsano commented on #39
Derp:
https://github.com/japaric/linux-embedded-hal

I’ll give it a read this weekend.

[2018-03-13 04:38] tannewt commented on #61
I work for Adafruit on [CircuitPython](http://github.com/adafruit/circuitpython) and would love to see Rust support. I work with the SAMD21 and SAMD51 day-to-day and would be happy to answer any questions. It'd be awesome to produce UF2 files for easy loading with our bootloader.

Also, if anyone needs hardware, let me know (scott@adafruit.com) and I'll see what I can do (no promises). The Metro i

[2018-03-13 08:29] therealprof commented on #60
@kfihihc Yes, that PMOD. Very popular with the FPGA crowds.

Almost forgot: MikroBUS is also very popular: https://www.mikroe.com/rs/mikrobus

[2018-03-13 14:15] kfihihc commented on #60
@therealprof Well, MikroBUS seems very good. Thanks for suggestions.

Let me try to build some prototyping, and i will update here later.

[2018-03-13 14:57] rahul-thakoor opened #62 "Building a high level library for embedded-hal compatible drivers"
I released a crate- [rust_gpiozero](https://crates.io/crates/rust_gpiozero) which is a Rust implementation of the python [gpiozero](https://gpiozero.readthedocs.io/en/stable/) library.

The idea of having such a library is to get more people started with the Rust programming language through physical computing. Also, having a similar API to the original [gpiozero](https://gpiozero.readthedocs.io/e

[2018-03-13 22:51] dbrgn commented on #39
@japaric here we go: https://blog.dbrgn.ch/2018/3/13/rust-mcp3425-driver/

[2018-03-14 09:35] japaric commented on #39
@dbrgn awesome, thanks!

I have updated the released list: the [ENC28J60], an Ethernet controller with SPI interface, is driver 4 and @dbrgn's MPC3425, a 16-bit ADC, is driver 5.

[2018-03-14 11:10] japaric opened #63 "Stable assembly operations"
### Triage(2018-08-21)

A pre-RFC discussing what should go in `core::arch::arm` have been opened in #184

### [Update - 2018-07-27](https://github.com/rust-lang-nursery/embedded-wg/issues/63#issuecomment-408329142)

Intrinsics like `__NOP` are now available in [`core::arch::arm`](https://doc.rust-lang.org/nightly/core/arch/arm/index.html). Path towards stabilization is being discussed in https://

[2018-03-14 12:03] gnzlbg commented on #63
Is there any sequence of instructions for which a single call to an `asm!` macro containing the whole sequence is not equivalent to a sequence of `asm!` macro calls with one call per instruction?

[2018-03-14 12:20] nagisa commented on #63
I’ve always been a strong proponent of the "intrinsic" functions that map down to a single instruction. For example, instead of writing `asm!("cpsid" ...)`, you’d call the function that would do the same, look the same and behave mostly the same as the `asm` call. Not only it is harder to mess up using these intrinsics, but compiler also gets more information about the code.

Of course they have t

[2018-03-14 12:21] nagisa commented on #63
@gnzlbg yes, compiler is free to insert whatever code it wishes between the separate `asm!` statements to satisfy the constraints. For example it could decide to spill and reload the registers between two `asm!` calls.

[2018-03-14 12:27] japaric commented on #58
More stuff:

- @japaric has [released][1] the fourth weekly driver for the [`enc28j60`], an Ethernet controller
  with SPI interface.

[1]: http://blog.japaric.io/wd-4-enc28j60/
[`enc28j60`]: https://crates.io/crates/enc28j60

- @dbrgn has [released][2] the fifth weekly driver for the [`mcp3425`], a 16-bit ADC with I2C
  interface.

[2]: https://blog.dbrgn.ch/2018/3/13/rust-mcp3425-driver/
[`mcp34

[2018-03-14 13:26] gnzlbg commented on #63
Thanks @nagisa that makes sense.

So my opinion is that it only makes sense to do this after we have stabilized inline assembly, which kind of defeats the point of doing this in the first place.

IIUC the idea behind this is that if we expose the hardware ISA via intrinsics then nothing will break if LLVM changes the syntax or semantics of inline assembly because we will be able to fix this in cor

[2018-03-14 14:04] dbrgn commented on #39
I can't wait for someone to implement a driver for the BCM43362 WiFi chip :) That would give us WiFi support on Particle boards: https://www.particle.io/products/hardware/photon-wifi

[2018-03-14 14:08] nagisa commented on #63
The intrinsics would be implemented in the backend, rather than libcore. While it is true, that it would increase burden when upgrading a backend, it wouldn’t be any greater than the burden of adapting whatever we stabilise as our inline assembly implementation.

[2018-03-14 14:09] nagisa commented on #63
With volatile assembly statements, the "code" would be limited to code that would be necessary to satisfy the constraints of the `asm!` statements. So, I think just moves from and to memory.

[2018-03-14 20:08] dvc94ch commented on #63
why can't global_asm! be stabilized? Isn't that just like an external assembly file?

for riscv it would be quite a few intrinsics I believe. this is what I'm doing to r/w csr regs:

[code]
the $csr value isn't an operand that can be loaded from a register, so there would need to be an intrinsic for each csr.

[2018-03-14 21:43] jcsoo commented on #63
For reference, here is ARM's C Language Extensions 2.0 document:

[ARM® C Language Extensions Release 2.0](http://infocenter.arm.com/help/topic/com.arm.doc.ihi0053c/IHI0053C_acle_2_0.pdf)

I believe these were implemented by ARM's in-house compilers and by GCC according to this page: [6.59.7 ARM C Language Extensions (ACLE)](https://gcc.gnu.org/onlinedocs/gcc/ARM-C-Language-Extensions-_0028ACLE_00

[2018-03-15 01:01] japaric opened #64 "List of `#![no_std]` issues"
This is a list issues related to `#![no_std]` that embedded developers tend to encounter in
practice. The main goal of this ticket is to make the portability WG aware of these issues.

1. There are a lot of ergonomics issues and papercuts related to the use of `#![no_std]`. #26 goes
   into detail but to summarize the main problems:

- Adding `#![no_std]` to a crate doesn't mean it doesn't depend

[2018-03-15 01:53] Ericson2314 commented on #64
I'm pro-facade. With, that, the solution looks like having these libraries always be `!#[no_std]` and just optimally `extern` `alloc` or `std`. After that, the main ergonomics problem is prelude management.

Cargo's `[patch]` should be able to remove a create, just as it can add more or override ones. Then with stdlib-aware cargo we can ban `std` from a workspace root.

There is a general problem

[2018-03-15 02:26] japaric commented on #13
A question I see often on IRC, and I also get private e-mails about, is e.g. "My Rusty binary file is 200KB in size but my microcontroller only has 64 KB of Flash. How will this work? On Arduino I get files of 2KB in size. Am I doing something wrong?".

The issue is that people are looking at the output of running `ls` on an ELF file, when they should instead by using the `size` program. On Arduin

[2018-03-15 06:19] wez commented on #61
https://github.com/wez/svd2rust/tree/derivedFrom and https://github.com/wez/svd/tree/altreg are the current state of my svd changes (including @nsabovic's https://github.com/japaric/svd2rust/pull/190).

With that build I can generate the atsamd21 svd with no warnings, with unions for the overlapping portions and with `PMUX1_%s` correctly derived.  I need to try to use the results in some real code

[2018-03-15 07:58] jamesmunns opened #65 "Embedded WG newsletter #2"
Placeholder for the next Embedded-WG Newsletter, planned for 2018-03-29

Feel free to add suggestions for:

* Highlights
* Embedded Projects/Blog Posts
* Thanks
* Help Wanted

[2018-03-15 08:07] thejpster commented on #64
As a concrete example, I wanted a Duration type in my measurements crate
but it's in std, not core. I tried the time crate, but that depends on libc
which isn't no_std unless you give it a flag. It compiles and tests pass on
my PC, but it doesn't build for ARM with Xargo.

On 15 Mar 2018 01:53, "John Ericson" <notifications@github.com> wrote:

[2018-03-15 08:18] japaric commented on #64
@thejpster

[`core::time::Duration`](https://github.com/rust-lang/rust/blob/5ebf74851d685f75abec7ef4e805f75fc301460c/src/libcore/time.rs#L63). I don't know since when it's been there but since it's unstable (at least until 1.25 is released) so it doesn't show up in https://doc.rust-lang.org

[2018-03-15 09:00] therealprof commented on #64
@japaric Do the problems with compile time sized stack objects count? I hope (but am not sure) that const generics will be sufficient to address the problem that it is currently very unergonomic and cumbersome (via `Unsized` hacks) to reserve some (at compile time) known amount of space in objects. Not to mention the somewhat costly runtime bound checks.

In my humble opinion this could eliminate

[2018-03-15 12:04] jamesmunns commented on #58
Closed by #66.

[2018-03-15 12:04] #58 closed

[2018-03-15 15:19] Ericson2314 commented on #43
So there's a little known feature of binutils that you can configure it with `--enable-targets=all` and then it is also mutli-target! Or rather, every tool is except for GNU Assembler, but we don't use that anything. Perhaps we should also distribute this, at least as a stop-gap until `lld` has platform parity?

[2018-03-15 15:43] therealprof commented on #43
@Ericson2314 That feature is close to useless:
[code]

[code]

Of course one could make it work by hardcoding all possible tables into understood triplets ...

[code]

[2018-03-16 15:50] wez commented on #61
I've created https://github.com/wez/atsamd21-rs to hold the svd2rust generated bits as well as the hal bits that I'm going to be looking at this weekend.  It requires the changes that I've submitted as PRs to `svd2rust` to generate the underlying peripheral access crate(s).   I've included just the ATSAMD21G18A for now as that matches the hardware I'm going to test with.

I'm not sure if the curre

[2018-03-16 20:06] Ericson2314 commented on #43
@therealprof passing flags is a lot less cumbersome than building new tools! Besides, I'm not even sure coming clean about the ambiguity is the wrong approach if the alternative is some some flawed heuristic. `ld` or `lld` in build scripts should be passed flags anyways.

[2018-03-16 20:15] therealprof commented on #43
I don't remember the llvm tools being even as close as picky as the gcc/binutils stuff and at least for ARM it just works:

[code]

But I'm certainly the last to complain if you can make the GNU binutils work...

[2018-03-16 21:12] Ericson2314 commented on #43
@therealprof don't get me wrong, the LLVM ones are definitely better. (Certainly in your example above, the exact `littlearm` variant doesn't matter for calculating the size.) I was just trying to point out how progress can be made on distributing complete multi-target tools before `lld` is "finished".

[2018-03-16 22:10] kunerd commented on #47
One thing I have done some research on, in the past, is unit testing on the target. The opinions differ on that one, because most of the times the effort outweighs the benefits, but often that's the only reason that stands against it. So, I think it would be a good idea to keep that in mind while working on testing tools. With the help of traits, macros and maybe also compiler plug-ins it should b

[2018-03-17 01:42] ah- commented on #40
I've now got simple USB with enumeration and HID input working on an STM32L1: https://github.com/ah-/anne-key/tree/master/src/usb

It's still pretty rough, but it works. Will clean it up over the next few days.

[2018-03-17 07:39] dylanmckay commented on #63
I've taken a look over the full instruction set listing, here's what stands out

Assembly operations that are often required for nontrivial programs:

* `cli`/`sli` instructions to globally enable or disable interrupts

Somewhat more obscure stuff:

* If watchdog timers are enabled by the programmer, the `wdr` instruction to be executed regularly otherwise the chip will immediately reset. WDR is s

[2018-03-17 07:55] dylanmckay commented on #44
@japaric

A brief glance shows the `std::atomics` types use LLVM intrinsics.

The AVR backend implements the usual atomic load/store/add/sub operations, but not RMW operations like compare-and-swap. Currently it tells LLVM to expand these intrinsics into compiler runtime library calls. These would have to be implemented in `compiler-rt`, which doesn't officially support AVR outside of forks.

The

[2018-03-17 10:25] gnzlbg commented on #63
`stdsimd` does offer some `v7` and `v8` intrinsics, at least `rev` and `rbit`.

[2018-03-17 17:03] danielgallagher0 commented on #39
I'm getting ready to publish my [HTS221 driver](https://github.com/danielgallagher0/hts221). I'll hopefully have it on crates.io later today, and have a blog post ready to go early next week.

I also have [SPBTLE-RF](http://www.st.com/en/wireless-connectivity/spbtle-rf.html) Bluetooth and [SPWF01SA](http://www.st.com/en/wireless-connectivity/spwf01sa.html) WiFi modules on hand, which I'll try to s

[2018-03-17 23:57] jamwaffles commented on #39
@japaric @therealprof @scowcron so this is awkward... I've been writing my own [SSD1306 driver here](https://github.com/jamwaffles/ssd1306). Some stuff inspired by @scowcron (thanks for the hard work in `cmd.rs`!), but the driver takes a bit of a different direction with support for an accompanying [embedded_graphics crate](https://github.com/jamwaffles/embedded-graphics) (unpublished, quite a few

[2018-03-18 08:38] therealprof commented on #39
@jamwaffles Nice one! So it seems we have 3 different SSD1306 drivers in the works, all based on common principles but with a slightly different intent, yours provides an buffered interface for `embedded_graphics`, @scowcron provides a buffered interface direct drawing and primitives while mine works unbuffered as a character display.

It seems to me like we could easily join forces to provide one

[2018-03-18 08:48] thejpster commented on #39
I have the same problem with my VGA simulator for Monotron.

It's probably worth starting a new thread to talk about graphics HALs to
see if we can come to some consensus. This should probably include a text
mode API and a graphics mode API. You can implement the former on the
latter with a text renderer, but the latter uses more RAM (unless you have
an off-chip framebuffer). There's further scope

[2018-03-18 09:58] therealprof commented on #39
@thejpster That'd be certainly a good idea. I think the main issue at hand with the SSD1306 driver is the name clash though.

[2018-03-18 13:25] japaric opened #68 "Awesome embedded Rust: A curated list of embedded crates"
We have list of embedded / no-std crates in #12 and #39 but, for example, the first list is not currently being maintained. Both lists should be reviewed to ensure that the crates in the lists (a) still work and (b) are being maintained. The lists could also make use of some categorization: data structures, device crates, drivers, etc.

So I propose we create an awesome-embedded repo like [this on

[2018-03-18 13:29] jamwaffles commented on #39
@therealprof I thought I saw a third one on my internet travels! I think it's worth mentioning that my driver doesn't _require_ `embedded-graphics`, but does implement the `Drawing` trait from it. The embedded graphics crate is designed around iterators, negating the need to have any buffered storage in the embedded graphics crate itself. It would be great to see where people would like it to go.

[2018-03-18 16:45] therealprof commented on #68
@japaric Yes, I'd be interested in maintaining such a list but my website chops are rather limited.

[2018-03-18 16:54] therealprof commented on #39
@jamwaffles I'm aware and a big fan of iterator interfaces since this I think that the incredibly efficient and powerful iterator support in Rust is a if not **the** killer feature.

I'd be happy to support the merge of the features into your repo but I'd like to hear @scowcron's opinion before committing to any activity. My code doesn't exist as a freestanding driver at a moment but is scattered

[2018-03-18 18:31] nastevens commented on #68
@japaric Definitely onboard to have the list on rust-embedded org. Maybe just call the repo `awesome-embedded-rust`?

@therealprof I think these lists are usually just managed as Markdown files rendered directly in-repo, so no website chops needed

[2018-03-18 18:53] therealprof commented on #68
@nastevens The list is certainly a good start but the approach lacks in dimensionality to capture the complexity of the topics. I think we should be able to provide at the very least (actually depending on the type of the subject, i.e. peripheral access, HAL implementation, BSP, driver):
- Name
- Type
- Short description
- Crates.io name
- Repository
- State of the implementation
- Location of the

[2018-03-18 19:55] MrBuddyCasino commented on #39
Published my little driver: https://crates.io/crates/mcp9808

I did not use the command pattern that other drivers have chosen, because a single I2C transaction can mean multiple "commands". Its modeled around a generic register abstraction that knows how to read and write from the bus and offers some common methods like setting bits. Operations on specific registers are provided via associated tr

[2018-03-18 20:13] jamwaffles commented on #39
@MrBuddyCasino Looks good! I think the command structure works for the SSD1306 crate as it's not a transactional peripheral. It looks like the MCP9808 does a bit more with its interface so what you did makes sense to me. It would be useful to add an `example/` just to expand on the code in the readme a bit.

[2018-03-18 20:18] MrBuddyCasino commented on #39
Thanks! You're right that I need more documentation and examples. I should also probably use the byteorder crate for the two-byte registers, because bits twiddling is a little awkward right now.

[2018-03-18 21:33] wez commented on #39
I'm just sitting down to see how difficult it might be to write a neopixel driver for the unit onboard the adafruit Metro M0 board.  I also have a short neopixel strip hanging around somewhere.

[2018-03-18 21:47] therealprof commented on #39
@wez I was about to say: As soon as you have the clocking set up you should be able to use a timer interrupt to get the precise timing and bitbang your way. Preferably you'd look into finding a SERCOM mode that'll provide appropriate communication. For one LED only you might also be able to use DMA but you could run into issues with the data length when trying to use long strips of LEDs.

[2018-03-18 21:47] MrBuddyCasino commented on #39
@wez which route you're planning to go? I guess DMA-driven SPI? Good luck!

[2018-03-18 22:02] wez commented on #39
Heh, I just saw the sea of `nop`s in one library implementation.  I'd like to think that we can do better.  My high level game plan before having done any real reading or writing; consumer provides either a `heapless::Vec` or plain array to buffer the pixel/color data (potentially make the driver generic over that sized buffer).  I'd like to make it possible to use DMA if available.  I need to rea

[2018-03-19 11:48] rahul-thakoor commented on #39
@japaric I have a started working on a driver for MMA7660FC 3-Axis Accelerometer(±1.5g) to interface via I2C [here](https://github.com/rahul-thakoor/mma7660fc). Can you please add it to the `WIP` list? I would love to get some feedback from the others also since I am a newbie. Thanks!

[2018-03-19 11:59] jamwaffles commented on #39
@MrBuddyCasino Thanks for pointing that out, I was playing around with CoinHive a while back and forgot to remove it! It's gone now :)

@therealprof Sweet! @scowcron what do you think of therealprof's [last comment](https://github.com/rust-lang-nursery/embedded-wg/issues/39#issuecomment-374015587)? :)

[2018-03-19 12:58] ilya-epifanov commented on #39
Ok, I've added some docs to the https://github.com/ilya-epifanov/si5351. It's been on [crates.io](https://crates.io/crates/si5351) for a while, now docs on [docs.rs](https://docs.rs/si5351/) seem to have all the necessary information to use the driver.

[2018-03-19 13:12] therealprof commented on #39
@ilya-epifanov Would mind adding some more context to your repo (e.g. description and README.md) to make it a bit easier to figure out what the si5351 is? Something simple like the crate description would be fine.

[2018-03-19 14:57] scowcron commented on #39
@jamwaffles @therealprof by all means yes, let's try and work together and build something that's agreeable to all parties involved. Feel free to pull bits and pieces from my code, license permits it.

ditto

I haven't read through @jamwaffles driver yet, but i'm happy to see that it supports both i2c and spi. the README suggests that it's for RTFM, is that a requirement?

No objection, let's cont

[2018-03-19 15:25] JohnDoneth commented on #39
I have a working AT over SPI implementation for a NRF51 BLE chip I was using in my spare time for a Raspberry Pi. Is there a BLE trait somewhere I can get started with or someone can help me with the design of a BLE trait so I port my code over?

[2018-03-19 16:35] jjmilburn commented on #56
STM32 development is primarily my bread-and-butter, but I've followed the Rust project with interest for a while.  I'm excited about this project.

One section that might be of interest is understanding how Rust fits in vs. Ada/SPARK and Frama-C, understanding the differences between provable code and embedded Rust, etc.

[2018-03-20 04:04] RandomInsano commented on #39
Pushed my code up today.

AXP209 - @RandomInsano - Power Management Unit (I2C)

Docs non-existant, and it's a complex chip. I'm going to implement some of the safer functions I want to make use of, then make sure the docs are awesome instead of going for 100% compatibility.

[2018-03-20 04:18] danielgallagher0 commented on #39
Intro blog post is up for [HTS221](https://medium.com/@pdanielgallagher/hts221-humidity-and-temperature-sensor-88056ea9e5fa). I'd love to get feedback on the API, documentation, etc., and have it included as a weekly driver.

[2018-03-20 09:08] jamwaffles commented on #39
@danielgallagher0 I really like the builder pattern! It's something I've been wanting to expand on in the [SSD1306 crate](https://github.com/jamwaffles/ssd1306/blob/master/src/builder.rs). I found the code sample in your blog post a bit confusing though; why does the user need to `impl hts221::I2C for I2C`? It would be really good to have one or two `example/`s in the repo too, and maybe a quick t

[2018-03-20 16:18] danielgallagher0 commented on #39
@jamwaffles Yeah, I'm not too happy with that either, but that seemed like the best option of the ones I [explored](https://medium.com/@pdanielgallagher/a-tale-of-two-traits-774656af1c4f). Essentially, I am returning errors from the underlying I2C calls, but those come from either the Write or WriteRead traits, and I couldn't find any way to tell the compiler that Write::Error == WriteRead::Error.

[2018-03-20 16:24] MrBuddyCasino commented on #39
Yeah those error generics are a bitch, I basically looked how other HAL crates did it and copied their approach.

[2018-03-20 16:39] jamwaffles commented on #39
@danielgallagher0 Nice post, explains your thought process nicely. I'm not a Rust expert either, but...

Taking the [STM32F30x HAL crate](https://github.com/japaric/stm32f30x-hal) as an example, the I2C interface object [already implements `Write` and `WriteRead`](https://github.com/japaric/stm32f30x-hal/blob/master/src/i2c.rs#L180-L287), and other HAL crates will/should as well. You should just b

[2018-03-20 16:47] danielgallagher0 commented on #39
I tried that, the problem is returning an error from a function that uses `Comm` as both `Write` and `WriteRead`:

[code]

I took a look at what @MrBuddyCasino did in [mcp9808](https://docs.rs/crate/mcp9808/0.1.0/source/src/lib.rs), and I think the following should work:

[code]

I'll give that a try tonight.

[2018-03-21 10:27] berkus commented on #68
JFYI, community maintains https://github.com/berkus/awesome-embedded-rust/

[2018-03-21 20:15] japaric commented on #59
I've put up a first draft for the [embedonomicon]. I have not proofread it so expect typos and
grammatical errors. It's also probably missing detail in some areas but at least it have all the
topics I wanted to cover.

[embedonomicon]: https://github.com/japaric/embedonomicon

@jdub Thanks for volunteering; I've added you as a collaborator. Feel free to fix typos and the
like, and to open issues r

[2018-03-21 20:17] japaric commented on #59
Also how to maintain this document. Sadly `mdbook test` doesn't work with `no_std` programs, much less with one that requires a non-standard linking process.

[2018-03-22 00:40] ryankurte commented on #59
@japaric this is really neat!

wrt. where to put it, how about at rust-embedded/docs or similar? That way it'll be accessible as a subdirectory of rust-embedded.org and maintainable as part of the rust-embedded project.
And it's reasonably easy to setup travis-ci to auto build the docs from master into a clean branch to serve up.

[2018-03-22 03:39] danielgallagher0 commented on #39
Update: adding PhantomData worked perfectly. Thanks @jamwaffles and @MrBuddyCasino! I've updated the example on the [blog](https://medium.com/@pdanielgallagher/hts221-humidity-and-temperature-sensor-88056ea9e5fa) and uploaded v0.1.1 to crates.io, with some simple examples.

[2018-03-22 07:50] japaric commented on #42
As I was writing the embedonomicon (cf. #59) I explored the possibility of making embedded no-std
binaries work on stable Rust. I know that's not quite possible today so I started by just drastically
reducing the number of unstable features required to build a *functional* (not minimal) no_std
binary. The result was [this repo].

[this repo]: https://github.com/japaric/stable-embedded-rust

The co

[2018-03-22 10:55] SimonSapin commented on #39
I wrote a bare minimum driver for the DS3234 (SPI real time clock). It’s not in a dedicated repository because I’m not interested in making it a project maintained over time. Anyone feel free to take it further.

Not super useful with a Blue Pill which also has an on-board RTC+crystal, but it’s what I had lying around.

https://learn.sparkfun.com/tutorials/deadon-rtc-breakout-hookup-guide
https://

[2018-03-22 12:53] japaric opened #69 "The binary size - performance tradeoff"
As of the latest LLVM upgrade (4.0 -> 6.0 on 2018-02-11) LLVM seems to now perform loop unrolling more agressively; this increased the binary size of a [minimal] program that only zeroes .bss and initializes .data from 130 bytes .text (nightly-2018-02-10) to **1114** bytes (nightly-2018-03-20) when using opt-level=3 + LTO -- FWIW, I highly doubt the loop unrolling actually improves performance at

[2018-03-22 15:41] chocol4te commented on #39
I’m working on a TI CC1101 driver. Does anyone have any advice for how it should be structured? I’m new to Rust and I want to be always ready to receive packets when not transmitting, do I need to set up interrupts for this?

Thanks :)

[2018-03-22 17:26] pcein commented on #39
@japaric I have started working on a driver for the PCD8544 lcd controller found in common displays like the Nokia 5110. https://github.com/pcein/pcd8544. It will be great if this can be added to the work-in-progress list. Thanks!

[2018-03-22 17:32] thejpster commented on #39
for the PCD8544 lcd controller found in common displays like the Nokia
5110. https://github.com/pcein/pcd8544. It will be great if this can be
added to the work-in-progress list. Thanks!

I have a C library for that chip, if it helps, at
https://github.com/thejpster/robot/blob/master/src/lcd/src/lcd.c.

If I can dig out my old PiWars robot, I'd be happy to give the driver a try
on a Raspberry Pi.

[2018-03-22 17:40] MrBuddyCasino commented on #39
Nice, the ESP8266 AT one will be very welcome.

[2018-03-22 18:06] pcein commented on #39
Thank you! The C library will be of great help as I have very little
idea of how to structure graphics display drivers.

[2018-03-22 18:13] jamwaffles commented on #39
@rahul-thakoor I'd be interested in collaborating on the ESP8266 if you were open to that. I started writing a driver a while back but couldn't get past the serial DMA stuff.

@pcein It would be great if you considered using/expanding the [`embedded_graphics`](https://github.com/jamwaffles/embedded-graphics) crate I've been working on! Having an embedded graphics library that works with any displa

[2018-03-22 18:19] rahul-thakoor commented on #39
@jamwaffles I would be happy to since I am still waiting for my stm32 board I ordered on aliexpress! Any clue on how we can get started?

Anyone trying to implement hal::serial for linux-embedded-hal? would that be useful?

[2018-03-22 18:35] jamwaffles commented on #39
@rahul-thakoor I've got a Blue Pill sitting on my desk and a pile of ESP8266-01 modules to break 😁. I've got a very minimal repo [here](https://github.com/jamwaffles/esp8266-driver) if you want to hack on that. As for drivers, looks like linux-embedded-hal is pretty dormant.

[2018-03-22 18:42] rahul-thakoor commented on #39
@jamwaffles I need to figure out RTFM. I will contribute to adding the AT Commands as you go along and perhaps port the code to work with Sigfox module if you don't mind?

[2018-03-22 22:01] thejpster commented on #42
Just wanted to say, I read through this and it's excellent. Great work! Can't wait to apply some of these changes to stellaris-launchpad.

[2018-03-23 02:41] pcein commented on #39
On Thu, Mar 22, 2018, at 11:14 AM, James Waples wrote:

Thanks for the information about the embedded-graphics crate! I will
definitely look into it!

Links:

  1. https://github.com/pcein
  2. https://github.com/jamwaffles/embedded-graphics
  3. https://github.com/jamwaffles/ssd1306/blob/master/examples/graphics.rs
  4. https://github.com/jamwaffles/ssd1306/blob/master/examples/image_i2c.rs

[2018-03-23 14:41] therealprof commented on #69
FWIW: I think funky stuff like unrolling (which is really worthless on embedded architectures) is to be expected to be done at higher optimisation levels and I've seen all kind of funky size regressions. I'm always using (and recommending) `-s`.  Potentially `-z` could also be tried, but `-O3` is a big nono...

[2018-03-23 15:17] therealprof commented on #69
NB: I highly doubt that. As soon as one uses some the initialisation code from some of the typical SDK the code will be well in the kBs already. To even stay in Rusts range you'll have to manually bang the memory mapped registers and write your own linker scripts.

Case in point, this is the smallest possible binary for a `main { while(1) {} }` loop for the STM32F051 I could achieve with based on

[2018-03-23 15:19] Emilgardis commented on #69
Could we get a RFC for something like `#[no_unroll]`/`#[unroll(disable)]`?

[2018-03-23 15:20] whitequark commented on #69
@Emilgardis No need for an RFC, marking the function with the loop as `#[cold]` should suffice.

[2018-03-23 15:24] whitequark commented on #69
The inlining thresholds in LLVM are tailored for C, which produces functions with relatively compact IR, and likely aren't well suited for Rust. In our in-house language we had to raise them significantly to get decent reductions in code size.

[2018-03-23 15:26] Emilgardis commented on #69
@whitequark I've never heard of that attribute, seems like it should work however.

[2018-03-23 15:28] therealprof commented on #69
@jonas-schievink I can not confirm that it produces larger files with opt-level=s, at least not in general. This all has quite a bit of premature optimisation smell to it, same as with the `#[inline(always)]` we had sprinkled all over the map...

[2018-03-24 13:42] RandomInsano commented on #69
The choice to unroll or not should be at the LLVM layer. With the Linux HAL I could very well want loop unrolling if my x86_64 machine was using a driver over the SMBus.

Is it possible for the LLVM backends to automatically opt-out when appropriate?

[2018-03-24 14:31] pftbest commented on #42
I have ported this repository for MSP430. ([link](https://github.com/pftbest/stable-embedded-rust/commit/6e5c5fd1b5273934f65c4e31d71e338a35c549b8)) There are a couple of things that I learned in the process:

1) MSP430 requires one more `#![feature(abi_msp430_interrupt)]`, which will never be on stable. The alternative is a costly wrappers for each interrupt written in assembly. See https://github

[2018-03-24 15:58] therealprof commented on #42
@pftbest Yeah, `fmt` is a real pig. But I'm curious why `write_str()` is so inefficient, or do you meant print a string using a `fmt`?

[2018-03-24 16:14] pftbest commented on #42
[writeln!](https://github.com/pftbest/stable-embedded-rust/blob/msp430/examples/asm.rs#L15)

[2018-03-24 16:19] therealprof commented on #42
@pftbest Yeah, that's using `fmt`. I wouldn't do that. `write_str()` is a hell lot more efficient, even if you have to use it twice to add the newline...

[2018-03-25 13:18] dbrgn opened #70 "Mocking of embedded-hal"
What's the best way to test embedded-hal drivers without actual hardware access?

I think a "mocked" implementation of the embedded-hal traits would be very useful. I started with I2C and Delay:

https://github.com/dbrgn/embedded-hal-mock

The goal is to provide functions to mock certain outcomes:

- Set the data that will be read by an I2C device in advance
- Set an error that will be returned wh

[2018-03-25 14:01] jamesmunns commented on #70
@dbrgn awesome! We were actually just talking about this in the wg. I'll take a more detailed look later!

CC @japaric and @jcsoo

[2018-03-25 14:12] dbrgn commented on #70
What I noticed when trying to write a few tests is that it's not possible to reconfigure the mock if you pass it into a driver by-value.

This probably ties into https://github.com/japaric/embedded-hal/issues/35

Right now I'm simply creating a new driver instance every time I want to change the return value:

https://github.com/dbrgn/sgp30-rs/blob/0b8d54fd34bbee2ac79258982b3bfb61c919ec6b/src/lib.

[2018-03-25 14:55] dbrgn commented on #39
Work in progress: [Driver for the Sensirion SGP30 gas sensor (TVOC and CO2eq)](https://github.com/dbrgn/sgp30-rs). Tested with [this](https://www.adafruit.com/product/3709) Adafruit module.

Also, if you'd like to be able to test your sensors against a mocked version of the embedded-hal traits, check out https://github.com/rust-lang-nursery/embedded-wg/issues/70. Example tests: https://github.com/

[2018-03-25 17:35] jamesmunns commented on #70
@dbrgn - generally whenever I worked with this in C, I would have some kind of global that would handle this, or provide access. I haven't tried to tackle this in Rust before.

A couple ideas I have off the top of my head:

- Use a channel internally, so you can keep sending data or configuration commands, or maybe a command/data abstraction built on top of channels, so you can keep cloning the se

[2018-03-25 18:08] DoumanAsh commented on #65
I started working on HAL for my l4 board so JFYI https://github.com/DoumanAsh/stm32l4x6_hal

[2018-03-25 18:15] jamesmunns commented on #65
Note to self: embedded hal mocking: https://github.com/rust-lang-nursery/embedded-wg/issues/70

[2018-03-25 20:09] jamwaffles commented on #65
There's an [SSD1306 driver](https://github.com/jamwaffles/ssd1306) me and @scowcron have been working on. Nearly ready for release, just needs some good examples and documentation (as with any new project...)

I'm also working on an [embedded-graphics](https://github.com/jamwaffles/embedded-graphics) crate with iterator-based constructs for drawing primitives, images and text. Would appreciate som

[2018-03-26 09:54] japaric commented on #56
(adding to the 2018 edition milestone as per last week's meeting)

[2018-03-26 10:03] japaric commented on #68
@berkus would you be willing to take this [list of HAL impl and driver crates](https://github.com/japaric/embedded-hal#implementations), as well as the [list of WIP driver crates](https://github.com/rust-lang-nursery/embedded-wg/issues/39#issue-289457410). As well as make @therealprof and other interested people as a collaborators and take the stream of WIP stuff posted to https://github.com/rust-

[2018-03-26 10:58] andre-richter opened #71 "Device Crates without svd2rust?"
I hope I haven't overlooked some obvious resources or documentation, but are there any guidelines for creating device crates *without* `svd2rust`?

I am asking because the embedded-hal documentation states:

So I wonder what would be best practice if SVD files are not available?
Raspberrypi, for example, would be a valuable device crate, but I couldn't find SVD files.

[2018-03-26 11:13] therealprof commented on #71
I have to agree that this is a nomenclature issue. If SVD is available then it makes a whole lot of sense to use it but there's really no use in trying to enforce that. In fact the author of this paragraph has obviously violated that rule himself: https://github.com/japaric/linux-embedded-hal

[2018-03-26 13:52] japaric commented on #71
This is a recommendation and not a hard requirement. I agree the text should be tweaked to recommend svd2rust for Cortex-M and point to the linux-embedded-hal crate as an example that doesn't use a device crate.

[2018-03-26 13:54] japaric commented on #71
Also shouldn't this issue be filled on the embedded-hal repo as that's where the text is?

[2018-03-26 13:54] japaric commented on #71
Also shouldn't this issue be filled on the embedded-hal repo as that's where the text is?

[2018-03-26 14:13] andre-richter commented on #71
Sorry for posting on the wrong repo. I had multiple tabs open and maybe got lost.

linux-embedded-hal is a good example for providing embedded-hal on top of a Rich OS that already abstracts away the unpleasant details like defining MMIO locations, etc.

However, there is also bare-metal programming on Raspberry Pi, for example, which in my opinion is a middle-ground where you neither have `svd2rus

[2018-03-27 08:39] nordmoen commented on #39
Here is the [`hc-sr04`](https://github.com/nordmoen/hc-sr04) crate. It is currently blocked on [embedded-hal:59](https://github.com/japaric/embedded-hal/issues/59) for it to be fully agnostic, but that should be a quick fix.

[2018-03-27 09:54] japaric commented on #53
PR rust-lang/rust#49316 should fix this.

[2018-03-29 06:35] japaric commented on #65
I'll write some notes about what happened during the All hands for the newsletter.

[2018-03-29 09:36] jamesmunns opened #72 "Embedded WG Newsletter #3"
Placeholder issue for the next WG Newsletter, scheduled for 2018-04-12

[2018-03-29 16:48] whitequark commented on #72
Do our LLVM/Rust forks with OR1K support (which is quite good at this point, we've been using it in production for several years now) count as something that should be included in the newsletter? OR1K is an architecture that is used primarily on FPGA softcores. (There's been a few ASIC implementations but nothing general-purpose I believe.)

[2018-03-29 16:52] jamesmunns commented on #65
Closed by #73

[2018-03-29 16:52] #65 closed

[2018-03-29 16:53] jamesmunns commented on #72
@whitequark definitely! Do you have any repos or blog posts that I can link to for the next post?

[2018-03-29 16:57] whitequark commented on #72
I don't have latest stable running quite yet (because it was released today, and I'm updating the OR1K backend for LLVM 6.0 as we speak), but I'll comment in this issue once that's done.

[2018-03-29 22:32] jamesmunns commented on #70
@therealprof Can you just `extern crate std;` in the test mod? Or maybe `#cfg[test] extern crate std;`?

I'll try to make a test example

[2018-03-30 06:36] ReeceStevens commented on #39
Here is a WIP crate for the [afe4400][afe4400], a pulse oximeter chip made by TI. It uses `embedded-hal` and `nb`, although I am currently unable to use the `?` operator until the `From` impl makes its way into `nb` 0.1.2.

@jamwaffles I'm also going to eventually start working on a display driver and would love to contribute to a generic graphics library like your `embedded-graphics` crate. Is th

[2018-03-30 07:28] jamesmunns commented on #70
This is a tiny impl, I'm going to take it further to try out what a mock impl would look like:

[code]

[2018-03-30 09:26] dvc94ch commented on #51
Can we also add `cargo-dwarfdump` [0]

[0] https://llvm.org/docs/CommandGuide/llvm-dwarfdump.html

[2018-03-30 09:30] whitequark commented on #51
When was the last time you needed `dwarfdump` and were *not* developing an LLVM backend?..

[2018-03-30 09:31] therealprof commented on #70
@jamesmunns Well, my question was related to using channels on `#[no_std]` drivers so the answer is: no, I can't.

[2018-03-30 09:34] jamesmunns commented on #70
Hey @therealprof, sorry, what I was trying to illustrate was that the channels would only be used by the test and `embedded-hal-mock`, but not in the underlying driver crate you are trying to develop/test. I'll get back to you later today with an experiment of what I meant, and if that was not helpful (or not what you had in mind, or doesn't actually work), then thats okay :)

[2018-03-30 09:40] therealprof commented on #70
@jamesmunns I just had a glimpse of hope that someone had an idea that would help to solve one of the most limiting problems we face on embedded rust today. If that's not you, that's okay. ;)

[2018-03-30 12:49] puzrin commented on #55
Note about Event Loop. IMHO support of something like async/await required. With pure promises/futures and callbacks it's still not convenient to read and write code. Of cause, async/await helps only with linear logic, but it's the most common case.

[2018-03-30 13:22] dbrgn commented on #70
My intent was definitely to facilitate testing of drivers, so while channels are a great idea that probably won't work with no_std...

[2018-03-30 14:10] Nemo157 commented on #70
Your mock doesn't need to be `no_std`, you can definitely use standard library channels inside mock implementations of the `embedded-hal` traits and pass those into `no_std` drivers.

[2018-03-30 14:22] Nemo157 commented on #55
@puzrin that's why I'm attempting to build off the [`futures`](https://github.com/rust-lang-nursery/futures-rs) crate, there are `#[async]`/`await!` macros available to work with the futures defined in that crate. Using them is still a bit of a mess at the moment (minimum of 3 nightly features required), but I believe getting those macros supported on stable Rust is one of the goals of the Rust 20

[2018-03-30 14:24] dbrgn commented on #70
@Nemo157 ah of course, you are right! :+1:

[2018-03-30 15:05] puzrin commented on #55
@Nemo157 yes, thanks. I'd like to clarify. There are 3 "components" to keep code clean:

- event loop
- async/await
- futures at HAL level

Partial combination is still much better than nothing, but...

[2018-03-30 19:15] susu commented on #39
This is an awesome initiative!

Here is my contribution: [SX1278](https://github.com/susu/sx1278) (WIP). It is the chip in many LoRa boards, like the Ra-02 mentioned in the description. I have Ra-01 (not sure about the differences, but Ra-02 has SMA connector for sure).

[2018-03-30 20:25] lolzballs commented on #39
I'm working on a driver for the [RFM69](https://github.com/lolzballs/spi-rfm69). It's incomplete right now but I'm wondering if implementing `Read` and `Write` traits would be the best way the sending and receiving api.

[2018-03-31 01:17] ryankurte commented on #59
I've had a go at porting a new platform (not yet successfully) and have run into a couple of issues that might be useful additions to the embeddedonomicon.

The first is a description of target json files and their use for out-of-tree targets (along with a link to [rust-lang/rfcs/text/0131-target-specification.md](https://github.com/rust-lang/rfcs/blob/master/text/0131-target-specification.md) and

[2018-03-31 05:52] whitequark commented on #59
Try `.arm` or `.code32` in inline assembly. Might need some tweaking to make sure interworking works correctly, but I'm quite sure it's possible.

[2018-03-31 06:32] andre-richter commented on #59
@ryankurte crt0.s usually calls "main()" at some place. But you'll need to define it as pub extern "C" with no mangle so that it can be found.

You can have a look at Phil Opperman's blog for an example. Depending on your target a linker script may be needed as well so that crt0.s starts at the right address.

[2018-03-31 18:34] andre-richter commented on #72
I've written a bare metal Hello World over UART0 on the Raspberry Pi 3. Some init code is taken from the Embedonomicon. Kindly have a look at https://github.com/andre-richter/rust-raspi3-tutorial

[2018-03-31 18:38] andre-richter commented on #59
@ryankurte I've uploaded an example for the RPi3 at https://github.com/andre-richter/rust-raspi3-tutorial

It has the `_start'` init code from the embedonomicon and the `reset()`, but also has an assembler file that runs before the embedonomicon stuff, like you need it. In my case `_boot_cores` calls `reset()`. I think that is what you need too. That `_boot_cores` runs as the first code in this ca

[2018-03-31 23:37] dbrgn commented on #39
@susu @lolzballs very nice to see something being done for LoRa devices.

Your two drivers will give us only LoRa though, no LoRaWAN, right?

(I'm thinking of writing a Rust driver for the RN2483 module, that wouldn't be too hard since it contains a microcontroller that does LoRaWAN and communicates over UART.)

[2018-03-31 23:50] lolzballs commented on #39
@dbrgn The RFM69 isn't a LoRa module, so no :stuck_out_tongue:.

[2018-04-01 07:50] susu commented on #39
@dbrgn: My driver will give you only the LoRa driver, purely what the chip can do. With this, essentially you can broadcast packets, or receive one, or receive continuously.

The LoRaMAC / LoRaWAN implementation would worth another crate, on top of my sx1278. However I will not use LoRaWAN for now.

[2018-04-01 09:07] jamwaffles commented on #39
@ReeceStevens No consensus at the moment, but of course that leaves the niche open for `embedded_graphics` to fill ;). It doesn't support colour yet but it's a feature I'd love to add so I'm all open for accepting some swish PRs!

[2018-04-01 09:19] ryankurte commented on #59
@whitequark @andre-richter thanks for the help! I got it going with a combination of the two.

It appears `global_asm!` doesn't support a combination of instruction modes which is a little more complicated, and I still have no idea why the compile and link externally (like one would do with c/c++) approach doesn't work for me when `global_asm!` does with the same code, but I'd propose the addition

[2018-04-01 12:31] dbrgn commented on #39
SGP30 driver is complete and published: https://blog.dbrgn.ch/2018/4/1/rust-sgp30-driver/

[2018-04-01 12:31] andre-richter commented on #59
Fir the embedded book, In #74, it was agreed to go with CC License for prose and MIT/Apache for code snippets for convenience and easier reuse. @japaric, would you be open to do that for the embedonomicon too?
Currently everything is CC.

[2018-04-01 14:51] byronwasti commented on #39
I have a WIP Memory LCD driver working: https://github.com/byronwasti/ls010b7dh01

My next steps are to abstract away some of the details and to make it screen-size independent. I also just discovered the `embedded-graphics` crate from this thread, so I will be working on making my driver compatible with that as well.

[2018-04-01 17:50] japaric commented on #59
done

[2018-04-01 19:43] otavio commented on #47
Due @japaric suggestion, I'd like to bring up to discuss the use of https://github.com/labgrid-project/labgrid for automated board test. It tries to control the board externally and has the capability to manage external resources required for some automated tests (e.g pressing buttons, power control, ...) of DUT. Obviously, it may require specific hardware for some type of tests but it seems worth

[2018-04-01 21:25] japaric commented on #68
I have created a new awesome-embedded-rust list in [rust-embedded/awesome-embedded-rust](https://github.com/rust-embedded/awesome-embedded-rust). It contains all the drivers from #39 and the HAL impl and device crates from [japaric/embedded-rust](https://github.com/japaric/embedded-hal)

@therealprof I've sent you a collaborator invite to the new list. If anyone else wants to help maintain the lis

[2018-04-01 21:37] japaric commented on #39
Hiya folks!

I've deprecated the list of drivers in the [issue description](https://github.com/rust-lang-nursery/embedded-wg/issues/39#issue-289457410) in favor of the [awesome-embedded-rust](https://github.com/rust-embedded/awesome-embedded-rust#awesome-embedded-rust) list. That list contains not only the list of drivers we had here but also list of device crates, board support crates and HAL imp

[2018-04-02 00:17] RandomInsano commented on #68
I’m game. I’m finding it fun to follow the new device crates as they come in anyway. I guess we’ll just make sure the WIP items exist in some form and that the completed drivers are well documented and have some news item to introduce it.

Do we have volunteer mentors for quality and standards? My AXP209 crate could use some review: It’s of a beast of a chip and code org has been a challenge. If s

[2018-04-02 02:49] mbacch commented on #39
New WIP for the [MAX31855](https://github.com/mbacch/max31855) driver. This is a thermocouple digital converter for temperature sensing applications. Per @japaric message above, I just requested a [PR](https://github.com/rust-embedded/awesome-embedded-rust/pull/6) to add to the WIP list. I'm excited about this WG and am looking forward to helping out more. :)

[2018-04-02 09:59] berkus commented on #68
@japaric you want to merge them into rust-embedded one? I think go ahead and do it, or I can create a PR adding the entries from the community one. I'd be happy to be on the collaborators list in the new one. Wdyt?

[2018-04-02 10:44] japaric commented on #50
I have opened rust-lang/rust#49584 to discuss this with the dev-tools and other Rust teams.

[2018-04-02 19:12] ooxi opened #76 "How to subscribe to newsletters?"
I see you prepare weekly newsletters for the embedded wg. How do I subscribe to receive one via mail?

[2018-04-02 20:02] jamesmunns commented on #76
Hey @ooxi, we put out a newsletter every other week, though we don't really have a mechanism for subscribing by email at the moment. We do typically post them in a couple places, like https://internals.rust-lang.org, and @japaric and I always tweet them, but that doesn't specifically answer your question.

I guess it would be pretty easy to throw together an RSS feed, though I don't know how I wou

[2018-04-02 20:10] ooxi commented on #76
I'm new to the rust community in general and was expecting some kind of mailing list I've missed. But following this repository isn't that bad either :-)

[2018-04-02 20:10] #76 closed

[2018-04-03 08:02] japaric commented on #41
Update: we discussed this during Rust All Hands. Here's a summary by @nagisa (originally posted in https://github.com/rust-lang/rust/issues/44489#issuecomment-378058031)

Where "this design" = RFC 2070

[2018-04-03 08:36] therealprof commented on #41
I'm hopeful this can be sorted out. Panic handling is a bit painful at the moment.

[2018-04-03 13:14] japaric commented on #63
I discussed this with @alexcrichton during Rust All Hands and he said he was fine with adding an stable API for assembly ops that have an unstable implementation (e.g. inline `asm!`). We'll make an RFC for the ARM Cortex-M ops, but first we have to figure out exactly what ops need to be inlined (will likely be less than 10 ops, maybe just 5 or so).

[2018-04-03 13:29] gnzlbg commented on #63
@japaric would those go into `std::arch` ?

[2018-04-03 13:33] japaric commented on #53
Update: rust-lang/rust#49316 didn't quite fix this. See https://github.com/rust-lang/rust/pull/49316#issuecomment-378251276.

[2018-04-03 13:34] japaric commented on #63
@gnzlbg That can be bikeshed in the RFC

[2018-04-03 19:55] jamesmunns commented on #45
@japaric This topic is going to be covered in https://github.com/rust-lang-nursery/embedded-wg/issues/56 - We may want to close this issue as a duplicate

[2018-04-03 19:55] jamesmunns commented on #48
@japaric This topic is going to be covered in #56 - We may want to close this issue as a duplicate

[2018-04-03 21:00] japaric commented on #42
Some updates after Rust All Hands:

We'll be producing rust-std components for ARM Cortex-M and MSP430, and eventually for AVR and RISCV once they are more mature.

Once those components are in place you'll be able to use Cargo, instead of Xargo, for embedded development by first doing `rustup target add thumb7m-none-eabi` *once*. `cargo build --target thumbv7m-none-eabi` will then work.

Tracking

[2018-04-04 15:44] RandomInsano commented on #62
I think you can look to how Linux has abstracted *some* if it’s drivers.

The AXP209 I’m working on gets exposed via something like four or five drivers: one for the GPIO, one for temperature, one for voltage, another for the power button, etc.

I’m not sure what their abstraction is for humidity, but I think one more level of abstraction is a great idea as long as the price is paid at compile tim

[2018-04-04 15:54] rahul-thakoor commented on #62
Hey @DomonkosSuranyi !

I think we need to decide on an API for such devices.
Perhaps this can help? http://johnny-five.io/examples/accelerometer-mpu6050/

[2018-04-04 16:03] jdub commented on #48
rust-lang/rust#45865 might be interesting/relevant here… it'd be great to have LTO working _across_ Rust and C components of an embedded project.

[2018-04-04 16:52] therealprof commented on #62
@DomonkosSuranyi I absolutely agree. There should be traits which unify the API for working with sensor data so when using the API one can rely on getting the same information with the same unit (and easily convert to another one if necessary).

[2018-04-04 17:07] grossws commented on #51
@m4b wrote [`cargo-sym`](https://github.com/m4b/cargo-sym) which can be used as limited `objdump` replacement.

[2018-04-04 17:15] japaric commented on #51
@dvc94ch I didn't include that tool in the discussion issue I opened (rust-lang/rust#49584). You can bring it up in the comments.

During yesterday's meeting @jcsoo brought up the idea of having a step 0 for these subcommands: a minimal implementation could simply proxy the LLVM tool; for example, `cargo nm -- -C path/to/binary` would be sugar for `$(rustc --print sysroot)/path/to/llvm-nm -C path/

[2018-04-04 20:13] susu commented on #70
I did something nasty:
- integration test (tests directory, next to src), so I could use std
- by using an `Rc<RefCell<X>>` I wrote a "simulator" of my SX1278 chip (I called it mock, but it simulates the SPI traffic)

https://github.com/susu/sx1278/blob/master/tests/test_radio_settings.rs

Because it is a simulator, it is not really reusable. Maybe you can use the "pattern".

[2018-04-06 13:30] japaric commented on #53
Update: rust-lang/rust#49672 should fix this for real

[2018-04-06 13:32] japaric commented on #43
Relevant: [Custom workflows in Cargo](https://www.reddit.com/r/rust/comments/8a6lxp/custom_tasks_in_cargo/). Also, boats will propose a RFC for Cargo templates.

[2018-04-06 14:28] andre-richter commented on #43
One way to mitigate the personal hassle of compiling, installing and maintaining toolchains is letting other people do the unwanted work for you :)

For example, there is the [dockcross project ](https://github.com/dockcross/dockcross), which provides lots of cross-toolchains in docker containers. The way they design their containers, you just need to prepend the container runscript for every tool

[2018-04-06 14:34] whitequark commented on #43
Those don't work on Windows do they?

[2018-04-06 14:36] andre-richter commented on #43
In theory they should. Will Most likely be a bit slow
whitequark <notifications@github.com> schrieb am Fr. 6. Apr. 2018 um 16:34:

[2018-04-06 18:24] therealprof commented on #43
@whitequark What do you mean? Docker or run native?

[2018-04-06 18:24] whitequark commented on #43
Do these prebuilt toolchains for macOS exist?

[2018-04-06 18:25] therealprof commented on #43
@whitequark Yes, there're pre-built toolchains. Anything specific you're looking for?

[2018-04-06 18:26] andre-richter commented on #43
The toolchain Containers dont distinguish between host. On Linux they use
the native kernel, on Mac and Windows it's like jpster said via VM
whitequark <notifications@github.com> schrieb am Fr. 6. Apr. 2018 um 20:24:

[2018-04-06 18:28] therealprof commented on #43
@andre-richter Docker on Mac used to do Virtualbox VMs but now it runs stuff directly in a Hypervisor.

[2018-04-06 18:29] therealprof commented on #43
I haven't actually used docker for anything Rust so far. So far all bits ran just fine natively.

[2018-04-06 18:30] andre-richter commented on #43
Yes but this is still a VM. It's not hosted by virtualbox anymore but macos
native framework.
Daniel Egger <notifications@github.com> schrieb am Fr. 6. Apr. 2018 um
20:28:

[2018-04-06 19:04] whitequark opened #79 "Expose the -warn-stack-size= LLVM option somehow"
I've just learned that LLVM can, in fact, do a *limited* stack size analysis: https://lists.llvm.org/pipermail/llvm-commits/Week-of-Mon-20130603/177010.html.

It's not interprocedural but I think it's still quite useful e.g. if LLVM ends up allocating a large array on stack, which seems to be a source of stack overflows that might be on the second place after recursion IME.

[2018-04-06 23:05] japaric commented on #72
We should include the [Awesome embedded Rust](https://github.com/rust-embedded/awesome-embedded-rust) list in the next edition.

The next instance of the weekly driver section should include the total number of released and WIP drivers in one of the first paragraphs.

[2018-04-07 00:04] japaric commented on #51
I have implemented step 0 in https://github.com/japaric/cargo-binutils

[2018-04-07 00:39] japaric commented on #79
In theory `-C llvm-args=-warn-stack-size=$N` should pass the flag to LLVM, but since these are warnings rustc won't report them to the console, I think.

I'm looking at the LLVM source code and it seems that there's [some option](https://github.com/rust-lang/llvm/blob/6ceaaa4b0176a200e4bbd347d6a991ab6c776ede/lib/CodeGen/PrologEpilogInserter.cpp#L953-L957) to emit (as debug logs?) the number of sta

[2018-04-07 08:26] whitequark commented on #79
@japaric I think you need to call `LLVMContextSetDiagnosticHandler`.

[2018-04-07 15:57] japaric commented on #46
Sorry this has taken so long.

This my initial proposal for re-organizing the existing embedded repos under the rust-embedded org.
Feedback is of course welcome!

### Teams, collaborators and repos

Collaborators are split in two groups:

- Repository specific collaborators or just "collaborators". They have access to a specific repo,
  and they help triaging issues, and reviewing and merging PRs.

[2018-04-07 17:34] therealprof commented on #46
@japaric I'd like to get involved in the tools team and would like to add two important topics to the list which we should investigate: flashing and debugging, potentially also non-ITM logging. I'd be definitely interested in lending a hand with [cargo-binutils](https://github.com/japaric/cargo-binutils).

Potentially I'd also love to help with `cortex-m` though I currently have no idea what to co

[2018-04-07 18:43] IngoMaindorfer commented on #46
Hello together.
I'm also new to Rust but in software engineer business since 20 years now. Currently I'm not so happy with the organization of the different SVD files for the STM family of MCUs. @adamgreig is working on a promising approach to keep the SVDs from STM in one place and collect the needed patches there.
Another point I'll like to help out are the currently spread implementations of th

[2018-04-08 11:04] japaric commented on #42
This is done. See [PSA: You no longer need Xargo to do ARM Cortex-M development](https://users.rust-lang.org/t/psa-you-no-longer-need-xargo-to-do-arm-cortex-m-development/16703).

This is done. Thanks @oli-obk! See [PSA: [breaking-change] `extern crate compiler_builtins` is now included in #![no_std] crates](https://users.rust-lang.org/t/psa-breaking-change-extern-crate-compiler-builtins-is-now-in

[2018-04-08 15:10] jamesmunns commented on #72
Note to self:

* https://github.com/japaric/cargo-binutils
* https://users.rust-lang.org/t/psa-breaking-change-extern-crate-compiler-builtins-is-now-included-in-no-std-crates/16704
* https://users.rust-lang.org/t/psa-you-no-longer-need-xargo-to-do-arm-cortex-m-development/16703

[2018-04-08 17:35] musitdev commented on #46
Hello,
I can also give a hand and I've proposed to help in the refactoring of SVD. I develop with Rust since end 2012  and I have a few experience in embedded ARM Cortex (I work on a STM32f7 card for audio applications). I can help with french translation too.

[2018-04-08 17:58] jamesmunns commented on #72
Note to self:

* http://ithinuel.me/embedded-rust-why/

[2018-04-08 18:12] posborne commented on #46
character device with C++ and Python bindings in the works. It would be great to have a Rust implementation.

Hi @rahul-thakoor.  I'm the author of the sysfs gpio crate.  I have most of the core bits of a new crate based around the GPIO character device here: https://github.com/posborne/rust-gpio-cdev/tree/first-pass.  I need to make some final decisions on APIs and document but an initial version

[2018-04-08 18:58] japaric commented on #53
Fixed in rust-lang/rust#49672. :tada:

[2018-04-08 18:58] #53 closed

[2018-04-08 21:33] andre-richter commented on #46
I would be happy to help on the resources team. Most probably I can contribute by reviewing material.
Regarding resources, I am also in the process of [porting tutorials](https://github.com/andre-richter/rust-raspi3-tutorial) for bare metal programming on RPi3 (aarch64, cortex-a) to Rust.
Currently, the code is more or less literally translated from C, with some minor abstractions here and there.

[2018-04-08 22:46] japaric commented on #42
I had totally forgotten about unstable compiler flags.

The most used unstable flag is `-Z linker-flavor`. People use this flag to change the linker flavor
from the default GCC one to the LD one. Changing the flavor lets them use `arm-none-eabi-ld` instead
of `arm-none-eabi-gcc`; this way they only need to install the ARM binutils
(`arm-none-eabi-{ld,objcopy,..}`) instead of the complete C toolcha

[2018-04-08 22:55] therealprof commented on #42
@japaric

ld.lld.

Actually that seems to be the default. I tried changing it to ld.lld initially but that failed, simply removing `-Z linker-flavor` worked fine for me.

[2018-04-08 23:35] japaric commented on #42
@therealprof

[code]

You need both `-C linker=lld` and `-Z linker-flavor=ld.lld` to use the LLD in the sysroot.

[2018-04-08 23:42] therealprof commented on #42
@japaric Interesting. At least that explains why I was seeing a difference between no `-Z linker-flavor` and the default because I was using
[code]

I wrongly assumed it would be using `lld` by default.

[2018-04-09 21:53] japaric commented on #43
Update: [cortex-m-rt v0.4.0 has been released and it supports linking with LLD](https://users.rust-lang.org/t/cortex-m-rt-v0-4-0-now-you-can-link-arm-cortex-m-programs-using-lld/16751)

[2018-04-09 22:10] japaric commented on #72
Another one for the news / updates section:

- https://users.rust-lang.org/t/cortex-m-rt-v0-4-0-now-you-can-link-arm-cortex-m-programs-using-lld/16751

The help wanted section should include:

- Implementation of RFC 2070. [nagisa is willing to mentor](https://github.com/rust-lang/rust/issues/44489#issuecomment-378058031).

- Figure out which Cortex-M assembly ops are widely used in practice and n

[2018-04-10 17:11] berkus commented on #46
Of these projects I'm probably able to help with `embedded-hal` somewhat, so will be happy to do it when i can, but alas won't take maintainership.

[2018-04-12 18:40] myeisha commented on #72
https://crates.io/crates/thumb2-stack-size might be useful to some.

[2018-04-14 12:12] jamesmunns opened #84 "Embedded WG Newsletter #4"
Placeholder for the next newsletter, scheduled roughly 2018-04-26

[2018-04-15 15:14] jamesmunns opened #86 "Updates with new book links"
The following URLs are now live for the temporary hosting of the embedded books (temporary until we can get them hosted on https://doc.rust-lang.org):

* https://book.rust-embedded.org
* https://book.rust-embedded.com
* https://embedonomicon.rust-embedded.org
* https://embedonomicon.rust-embedded.com

We should update the following with appropriate links:

* books/embedonomicon/README.md
* books/e

[2018-04-15 23:05] andre-richter opened #87 "Semantics for RW registers"
Hi all,

I recently started with a `cortex-a` crate, and tried to closely follow what `cortex-m` does so that we are aligned between architecture crates. For registers, we currently have two kinds of interfaces:

1. For registers that store a single value, simple read and write methods are provided that take and return integers, e.g.:
    1. `register::read() -> u32`
    2. `register::write(bits:

[2018-04-16 16:44] #72 closed

[2018-04-16 17:06] djmcgill commented on #84
My utility [https://github.com/djmcgill/form](Form) is useful when working with tools like svd2rust which generate massive lib files, might be worth a mention - alway happy to accept pull requests.

[2018-04-16 20:36] andre-richter commented on #87
I got a bit of inspiration from the [x86_64 crate](https://github.com/rust-osdev/x86_64), and came up with the following implementation now:
https://github.com/andre-richter/cortex-a/blob/redesign_timers/src/register/cntp_ctl_el0.rs

One usage example can be seen here:
https://github.com/andre-richter/rust-raspi3-tutorial/blob/timers/09_delays/src/delays.rs

It differs from the `cortex-m` implemen

[2018-04-16 23:59] ryankurte commented on #87
I like the modify in a closure idea a lot! And I think it'd be neat to have this well documented and for it to be easier to generate and write these accessors.

Just for experimentations sake I have been [playing with](https://github.com/ryankurte/rust-embedded-builder) the same problem and came up with a [builder style](https://docs.rs/embedded-builder/0.1.1/embedded_builder/register/struct.Regis

[2018-04-17 19:38] jamesmunns opened #88 "Add targets upstream for new ARM Cortex chips"
We should consider adding target JSONs and build rust-std compenents for the following targets before the 2018 era lands:

* ARM Cortex-R Target(s) based on thumbv7em (Cortex-R4, R5, R7, R8)
* ARM Cortex-M Target(s) based on thumbv8em (Cortex-M23 and Cortex-M33)
* ARM Cortex-R Target(s) based on thumbv8em (Cortex-R52)

This may also require updates to low level crates like `cortex-m`, maybe `compi

[2018-04-19 16:56] andre-richter commented on #87
Hey Ryan,

thanks for sharing and feedback.

Absolutely, I started to [move these accessors to macros](https://github.com/andre-richter/cortex-a/blob/master/src/register/macros.rs), which reduced boilerplate code immensely and [improves the ease of adding them](https://github.com/andre-richter/cortex-a/blob/master/src/register/cntp_ctl_el0.rs#L44-L50) when writing new registers. On the documentati

[2018-04-19 22:32] ryankurte commented on #87
Neat! I do like the idea of doing as much as possible in code rather than macros from a readability perspective, but it seems like we're going to need a combination of both.

I ran into some bumps trying to support both chaining and non-chained approaches in the same api, I suspect it's possible but wasn't clear to me how to do it.
I had a play with bitflags but wasn't convinced it does what we wa

[2018-04-20 08:28] andre-richter commented on #87
Btw I just realized that there's no need to restrict this to _CPU_ registers, most or all of it should apply to _MMIO_ as well. I edited the title accordingly.

Let me try to summarize what we have so far, kindly adapt/edit:

A register can be `r`, `w`, or `rw`. Here, traits defining a simple interface would make sense I guess.

[code]

R/W functions can take the most different implementations. E.

[2018-04-20 08:50] Nemo157 commented on #87
I had a comment relevant to this against the `svd2rust` register definitions: https://github.com/japaric/svd2rust/issues/198

It seems you've got a similar plan since you're not requiring the closure to return the writer (`where F: FnOnce(&mut T)`), you could potentially expand this to allow returning a different value from the `modify` method.

[2018-04-24 00:03] japaric opened #89 "Embedded WG meeting, April 24"
[7-8 PM UTC][0] on #rust-embedded on irc.mozilla.org

[0]: http://everytimezone.com/#2018-4-24,420,b8jj

Agenda.

- Triaging issues on the [2018 edition milestone]. (@japaric - 15 min)

[2018 edition milestone]: https://github.com/rust-lang-nursery/embedded-wg/milestone/1

- Impl days at RustFest #90. Ideas? (@japaric - 10 min)

- Next meeting is a video meeting and on a holiday (?). Should we pos

[2018-04-24 00:11] japaric commented on #84
[`heapless`] v0.3.1 has been released; this version provides fixed capacity [re-implementations] of std::HashMap and std::HashSet that work on `#![no_std]`, do not require a memory allocator, can be allocated on the stack or stored in a static variable, and use 32-bit hashes (32-bit FNV and MurmurHash3 hashers are available in the [`hash32`] crate).

[`heapless`]: https://crates.io/crates/heapless

[2018-04-24 15:01] luser commented on #52
Several years ago we embarked on a project at Mozilla to use [PandaBoards](https://elinux.org/PandaBoard) (a TI ARM development board) for Android and Firefox OS testing. The end result of that was [mozpool](https://github.com/mozilla/mozpool).

We had at one point several hundred PandaBoards installed in [custom-built rackmount chassis](https://github.com/dividehex/HD-Panda-Chassis-CAD) in a data

[2018-04-24 15:18] Callek commented on #52
I should note that mozpool was overdesigned and overcomplex for what we ended up needing for Android CI. And poved to be pretty cumbersome due to the fault levels of the boards in question and the implemented solutions frequently involved humans to touch and reflash them by hand. (even though not all flashing was needed to be done by humans)

For some further reading:
* https://armenzg.blogspot.co

[2018-04-24 16:11] astro commented on #84
When discussing the `heapless` crate, I would like to hint at the [`managed`] crate. It additionally works on `Vec` et al if built with `std` and it features a `BTreeMap` behind the `map` feature-flag.

[`managed`]: https://crates.io/crates/managed

[2018-04-24 18:12] japaric opened #90 "Impl days at RustFest Paris"
This ticket is to see who's attending the [impl days] after RustFest Paris and to try to organize some
work items (related to the 2018 edition milestone) for them to tackle during the impl days.

[impl days]: https://paris.rustfest.eu/about_impl_days/

For starters, comment here indicating which days you'll attend and what you'd be interested in
working on -- it can be anything: embedded-hal stuff

[2018-04-24 18:13] japaric commented on #90
I'll be there on Monday and Tuesday and I'd like to focus on the embedded Rust book and the embedonomicon. Also, happy to answer embedded Rust related questions and provide feedback and review embedded crates / projects during that time.

[2018-04-24 18:14] japaric commented on #89
Added "Impl days at RustFest #90" to the agenda.

[2018-04-25 04:48] #89 closed

[2018-04-25 04:51] japaric opened #91 "Embedded WG meeting, May 1"
[7-8 PM UTC][0] on #rust-embedded on irc.mozilla.org

[0]: http://everytimezone.com/#2018-5-1,420,b8jj

Agenda.

- Ideas for impl days at RustFest #90. (@japaric - 15 min)

- Triaging issues on the [2018 edition milestone]. (@japaric - 15 min)

[2018 edition milestone]: https://github.com/rust-lang-nursery/embedded-wg/milestone/1

- [your topic here]

This meeting is open for anyone to attend. If

[2018-04-25 04:58] danielgallagher0 commented on #84
I've started a [BLE](https://github.com/danielgallagher0/ble-rs) crate. I'm currently "only" aiming to support BLE hosts, so it would be used to interface with an external controller, not to implement a controller. It's still very early, but I have a framework in place so it should be straightforward to add the remaining commands and events. I'd love to get some feedback, advice, etc.

I also have

[2018-04-25 07:40] therealprof commented on #84
@danielgallagher0 Nice. So you're implementing an adapter for the HCI interface I would presume?

I'm not a big fan of 3 letter acronyms anyway as they make for horrible search terms. How about writing out Bluetooth and if you're writing an HCI adapter -- throw that in as well?

[2018-04-25 09:54] hannobraun commented on #90
My current plan (which I made before becoming aware of the impl days) is to leave Monday around noon, but I'm considering to change that. I'll have to make that decision closer to the conference though, as I'm not yet sure if circumstances will allow me to stay longer.

Assuming I manage to stay for the impl days, I'll probably work on [LPC82x HAL](https://github.com/braun-robotics/rust-lpc82x-hal

[2018-04-25 12:18] jamesmunns commented on #84
@djmcgill wow, `form` is everything I didn't know I needed :smile:

I just used it on my `nrf52` crate and it worked perfectly: https://github.com/jamesmunns/nrf52/tree/master/src

Thanks for that!

[2018-04-25 17:06] japaric commented on #84
The newsletter should mention that we our IRC meetings are open for anyone to attend and that guests can bring up issues / topics to discuss by commenting on the [agenda issues](https://github.com/rust-lang-nursery/embedded-wg/issues/91). We should also mention that members of the embedded WG will be present during the RustFest Paris impl days and that we are [looking for contributors](https://git

[2018-04-25 17:47] danielgallagher0 commented on #84
@therealprof Yes, it's an implementation of the HCI specification. I'm looking over the BT spec, and I think just calling it the Bluetooth HCI would be accurate, and bluetooth-hci makes a decent crate name, and can be extended in the future (bluetooth-core, bluetooth-controller, etc.).

[2018-04-26 03:46] tones111 commented on #27
As a hobbyist that's trying to get back in the game I've found getting my bearings within the rust embedded space to be much more confusing then I'd hoped.  japaric's blog renewed my interest, but the crates.io/github landscape is a mess.

I understand the role each of each level in the stack, but trying to find crates for a particular layer and comparing against the competition is difficult.  Two

[2018-04-26 06:10] japaric commented on #42
Update: We now have a preview of embedded Rust on stable at japaric/cortex-m-quickstart#29.

The preview only requires a single unstable feature: `lang = "panic_fmt"` which already has a path towards stabilization. The current ETA for embedded Rust on stable is 1.28 but the preview already shows what the development experience will be.

Quite a few pieces need to land before you can try out this u

[2018-04-26 06:13] japaric commented on #84
We have preview of embedded Rust on stable and would love some feedback. See https://github.com/rust-lang-nursery/embedded-wg/issues/42#issuecomment-384524779 for details.

[2018-04-26 07:39] hannobraun commented on #84
Version 0.3 of the [lpc82x crate](https://crates.io/crates/lpc82x) has been released. It now uses the newest versions of svd2rust and cortex-m.

[2018-04-26 07:45] therealprof commented on #27
@tones111 I agree that just checking out crates.io doesn't yield a unified picture and while I'm also not exactly happy with that fact there's really nothing what we can change about that. Getting rid of the "first to publish" system as you seem to suggest would either mean gating the community or censorship.

Have you checked out https://github.com/rust-embedded/awesome-embedded-rust? That is the

[2018-04-26 11:32] tones111 commented on #27
@therealprof and @andre-richter

I appoligize, my rant didn't convey my point very clearly.  I think we're all in agreement.  I don't want to propose any curation / sensorship model to crates.io (for the reasons you point out).  Rather that the original intent of this thread proposes trying to use crates.io features to aid in the discovery of the embedded ecosystem and I feel that is not be a viab

[2018-04-26 14:40] jcsoo commented on #63
In order to understand which intrinsics might be needed for the various Cortex-M processors, I
extracted these two lists from the CMSIS-Core reference, excluding armv8-only instructions.

The first group of intrinsics is "Core Register Access". These are mainly wrappers around
the CPSID, CPSIE, MRS, and MSR instructions, except for get_FPSCR and set_FPSCR.

https://www.keil.com/pack/doc/CMSIS/Core

[2018-04-26 16:53] gnzlbg commented on #63
Do gcc, clang, or msvc provide any of these as functions ?

[2018-04-26 19:01] jcsoo commented on #63
As far as I can tell, all three implement them via the [ACLE](http://infocenter.arm.com/help/topic/com.arm.doc.ihi0053c/IHI0053C_acle_2_0.pdf) (ARM C Language Extensions) specification.

gcc - [6.59.7 ARM C Language Extensions (ACLE)](https://gcc.gnu.org/onlinedocs/gcc/ARM-C-Language-Extensions-_0028ACLE_0029.html#ARM-C-Language-Extensions-_0028ACLE_0029)

clang - The arm_acle.h header is shown in

[2018-04-26 20:44] gnzlbg commented on #63
All of it?

The `arm_acle.h` header is exposed via `std::arch::{arm,aarch64}`. If all you need is `arm_acle.h` this doesn't even need an RFC. The only thing required for these to land on nightly is for someone to implement the missing functions in `coresimd`. For this to land in stable, an automatic verification of the header against the ACLE specification must be enabled in `stdsimd`, and after t

[2018-04-26 22:02] achan1989 opened #92 "Does Rust need better support for conditional compilation and/or package configuration?"
I was looking at FreeRTOS, trying to work out how feasible it would be to implement something similar in Rust.  One of the obvious stumbling blocks is Rust's limited support for conditional compilation.

For a concrete example: in C you can `#define MAX_QUEUES 5` in a source file, or as a command line option to the compiler.  Elsewhere in the code you can use `#if MAX_QUEUES > 2` to emit different

[2018-04-26 22:58] nallar commented on #92
Const generics could help with this once available. Specialisation in combination with const generics should allow for specialised implementations for a specific value.

https://github.com/rust-lang/rfcs/blob/master/text/2000-const-generics.md

[2018-04-27 07:44] hannobraun commented on #84
I realize it's past the deadline(?), but since the newsletter is not out yet, I'm adding this. Happy to wait for the next one though, if that works better for you.

Version 0.1 of LPC82x HAL, the hardware abstraction layer for NXP's LPC82x family of microcontrollers, has been released. Links: [Announcement](https://users.rust-lang.org/t/lpc82x-hal-0-1-hardware-abstraction-layer-for-nxp-lpc82x-mcus

[2018-04-27 12:38] jamesmunns commented on #84
Hey @hannobraun, I plan on writing the post today, busy week :). Your post will make it in this week.

[2018-04-27 13:35] gnzlbg commented on #63
For ACLE using `link_llvm_intrinsics` is the way to go. If there is an intrinsic that cannot be implemented that way we'll handle those on a case-by-case basis.

[2018-04-27 18:45] japaric commented on #42
I have open a PR to stabilize `opt-level={s,z}`: rust-lang/rust#50265.

[2018-04-28 11:26] jamesmunns opened #93 "Embedded WG Newsletter #5"
Reporting issue for the next Newsletter, roughly scheduled for `2018-05-12`.

@japaric I would like to move the publishing of the newsletters to Saturdays, as I often do not have time to prepare them during the week.

If we would like to keep the publishing of the newsletters during the week, we may want to officially publish the following Monday. Let me know if you would like to discuss.

[2018-04-28 12:29] kjetilkjeka commented on #93
[uX](https://crates.io/crates/ux) (pronounced: unsigned X) is a library which aims to handle the problem of using a larger container for non-byte-aligned types once and for all. The only stabilization (1.0) blocker is a sensible way of construction, and due to the policy of not adding features not available for rust built in types (u8, u16, etc) breakage (after 1.0) will only happen if rust stdlib

[2018-04-28 12:42] adamgreig commented on #93
* [stm32-rs](https://github.com/adamgreig/stm32-rs) collects SVD files for all STM32 devices, patches them via a YAML DSL to add lots of enumeratedValues and fix bugs, then uses svd2rust to generate device crates which are published per-family ([stm32f1](https://crates.io/crates/stm32f1), [stm32f4](https://crates.io/crates/stm32f4), etc) with feature gates for individual devices. The first release

[2018-04-28 20:57] #84 closed

[2018-04-30 11:10] puzrin commented on #22
**Keyboard crate**

A lot of devices have buttons, attached to MCU pins. Common problem is to filter jitter. Also, it would be more convenient for application to work with keyup/keydown events instead of on/off state.

- Must have: jitter filter
- Optional: auto repeat, double click
- Advanced inputs support: [EC11](https://www.alps.com/prod/info/E/HTML/Encoder/Incremental/EC11/EC11_list.html) enc

[2018-04-30 11:50] jamwaffles commented on #93
[ssd1306](https://crates.io/crates/ssd1306) is a driver for SSD1306-based OLED display modules. There's an introductory blog post [here](https://wapl.es/electronics/rust/2018/04/30/ssd1306-driver.html).

[2018-04-30 14:44] jscarrott commented on #93
I've added a new device crate made using svd2rust -> form -> fmt for the [nRF52840](https://crates.io/crates/nrf52840) .I eventually got it working - with a little help from @jamesmunns - on my dev board.

[2018-04-30 15:01] teozkr commented on #93
I also uploaded a (svd2rust) device crate and corresponding HAL for [stm32f0x0](https://crates.io/crates/stm32f0x0) ([HAL](https://crates.io/crates/stm32f0x0-hal)).

[2018-04-30 15:02] puzrin commented on #22
At  first glance:

- The most demanded, more font sizes (up to 24-30px), with tools to extract required char subsets. +more compact font store format.
- (probably) More compact framebuffer format for monochrome display (1 byte per 8 pixels, in your [ssd1306](https://github.com/jamwaffles/ssd1306))
- (probably) Async inteface support

If you wish, i can analyze situation more deep and create issue

[2018-04-30 15:40] jamwaffles commented on #22
Thanks, that's really useful!

Definitely! I just haven't got round to adding them yet.

Interesting idea. I'll give it some thought.

The fonts are stored as 1 byte per 8 pixels, so I'm not sure how much more compact they could get without using some sort of runtime decoding which I'd like to steer away from.

I'm not sure what you mean for embedded-graphics as it doesn't use a framebuffer at all

[2018-05-03 09:33] achan1989 commented on #92
That looks like it would be very helpful in a lot of embedded scenarios, thanks for the heads up.

Still, it looks like that would be more helpful in code that you write yourself, and less helpful in third-party libraries.  As in, I think this workflow is still not possible:

1. You find a useful library, and add it to your project config.toml
2. You put some "specific value" into config.toml to c

[2018-05-03 11:34] jamesmunns commented on #93
Note to self: https://github.com/jkarns275/stdgba

[2018-05-03 19:42] rahul-thakoor commented on #93
[mma7660fc](https://crates.io/crates/mma7660fc) is an i2c driver for mma7660fc-based 3-axis accelerometer. Intro blog post can be found [here](https://rahul-thakoor.github.io/an-i2c-rust-driver-for-mma7660fc-based-3-axis-digital-accelerometer/)

[2018-05-03 20:11] jamesmunns commented on #93
Note to self: https://www.219design.com/rust-on-the-stmicro-nucleo/

[2018-05-04 11:54] jamesmunns commented on #93
Note to self: https://nercury.github.io/rust/embedded/experiments/2018/04/29/rust-embedded-01-discovery-vl-flipping-bits.html

[2018-05-05 01:08] whitequark commented on #93
Long ago, I wrote a library that lets you put UTF-8 text in a ring buffer, and extract it from there as a `&str`: github.com/whitequark/rust-log_buffer

[2018-05-05 14:43] thejpster commented on #92
I think, in the general case, it would be possible to obtain compile time optimisations through code rather than the horror that is pre-processing. For example, perhaps const generics will offer us something like:

[code]

[2018-05-05 15:12] therealprof opened #95 "Upcoming rustc breakage wrt macro re-exporting"
In recent the next stable rust version, macro re-exporting will work differently hence insta-breaking all current and future crates generated by svd2rust and at least some (if not all) hal implementations and potentially even more.

Apart from fixing svd2rust we should probably prepare for this situation with some helpful advisories as part of the "embedded rust goes stable" story.

[code]

[2018-05-05 20:17] krk commented on #93
I have created a svd2rust device for nRF51822 @ https://github.com/krk/nrf51822

[2018-05-05 21:47] therealprof commented on #93
@krk NB: There're at least two more of those now, one here by me: https://crates.io/crates/nrf51 and an outdated one by japaric. I'd be happy to let you collaborate on that one and/or the hal implementation I've created: https://crates.io/crates/nrf51-hal .

[2018-05-06 08:40] therealprof commented on #95
Sure. However the previous unstable mechanism to re-export macros has been used in embbeded and will not work in the upcoming stable version which is what we're aiming for, no?

😏 That's what a language lawyer would say not how it is perceived by a existing or potential user. Over night this change "broke" (for the lack of a better word that would satisfy a language lawyer) a lot (if not even all)

[2018-05-06 09:13] japaric commented on #95
I don't see what's the problem here. How macros are *re-exported* is an implementation detail of device crates. Users of those device crates can continue to use `#[macro_use]` to *import* the macros regardless of whether the device crate is using `#[macro_reexport]` or the `use_extern_macros` feature.

Re-exporting macros is not possible on stable today. If that's still not the case for the editio

[2018-05-06 09:45] therealprof commented on #95
Funny, you said you don't see the problem and then described it in the very next sentence yourself: Pretty much all device crates are broken and will need to be fixed otherwise they can't be used anymore.

[code]

This is a horrible stance to take and I'm not sure why you're saying that. We **want** people to use Rust on embedded, to join in, help, create code and expand the ecosystem, no? I think

[2018-05-06 14:30] japaric commented on #95
OK, so the facts here are:

- If you are the author of a crate that directly uses the *unstable* `macro_reexport` feature then (obviously) it's your job to fix it. The error message about `macro_reexport` being removed tells you how (though including an example of how to fix things in the error message would have been nice). Basically you use "`#![feature(use_extern_macros)]` and `pub use`" as fol

[2018-05-06 14:47] therealprof commented on #95
Correct. I don't think I've ever written anything else.

I'm in the process of writing a blog article about this. This surprising breakage did cost me some time, prevented me from doing some investigation I wanted to do instead of working around this (you probably guessed by now that this investigation involves a recent compiler version) and I'm very much afraid that this will cause a lot of frust

[2018-05-06 15:49] RandomInsano commented on #95
Hey guys. Lots of frustration in this thread. I can appreciate that it was difficult but anger isn’t productive in this scenario.

If there are breakages, let’s find a way to hunt them down for people and make a strike force to make it awesome as part of the stabilization effort. I wouldn’t mind some mindless PR work on random libraries to change pace a little bit.

Crates.io links to source, and

[2018-05-06 16:01] japaric commented on #95
Yes, unstable features have no place in stable embedded Rust so we are dropping the re-exports. Like I mentioned above the re-exports are just a convenience; you can get e.g. the `exception!` macro directly from `cortex-m-rt`.

*If* `use_extern_macro` gets stabilized in 1.28 or 1.29 then we can add back the re-exports, but we are removing them in svd2rust 0.13.0.

We are removing all unstable feat

[2018-05-06 18:03] therealprof commented on #95
My blog post about this can be found here: https://www.eggers-club.de/blog/2018/05/06/changes-in-rust-macro-re-exporting/

[2018-05-08 18:49] jamesmunns commented on #91
This meeting has passed.

[2018-05-08 18:49] #91 closed

[2018-05-09 14:57] jamesmunns commented on #93
https://www.tockos.org/blog/2018/mmio-registers/

[2018-05-09 21:09] andre-richter commented on #87
Related: https://www.tockos.org/blog/2018/mmio-registers/

[2018-05-11 01:50] ryankurte commented on #48
I've thrown together [some helpers](https://gist.github.com/ryankurte/8d3abcb0249269d56e07b183aa06ba62) for including a rust library in a CMake based C/C++ project using [rusty-binder](https://gitlab.com/rusty-binder/rusty-binder) and [rusty-cheddar](https://gitlab.com/rusty-binder/rusty-cheddar). It's definitely working natively, and set up and linking but untested for arm cortex-m3 and cortex-m4

[2018-05-13 00:38] memoryruins commented on #93
Proptest 0.7.0 now has no_std and alloc support.
https://github.com/AltSysrq/proptest

[2018-05-13 12:47] ZackPierce commented on #93
@memoryruins That was fun, and my work on doing the same for regex and its ecosystem is [well under way](https://github.com/rust-lang/regex/issues/476) , though currently on pause as we consider whether the use of the `alloc` facade is the best way to build for the future.

[2018-05-13 18:07] memoryruins commented on #93
@ZackPierce wow! it's well appreciated :)

[2018-05-14 21:50] paoloteti commented on #88
Here [https://github.com/paoloteti/ti-hercules-bsp](https://github.com/paoloteti/ti-hercules-bsp) you can find a board support package + JSON for TI TMS570LS3xx (tested on TMS570LS3137) that is a BigEndian Cortex-R4F (in LockStep mode).

Linaro toolchain (`armeb-none-eabi`) it is perfect and you don't need to use TI ARM CGT.

I already sent patches on `compiler_builtins` to add some missing featur

[2018-05-15 18:39] jamesmunns opened #98 "Embedded WG Newsletter #6"
Reporting issue for the next Newsletter, roughly scheduled for `2018-05-26`

[2018-05-15 21:35] japaric commented on #90
Here are some tasks I can mentor, but probably not all of them at the same time.

- Port the code examples in the [Discovery] book to work with cortex-m-rt v0.5.0, and identify the parts of the text that need to be updated to reflect the changes. I can borrow you a [DISCOVERY] board to work on this.

[DISCOVERY]: http://www.st.com/en/evaluation-tools/stm32f3discovery.html
[Discovery]: https://japa

[2018-05-16 13:30] andreytkachenko commented on #55
I have made some prof-of-concept of async/await crate usage on Cortex-M4 board and it looks pretty interesting and promising. https://github.com/andreytkachenko/async-hal-stm32

[2018-05-16 14:39] rnestler commented on #90
I'll be there on both Impl days. I'll probably work on https://github.com/coredump-ch/lpc11uxx-rs.

[2018-05-16 18:00] musitdev commented on #90
I'll be there on monday only. I've not decided on what I'll work, probably on Discovery. I'll bring one.

[2018-05-18 09:01] rnestler commented on #90
If anyone is interested in writing embedded drivers for any Sensirion sensor (humidity, temperature, air quality) I can provide you with hardware.
For example a RaspberryPi shield with SHTC1 and SGPC3: ![image](https://user-images.githubusercontent.com/1435346/40224746-5ca9a0ba-5a87-11e8-9fee-5c6df2eb4311.png)

Or AdaFruit breakout boards
 * [SHT31-D](https://www.adafruit.com/product/2857)
 * [SGP

[2018-05-19 23:34] zklapow commented on #40
@wez have you made any progress on your USB work for the SAMD21? I am also starting to work on a USB stack for the SAMD21G18A but I know next to nothing about USB so it has been slow going so far

[2018-05-20 09:01] paoloteti commented on #88
Cortex R4F/R5F (BE,  ARM mode) is now upstream (PR 50813)

[2018-05-20 14:29] wez commented on #40
@zklapow https://github.com/wez/atsamd21-rs/tree/master/hal/src/usb is where I've started to pull some things together.  It's a very thin veneer over the peripherals at this stage.  I've also been studying a couple of other implementations (tock and the anne-key mentioned above) and reading specs.

[2018-05-20 17:46] bkchr opened #100 "Providing help"
Hi, I would like to help the embedded wg with implementing some issues. I looked over the current issues in this repository, but most of them are already being worked on. Is there something where I could help?
It would be nice to do something in rustc, but I'm open for almost everything :)

[2018-05-23 09:58] #93 closed

[2018-05-23 10:04] jamesmunns commented on #98
Note: https://github.com/roysmeding/stm32f334/

CC @roysmeding for more info

[2018-05-23 10:05] jamesmunns commented on #98
Note: work from @dsvensson re: CC1101 radio

[2018-05-23 10:08] dsvensson commented on #98
I hope to get things in shape for the weekend, but otherwise it'll just have to wait until next newsletter.

Related urls:
https://github.com/dsvensson/sparsnas-rs
https://github.com/dsvensson/cc1101 (have write-access to upstream project, so may be another url later)

[2018-05-23 10:09] rudihorn commented on #98
Placeholder for: https://github.com/rudihorn/light-cli

Will hopefully stick it on crates.io by the weekend and maybe write a small blog post

[2018-05-23 11:14] jamesmunns opened #101 "[WIP] Better management of SVD to `-hal` process"
`// TODO`

[2018-05-23 19:21] jcreedon commented on #98
I gave a presentation at a conference, Teardown, about doing embedded Rust development.
Video: http://youtu.be/g25xsK3HKkE
Slides: http://github.jcreedon.com/static/EmbeddedWithRustSlidesTeardown2018.pdf

[2018-05-23 21:21] adamgreig commented on #101
I'm very interested in making this better! A few early thoughts..

* I agree with your premise, SVD files do kind of suck, are better than nothing, and lots of individual crates, one per device, is a mess
* Maybe we can have a single crate for an entire family of chips (e.g. STM32), which is either feature-gated or just modules per actual chip, which can then share as many interior definitions (an

[2018-05-23 22:01] Emilgardis commented on #101
@adamgreig related to your second point: https://blog.japaric.io/brave-new-io/#reduce-implementation-work

[2018-05-23 22:12] therealprof commented on #101
@jamesmunns By and large I agree but:

Not true, while many of them truly suck there're a few notable exceptions to the rule, e.g. NXP updates the files regularly and they also seem to have a process for keeping them equivalent in quality, however it's tedious to obtain them...

Yeah, and there's also a tendency to produce and submit peripheral access crates (whoops, maybe we should normalise the

[2018-05-23 22:20] jcreedon commented on #101
This is a problem I have been thinking about for some time and so I'm just going to dump a lot of thoughts here.

**An Example**

So this project https://github.com/adamgreig/stm32-rs seems to try to tackle some of the problems discussed in this issue. The general workflow this project uses is:

1. The SVD file is added as provided by the manufacturer
2. A YAML file for each device covered by the

[2018-05-23 22:28] therealprof commented on #101
@Emilgardis This may work in a few cases but in general the differences are just too big to make it feasible. Even if a peripherals are 1:1 compatible in a family, maintaining the declarations due to differences in pin mappings are a royal PITA.

[2018-05-23 22:56] adamgreig commented on #101
@jcreedon
Would you have a crate per device TOML file? Or larger meta-crates? With this single repository of every TOML, you could even imagine a crate which built the device you required when used as a dependency perhaps. I'm less convinced at the idea of a hundred crates on crates.io, one for an stm32f405, another for the stm32f407, etc, etc.

I agree up to the point where we have a big reposito

[2018-05-24 00:40] jcreedon commented on #101
@adamgreig

I avoided talking about exactly how the lines are drawn as I don't think I have a strong opinion on that quite yet. Also, depending on the syntax of these files and how we write the generator, there is no reason that either a single set of files couldn't generate multiple crates, or that multiple sets of files couldn't generate a single crate. How metadata is divided out does not neces

[2018-05-24 00:43] jcreedon commented on #101
@adamgreig

👍 Also on that note, while manufacturers are inconsistent about updating SVDs, they are pretty consistent about updating reference manuals across the board, and some even do a good job out outlining the errata from previous revisions.

[2018-05-24 00:53] jcreedon commented on #101
@adamgreig

Automatic tooling could work, but that still requires having accurate metadata, which still comes back to having someone manually review it.

[2018-05-24 01:17] jcreedon commented on #101
@adamgreig @therealprof

I definitely can relate to both of these sentiments. The raw `lib.rs` output that `svd2rust` generated was way to big and unwieldy. It made it very hard to take a quick look at structs, and lot's of tooling would fail on it due to its size (for example the intellij-rust plugin for idea would not provide any autocomplete for it). Using `form` to split it out did improve som

[2018-05-24 01:50] jcreedon commented on #101
@therealprof

I'm not aware of SVD files representing pin mappings of peripherals, or any CSPs providing abstractions for pins. While pins do have abstractions in HAL crates, I don't know if HAL crates fit into the scope of this RFC.

That being said, I think it would nice to be have a nice set of metadata representing the pinmux capabilities of devices, and I can imagine a few different tooling p

[2018-05-24 06:14] ithinuel commented on #101
Hi all,

I don't think that code generation is a good thing anyway.
Manufacturers all have the same scheme with Family, subfamily etc down to the chip specific datasheet.
In https://ithinuel.me/embedded-rust-framework-structure/ I expose the hierarchy that could work.
It maximises the reuse of code and thus minimise maintenance effort (DRY for the win).

The leaf crates (aka the board crate) would

[2018-05-24 08:32] therealprof commented on #101
@jcreedon

I'm also not aware of any directly expressed mappings, however implicitly they are all there and hence need to be addressed. There are various combinations of behaviours what will happen if you simply gloss over the fact that you're trying to work with data which does not exist in the particular hardware you have at hand. E.g. for STM32 the registers for pins which are not available in

[2018-05-24 10:31] hannobraun commented on #100
I feel like I don't have a good overview over everything that's going on in the ecosystem right now, so the following are just some suggestion from my own perspective.

I think the [embedded-hal](https://github.com/japaric/embedded-hal) ecosystem can always use help. Here are some concrete examples of what you could do:
- [Drivers](https://github.com/rust-embedded/awesome-embedded-rust#driver-crat

[2018-05-24 11:38] rudihorn commented on #101
I guess my view of this is that it may be worth working horizontally (consolidating peripherals) rather than vertically (generating crates for individual devices).

I'm quite a big advocate for separating implementations for different modules and using proof of setup rather than having individual modules fiddling with other modules. So ideally, a HAL implementation for USART shouldn't touch a regi

[2018-05-24 12:00] hannobraun commented on #101
@therealprof

I've been in contact with someone at NXP and can confirm this. From what I gather, they take their SVD files seriously, but don't generally release them to the public, as they're intended for internal use and use by tool partners. According to my contact, they provide SVD files to anyone on request though.

Are you talking about Kinetis? All the LPC SVDs I've seen have been per-famil

[2018-05-24 12:42] therealprof commented on #101
@hannobraun

Yes, you can download them yourself by going to the "MCUXpresso SDK Builder" site and selecting what you need. They'll only distribute full bundles with documentation and everything. Takes a long while to build and is quite a package.

Yeah, that'd be Kinetis.

[2018-05-24 12:47] jcsoo commented on #101
I have been using a s-expression based DSL that is a superset of SVD to solve some of these problems for my own projects:

https://github.com/bobbin-rs/bobbin-sdk/tree/master/dsl

It's been put together specifically to support composing MCUs from multiple crates - generally arch (Cortex-M), vendor (STM32, NXP, etc.) and model (SAMD21, K64, STM32F30x), with multiple variants supported within each f

[2018-05-24 15:07] docbrown commented on #100
@hannobraun I put together [a generic SVD](https://gist.github.com/docbrown/7bad626215a73a3a533b36d11886edac) from the reference manual. There were some parts that I had trouble mapping into the SVD model and some features were missing from svd2rust at the time.

I ended up continuing my project in C, so I probably won't be updating the SVD in the foreseeable future. Feel free to do whatever you w

[2018-05-25 03:26] memoryruins commented on #45
Discovered drone today:
https://github.com/drone-os
https://docs.rs/drone/0.6.0/drone/

[2018-05-25 07:03] hannobraun commented on #100
@docbrown Thank you!

[2018-05-25 18:38] dsvensson commented on #98
@jamesmunns I think it's better to leave cc1101 out of this next newsletter. Want to get it into better shape, and also the repo might be on the move.

[2018-05-25 19:00] jamesmunns commented on #98
@dsvensson no problem, I'm excited to see more in the future!

[2018-05-25 21:15] marcelbuesing commented on #98
Not entirely sure whether this fits the criteria, just published the first version:
https://github.com/marcelbuesing/bme680

[2018-05-25 21:49] jamesmunns commented on #98
CC @jcsoo

http://www.bobbin.io/blog/post/bobbin_sdk_richer_hardware/ :)

[2018-05-26 07:18] bkchr commented on #100
@hannobraun thanks for your detailed listing. There should definitely be something for me.

[2018-05-28 08:22] jamesmunns opened #103 "Embedded WG Newsletter 7"
Reporting issue for the next Newsletter, roughly scheduled for ~~`2018-06-09`~~ Early July '18

[2018-05-31 10:57] glaubitz commented on #36
Just curious, how is the progress on this? LLVM seems to have gained riscv64 support already and Debian has been building *riscv64* for some weeks now.

[2018-05-31 13:27] dvc94ch commented on #36
That uses the gcc toolchain. That's not too relevant to rust on riscv

[2018-05-31 13:30] glaubitz commented on #36
Yes, I'm aware of that. However, as I said, LLVM has target support for *riscv64* already.

See: https://github.com/rust-lang/llvm/tree/9ad4b7e8d7d1618fc9686aa8d3d0b4de3b7a6f36/lib/Target/RISCV

[2018-05-31 14:00] dvc94ch commented on #36
Last time I checked it had RV64I support, a side effect of variable sized
registers landing in llvm. I wouldn't call that "support" necessarily...

On Thu, May 31, 2018, 15:30 John Paul Adrian Glaubitz <
notifications@github.com> wrote:

[2018-06-03 08:40] TheZoq2 commented on #39
I wrote a driver for the dht11 and dht22 temperature/humidity sensors for one of my projects: https://github.com/TheZoq2/weather/blob/master/stmhardware/src/dhtxx.rs. There are some issues with it however

- Because there is no way to change between an input and output pin at runtime, it is not generic over embedded_hal pins and uses types from the hal implementation crate
- In order to avoid havi

[2018-06-03 14:59] Kixunil commented on #22
9-bit serial (abstraction and implementation)

[2018-06-03 15:04] Kixunil commented on #22
Basic HTTP client implementation with TLS and websockets.

[2018-06-03 17:05] monouser7dig opened #105 "wifi and other interfaces, what is the plan to add support?"
I've got a pretty basic and still IMO fundamental question, and see no answer to that question.

For any language to be useful for embedded programming one needs to have the ability to really use all the features of the respective development board one is targeting.

I mean compiling some code to work on some cpu is very much the easy part afaik.

**The main question is, how do you get wifi, bluet

[2018-06-03 17:38] RandomInsano commented on #105
What you’re talking about here seems more like a real-time operating system, which itself would probably have its own hardware abstraction layer.

It’s an interest case, I personally work one layer lower just talking directly to various external doodads (others here can share their experience). I don’t need any of the features you mention because if I do, I’ll usually choose a board that runs Linu

[2018-06-03 17:50] monouser7dig commented on #105
**I'm actually not talking about an operating system at all**, just libraries like they exist in c/cpp for given micro controllers that enable usage of wifi like this pseudo use case

[code]

Between running some micro controller and a real linux mini computer there is quite a gap (price/ size/ power consumption) and as more and more micro controllers have these advanced options, **does the rust c

[2018-06-04 01:09] RandomInsano commented on #105
I don’t represent this community, but I don’t think there’s a reason to rule it out.

Just build it when there’s demand, and make sure the current system is flexible enough when that demand comes. In my professional life I build things when people need them because there should be requirements gathering and demand.

This discussion should happen so that when people need to build it, the thought’s

[2018-06-04 08:47] japaric commented on #42
This landed 2 weeks ago.

---

`#[panic_implementation]` has landed! :tada:

Check out the [announcement](https://users.rust-lang.org/t/psa-breaking-change-panic-fmt-language-item-removed-in-favor-of-panic-implementation/17875)! You may experience some (planned) breakage. Once that feature is stabilized `no_std` application development will be possible on stable.

[2018-06-11 12:05] chrysn commented on #101
@rqou, you have been [working on this for EFM32](https://github.com/rqou/efm32-unified-crate); did that yield results that might be valuable in this discussion?

[2018-06-12 00:15] ryankurte commented on #101
I definitely agree with your summary @jamesmunns, and would love to see a community maintained repo for board support packages, though I am still in favour of SVDs as the source of truth with some form of patches and analysis applied to them.

I didn't see them linked after a quick scroll, so, y'all might also be interested in [rust-lang-nursery/embedded-wg#33](https://github.com/rust-lang-nursery

[2018-06-15 02:52] whitequark opened #106 "Emit a stack size section using LLVM and parse this data"
From the manual:
[code]

[2018-06-19 19:12] hannobraun commented on #103
lpc82x-hal 0.2 has been released ([announcement](https://users.rust-lang.org/t/lpc82x-hal-0-2-rust-on-lpc82x-microcontrollers/18144), [repository](https://github.com/braun-robotics/rust-lpc82x-hal), [crates.io](https://crates.io/crates/lpc82x-hal))

[2018-06-19 19:19] jamesmunns opened #107 "Logo for Embedded WG"
We would like to have a logo for use with newsletters, release announcements, stickers, etc.

Ideally, we would like to have something by 2018-06-23.

[2018-06-19 19:23] thejpster commented on #107
We should ensure that commercial companies (e.g. chip vendors) are free to use the logo in any Rust SDKs or driver packs they may distribute in the future.

[2018-06-19 19:44] japaric opened #108 "Collect commercial testimonials and well polished examples for the revamped website / embedded WG page"

[2018-06-19 19:54] thejpster commented on #108
I've made https://www.cambridgeconsultants.com/insights/presentation-mozillas-rust-and-why-we-love-it and https://vimeo.com/224912526

[2018-06-19 23:45] Aaronepower commented on #107
Here's a logo I made in some spare time.
![embedded-logo](https://user-images.githubusercontent.com/4464295/41629747-1914b230-7423-11e8-8b0d-23f83c442556.jpg)

[2018-06-20 11:03] hannobraun commented on #108
Have we decided that we're going to include Rust on Embedded Linux in this? Cause I know of a few companies doing Embedded Rust stuff on top of Linux.

[2018-06-20 14:33] japaric opened #109 "Embedded WG meeting, June 25"
[6-7 PM CEST][0] on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2018-6-25,240,b8jj

Agenda.

- Triaging issues on the [2018 edition milestone].

[2018 edition milestone]: https://github.com/rust-lang-nursery/embedded-wg/milestone/1

- Commercial testimonials. cf. #108

- [your topic here]

This meeting is open for anyone to attend. If you'd like to bring up any issue / topic

[2018-06-20 15:02] rudihorn commented on #109
I would like to suggest a topic on somehow improving the way small but annoying issues are handled. Currently it seems like PR's and issues are piling up with e.g. the STM32F103xx-hal some other crates and I feel like there should be more pushing to resolve such issues, by for instance delegating more people who can merge PR's etc.

A few examples of issues I am talking about:
- STM32F103 not on c

[2018-06-20 15:52] jonas-schievink commented on #109
@rudihorn https://github.com/rust-lang-nursery/embedded-wg/issues/46 is related, but doesn't mention the crate.

[2018-06-20 19:30] pftbest commented on #46
Hello, @japaric! Can you please give me access to https://github.com/japaric/msp430-quickstart so I can merge https://github.com/japaric/msp430-quickstart/pull/3

[2018-06-20 20:08] rudihorn commented on #46
I'd be happy to help manage PR's etc. with the https://github.com/japaric/stm32f103xx-hal crate.

[2018-06-21 23:48] japaric commented on #42
Update: `#[panic_implementation]` has been proposed for stabilization in https://github.com/rust-lang/rust/issues/44489#issuecomment-398965878.

[2018-06-22 21:58] thejpster commented on #107
Yeah, that's the thing. I would have thought making a kick-ass SDK to sell more chips would count as commercial, and so they'd need to get permission to use the Rust logo. At least that was my interpretation.

[2018-06-23 08:06] AJAnderson commented on #56
@jamesmunns I would like to help as I have to go through this process anyway, one question, how does this project differ from the embedonomicon?

[2018-06-23 11:14] bergus commented on #55
@andreytkachenko Is there any documentation or do I need to dig through the code? I'm really excited about a cooperative event loop with `await` syntax. Where's a good place to start?

[2018-06-23 11:33] AJAnderson commented on #54
Hi @japaric, I set up the cortex-debug extension in vs-code and got it working, would love to write instructions but where should I write them up?

[2018-06-23 19:10] andreytkachenko commented on #55
@bergus, I made it as simple as possible (thats why it is PoC), there are some examples. Once async/await will land in nightly I'll try add some more examples to [bobbin-sdk](https://github.com/bobbin-rs/bobbin-sdk) on my stm32f429i.

[2018-06-24 20:47] mathk commented on #54
My experience with ITM was that I would never really know how to setup the TPIU clock from gdb. Once I freeze the MCU to maximum speed (216Mhz) the ITM port didn't work properly.

[2018-06-25 14:03] korken89 commented on #46
Hi @japaric, I have been working for a long time with the core Cortex-M parts for the C++ version of RTFM, where I am now (~slowly) transitioning to Rust.
If you want help with the core cortex-m* crates, give me a ping.

[2018-06-25 17:11] hannobraun commented on #108
We talked about this question in the WG meeting just now, but I don't think we managed to make a decision before the meeting ended. I think there was concensus that showcasing bare-metal stuff (which is something that not many languages can do) is very important and should be the focus.

[2018-06-28 02:31] japaric opened #110 "Embedded WG meeting, July 2"
[6-7 PM CEST][0] on Google hangouts

[0]: https://everytimezone.com/#2018-7-2,240,b8jj

Agenda.

- https://github.com/rust-lang/rust/pull/51966

- Rust 2018: the home stretch. cf. https://internals.rust-lang.org/t/rust-2018-the-home-stretch/7810

- Maintaining the cortex-m ecosystem. cf. #46, https://github.com/rust-lang-nursery/embedded-wg/issues/109#issuecomment-398783889

- Triaging issues on t

[2018-06-28 02:32] japaric commented on #109
This meeting happened! The logs have been pushed into this repository.

@rudihorn We didn't have time to discuss the issue you brought up but we have scheduled it for the next meeting (which is a video meeting) cf. #110.

[2018-06-28 02:32] #109 closed

[2018-06-29 01:31] japaric commented on #51
The `llvm-tools` rustup component now exists and [`cargo-binutils`](https://github.com/japaric/cargo-binutils) is making use of it. Check this [announcement](https://internals.rust-lang.org/t/llvm-tools-a-new-rustup-component-for-binary-inspection-objdump-nm-size-and-profiling-profdata/7830) for details.

Let's discuss the final UI we want for the Cargo subcommands in the `cargo-binutils` [issue t

[2018-06-29 01:31] #51 closed

[2018-06-29 01:33] japaric commented on #106
@whitequark how does this relate to #79 (Expose the -warn-stack-size= LLVM option)? At first glance it sounds like using the stack size section (as described in this issue) would give us more fine grained information and that we should do this instead of #79.

[2018-06-29 03:07] japaric commented on #90
This happened! Thanks to everyone who joined us :heart:. Looking forward to see you all again in the next RustFest!

[2018-06-29 03:07] #90 closed

[2018-06-29 14:01] bergus commented on #55
@andreytkachenko Thanks, I've skimmed through everything, wasn't that much code after all. Unfortunately none of the examples feature concurrency of multiple tasks (`hc_sr04` seems like an attempt, but still only does `reactor::execute(task_blink…)`).

Is this `set_action_flag` really necessary? I really dislike the idea of having a global static variable, and every future implementer having to kn

[2018-06-29 14:10] andreytkachenko commented on #55
@bergus, yes I thought about updating it for futures 0.2, but I am doing it as one more example for stm32f429-discovery board in bobbin-sdk, you can try add your version of that there too(I saw @jcsoo already has experiments with poll mechanism commented there)

[2018-06-30 17:18] japaric commented on #106
PR rust-lang/rust#51946 exposes this LLVM feature

[2018-07-01 16:42] korken89 commented on #110
Hi, will the link to the meeting be shared here when it's approaching?

[2018-07-01 18:57] aep commented on #108
All my companies are built on rust. (captif.io and devguard.io) All open source, all embedded. Sure would love to provide some praise to the rust gods.

[2018-07-01 22:46] JoshMcguigan commented on #39
After completing the [Discovery book](https://japaric.github.io/discovery/README.html) I started writing a very basic shift register driver.

[code]

I am very new to embedded development (and relatively new to Rust in general), so I'd like to ask a few questions:

1. Is a shift register driver something that makes sense as a crate?
2. Would this type of abstraction (clock, latch, data) work acros

[2018-07-03 05:26] japaric opened #111 "Embedded WG meeting, July 9"
[6-7 PM CEST][0] on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2018-7-9,240,b8jj

Agenda.

- Planning work on the embedded Rust book. cf. #56
  - Final outline. Are all OK with the outline in https://book.rust-embedded.org/ ?
  - Prioritization of topics / sections. Which topics *must* be done and polished for the edition release? Which topics would be nice to have but are

[2018-07-03 05:28] japaric commented on #110
This meeting happened! Minutes are up [here]. The agenda for the next meeting is in #111.

[here]: https://github.com/rust-lang-nursery/embedded-wg/blob/master/minutes/2018-07-02.md

---

@korken89 you made a question on IRC. Answering here since you are not online over there.

The WGs operate a bit differently from Rust teams. How a WG operates is entirely up to its lead. For
the embedded WG, whi

[2018-07-03 05:28] #110 closed

[2018-07-03 05:36] japaric commented on #49
Belated update: During the Rust All Hands we talked with the website team and drafted the embedded WG webpage. This is the content that we agreed upon (remember that this single page is basically a marketing sheet that answers the question "why Rust for embedded development?"):

- Videos of embedded Rust projects (carousel)
- "Attributes" that answer the question "why Rust for embedded development

[2018-07-03 05:38] japaric commented on #63
Discussed in the last meeting:

This is more of a nice to have as it's not required for embedded Rust on stable. If we are to get this done by the edition release these are the final deadlines:

- 1.28 (2018-08-02). implement rust-lang-nursery/stdsimd#437

- 1.29 (2018-09-13). subset of most commonly used intrinsics stabilized in beta.

[2018-07-03 05:42] japaric commented on #52
Triage:

The extending Rust reach participants mentored by @jamesmunns are working on this. Among their
goals they have:

- Adding "it compiles" tests. libcore, or some other crate, compiles for $TARGET
- Adding "it links" tests. A minimal embedded program links with different compiler options
  (opt-level, LTO, incremental, etc.) and the presence of some symbols is checked (e.g. `main`).
- Adding

[2018-07-03 05:46] japaric commented on #20
Triage (last WG meeting).

The goal is to have a rust-std component working on stable plus up to date svd2rust support by the
edition release. The final deadlines for those are:

- 1.29 (2018-09-13). rust-std component landed and enabled in rust-lang/rust

- 1.30 (2018-10-25). svd2rust support up to date. This requires updating the msp430-rt crate.

Compiler support for interrupts will be left uns

[2018-07-03 06:07] japaric commented on #56
A reminder from the last WG meeting:

To get more feedback on the UI of cargo-binutils (cf. #51) we'll start using cargo-binutils, instead of GNU binutils, in the embedded Rust book. I'll also update the Discovery book to do the same.

---

@AJAnderson

- The embedded Rust book is for people that want to learn *embedded Rust* but only know (some) embedded (C / Python / lua / node / etc.) and (some

[2018-07-03 06:42] AJAnderson commented on #56
Great summary, thank you!

On Tue, Jul 3, 2018, 6:07 PM Jorge Aparicio <notifications@github.com>
wrote:

[2018-07-03 08:57] lexxvir commented on #108
Hi there,

At [Terminal Technologies](http://www.termt.eu/), we use Rust for the our new product, now it is at development and certification stage.

We have Cortex-M3 CPU with 1Mb ROM and 384Kb RAM, so despite it is truly embedded device, we have enough resources to write 'regular' application code.

Our application is mix of C/C++ core libraries and domain-specific logic on Rust.

Some facts abou

[2018-07-03 12:00] luser commented on #52
tracked over time (per PR) and the CI fails if the binary size of the program regresses.

FYI, we wrote a little Rust tool for use in Firefox CI for tracking binary size more precisely by section size, you might find it useful: https://github.com/luser/rust-size .

[2018-07-03 12:07] therealprof commented on #52
@luser I find cargo bloat a bit more useful for that because it points in which function the change was.

[2018-07-03 12:12] pftbest commented on #52
@therealprof I think this tools have a different use case. cargo-bloat output is for human consumption, but this tool is for automated scripts (I don't think scripts care about which exact function changed).

[2018-07-03 12:19] mbr commented on #108
Well, regardless of whether you decide to include embedded Linux or not, here's something from us:

<hr>

Since its founding, [49nord](https://49nord.de) has been using Rust exclusively for its variety of embedded products. It enables us to ship software faster and more correct than we thought possible. Thanks to Rust, we can take memory safety for granted, while other benefits of a zero-overhead

[2018-07-03 12:20] therealprof commented on #52
@pftbest If you want to flag regressions, it's typically very useful to point out where they happened. I'm using `cargo-bloat` _manually_ to track regressions in the code generation/libcore over different rustc versions for my MCU crates, e.g. https://github.com/therealprof/microbit/blob/master/tools/capture_example_bloat.sh

Now with a little bit of hacking and the storage of the previous success

[2018-07-03 12:22] JoshMcguigan commented on #39
I've fleshed out the driver above a bit more and created [shift-register-driver](https://github.com/JoshMcguigan/shift-register-driver). It is still a simple implementation, but it does accomplish the `fn decompose(Self) -> [OutputPin; 8]` goal specified above (mostly).

Any feedback is appreciated!

[2018-07-03 13:39] therealprof commented on #39
@JoshMcguigan This is a great idea. There're probably more small functionalities like this which can be implemented in a somewhat generic way. I was already thinking of creating a crate that bundles these kind of GPIO adapter for general consumption; other adapters I can imagine from the top of my head:
* OutputInverter
* InputInverter
* Splitter
* Logical functions providing N outputs (AND, OR, X

[2018-07-03 14:37] alexreg commented on #59
Is this meant to be different from https://book.rust-embedded.org/?

[2018-07-03 16:33] korken89 commented on #110
Thanks you for the clarification! Helps a lot to understand how it all operates.

[2018-07-03 17:20] japaric commented on #59
Triage: work left to do here:

- panic_fmt -> #[panic_implementation]
- flip the structure to start with the "doesn't require unstable features" way to build a no-std binary. The appendix will cover unstable features like start, termination, etc.
- cover targeting custom targets (not in `rustc --print target-list`): sysroot, Xargo, LLVM relationship.

---

@alexreg yes, the books have different au

[2018-07-03 17:49] alexreg commented on #59
@japaric Thanks for clarifying.

[2018-07-03 17:53] alexreg commented on #59
@japaric Thanks for clarifying.

Is the Discovery book hosted somewhere too, right now?

[2018-07-03 18:07] hannobraun commented on #108
@mbr Thank you for the testimonial!

In the last meeting, we decided to also include Embedded Linux (which is why I directed you here; sorry, should have been more clear). We'd like to focus the website on bare metal as much as possible, as that's more of a unique selling point compared to other languages. However, at this point it's unclear how much commercial bare-metal development is going on o

[2018-07-03 22:42] JoshMcguigan commented on #59
@alexreg The Discovery book is hosted at https://japaric.github.io/discovery/

[2018-07-03 23:28] JoshMcguigan commented on #39
@therealprof Thanks for the feedback. I've added the `release` function in [this commit](https://github.com/JoshMcguigan/shift-register-driver/commit/8c62e09cb09ec0b19256d9e63796d54900fcca92).

I do like your idea of building up those types of abstractions.

[2018-07-03 23:34] alexreg commented on #59
Thanks!

[2018-07-03 23:35] alexreg commented on #59
Thanks! Will that move to rust-embedded.org at some point too?

[2018-07-04 04:30] japaric commented on #43
Update from the dev-tools meeting regarding lldb: there has been ongoing work on improving Rust support in lldb and work there has been progressing nicely so they are now looking into shipping lldb as a rustup component.

[2018-07-04 06:56] korken89 commented on #56
Hi, I had a look at the proposed content in "**Running and Debugging**", do you want help to add for the Black Magic Probe debugger, to have some diversity rather than just OpenOCD?
We use it in production rather than OpenOCD due to it having the GDB server built in and does not requite any extra installs more than GDB.

Link to Git and Wiki: https://github.com/blacksphere/blackmagic

Tell me if y

[2018-07-04 07:11] therealprof commented on #56
@korken89 The BMP is by far not as versatile as OpenOCD and it exclusively works with GDB, not lldb (and possibly never will). If we add that content there probably should be a big caveat in there so people don't treat such content as recommendation to go out and buy one only to figure out that it doesn't work for their setup.

[2018-07-04 07:41] AJAnderson commented on #56
Perhaps an "Other Hardware" section?

On Wed, Jul 4, 2018 at 7:11 PM, Daniel Egger <notifications@github.com>
wrote:

[2018-07-04 07:46] korken89 commented on #56
@therealprof  I would argue the it might not be as versatile in some corner cases (MCU support) but much less hassle than `OpenOCD` based systems to use, hence why we use it. However I am not here to discuss features nor debugger vs debugger, there are countless threads already doing this.
I simply argue that one should not base it all on one system and give the reader a broader view of what is av

[2018-07-04 07:57] korken89 commented on #57
On licensing I would like to point out that in embedded micro controller systems MIT / Apache 2.0 can be problematic as they require the license to be available in the binary distribution. In practice this means that the system must have the license compiled into the binary, and also be available to read out somehow by someone inspecting the system, which is a real problem.

What we did in the emb

[2018-07-04 07:59] therealprof commented on #56
@korken89

I disagree but of course if it works for you that's great.

I agree. Just saying that if it is brought up there should be a disclaimer. There's a very good reason pretty much any other project is actively pushing OpenOCD or PyOCD support.

Err, the GDB protocol is notoriously under documented so implementations (including lldb) will differ. The BMP maintainer stated several times that t

[2018-07-04 08:14] korken89 commented on #56
@therealprof

We can't agree on everything :)

Then I would say we are on the same page, just as `OpenOCD` should have one. It's all about educating the reader and then letting them make their own decision.

Indeed, and this is true. I just want to point out that parts of industry today is built on this foundation, and the more people we can pull to Rust the better. And to pull people the path has

[2018-07-04 08:23] thejpster commented on #107
So I would vote for the 'R' logo on a chip. Who should we reach out to to get clarification on companies using this logo for their products (e.g. BSPs written in Rust). And, if it turns out that's a no-go, should we just use this logo for our purposes anyway, because it's really cool?

[2018-07-04 09:12] jamesmunns commented on #57
@korken89 Interesting, I had not heard of that interpretation before. Is there a legal precedence that states it must be included in the binary distribution? In my experience, companies include this documentation with the released product, but in paper form/in the rest of the T&Cs/Warranty/etc (not in the binary).

[2018-07-04 09:22] therealprof commented on #107
I totally agree with @thejpster here.

[2018-07-04 09:31] korken89 commented on #57
This is a gray-zone in my non-legal-expert interpretation, but if it is in the documents accompanying the product can be fine.
Recalling from the old discussions, the choice was made to simply not be in the gray-zone and *explicitly* allow it.

For details I think Odin who is leading this project: https://github.com/kvasir-io has the detials.
I was just listening in on the discussions back then, b

[2018-07-04 09:39] ryankurte commented on #56
I'm in favour of documenting a few different debuggers, so people can use whatever they have on hand / are familiar with / is on their dev board / works.
I'd suggest OpenOCD, BMP, JLink, and STLink would be a good start, and I'm happy to contribute towards the JLink / BMP parts. The documentation is probably a good first step towards some kind of unified programmer/debugger.

[2018-07-04 09:40] Nemo157 commented on #57
Apache-2.0 specifically seems like it's fine with the license being included in the documentation, it doesn't limit how you provide a copy of the license to the recipients:

---

I believe MIT is also ok with it when you read the license as a whole

by the definition of "Software" given in the copyright notice the documentation is included, so including the license file as part of the documentatio

[2018-07-04 09:50] korken89 commented on #57
I trust you guys, just to keep it in mind and so that you are aware of the choices other embedded communities has done.

[2018-07-04 09:53] therealprof commented on #56
@ryankurte We need to be careful about mixing things here. Are we talking about software, protocols and/or hardware? BMP is a bit of an oddball here because it is hardware and software in one and provides a gdb-server protocol specific for GDB use; it's the only hardware I know which can not be used with OpenOCD, which is purely software speaking a number of protocols with different hardware. JLin

[2018-07-04 10:12] AJAnderson commented on #56
Second the importance of maintaining a clear distinction for newbies like
myself, also outlining (as you have Daniel) where the various bits and
pieces can interop with eachother.

On Wed, Jul 4, 2018 at 9:53 PM, Daniel Egger <notifications@github.com>
wrote:

[2018-07-04 10:18] jamesmunns commented on #57
Thanks for the input @korken89, definitely follow up if you hear more information from the organizations you are involved with.

[2018-07-04 10:46] therealprof commented on #57
Hm, what happened to this issue? A whole bunch of comments (including all of mine) are missing...

[2018-07-04 10:50] hannobraun commented on #57
@therealprof You're probably remembering the discussion from #39. Starts here: https://github.com/rust-lang-nursery/embedded-wg/issues/39#issuecomment-371017978

@getreu opened this issue and copied his own comments. See https://github.com/rust-lang-nursery/embedded-wg/issues/39#issuecomment-371131590

[2018-07-04 12:07] ryankurte commented on #56
@therealprof fair point, for the purposes of the documentation I mean "how do I use this physical debugger in front of me to make the lights flash", whether that be JLink hw/sw, STLink hw/sw, BMP+GDB or any hw+OpenOCD, and GDB or LLDB as appropriate. I have never successfully got OpenOCD working, so I don't know how much it /could/ replace, but ime there are justifications for each of em.

[2018-07-04 12:18] therealprof commented on #56
@ryankurte OpenOCD is a jack of all trades, unfortunately it is also not quite user friendly and might required some deep technical understanding, especially if you're looking for an exotic configuration or combination of interface and hardware. Many projects provide useful configuration and helper tools to simplify its use a lot. It would be great to have something like that in the Rust world, to

[2018-07-04 14:30] kjetilkjeka commented on #56
@ryankurte @therealprof Are you aware of [Bobbin-cli](https://github.com/bobbin-rs/bobbin-cli)? It brings the awesomeness of cargo to programming/debugging microcontrollers. It's my clear first choice when doing embedded development in Rust. It provides a consistent interface similar to cargo for the most common debugging tool. I've used it with STLink (insert STLink is superior to all other debug

[2018-07-04 15:58] puzrin commented on #57
IMHO if you wish to push authors do something - create a convenient automated tools for CI. For example - recursive licence checker for projects. And let users to ask crate authors about the rest. Attempt to enforce authors directly & manually to do something is not nice in OSS.

[2018-07-04 17:24] ithinuel commented on #57
@puzrin like https://github.com/davglass/license-checker ?

[2018-07-04 17:31] puzrin commented on #57
@ithinuel yes.

[2018-07-04 22:35] therealprof commented on #56
@kjetilkjeka I do know bobbin-cli and agree it's a great tool. To me it certainly makes sense to focus on documenting its use, however it does not completely address the points I raised, since it cannot handle every situation automagically. Since I revisited it just now after a few months of abstinence I think we can even use it as a foundation to develop and document best practices to follow so p

[2018-07-04 23:21] ryankurte commented on #56
@therealprof thanks for the resources, tbqh I have a JLink workflow that works and is reproducible across different OSs and I'd rather worry about making things than [shaving](https://github.com/blacksphere/blackmagic/pull/264) [more](https://github.com/ryankurte/blackmagic/tree/feature/efm32-draco-target) [yaks](https://github.com/ryankurte/xprog) in debugger setups.

@kjetilkjeka bobbin-cli look

[2018-07-04 23:34] therealprof commented on #56
@ryankurte Sounds like a plan.

[2018-07-05 10:33] korken89 commented on #56
@ryankurte / @therealprof Please include me in this issue, I am very much interested in looking to unify and simplify the flashing/debugging step for users.

[2018-07-05 22:23] ryankurte opened #112 "The book - Running and Debugging section"
As mentioned [here](https://github.com/rust-lang-nursery/embedded-wg/issues/56#issuecomment-402382332) it'd be great to develop [Running and Debugging](https://book.rust-embedded.org/blinky/run-and-debug.html) into a useful tool-independent resource.

As far as I see it, we need:
- [ ] A common description of how embedded debugging works
  - [ ] JTAG
  - [ ] SWD
- [ ] An intro to embedded debuggin

[2018-07-05 22:56] therealprof commented on #112
@ryankurte LLDB is (was?) not viable for flashing, debugging works okay. But you're right we should probably focus on GDB for now and once we have a proper LLDB workflow (potentially even "batteries included") we could add a chapter/section and swap roles.

Re: Debuggers I think it is important to mention that each debugger (except for BMP) comes with their own flashing tools and/or built-in MSD a

[2018-07-05 23:30] ryankurte commented on #112
Agreed about swapping to LLDB when viable.

I think it's less absolute than that, ime JLink/JLinkExe/GDB is pretty standard in industry and the only approach that works with many of the cores I use, for that example I think the proprietary tools should be highlighted.
[texane/stlink](https://github.com/texane/stlink) is excellent for STLink devices, so for STLink we can talk about that.
I think it

[2018-07-05 23:41] therealprof commented on #112
Looks good to me.

[2018-07-06 07:49] kjetilkjeka commented on #112
Looks good, just a few comments.

 - I think JTAG and SWD will suffice, I'm not convinced any other protocols are common enough to describe them in this text.
 - I agree about swapping to LLDB when viable as well.
 - I like that bobbin-cli is introduced before OpenOCD. bobbin-cli represents a much lower effort solution but will probably be more than enough to get started.
 - Using gdb without twea

[2018-07-06 08:09] therealprof commented on #112
@kjetilkjeka I never managed to get that working properly on my Mac so I'm wary about adding it. Having said that, the 1990s interface of GDB is one the two reasons why I'd really like to see lldb becoming useful for embedded.

[2018-07-06 08:56] korken89 commented on #112
@ryankurte I think this looks good. On GDB vs LLDB, I think it will be gradual transition as LLDB becomes viable. Not loosing functionality is important to the "advanced user", while the beginner often only "wants it to work" - and we need to cater to both when coming to try Rust.

@kjetilkjeka I use GDB dashboard daily, but it has its quirks. If one wants a simple frontend to GDB there is a pleth

[2018-07-06 18:10] thejpster opened #113 "mutex gives a &T not a &mut"
I was writing an interrupt handler and wanted to gate access to a static. The `bare_metal::Mutex` looks ideal, but it gives an immutable reference instead of a mutable one. That seems to defeat the point of having a Mutex.

Am I missing something? What's the canonical mechanism for accessing data in an ISR and ensuring the main thread can only access the data when the ISR is disabled? Is RTFM the

[2018-07-06 18:17] korken89 commented on #113
RTFM is a good answer, but there are other methods. You can use an atomic, or a lock free queue, to name a few depending on what your requirements are.

Usually looking to mutexes in an embedded system though is often a sign of not using event based design methodologies, with the vast majority being event based.
With that said, RTFM is more or less as good as you can make it as you have the MCU do

[2018-07-06 18:51] pftbest commented on #113
Rust's Mutex does two jobs at the same time, first it guarantees that your access to memory is not racy, and secondly is guarantees that you access is _unique_. Rust's Mutex is not recursive, you can't lock it twice in the same thread, that is why it is able to give you `&mut` reference without breaking aliasing rules.

Bare metal Mutex only gives you the first guarantee, but it doesn't give you t

[2018-07-06 19:10] therealprof commented on #113
@thejpster This is how I do it: https://github.com/therealprof/stm32f042-hal/blob/master/examples/flash_systick.rs

[2018-07-07 02:01] JoshMcguigan commented on #39
I've added a [pull request](https://github.com/rust-embedded/awesome-embedded-rust/pull/53) to add the shift register driver to the list. The [intro blog post](https://www.joshmcguigan.com/blog/shift-register-driver/) is up as well. Thanks again for the feedback.

[2018-07-07 05:01] ryankurte commented on #112
It's nasty to learn but on a whole `gdb --tui` is a bit friendlier than the plain version IMO. I think we could definitely describe / link out to some options, and some IDE integrations as @korken89 mentioned.

Definitely agreed

[2018-07-08 09:44] jamesmunns commented on #111
Might be worth mentioning, some of the thumbv8em targets are now purchasable as chips/dev boards: https://github.com/rust-lang-nursery/embedded-wg/issues/88#issuecomment-403275615

[2018-07-08 09:45] jamesmunns commented on #107
Sounds like we have two votes for @Aaronepower. If anyone else wants to make any comments, let me know. We will discuss at the next embedded WG meeting (about a day from now) - https://github.com/rust-lang-nursery/embedded-wg/issues/111, and hopefully get this decided then.

[2018-07-08 09:46] jamesmunns commented on #111
Finalize decision on Embedded Rust Logo: https://github.com/rust-lang-nursery/embedded-wg/issues/107#issuecomment-398579852

To-Do:

* Initial licensing guidelines (copy/paste from upstream rust?)
* Add to embedded-wg README
* Update twitter logo

[2018-07-09 11:18] johnthagen commented on #39
Has anyone tried doing CAN with the [STM32F3DISCOVERY](https://www.st.com/en/evaluation-tools/stm32f3discovery.html) (or any microcontroller)? It looks like [this Discovery Shield](https://www.mikroe.com/stm32f3-discovery-click-shield) has a SN65HVD230 CAN transceiver on it (listed in @japaric's original post).

[2018-07-09 11:50] jamesmunns commented on #39
Hey @johnthagen, you might want to check out the discussion on the `embedded-hal` project: https://github.com/japaric/embedded-hal/pull/53

[2018-07-09 13:47] kjetilkjeka commented on #39
@johnthagen I've used can in rust with NXP S32K and socketcan on rpi (if it qualifies as a MCU).

[2018-07-09 14:59] jamesmunns commented on #111
Status of the Embedded CI/IRR program:

@sekineh has opened up this issue to try and unblock our "base case" tests: https://github.com/rust-lang/rust/issues/52163

@nerdyvaishali is going to capture our steps as issues/milestones based on 3 week cycles (aligned with the compiler releases).

[2018-07-09 17:06] ithinuel commented on #88
I don't know if these devices are already available but I also heard about :

Nuvoton M2351
---

https://www.cnx-software.com/2017/03/21/numicro-m2351-trustzone-enabled-arm-cortex-m23-mcu-is-designed-for-fingerprint-applications/
http://armdevices.net/2017/03/20/worlds-first-arm-cortex-m23-in-nuvoton-m2351/
https://github.com/ARMmbed/mbed-os/pull/7302

Arm Musca A1
---

https://developer.arm.com/p

[2018-07-09 19:51] japaric commented on #103
- [Rustberry](https://www.reddit.com/r/rust/comments/8x1ayd/calling_all_raspberry_pi_owners_rustberry_010_has/). Register maps and I/O library for the Pi.

- [The Atomic*.{load,store} API is now available for thumbv6m and msp430 targets](https://github.com/rust-lang/rust/pull/51953).

[2018-07-10 09:06] #98 closed

[2018-07-10 09:15] jamesmunns opened #115 "Book: Review Outline"
### Update

We revised the outline during the meeting held on 2018-07-16 and came up with the following sections:

- Introduction - #116
  - covers setup
  - what #[no_std] means: no I/O (filesystems), allocation, etc.
- Blinking Your First LED - #117
  - use cortex-m-rt
  - emphasis on zero cost abstractions: high level vs unsafe manual way (same disassembly)
- "Static guarantees" - #118
  - stat

[2018-07-10 09:16] jamesmunns commented on #115
@thejpster proposed moving Sections 7.1-7.4 into a new section (how to think in embedded rust), to be placed after section 2.

[2018-07-10 09:17] jamesmunns commented on #115
@japaric proposed splitting up Section 3 (embedded-hal) into two Sections, one covering Portablility, and one covering Static Guarantees

[2018-07-10 09:19] jamesmunns opened #116 "Book: Section 1: Introduction (draft)"
This issue tracks discussion around the Introduction Section of the book. This includes introducing concepts, obtaining and setting up hardware, and verifying a setup before starting the book.

[2018-07-10 09:32] jamesmunns opened #117 "Book: Section 2: Blinking your first LED (draft)"
This section covers the equivalent of getting "Hello World" working for an embedded target. Examples should start high level, and build back up towards that point.

[2018-07-10 09:33] jamesmunns opened #118 "Book: Section 3A: Static Guarantees (draft)"
What sort of Static Guarantees are possible with Rust?

[2018-07-10 09:34] jamesmunns opened #119 "Book: Section 3B: Portability"
How can use of Rust improve portability between Projects, Targets, or even Operating Systems?

[2018-07-12 15:58] jamesmunns commented on #103
https://twitter.com/rahulthakoor/status/1017430944117067781

[2018-07-12 16:56] jamesmunns commented on #103
https://myrrlyn.net/blog/misc/rust-2018

[2018-07-12 21:36] japaric commented on #103
https://www.joshmcguigan.com/blog/betafpv-drone-flight-controller-hello-rust/

---

@jamesmunns that blog post appears to be from January 2018

[2018-07-14 02:47] japaric commented on #103
Help us port libm to Rust so we can add math support to the core crate. https://github.com/japaric/libm/#libm

[2018-07-14 12:47] little-arhat commented on #103
@japaric what is the status of https://github.com/japaric/m ?

[2018-07-14 22:06] japaric commented on #103
@little-arhat [Deprecated in favor of libm](https://github.com/japaric/m#psa-this-crate-has-been-deprecated-in-favor-of-libm).

[2018-07-15 09:06] jamesmunns commented on #107
Based on discussion here, we have accepted the logo from @Aaronepower. Progress on this will now be tracked in this PR: https://github.com/rust-lang-nursery/embedded-wg/pull/120.

Thank you so much to @TNkemdilim and @Aaronepower for submitting logos!

[2018-07-15 09:06] #107 closed

[2018-07-15 09:39] jamesmunns opened #121 "Embedded WG Newsletter 8"
Reporting issue for the next Newsletter, roughly scheduled for `2018-07-29`

[2018-07-15 09:43] jamesmunns commented on #103
https://twitter.com/korken89/status/1016975023930830848

[2018-07-15 10:16] #103 closed

[2018-07-15 10:16] jamesmunns commented on #121
Reach out to people behind https://uavcan.org/Implementations/Uavcan.rs/ ?

[2018-07-15 23:57] japaric opened #123 "Embedded WG meeting, July 16"
[6-7 PM CEST][0] on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2018-7-9,240,b8jj

Agenda.

- Planning work on the embedded Rust book. cf. #56
  - Final outline. cf. #115 #116 #117 #118 #119
  - Prioritization of topics / sections. Which topics *must* be done and polished for the edition release? Which topics would be nice to have but are not critical?
- Embedded web page.

[2018-07-16 00:01] japaric commented on #111
This meeting happened. Logs are [here](https://github.com/rust-lang-nursery/embedded-wg/blob/master/minutes/2018-07-09.irc.log). Issue for next meeting [here](https://github.com/rust-lang-nursery/embedded-wg/issues/123).

[2018-07-16 00:01] #111 closed

[2018-07-16 00:18] japaric commented on #68
This exists as https://github.com/rust-embedded/awesome-embedded-rust

[2018-07-16 00:18] #68 closed

[2018-07-16 00:49] japaric commented on #115
Are Tock userland apps working on stable? The books should only contain stuff that works on stable.

I propose we add a section on concurrency briefly talking about Send and Sync (which are well covered in the Rust book) and then go over the concurrency systems / pattetrns that exists: bare metal (static + interrupt handlers), Real Time For the Masses (tasks, message passing) and, if stable, Tock

[2018-07-16 11:31] hannobraun commented on #123
There's an agenda item from last wee that we didn't get to:
* Maintaining the embedded / Cortex-M ecosystem. cf. #46. @japaric will come up with some plan / structure.

[2018-07-16 16:03] japaric commented on #123
@hannobraun yes, we'll cover it in a later meeting because we have to cover the website today.

[2018-07-16 20:03] andre-richter commented on #87
I have a combined CPU and MMIO register interface, with type-safe and convenient bitfield manipulation now published at https://crates.io/crates/register

It's based on tock's register interface.

[2018-07-16 20:03] #87 closed

[2018-07-16 20:09] jonwingfield commented on #18
Is there any recognized way around this? Even when eliminating Debug from my code, I still get a lot of bloat from the various assertions/messages in slice and other places throughout the library. I wish there was a way to conditionally compile them out for release builds. It's hard to fit things into 16K :)

[2018-07-17 12:08] thejpster commented on #115
Will this be updated with the revised layout as discussed at the WG meeting, or is that tracked elsewhere?

[2018-07-17 12:09] ryankurte commented on #115
@jamesmunns there was some discussion in #56 and from there #112 about building _Running and Debugging_ into a good tool-independent resource (which I definitely support), and in which case I would suggest it could be a separate section?

[2018-07-17 14:29] japaric commented on #118
Static guarantees is a topic that's too broad. This section was originally brought up in the context of "the static configuration pattern with embedded-hal implementation as an example".

So the section should probably be named "static configuration" or "type state applied to configuration" or just "type state applied to embedded".

[2018-07-17 14:34] japaric opened #124 "Book section: Concurrency (draft)"
This section should cover concurrency in embedded systems / microcontrollers. How the Send / Sync traits can be used with interrupts and static variables to achieve memory safe concurrency in those systems. We start with the simple case of interrupt handlers, static variables and critical sections and then show that a framework / DSL like Real Time for The Masses can built using those basic blocks

[2018-07-17 14:37] japaric opened #125 "Book section: Dynamic data structures (draft)"
In this section we cover how to get data structures like std::Vec and std::String working in #[no_std] applications. There are two ways: (a) using the alloc crate, #[global_allocator] and #[alloc_error] -- heap allocated collections -- and (b) using the heapless crate -- fixed capacity collections. There should be a subsection that covers the advantages and disadvantages of using one or the other.

[2018-07-17 14:40] japaric commented on #48
I'm repurposing this issue to track a book section about integrating Rust and C code. We discussed two scenarios:

- "A little Rust with your C code". Integrating a Rust component into an existing C project.
- "A little C with your Rust code". Creating bindings to some C library / SDK and using that from a Rust project.

The Rust book probably covers this so we should focus on the aspects specific

[2018-07-17 14:44] japaric opened #126 "Book section: Tips for embedded C / C++ developers"
We agreed on having a section containing tips for embedded developers that have a C / C++ background. For example, they may be used to using for loop + indexing on arrays but it's more efficient to use iterators in Rust so they should use that instead.

Anything else that should be covered? cc @thejpster

[2018-07-17 15:06] japaric commented on #115
@thejpster the issue description has bee updated with the revised outline.

@ryankurte

the embedded book is aimed at people familiar with embedded development. IME running and debugging Rust programs doesn't look much different from running and debugging C programs -- the same tooling is used, the format is the same (ELF or binary) -- so I'm not sure if such section should be in the embedded book

[2018-07-17 21:29] gbip commented on #123
I think that this is a very important agenda item : as the community get more involved into embedded development we really need to have some kind of structure for maintaining crucial crates.

[2018-07-18 13:36] FlorianUekermann opened #128 "Non-code support"
I couldn't find pointers on how to support the embedded efforts in Rust via hardware donations or monetary support for projects and people. Not sure if this is the right place for this or if there is even interest.

[2018-07-18 21:12] jamesmunns commented on #121
https://www.reddit.com/r/rust/comments/8zk03w/cc1101_crate_can_now_receive_radio_packets/

[2018-07-18 21:56] kjetilkjeka commented on #121
@jamesmunns I'm the one that has been working on the uavcan.rs project. I guess it's me and/or Pavel Kirienko (the uavcan protocol maintainer) you're looking for. Anything I can help with?

[2018-07-19 11:55] hannobraun commented on #128
@japaric is on Patreon: https://www.patreon.com/japaric

I don't know if there are any other embedded Rust devs on Patreon, but any money going to @japaric is certainly well-spent.

If you're looking to sponsor specific work, like writing drivers or HAL crates, I'm sure there are developers willing to do take on projects like that (me among them).

[2018-07-19 12:46] FlorianUekermann commented on #128
Done. Thanks, I didn't see that. It would be nice to reference these things somewhere more obvious (or did I just miss it).

I don't think I can sponsor specific work on my own and unfortunately don't have the time to make very significant code contributions at the moment.
I don't know how this is typically done, but if there was some space where people can post what they would like to fund and te

[2018-07-19 14:05] hannobraun commented on #128
For Rust in general, there's [a list](http://aturon.github.io/sponsor/). I'd totally support adding an equivalent list (possibly including commercial offerings) to this repository (or another place where it would be visible). I'm a bit loath to push for such a list though, since it would be quite self-serving.

Yes, I think that options makes sense for companies that intend to use whatever they sp

[2018-07-19 20:37] therealprof commented on #128
@FlorianUekermann @hannobraun Actually that's a splendid idea. I also have both a huge backlog of things I want to do/get done and a ton (I haven't weighted it but it should be literally close to a metric ton) of hardware I could donate to interested parties.

[2018-07-20 09:20] thejpster commented on #115
LGTM

[2018-07-20 10:00] kjetilkjeka commented on #115
I've already mentioned bobbin-cli in other issues. This tool is unique to rust, integrated well with existing tools and makes debugging and running rust programs a much more pleasant experience than c. I think this tool should be mentioned in the book. It do not need its own section and csn be included into "Introduction" or "Blinking Your First LED"

[2018-07-21 07:05] diwic commented on #126
I wrote [an article](https://github.com/diwic/reffers-rs/blob/master/docs/Pointers.md) about some Rust patterns that replaces C pointers. Might be helpful in this context too?

[2018-07-21 10:04] korken89 commented on #126
One thing that is quite popular now is to use `template meta-programming` in C++ to configure hardware at compile time with guaranteed optimization. This is one part that kept me from coming to Rust for a long time, and I still have not found a way to do this well in Rust.

In C++ there is a continuous move towards `constexpr` functions, which (under certain requirements) are guaranteed to be eval

[2018-07-21 10:19] therealprof commented on #126
@korken89 No idea where you got that from. It's pretty much exactly the other way around: In Rust variables are const by default and everything is fully propagated through the compilation passes meaning that most functions will just turn into hot air leaving only few instructions behind. All automatically and per default without fiddling with functions trying to convince the compiler to that somet

[2018-07-21 13:15] therealprof commented on #126
@korken89

In Rust? No. It's not even possible to ensure that. (Well, with the exception of const functions but they're only usable for initialisation of static data and often not even that).

No, not quite. I'm fully aware that this is a goal of C++ and **can** be achieved by expert programmers but is except for a few exceptions not done due to being extremely time consuming. Also with C++ that w

[2018-07-21 17:03] japaric commented on #121
The Rust port of MUSL libm is done. The [libm](https://github.com/japaric/libm#libm) crate can be used in standalone mode to get math support in #![no_std] code.

[2018-07-21 17:36] paoloteti commented on #121
I just start to add ARM DSP Intrinsics on rust/stdsimd on **official repo.** (2 PR and ~15 intrinsics)
List is a bit long, so any help is appreciated.
I use to test DSP Intrinsics on Cortex-R boards and of course on QEMU/CI, but I don't own any Cortex-M board. Hope someone else can test on real hw.

[2018-07-22 16:15] korken89 commented on #126
@therealprof

Indeed, and I have been creating these kind of abstrations through header-only libraries as you said.
This is also what has taken me towards Rust, as it is a great pain in C++ - too many ways to subtly fail and generate non-optimal assembler (which also is why [Compiler Explorer](www.godbolt.org) is my main tool to evaluate the generated assembler in).

@Ixrec really hit it on the na

[2018-07-22 16:17] droogmic commented on #121
https://droogmic.github.io/microrust

I have been working on a rewrite of the Discovery book, targeting the micro:bit.

It is more than just a simple port though, so it may be of some interest to the WG when they write their embedded book. The benefit vs Discovery is an attempt at a simpler and more beginner friendly, as well as only requiring one piece of hardware, the micro:bit itself (which sho

[2018-07-22 17:12] therealprof commented on #126
@korken89 You might want to have a look at macros, too, to generate tables and/or runtime expressions at compile time.

[2018-07-22 18:21] korken89 commented on #126
@therealprof Thanks, I'm already there :) Trying to learn procedural macros now.

[2018-07-23 04:35] japaric commented on #121
Related to the ARM DSP intrinsics: The CMSIS intrinsics have also landed in nightly (cf. rust-lang-nursery/stdsimd#518). We should ask the community to test those too. Both the DSP and CMSIS intrinsics should appear in the [nightly API docs](https://doc.rust-lang.org/nightly/core/arch/arm/index.html) but they don't show up there yet for some reason. If the nightly docs get updated before the weeke

[2018-07-23 08:53] japaric opened #129 "Embedded WG meeting, July 23"
[6-7 PM CEST][0] on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2018-7-23,240,b8jj

Agenda.

- Finalizing the style of the web page. See https://github.com/rust-lang-nursery/embedded-wg/issues/49#issuecomment-406986825

- Triaging issues on the [Preview 2 milestone](https://github.com/rust-lang-nursery/embedded-wg/milestone/2).

- [your topic goes here]

Backlog.

-  Maintai

[2018-07-23 08:59] japaric commented on #123
This meeting happened. Logs are [here](https://github.com/rust-lang-nursery/embedded-wg/blob/master/minutes/2018-07-16.irc.log). Issue for next meeting [here](https://github.com/rust-lang-nursery/embedded-wg/issues/129).

[2018-07-23 08:59] #123 closed

[2018-07-23 14:58] jamesmunns commented on #129
I will probably not be able to attend today's meeting. A status update for CI/IRR: the first PR to set up the test harness has landed: https://github.com/rust-lang/rust/pull/52465, so the next step is to start adding tests. We hope to start opening PRs for these initial tests this week.

We also need a couple of code examples and/or crates we should be checking in the CI. I am open to suggestions,

[2018-07-23 22:02] bradjc commented on #36
With https://github.com/rust-lang/rust/pull/51966 being merged (update to use LLVM 7 for nightly rust), where does this stand?

[2018-07-24 09:07] dvc94ch commented on #36
Due to working on https://electron-lang.org I haven't kept up to date on recent developments. Building it now, will take a couple of hours...

[2018-07-24 15:43] dvc94ch commented on #36
@bradjc all I can say is that it builds core until https://github.com/japaric/xargo/issues/218 is resolved...

[2018-07-24 23:04] bradjc commented on #36
@dvc94ch can you share a pointer to what you are building?

[2018-07-25 06:52] dvc94ch commented on #36
rust: https://github.com/riscv-rust/rust/commits/riscv-rust-nightly
binutils and openocd: https://github.com/riscv-rust/riscv-rust-toolchain
riscv-crates: https://github.com/riscv-rust/riscv-crates (pushed some fixes, still got to resolve some linking problems and unresolved memcpy symbol)

[2018-07-25 08:42] dvc94ch commented on #36
Also I'm glad to add people to the riscv-rust org so that I'm not a bottleneck... Let me know if someone is interested.

[2018-07-25 10:08] adamgreig commented on #108
At [Airborne Engineering Ltd](http://ael.co.uk) we recently used Rust to write an Ethernet bootloader, [blethrs](https://github.com/airborneengineering/blethrs), for our in-house data acquisition system. Manually updating the firmware on every card in the system was getting old fast! We were able to put the first version together in just a couple of days with none of the usual bug hunting you'd ex

[2018-07-25 23:35] bradjc commented on #36
I made the following patch to https://github.com/riscv-rust/rust/commits/riscv-rust-nightly

[code]

because the `riscv32ia-unknown-none` target ends in `-none`. Then I could build rust with:

[code]

Over in riscv-crates I ran:

[code]

and made these diffs:

[code]

[code]

Then in https://github.com/riscv-rust/riscv-rust-toolchain:

[code]
and added `/Users/bradjc/git/riscv-rust-toolchain/toolc

[2018-07-26 00:14] danc86 commented on #36
Just FYI `__mulsi3` is the software implementation of multiplication for CPUs without a hardware multiplier. If it's trying to link that in, it means Rust thinks your CPU has no multiplication unit. If you add:

     "-C", "target-feature=+m",

to rustflags in the cargo config, this link error should go away. Of course someone may still want to target CPUs without a multiplier in which case they w

[2018-07-26 01:46] bradjc commented on #36
That flag is already there:

https://github.com/riscv-rust/riscv-crates/blob/38008c4dd7ea2a5712dfd12b6bfc9d00ea2c4b21/.cargo/config#L8

and I verified that it is included in the rustc command.

[code]

[2018-07-26 12:42] dvc94ch commented on #36
So what are the thoughts on targets to support?

* riscv32i-unknown-none and riscv32im-unknown-none are useful for educational purposes (building your own core)
* riscv32imc-unknown-none is useful for soft-cores (picorv32)
* riscv32imac-unknown-none is useful for the sifive e310x chips

I don't have a board available to test it works currently - since I'm not at home. After that I think we can sub

[2018-07-26 13:01] bradjc commented on #36
Based on that, `riscv32imc-unknown-none` and `riscv32imac-unknown-none` might be the two to start with.

[2018-07-26 18:11] japaric opened #130 "Embedded WG meeting, July 30"
[6-7 PM CEST][0] on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2018-7-30,240,b8jj

Agenda.

- Maintaining the embedded / Cortex-M ecosystem. cf #46. More details will be posted in the issue during the weekend before the meeting.

- "Could we briefly mention talking to chip companies about Rust?" @thejpster

- Triaging issues on the [Preview 2 milestone](https://github.com/r

[2018-07-26 18:16] japaric commented on #129
This meeting happened. Logs are [here](https://github.com/rust-lang-nursery/embedded-wg/blob/master/minutes/2018-07-23.irc.log). The issue for next meeting is [here](https://github.com/rust-lang-nursery/embedded-wg/issues/130).

[2018-07-26 18:20] japaric commented on #36
@dvc94ch

We can mention that in the "Help wanted" section of the WG newsletter that goes out this week. Also, in the next meeting (rust-lang-nursery/embedded-wg#130) we'll discuss making orgs / teams to maintain the cortex-m / embedded crates on crates.io; we could mention that you are looking for collaborators during the meeting.

I would suggest adding, for now, only the targets that have been

[2018-07-26 18:50] dvc94ch commented on #36
@japaric thanks.
- rust patches: https://github.com/riscv-rust/rust/commits/riscv-rust-pr (I'll drop all except riscv32imac)
- __mulsi3 builtin: https://github.com/riscv-rust/compiler-builtins/commit/c200f6dd62fc538cb5abf0832a95976640120e0e
- psabi doc: https://github.com/riscv/riscv-elf-psabi-doc