[2018-12-30 07:14] Lokathor commented on #256
Ahhhh.... maybe? That's actually a really tough one. I think it's not _necessary_, even if you might want it in some cases.

Functions in Rust can already name other functions in Rust and the language handles it for you.

[code]

So if you've got a Rust program that doesn't care about outside code being able to find its symbols, then you won't need to apply the `no_mangle` flag in that case. I thi

[2018-12-30 19:40] RandomInsano commented on #286
This sounds like fun. I've got a few random things <https://gist.github.com/RandomInsano/49148e290b5b3d8650b0d600c3e2dd2b> going right now so I can't promise anything but reach out if you're not sure where to start.

I've been pretty far out of the loop lately so I'm not sure where the USB client crate is for that micro controller at the moment, but the rest of the features of the board look very

[2018-12-30 22:59] jonwingfield commented on #286
Hi Tony,

There is already some active work going on for the ATSAMD21/51 family of micros at https://github.com/atsamd-rs/atsamd. Most of the work currently focuses on the 21, but there has been some started on the 51, and I think it would be a relatively simple thing to get going once you're familiar with the basics (SVDs, HAL, etc). I'd recommend opening a discussion there.

[2019-01-01 23:18] eddyp commented on #256
**Category**: feature/resources

**Request**: access to cpu specific intrinsics (e.g. nop, dsb, isb, wfi, msr, mrs, cpsie... for ARM, msync, isync, mtspr, mfspr, mbar... for Power)

**Rationale**: On low level code such as RTOSes context switching, exception handling or HW programming there are often very specific assembly instructions which must occur in very specific sequences and with precise t

[2019-01-02 00:17] eddyp commented on #256
**Category**: feature/resources

**Request**: Provide fine grained custom memory sections layout (similar to C '#pragma ... section')

**Rationale**: In embedded applications it is often specific memory ranges are used for specific purposes and not all memory has the same properties, for example noncacheable memory ranges, tightly coupled instruction or data memories, ECC SRAM memories, etc. It fo

[2019-01-02 00:35] eddyp commented on #256
@ZirconiumX you can but is not desirable since in typical code I am thinking about you want to say "from this point on the file onwards, all uninitialized data should be placed in .noncachablebss" or "the following functions should be placed in the tightly coupled instruction memory, until I explicitly revert to using flash".

And it gets very tedious soon to add such attributes for each symbol wh

[2019-01-06 09:12] japaric opened #288 "Core Cortex-R crates"
This issue is for tracking progress on developing `cortex-r-*` crates that will
be maintained by the WG.

The current plan is

- Make the [`cortex-r-rt`] crate more generic and move it into the WG org. Issue
  paoloteti/cortex-r-rt#1 is being used to discuss how to make that crate more
  generic.

[`cortex-r-rt`]: https://github.com/paoloteti/cortex-r-rt

- Move the [`dcc`] and [`panic-dcc`] crate

[2019-01-06 14:31] eddyp commented on #282
What is the status of this? It would be really interesting to be able to publish Arduino libraries written in Rust

[2019-01-06 21:18] paoloteti commented on #288
@eddyp r52 is available under NDA or for approved partners only. So I prefer to wait a bit.
@japaric I’ll back tomorrow at office and I’ll review your proposal. Thanks

[2019-01-08 09:45] therealprof commented on #256
Category: crate

Request: Supplement the `Mutex<RefCell<Option<...>>>` dance by something more user friendly

Rationale: To share peripherals and other resources between interrupt/exception handlers and e.g. the main loop the user currently has to create a static `Mutex<RefCell<Option<...>>>` variable with a fully specified type, move the resource into it, and borrow in the interrupt handler after

[2019-01-08 14:49] jamesmunns commented on #277
I'm interested in tackling [the testing topic](https://github.com/rust-embedded/wg/issues/256#issuecomment-439686308) - as I've had some thoughts around this.

I also think having [discoverability of embedded-hal impls](https://github.com/rust-embedded/wg/issues/256#issuecomment-439635403) is fairly important as well.

[2019-01-08 17:54] Lokathor commented on #256
Is that for multithreaded handlers? Because on a single core, I've been assured by some very serious people that you can just share a global between the main thread and the interrupt handler if it's always accessed in a volatile way.

Speaking of which, on armv4t you must have an interrupt handler written with 32-bit arm state. Is that the same on later arm devices, and are you just programming th

[2019-01-08 22:49] japaric opened #291 "Embedded WG meeting, January 15"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-01-15,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

- Prioritize Rust requests #269

- @jamesmunns Help with the newsletter

- @jamesmunns Free for

[2019-01-08 22:49] japaric commented on #284
This meeting happend! Minutes and logs can be found in PR #290.

The agenda for the next meeting is in #291

[2019-01-08 22:49] #284 closed

[2019-01-08 23:06] japaric commented on #269
I have updated the top 15 list in my previous comment using the newest data. A few items have switched places but the top 15 remains the same.

On the next meeting (#291) will discuss and prioritize these requests synchronously. If you cannot make to the meeting please leave your thoughts in this thread and we'll include them in the discussion.

[2019-01-08 23:16] japaric commented on #291
If you have opinions on this and can't make it to the meeting, feel free to write down your thoughts in #269. We'll include them in the discussion.

[2019-01-09 00:14] japaric commented on #270
We discussed in yesterday's meeting (#290) that teams should start deciding on
how to prioritize their work items for this year. We'll let each team decide how
to do the item prioritization but we recommend having a real-time / synchronous
meeting (IRC or video meeting) to discuss all the potential goals.

If appropriate, you can reserve a time slot during the weekly meetings to have
this synchron

[2019-01-09 00:14] japaric commented on #271
We discussed in yesterday's meeting (#290) that teams should start deciding on
how to prioritize their work items for this year. We'll let each team decide how
to do the item prioritization but we recommend having a real-time / synchronous
meeting (IRC or video meeting) to discuss all the potential goals.

If appropriate, you can reserve a time slot during the weekly meetings to have
this synchron

[2019-01-09 00:15] japaric commented on #272
We discussed in yesterday's meeting (#290) that teams should start deciding on
how to prioritize their work items for this year. We'll let each team decide how
to do the item prioritization but we recommend having a real-time / synchronous
meeting (IRC or video meeting) to discuss all the potential goals.

If appropriate, you can reserve a time slot during the weekly meetings to have
this synchron

[2019-01-09 00:15] japaric commented on #273
We discussed in yesterday's meeting (#290) that teams should start deciding on
how to prioritize their work items for this year. We'll let each team decide how
to do the item prioritization but we recommend having a real-time / synchronous
meeting (IRC or video meeting) to discuss all the potential goals.

If appropriate, you can reserve a time slot during the weekly meetings to have
this synchron

[2019-01-09 00:15] japaric commented on #274
We discussed in yesterday's meeting (#290) that teams should start deciding on
how to prioritize their work items for this year. We'll let each team decide how
to do the item prioritization but we recommend having a real-time / synchronous
meeting (IRC or video meeting) to discuss all the potential goals.

If appropriate, you can reserve a time slot during the weekly meetings to have
this synchron

[2019-01-09 00:15] japaric commented on #275
We discussed in yesterday's meeting (#290) that teams should start deciding on
how to prioritize their work items for this year. We'll let each team decide how
to do the item prioritization but we recommend having a real-time / synchronous
meeting (IRC or video meeting) to discuss all the potential goals.

If appropriate, you can reserve a time slot during the weekly meetings to have
this synchron

[2019-01-09 00:15] japaric commented on #276
We discussed in yesterday's meeting (#290) that teams should start deciding on
how to prioritize their work items for this year. We'll let each team decide how
to do the item prioritization but we recommend having a real-time / synchronous
meeting (IRC or video meeting) to discuss all the potential goals.

If appropriate, you can reserve a time slot during the weekly meetings to have
this synchron

[2019-01-09 00:16] japaric commented on #277
We discussed in yesterday's meeting (#290) that teams should start deciding on
how to prioritize their work items for this year. We'll let each team decide how
to do the item prioritization but we recommend having a real-time / synchronous
meeting (IRC or video meeting) to discuss all the potential goals.

If appropriate, you can reserve a time slot during the weekly meetings to have
this synchron

[2019-01-09 00:16] japaric commented on #278
We discussed in yesterday's meeting (#290) that teams should start deciding on
how to prioritize their work items for this year. We'll let each team decide how
to do the item prioritization but we recommend having a real-time / synchronous
meeting (IRC or video meeting) to discuss all the potential goals.

If appropriate, you can reserve a time slot during the weekly meetings to have
this synchron

[2019-01-09 07:48] andre-richter commented on #269
Following up on https://github.com/rust-embedded/wg/issues/270#issuecomment-452510545, `cortex-a` has the following rust-lang related change on the radar: https://github.com/rust-embedded/wg/issues/230 (Add a rust-std component for aarch64-unknown-none-(nohf))

Adding hard-float and no hard-float rust-std components will allow for kernel (no-hf) and bare-metal (hf might be wanted here in some case

[2019-01-09 13:30] jamesmunns commented on #291
Re: my item "Free Form Discussions", I talked a little bit on IRC [after the meeting](https://mozilla.logbot.info/rust-embedded/20190108#c15805224-c15805313), but in summary:

I'd be interested in having regular meetings that are specifically less "task completion" focused, but more of an "open forum" to "discuss individual successes and stumbling blocks". This would be a time slot to discuss proj

[2019-01-12 11:30] japaric commented on #288
@eddyp v8r is not suppoted in rustc atm. The crates can't support something that rustc doesn't support. I don't think it would be too much work to update the crates to support v8r, when available, though.

[2019-01-12 14:02] japaric commented on #266
Yeah, so I was thinking we could have some cool down period between crate reviews. Perhaps something like 2 weeks for reviewing the crate and working with author and then 1 or 2 weeks of no review where we just decide which crate to work on next.

To account for the crate requests in #256 we could prioritize working on crates that have been explicitly requested and the libs team has picked as a fo

[2019-01-12 15:40] japaric commented on #285
@therealprof in general, not having a policy means we have to explicitly get the whole responsible team together and discuss the change before making a decision. Having a policy means one can just send a PR, say "this follows our established policy" and be done with a single review. Of course, a policy may not be the right call 100% of the time; in those cases we'll have to discuss what to do but

[2019-01-12 16:00] therealprof commented on #285
Fair enough. In that case my vote would still be on the policy I laid out in https://github.com/rust-embedded/wg/issues/285#issuecomment-449307690, i.e. guarantee only that it compiles with the latest stable and document which version that is and if a change requires a newer stable version we'll note that requirement and bump the minor version to alert users to that fact that this will require a n

[2019-01-14 05:59] tekjar commented on #256
Does writing android HALs with HIDL support fall under purview of rust embedded?

[2019-01-14 09:33] korken89 commented on #271
We are really good when it comes to usability and ease of use PoV already, but I'd like to have debugging be just as easy. We are already discussing debugging issues, but I'd like to hear if others have pain-points within the debugging workflow that they'd like to lift forward.

[2019-01-14 15:43] neilpanchal opened #292 "Branding Proposal"
Just curious if anyone has considered the name "Rustem" for this initiative?

Advantages:
- Easy to decipher and recognize: "Rustem" = "Rust" + "embedded".
- First and foremost, discoverability on Google search. As this project gets larger, and it has the potential to become defacto embedded development standard; discoverability is factor that weighs heavily in the favor of uniqueness in search re

[2019-01-15 01:03] adamgreig commented on #285
I am pro having a MSRV policy to ensure we document and test what the MSRV is for each wg crate. For the time being I wonder if we're best waiting a few releases and seeing how we get on -- so far there's only been zero (or sort of one) Rust stable release since we could compile on stable at all, so we don't really have much experience with how often we might want to bump this or what the ecosyste

[2019-01-15 09:58] HarkonenBade commented on #291
Would it be possible for there to be a bit of discussion on https://github.com/japaric/bare-metal/pull/15 as it seems to be generating a fair bit of back and forth that may benefit from a larger structured discussion, sadly I don't think I will be able to be present, but I would be interested to read the resulting discussion.

[2019-01-15 14:54] jamesmunns opened #294 "Determine an idiomatic way of sharing or transferring resources between Interrupt and User contexts"
See discussion on this thread: https://github.com/japaric/bare-metal/pull/15

Edit: This may end up being more than one solution, particularly "moving" vs "sharing", and for different levels of "sharing" guarantees".

[2019-01-15 15:10] adamgreig commented on #294
I can see at least a few different use cases:

### Sharing a variable between the main thread and only one interrupt handler

This is for something like a semaphore the ISR can signal to tell the main thread to perform an action, or some data received by the ISR that it wants to send to the main thread, or the main thread and the ISR sharing a buffer that the main thread fills and the ISR drains.

[2019-01-15 16:32] adamgreig commented on #294
Sure. It's already deadlock-free on Cortex-M since `Mutex` requires a CS which can't be interfered with. Honestly at that point we're not far off just suggesting using static mut and pretending you're dealing with C and people can do their own analysis re pre-emption or deadlocking; no different to what you'd have to do in C. I'd really like to sort out the simpler cases before worrying about repl

[2019-01-15 16:38] jamesmunns commented on #294
@adamgreig  Ah sorry, you are correct, in the other thread we talked about the case where only one interrupt would be disabled, and I wasn't thinking of the "total critical section" case we currently have.

Honestly I think having something like an `arc_singleton!()` would handle the first two cases, and should be possible once MaybeUnInit lands in 1.32. (Essentially a `Mutex<T>` that is staticall

[2019-01-15 19:01] therealprof commented on #294
Actually the current `Mutex` dance also allows moving stuff out of the `Mutex` and into a `"static"` variable in the interrupt handler allowing to protect it from external access without having to lock the resource.

[2019-01-15 19:33] eddyp commented on #288
@japaric I understand. I don't have experience with older r-s, but I have access at work to an r52 implementation, and was thinking about experimenting with rust, that's why I was interested in r52.

[2019-01-16 07:21] dylanmckay commented on #282
@pietroalbini that's good to hear, thanks!

I will create a DO NOT MERGE PR to upstream Rust including the changes required to run the AVR rustc fork.

Do you have any links to existing crater PRs that include `Cargo.toml` introspection?

Thanks for the help!

[2019-01-16 16:57] pietroalbini commented on #282
The `Cargo.toml` changes are done here in Crater: https://github.com/rust-lang-nursery/crater/blob/master/src/runner/toml_frobber.rs

[2019-01-17 19:26] japaric opened #296 "Embedded WG meeting, January 22"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-01-22,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

- Prioritize Rust requests #269

- @jamesmunns Help with the newsletter

- @jamesmunns Free for

[2019-01-17 19:34] japaric commented on #296
We discussed this during the last meeting and so far we have prioritized 10 of the top 15 requests as follows:

1. const generics / Fix rust-lang/rust#42863 - "Generic associated consts can't currently be used to parameterize fixed array lengths"
2. Stabilize const fn-s that have trait bounds, e.g. const fn new() -> Mutex where T: Send.
3. Stabilize core::mem::MaybeUninit
4. std::io in libcore/lib

[2019-01-17 19:35] japaric commented on #291
This meeting happened! Minutes and logs can be found in PR #295.

The agenda for the next meeting is at #296.

@HarkonenBade I have added your item to next week agenda.

[2019-01-17 19:35] #291 closed

[2019-01-17 20:48] cbeck88 commented on #26
@pftbest are you interested in posting your fork of rmp on crates.io? I need pretty much the exact same thing. I've been unable to find an existing rust library on crates.io that supports a "robust" serialization format (meaning contains the description of the data schema as well as the bytes) e.g. messagepack, CBOR, avro, and supports `serde`, and supports `no_std`.

There is `corepack` but it se

[2019-01-19 17:10] tarcieri commented on #286
Thanks! I've opened an issue over there about ATSAMD51 support: https://github.com/atsamd-rs/atsamd/issues/38

[2019-01-21 10:36] japaric commented on #153
Done (team e-mails) in #189

[2019-01-21 10:36] #153 closed

[2019-01-22 06:11] tarcieri commented on #286
Here's a PR to add an ATSAMD51 HAL: https://github.com/atsamd-rs/atsamd/pull/31

I've opened a separate issue about DAC support, documenting what AdaFruit's code does to utilize the DAC, as well as the corresponding Rust ATSADM21 code

[2019-01-22 11:33] perlindgren commented on #294
Adding to the discussion. We are working on a multicore extension of RTFM (prototype has been up and running and under evaluation for some months already).

The most straightforward approach is to have Tasks and Resources associated to cores by the programmer, allowing shared resources only within a single domain. This might sound too restrictive, but given that message passing is implemented usin

[2019-01-22 11:46] HarkonenBade commented on #294
@perlindgren Is there any meaningful way to make RTFM not require as much macro magic? Even if it means driving some upstream development? As the thing that presents me with the most issue from RTFM is the use of macros to generate a new DSL within rust, I would favour something that was more purely expressed in regular rust syntax.

[2019-01-22 11:57] japaric commented on #261
Closing as off-topic

[2019-01-22 11:57] #261 closed

[2019-01-22 12:05] jamesmunns commented on #294
@perlindgren I think the rub here is that I would like to support users who do, and do not use RTFM. I could believe that use of RTFM, or a similar tool which has whole-program visibility, is perhaps to only way to guarantee zero cost overhead towards safe code.

However, I think there is still value in a low-cost, yet safe set of abstractions that could be used outside of the context of RTFM.

If

[2019-01-22 12:15] jamesmunns commented on #294
@eddyp Yeah, my suggestion for `arc_singleton!()` was perhaps overly bold. What I had in mind was a statically allocated mutex that would be initialized on first access. Sort of like `lazy_static!()` + the `cortex-m::Mutex`.

This likely would only be safe across a single core.

[2019-01-22 12:55] japaric commented on #288
Triage:

org.

The arm-dcc repository has been moved into the org: https://github.com/rust-embedded/arm-dcc

---

@eddyp if you are up to it you can make a PR to add a v8-r target to rustc. You can use PR rust-lang/rust#56000 as a reference.

[2019-01-22 14:22] japaric commented on #294
Solutions that don't depend on procedural macros, off the top of my head:

### A. Signaling from ISR to main

- [`static _: AtomicBool`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0823c384f0bd35f1d6fa09bf96e924aa)
  - Upside: multi-core safe (if correct Ordering is used)
  - Downside(correctness): global `static` variable, anyone can modify it
  - Downside(portability)

[2019-01-22 14:32] japaric commented on #294
@HarkonenBade

RTFM is expressed in regular Rust syntax; attributes, which `cortex-m-rt` also uses
plenty of, are regular Rust syntax; if you can rustfmt something then it's
regular Rust syntax.

With crate level attributes you can reduce the number of required annotations by
introducing inference; though, that's more macro magic, not less. For example,
moving from main to ISR could look like this

[2019-01-22 14:36] therealprof commented on #294
That is not necessarily a downside and certainly not a correctness problem. Also one could move the protected resource into the ISR upon first use if the ISR is supposed to be the exclusive owner to get rid of the critical section if performance really is an issue.

I don't have any problems with deterministic panics. Even better would be if the compiler could figure it out and warn about it.

[2019-01-22 14:41] HarkonenBade commented on #294
Ok, that syntax is something I feel much more comfortable with, I think i was mostly being thrown off by the weird const stuff in the current version of RTFM.

[2019-01-22 14:43] therealprof commented on #294
@japaric Can't we have:
[code]

[2019-01-22 14:45] HarkonenBade commented on #294
Out of interest, in what situations does this panic? As I'm pretty sure i'd made my implementation of the shared wrapper non-panicking.

Can we not avoid using an allocator by having the interrupt handler controller pre-allocate a static block of memory for all the handlers? (possibly with ways to reduce that allocation if you can just choose specific handlers you are expecting to use). As I perso

[2019-01-22 15:03] perlindgren commented on #294
@tom, @james, Rust aims at bringing compile time safety (fearless programming has been used in this context), and I think to that end RTFM succeeds. Then there is the question about magic.

A little background: RTFM was initially designed at Luleå University of Technology (LTU) as a coordination language, using C code for describing actions. As a reasearch platform for experimenting it was great.

[2019-01-22 15:06] pftbest commented on #26
@cbeck88 Sorry, I've missed your message. I don't think I will post post my fork on crates.io, mainly because it is low quality hack. For example I've defined my own io::Read and io::Write traits, and implemented them only for arrayvec and arraystring, so if you want to use them with some other containers you'll have to modify the source code which is not possible with crates.io. Also there is a h

[2019-01-22 15:26] jamesmunns commented on #294
@perlindgren There is a lot to unpack there, and I hope to be able to give a longer answer later. I do appreciate the history and discussion of the design constraints you have worked with.

However, I want to reiterate that I am not against usage of proc macros, nor even the current syntax of RTFM4. I think that some of the module-level proc macro awareness will help with logically structuring cod

[2019-01-22 16:14] perlindgren commented on #294
Hi

Just a short answer to 3, (library), as I wrote earlier.

One way to do this is to base library development on the assumption that the caller provides the resources (that be state or peripheral access) through parameters.

Using RTFM the programmer would bind the interrupt handler and from there call the library function.

If you want to bind an interrupt handler, and steal resources in a libr

[2019-01-23 10:03] japaric commented on #294
@therealprof

In general, interrupts can have different priorities. Setting them all to the
same priority is just one of the hundreds or thousands of different
possibilities. In general, the critical section will prevent higher priority
interrupts from starting and that's a downside; it also affects correctness
because a higher priority was given for a reason and the critical section is
nullifying

[2019-01-23 10:15] HarkonenBade commented on #294
@japaric Ah ok, that makes sense in terms of the panics. With my wrapper I had equated both the 'this value hasn't been initialised' and 'you cannot get a borrow on this value at this time' to both return `None` with the intent that it would be used like:
[code]

[2019-01-23 11:12] eddyp commented on #294
I am a little confused, are we talking about an embedded generic solution, or are we talking about RTFM?

same priority is just one of the hundreds or thousands of different
possibilities.

The OSEK/AUTOSAR OS solution for this is using priority ceiling, i.e. temporary raising the priority of the task/code accessing the shared resource to the highest level of the tasks/ISRs sharing that particular

[2019-01-24 00:48] cbeck88 commented on #26
Hey, I did some work to update your patch. I agree it's not the prettiest but it's really the best option right now. You can see our updated version of your patch here: https://github.com/3Hren/msgpack-rust/pull/187

I didn't fully understand what is needed for byteorder -- `byteorder` got an update not so long ago so it now has `default-feature = false` allowing it to be used in `no_std`, I belie

[2019-01-24 10:32] japaric commented on #294
@eddyp

All kind of solutions.

I think a safe API like `raise(to_priority, || { /* critical section */})` would be a reasonable addition. But I don't see how a *safe* `PcpResource<T> { data: UnsafeCell<T>, ceiling: u8 }` API could be implemented as it would rely on *external* invariants like (a) priorities must be kept static and (b) must not be used from interrupt handler with priority greater t

[2019-01-24 10:58] japaric commented on #294
@HarkonenBade and I were talking a bit about this yesterday on IRC and came up
with lower cost implementations that don't need an allocator.

### `struct` + `trait` instead of a closure

A closure is just a `struct` that implements the (or one of) `Fn*` traits. So
one idea is to use a named `struct` and some trait instead of an anonymous
closure.

The API could look like this

[code]

[Implementat

[2019-01-24 11:54] HarkonenBade commented on #294
Currently it would use reference semantics, so things that only require `&` references can be passed to multiple interrupt closures, things that require `&mut` references can only be used in a single interrupt. At this point we would then want a proper implementation of `Mutex` or similar to allow safe and structured upgrading from a `&` ref to a `&mut` ref while maintaining exclusivity and safety

[2019-01-24 11:55] HarkonenBade commented on #294
I have high hopes for this as it feels like a very elegant syntax for doing bare bones interrupt interfacing in places where the rust compilers reference semantics are sufficient to solve any sharing concerns.

[2019-01-24 12:53] japaric commented on #294
@therealprof

Sharing (references) doesn't really work. That's why this is listed under 'moving from main to ISR'. You can use channels, though.

@HarkonenBade

It's more nuanced than that. Since we are placing the closure in a `static` there's an implicit `'static` bound so you can only send `&'static` and `&'static mut` references. Also note that there's a `Send` bound because this is equivalent

[2019-01-25 01:53] chrysn commented on #294
For non-RTFM use, when I started reading this thread I had hoped to find something like

[code]

that could have no overhead at all in the interrupt, but that'd only be achievable if we could make sure that the interrupt never ever gets enabled without setting the `static mut` that's somewhere in the expansion (eg. via `nvic.enable()`), and in non-RTFM land I don't see a way to prevent that.

(Thi

[2019-01-25 08:08] eddyp commented on #294
I assume you can put the entry of unsafe fn USART0() in the vector table, right?

[2019-01-25 08:16] eddyp commented on #294
If I understand your idea correctly, that's not quite idiomatic and you are still in a situation where the developer might forget to enable the interrupt.

It's better to have the enable be implicitly done at scope end, only make explicit the entry in the critical section; this would be similar in felling to how drop() happens.

[2019-01-25 10:21] chrysn commented on #294
I'd consider this a good thing: The function does not get called until something explicitly requests it to. (And otherwise, how can one hope to have as little error handling as possible run in the interrupt?) IMO the "interrupt local" variables should be valid whenn the interrupt is enabled. (Conversely, disabling the interrupt would (move out and) drop them, and never disabling keeps them forever

[2019-01-25 11:06] japaric commented on #294
@eddyp

That's what the [`#[interrupt]`][0] attribute does: it statically (i.e. at compile
time) installs a function in the vector table. It works with both `fn` and
`unsafe fn`.

[0]: https://docs.rs/cortex-m-rt-macros/0.1.5/cortex_m_rt_macros/attr.interrupt.html

@chrysn

That looks like a reasonable API, but its behavior in edge cases needs to
specified. Consider these scenarios

1. Pending the

[2019-01-25 12:33] chrysn commented on #294
The "What if it gets pended" would require all code paths that can lead to an <del>enabled</del> pending interrupt to be &mut-protected. That might be have been feasible with enabling, but having (prompted by your example) found that an interrupt can be pending without being enabled, and `::pend()` has become globally available – nevermind. The function syntax could be salvaged if all arguments we

[2019-01-25 13:59] HarkonenBade commented on #294
The other option is that we could restrict access to the NVIC if you were using this method of interrupt orchestration. As it would probably need to own at least a pointer to the NVIC anyway to handle enabling and disabling bits.

[2019-01-25 14:14] chrysn commented on #294
ad "restrict access to the NVIC" That restriction would need to be build-time (eg. from a feature in cortex-m that disables access to it), as the vectors are in the global table from the beginning of execution, and saying "If you use this pretty please call the thing that consumes the NVIC before doing anything else" won't be enough to claim safety.

Might be feasible, but I'd be unsure whether th

[2019-01-25 14:32] HarkonenBade commented on #294
More I'd be tempted to have some 'InterrruptController' that takes posession of the NVIC peripheral and then is used to enable/disable/pend interrupts.

e.g.
[code]

[2019-01-25 14:36] jamesmunns commented on #294
@HarkonenBade I was actually thinking something similar. I think for safety it might require that we enforce ownership of the NVIC (so no NVIC::pend(), or at least make that unsafe), and maaaaaybe ownership of the Interrupts, though I'm not 100% on that.

It would be nice to have InterruptController::enable() be failable, for the reasons you listed.

I've also been thinking about how to reasonably

[2019-01-26 22:55] memoryruins commented on #218
Status of patches as of `January 26, 2019` 🎉

|title|status|
|-|-|
|[Refactoring in preparation for immediate lowering](https://reviews.llvm.org/D52961)|✅ merged|
|[Immediate lowering](https://reviews.llvm.org/D52962)|✅ merged|
|[RV64I](https://reviews.llvm.org/D52977)|✅ merged|
|[New target hook to improve codegen](https://reviews.llvm.org/D52978)|✅ merged|
|[RV64M](https://reviews.llvm.org/D5323

[2019-01-26 23:38] fintelia commented on #218
If I understand correctly this means that rustc could now support a `riscv64imac-unknown-none-elf`target?

[2019-01-27 03:13] xxuejie commented on #218
I just did a check, it seems Rust team has just recently [updated](https://github.com/rust-lang/rust/commit/df0466d0bb807a7266cc8ac9931cd43b3e84b62e) LLVM with changes till Jan 16. That means all the merged PRs above has landed in Rust's LLVM except [RV64A](https://reviews.llvm.org/D53233), which was merged on Jan 17.

I think that means we can at least prepare a `riscv64imc-unknown-none-elf` rust

[2019-01-27 09:10] asb commented on #218
The RV64A patch was actually updated to include cmpxchg prior to merging (the only reason it didn't have it originally was that RV32 cmpxchg / the new target hooks for late cmpxchg expansion were still under review).

For RV64I, you might want to cherry-pick the simple fix r351806 or the better fix r352169.

[2019-01-29 11:53] korken89 commented on #296
FYI, I might not be able to make the meeting tonight, sorry for the inconvenience

[2019-01-29 12:04] japaric opened #300 "Embedded WG meeting, January 29"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-01-29,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

- @korken89 rust-embedded/cortex-m-rt#139

- @harkonenbade  ~~japaric/bare-metal#15~~ rust-embe

[2019-01-29 12:04] japaric commented on #296
This meeting happened! Minutes and logs can be found in PR #299.

The agenda for the next meeting is at #300.

@korken89 no problem!

[2019-01-29 12:04] #296 closed

[2019-01-29 12:24] korken89 commented on #300
Sorry, wrote in the old call - I might not be able to join this meeting, sorry for the inconvenience! If you want, we can move by part of the agenda to the next meeting.

[2019-01-29 14:39] hannobraun commented on #300
I won't be making it today. Have a productive meeting!

[2019-01-30 20:07] fintelia commented on #218
@xxuejie What needs to be done to prepare that target?

[2019-01-30 20:11] dvc94ch commented on #218
Find the 4 patches that enable riscv32. replace 32 with 64 apply them,
build rust and test that it works.

On Wed, Jan 30, 2019, 21:07 Jonathan Behrens <notifications@github.com
wrote:

[2019-01-30 20:23] dvc94ch commented on #218
Ah sry it looks like you were asking about the Linux target now that
atomics are available. In addition to doing the stuff required for a bare
metal target there are a bunch of constants in the rust source for syscall
numbers and unwinding code. Start by copying the mips constants so that it
builds and then keep changing them until it runs. I was stuck because
atomics weren't implemented in llvm a

[2019-01-30 20:32] Disasm commented on #218
@fintelia, @dvc94ch I can test riscv64 on Unleashed board.

[2019-01-30 20:56] fintelia commented on #218
I did mean the riscv64imc-unknown-none-elf target. I'm currently interested in targeting qemu emulated "bare metal", so that target (or better yet riscv64imac) working with qemu would be all I need.

[2019-01-31 00:31] xxuejie commented on #218
@fintelia Sorry I forgot to post an update here, I did play with nightly Rust a bit. While adding a rv64imc target is trivial, compiling Rust for this target would just hang there forever when compiling core for this target.

My guess is this has to do with the latest patches @asb mentioned above. I tried cherry-picking the exact commit but more compiling errors occur and I was running out of time

[2019-01-31 19:04] jamesmunns opened #301 "CI review and policy"
We should probably make a pass of all owned repos, and decide on a policy for CI. This is so that we have consistent policies for what our CI builds should do. In general, I would propose the following:

* For on-commit or on-PR builds, make sure the following are enabled:
    * Build against the stable version of Rust
    * Build against the beta version of Rust
    * Build against the nightly ve

[2019-01-31 19:04] jamesmunns commented on #301
We should also document the policies that we agree on in the Ops repo.

[2019-01-31 19:07] jamesmunns opened #302 "Embedded WG meeting, February 5th"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-02-05,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

- @jamesmunns [CI Policy Discussion](https://github.com/rust-embedded/wg/issues/301)

- @japari

[2019-01-31 19:08] jamesmunns commented on #302
@japaric I went ahead and added this so I could add an agenda item. Please let me know if I missed anything :)

[2019-01-31 20:24] adamgreig commented on #301
We should also consider adding Travis cron jobs to build repos each day or week to help detect bit-rot early, rather than next time someone tries to open a PR.

[2019-02-01 17:05] Disasm commented on #218
As far as I can see, all patches (RV64A + RV64F + RV64D) are merged into LLVM. Thanks @asb!
Now we need to update [Rust's fork of LLVM](https://github.com/rust-lang/llvm-project). What can I do to update it?

[2019-02-02 07:45] asb commented on #218
There'll be at least a little more to it for ABI lowering. You want to mark any i32 as signext for instance if passed in a register, even if it was a uint32_t (as specified in the ABI). Do you implement the same ABI lowering logic in rustc as I do in clang?

[2019-02-02 14:50] dvc94ch commented on #218
The abi lowering is parameterized over xlen, so if I implemented it correctly it should just work. I'm still not sure if it is though, since what clang does seems to be much more complicated.

[2019-02-02 14:59] dvc94ch commented on #218
If you'd like to scrutenize it you can find it at [https://github.com/rust-lang/rust/blob/master/src/librustc_target/abi/call/riscv.rs](https://github.com/rust-lang/rust/blob/master/src/librustc_target/abi/call/riscv.rs), but please keep in mind that I'm not a compiler expert so use small words =P

[2019-02-02 17:49] japaric commented on #302
@jamesmunns LGTM, thanks for filling this!

[2019-02-03 23:36] jamesmunns commented on #19
I think we call all solidly call this closed, as embedded-hal now exists :)

[2019-02-03 23:36] #19 closed

[2019-02-03 23:39] jamesmunns commented on #9
I believe now that some embedded targets have landed, we can close this issue. Marking this for a cleanup sweep. If we would like this to stay open, please provide an update to what this issue should be focused on.

[2019-02-03 23:41] jamesmunns commented on #2
I believe that the topics of this issue are now covered by other efforts, such as issue #3 and #20. Marking this for a cleanup sweep. If we would like this to stay open, please provide an update to what this issue should be focused on.

[2019-02-03 23:43] jamesmunns commented on #4
We have not made any particular progress on this issue in 2 or so years, so I would like to propose that we close this issue. Marking this for a cleanup sweep. If we would like this to stay open, please provide an update to what this issue should be focused on.

[2019-02-03 23:44] jamesmunns commented on #5
At the moment, we don't have a particular focus on the areas most affected by this, such as embedded linux targets with extremely limited flash space. Because of this, I'd like to propose that we close this issue.

Marking this for a cleanup sweep. If we would like this to stay open, please provide an update to what this issue should be focused on.

[2019-02-03 23:45] jamesmunns commented on #6
This issue has not been updated for a number of years. I do think that we need a better story around developer experience and tooling, however I am not sure if this issue captures the current state of the art. I would propose that we close this issue.

Marking this for a cleanup sweep. If we would like this to stay open, please provide an update to what this issue should be focused on.

[2019-02-03 23:46] jamesmunns commented on #8
I believe that this issue essentially describes `embedded-hal`, and would propose that we close this issue.

Marking this for a cleanup sweep. If we would like this to stay open, please provide an update to what this issue should be focused on.

[2019-02-03 23:48] jamesmunns commented on #11
Do we feel like this issue is still valuable? Should this tie into the "better Cargo" story? Maybe CC @therealprof?

Otherwise I would propose that we close this issue, and open up a new one that better captures the current state of things.

Marking this for a cleanup sweep. If we would like this to stay open, please provide an update to what this issue should be focused on.

[2019-02-03 23:49] jamesmunns commented on #12
I believe that this issue has been superseded by the github.com/rust-embedded/awesome-embedded-rust repo. I would propose that we close this issue.

Marking this for a cleanup sweep. If we would like this to stay open, please provide an update to what this issue should be focused on.

[2019-02-03 23:49] jamesmunns commented on #13
I think this can be closed, as this info has been captured by the "new-book".

Marking this for a cleanup sweep. If we would like this to stay open, please provide an update to what this issue should be focused on.

[2019-02-03 23:51] jamesmunns commented on #14
As we now have the @rust-embedded/embedded-linux team, I believe we can close this issue.

Marking this for a cleanup sweep. If we would like this to stay open, please provide an update to what this issue should be focused on.

[2019-02-03 23:52] jamesmunns commented on #15
I believe that we now have https://docs.rust-embedded.org, which meets the goals of this issue. Therefore I would propose that we close it.

Marking this for a cleanup sweep. If we would like this to stay open, please provide an update to what this issue should be focused on.

[2019-02-03 23:55] jamesmunns commented on #22
@japaric what do you think about this issue? I think we may want to refocus this issue, and form some kind of way to collect "wants" like this somewhere more visible. Maybe something like "not-yet-awesome-embedded-rust"?

[2019-02-03 23:59] jamesmunns commented on #23
I think with projects like RTFM and Embrio-rs, as well as waiting for upstream Rust to finalize Futures, async/await, Pin, and others, there is not too much more to capture here.

I would nominate closing this issue, unless we think it makes sense to focus on some particular goal.

Marking for cleanup.

[2019-02-04 00:01] jamesmunns commented on #31
I think we met most of these goals, or have opened follow on issues for most items listed here. Nominating this to be closed.

[2019-02-04 00:33] jamesmunns commented on #92
By the way, I have a proof of concept of how we can achieve something like this: https://github.com/jamesmunns/mcf-config-demo

[2019-02-04 00:35] dbrgn commented on #70
I think `embedded-hal-mock` has developed quite nicely and has already received a few contributions. I think this can be closed.

[2019-02-04 00:35] #70 closed

[2019-02-04 00:36] #86 closed

[2019-02-04 00:41] jamesmunns commented on #235
I'll be there, by the way :)

I'd also like to nominate this issue to be closed, unless we plan to coordinate anything here.

[2019-02-04 00:42] jamesmunns commented on #95
I believe the items in this issue have been addressed. I am nominating this issue to be closed. Please let me know if you feel otherwise.

[2019-02-04 00:44] jamesmunns commented on #146
@rust-embedded/msp430
@rust-embedded/riscv

Are there any plans to update your quickstarts to cargo-generate? Can this issue be closed?

[2019-02-04 00:46] jamesmunns commented on #148
I think we have reached the majority of the goals set out here. I would like to nominate this to be closed.

@nerdyvaishali if you are still interested in opening additional social media accounts, please feel free to get in touch.

[2019-02-04 06:51] wez commented on #61
Yep, fine by me!

[2019-02-04 06:51] #61 closed

[2019-02-04 09:10] hannobraun commented on #235
Oh, I forgot to update this issue: @mre and I have been accepted and will be doing a workshop.

I agree that we can close this issue. I think it served its purpose.

[2019-02-04 09:10] #235 closed

[2019-02-04 13:57] jamesmunns commented on #4
CC @aep, who might have some insight of what is and isn't possible/reasonable in this space. I'm interested in keeping this issue open if we think it is still valuable, or if there is progress to be made here!

Also CC @cr1901, who commented about this on IRC.

[2019-02-04 14:05] cr1901 commented on #4
@jamesmunns To clarify, I made a passing comment on IRC.

I'm interested in this topic to the extent that it's another target to play w/, and there does still seem to be binary size issues (some OpenWRT distros fit on a 4MB flash!) if you're using anything beyond `libcore`.

But I don't have any OpenWRT hardware and I don't have the bandwidth to contribute; I simply appreciate someone trying to us

[2019-02-04 14:13] aep commented on #4
uclibc is pretty dead. I'd not recommend adding any targets with it. openwrt will use musl where possible.

arm-unknown-linux-musleabi is broken and will stay broken. rustup comes with  a libc, including a crt, but they're shipping the wrong crt for the link mode so it just crashes.

https://github.com/rust-lang/rust/issues/54294

mips(el)-unknown-linux-musl  works fine with the usual caveats that

[2019-02-04 17:50] japaric commented on #79
@jamesmunns the work I did was related to #106. The llvm feature described here is a different feature.

[2019-02-04 17:56] japaric commented on #22
Sounds good to me, in principle.

[2019-02-05 13:52] nastevens commented on #301
There's been a lot of really good work over at [crate-ci](https://crate-ci.github.io/), including information on setting up Travis CI, Dependabot, and more. Not saying that we would need to follow every suggestion, but this could be a good piece of reference material. It may even be worth contributing back information about cross-compiled/embedded builds to make it a more complete reference!

[2019-02-05 15:16] caemor commented on #2
@whitequark do you know of any news for an open source llvm backend for xtensa besides the paid one for cadence/tensilica customers?

[2019-02-05 19:01] korken89 commented on #28
Awesome!

[2019-02-05 19:10] japaric commented on #301
https://github.com/rust-embedded/wg/blob/master/ops/post-transfer.md has some notes on .travis.yml and bors setup

[2019-02-05 23:40] johnthagen commented on #41
Related: [`panic_immediate_abort` libstd feature](https://github.com/rust-lang/rust/pull/55011).

[2019-02-06 13:35] eupn commented on #39
Just pulled off a Bosch BNO055 Nine-axis IMU sensor driver:
https://github.com/eupn/bno055

[2019-02-06 14:49] japaric opened #305 "Discord channel"
TL;DR do we want to keep the #wg-embedded discord channel up or take it down?

When the Rust org started their experiment with Discord they created a channel
for every (domain) working group. However, most of the embedded WG members are
only / mostly active on IRC and the Discord channel has low activity, whereas
the IRC channel has seen a big increase in activity these past few months.

I talked

[2019-02-06 14:55] therealprof commented on #305
I'm using IRC because I that's what people told me to use not by choice. I find IRC somewhat inconvenient nowadays because it's easy to lose/miss history when not running a custom always-on client.

[2019-02-06 14:57] Disasm commented on #305
@therealprof It's hard to lose history for EWG room because it's [here](https://mozilla.logbot.info/rust-embedded/).

[2019-02-06 16:30] therealprof commented on #305
@Disasm As in: I can just open my client, browse through the history and reply...

[2019-02-06 18:29] japaric commented on #276
Triage:

@Disasm has done an awesome work with the riscv and riscv-rt crates and they now both compile on stable (see v0.4.x release). :tada:

I have opened a PR (still WIP) to add an `entry` attribute to the riscv-rt crate: rust-embedded/riscv-rt#20

[2019-02-07 16:39] RevoluPowered opened #308 "Rust embedded pic32mz"
I'd like to request potentially making a port for PIC32MZ chips.

I've got a device which we designed but I'm sick of the tool-chain (MPLAB + XC32) we use.

I'd like to potentially make a PIC32MZ port for the PIC32MZ1024EFK144 with a BSP, etc but would need some help as I'm new to rust but it is definitely a good option. Rather than trying to get GCC to work with PIC32MZ properly.

My proposal wou

[2019-02-07 17:37] japaric commented on #308
@nagisa looked into Rust on pic32 some time ago. iirc, they found out that llvm does support the (variant of the) mips architecture of this microcontroller family but didn't pursue further due to problems with the microchip toolchain (?).

In general, the Rust team is OK with adding new targets (e.g. [the riscv bare metal target](https://github.com/rust-lang/rust/pull/52787)) provided that the llv

[2019-02-07 19:03] RevoluPowered commented on #308
Yes, the microchip toolchain is nightmarish to work with.

I will read through these reference notes from this repository on LLVM configuration with pic32.
https://github.com/dwelch67/pic32_samples

Appreciate some info, I'll do more research myself and see where I get, Thanks!

I'll fork this and do as you suggest and update this as I progress.

[2019-02-07 21:30] therealprof commented on #308
PIC32 is a based on MIPS architecture for which there should be mature support already since it is supported under Linux. Someone build an SDK for the Playstation 2 which has a custom MIPS processor which was probably quite a bit tricker: https://github.com/ZirconiumX/prussia . You can check that approach and adapt for the PIC32.

[2019-02-10 12:10] japaric opened #310 "Embedded WG meeting, February 12"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-02-12,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

- @japaric Updates from Rust All Hands

- [Issues nominated for discussion, if any](https://git

[2019-02-10 12:11] japaric commented on #302
This meeting happened! The logs and minutes can be found in #309.

The agenda for the next meeting is in issue #310

[2019-02-10 12:11] #302 closed

[2019-02-11 11:52] hannobraun commented on #310
Most likely, I won't be able to make it to the meeting tomorrow.

[2019-02-11 18:19] RevoluPowered commented on #308
Found out why original support was dropped for the llvm pic32 backend.

"it was written violating almost every LLVM programmer's guidelines and, even more, the authors refused to address review comments."

http://lists.llvm.org/pipermail/llvm-dev/2015-June/086284.html

[2019-02-11 18:27] nagisa commented on #308
That’s the PIC8/16 backend, not PIC32 one. The MIPS backend should be able to serve the PIC32 needs just fine.

[2019-02-11 18:32] nagisa commented on #308
I decided bothering with this architecture is not worth it given the Microchip’s extremely hostile behaviour towards the third-parties. It didn’t help that my goodwill budget towards Microchip specifically was in a non-ideal place to begin with.

[2019-02-11 18:46] RevoluPowered commented on #308
I will try out a few different things, I appreciate you clearing up that it's okay to just use the MIPS arch from LLVM compiler.

Ah, yeah my goodwill budget is very restrained with them after harmony 1.x.x to 2.x.x porting, and being forced to use MPLab X.

[2019-02-12 01:13] adamgreig commented on #305
My vote is to take the Discord channel down rather than leaving it online but unused.

[2019-02-12 12:08] korken89 commented on #305
I agree.

[2019-02-12 12:47] therealprof commented on #305
My vote would be to use Discord, potentially instead of IRC.

[2019-02-12 14:33] thedodd commented on #305
There is definitely a large group of individuals out there that would love to be more involved, but IRC keeps them at bay. IRC is great if the goal is to limit accessibility and involvement for this community.

I won’t go into the reasoning, but I would definitely vote to just make discord official.

No flame. Just feel like this is important to folks and think that we should analyze these aspects

[2019-02-12 17:35] japaric commented on #301
We discussed this last week so I'm going to remove the nominated label. @jamesmunns if you want to discuss this again in today's meeting feel free to bring it up during the meeting.

[2019-02-12 19:18] thejpster commented on #305
My problem with Discord is it's a third-party service running a proprietary protocol. We have no service level agreement with them, nor any comeback if they decide to do something we don't like. Yes, I'm aware of the irony that I make this complain in a Github issue tracker but I don't think adding more proprietary services makes things better. And if I fall out with Github, it's easy enough to pi

[2019-02-12 19:27] kevinmehall commented on #305
A couple Rust teams are on Zulip at https://rust-lang.zulipchat.com, which is open source.

[2019-02-12 19:35] Disasm commented on #305
@thejpster XMPP is an open standard, but multi-user-chats are as "convenient" as IRC ones.

[2019-02-13 03:36] cr1901 commented on #305
My bandwidth is spread too thin with IRC and Twitter already. I am not able to multitask chat clients/applications as well as I used to in my early 20s. If people are moving to Discord, I would much prefer a bridge so I can keep using IRC.

[2019-02-13 07:37] mathk commented on #305
IRC with matrix bridge work pretty much like discord.

[2019-02-13 08:33] therealprof commented on #305
@mathk Nowadays you can make everything look like everything.

Discord is an official Rust communication channel just like IRC. One should not have to resort to a (likely paid) third-party service just to make communication possible (also I'm feeling somewhat uneasy having a proprietary third-party service know my operator credentials); native IRC has a lot of drawbacks including not providing his

[2019-02-13 11:45] andre-richter commented on #305
We are having strong opinions on both sides, it doesn't look like we will arrive at a situation that makes everybody happy soon.

I have to chime in on @therealprof 's point about mobile and IRC. I haven't found anything useful yet that is free and not a maintenance horror. Stuff like IRCCloud only works properly if you pay for it.

But we are in the age of mobile. While it might not be suitable t

[2019-02-13 18:12] paoloteti commented on #288
I just released [silicon-cr4](https://github.com/paoloteti/silicon-cr4) that is a collection of workarounds for few silicon errata on Cortex-R4/R4F MCUs. I use it on my TMS570 BSP I started to port to beta/stable. So if you all can review and if everything is ok may be We can decide to move the repo under the `rust-embedde/cortex-r` umbrella.

[2019-02-14 16:02] kfihihc commented on #60
@jamesmunns Until now, we still use the breadboard frinedly 2x pins header, like below.

But we have a plan to release a new 7x1 connecter for our border router level product(WiFi+BLE+Zigbee+Thread). I will update it ASAP.

![](https://wiki.makerdiary.com/nrf52840-mdk/images/nrf52840-mdk-pinout.jpg)

[2019-02-14 18:29] Disasm commented on #146
@jamesmunns I have this in my roadmap for RISC-V.

[2019-02-14 18:51] jamesmunns commented on #2
@caemor you might want to take a look at https://twitter.com/EspressifSystem/status/1095849676572520453.

Please feel free to open a new issue to discuss any specific topics.

[2019-02-14 18:51] #2 closed

[2019-02-14 18:52] jamesmunns commented on #4
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:52] #4 closed

[2019-02-14 18:52] jamesmunns commented on #5
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:52] #5 closed

[2019-02-14 18:52] jamesmunns commented on #6
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:52] #6 closed

[2019-02-14 18:53] jamesmunns commented on #8
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:53] #8 closed

[2019-02-14 18:53] jamesmunns commented on #9
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:53] #9 closed

[2019-02-14 18:54] jamesmunns commented on #11
@therealprof do you have anything we can link to here about the things you discussed with the crates.io team?

[2019-02-14 18:54] jamesmunns commented on #12
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:54] #12 closed

[2019-02-14 18:54] jamesmunns commented on #13
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:54] #13 closed

[2019-02-14 18:54] jamesmunns commented on #14
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:54] #14 closed

[2019-02-14 18:55] jamesmunns commented on #15
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:55] jamesmunns commented on #23
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:55] #23 closed

[2019-02-14 18:56] jamesmunns commented on #31
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:56] #31 closed

[2019-02-14 18:56] jamesmunns commented on #57
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:56] #57 closed

[2019-02-14 18:57] jamesmunns commented on #79
@japaric do you think this should stay open? If so, please remove the cleanup tag.

[2019-02-14 18:57] jamesmunns commented on #95
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:57] #95 closed

[2019-02-14 18:58] jamesmunns commented on #148
I am closing this issue, please feel free to open another issue if you would like this discussed further.

[2019-02-14 18:58] #148 closed

[2019-02-14 19:14] therealprof commented on #11
@jamesmunns Don't have anything, it's all off the record. But I'll follow up with them...

[2019-02-14 19:39] therealprof commented on #11
@jamesmunns Actually reading through the history of this issue, this is not something I discussed with the team at all. ;)

[2019-02-15 08:39] awelkie commented on #23
Sure. I'll just link to a few examples of no_std future executors in case someone is interested:

https://github.com/Nemo157/embrio-rs/
https://josh.robsonchase.com/embedded-executor-2/
https://github.com/japaric/no-std-async-experiments

[2019-02-15 12:39] Disasm commented on #276
I'd like to work on the following:
* waiting for the RV64 support [to appear](https://github.com/rust-lang/rust/pull/58406)
* updating all the RISC-V crates (blocked on https://github.com/rust-embedded/svd2rust/pull/284 at the moment)
* adding picorv32 support
* adding HiFive Unleased support
* making cargo template for different targets: https://github.com/rust-embedded/wg/issues/146
* creating s

[2019-02-15 13:08] Disasm opened #311 "Easy firmware flashing"
We need some tool to make firmware upload process as easy as running "cargo flash".
Possible functions:
* Automatic detection of programmer hardware
* Building additional crates for interfacing programmer hardware
* Download additional toolchains/openocd
* Configuration (with Cargo.toml or separate file)
* Complicated upload process declaration in flash.rs?
* Building the user's project before fla

[2019-02-15 14:59] eldruin opened #312 "Maintainer for the stm32f30x-hal repository"
The `stm32f30x-hal` repository would benefit from an additional maintainer (https://github.com/japaric/stm32f30x-hal/issues/22).
In [this meeting](https://github.com/rust-embedded/wg/blob/768a21a7d69da766b7191f568df3a7b97bad6d20/minutes/2018-07-30.md) it was proposed that the HAL team would maintain it but in the team list I cannot see that this is the case. Maybe this slip through or so.
Nowadays

[2019-02-15 19:56] RevoluPowered commented on #308
I'm first going to port an existing small 'hello world' uart application to the clang c compiler, and work on getting compatible PIC32MZ binaries which match the format required by the pic32 and upload to one of my development boards.

If this works then I know llvm mips asm is compatible and perhaps, I can work on a proper backend which could be 'production ready' but right now I'm not holding my

[2019-02-15 20:14] RevoluPowered commented on #308
No way of knowing right now if the hex file will even function, when I get it to generate it, this will probably be the most painful part

[2019-02-16 08:14] Disasm commented on #218
Now we have riscv64imac-unknown-none-elf and riscv64gc-unknown-none-elf targets in nightly!
However, with these targets you cannot use addresses that are 0x8000_0000 or greater due to the missing support for relocatable code (I hope, it will be added one day). So, for example, for HiFive Unleashed board you cannot place your code in RAM, but you can still place it in L2 LIM, that starts at 0x0800_

[2019-02-16 20:22] Yatekii commented on #305
Quassel. Works absolutely great!

This is 100% false. IRC has a very low entry barrier. I would install and use an OSS chat client without any hesitation. I surely wont for something like discord.

[2019-02-17 00:42] fintelia commented on #218
That limitation is rather unfortunate, particularly for targets that have all of their memory above `0x8000_0000`. It makes it very hard to write for qemu's virt machine type, or any application that needs to place code at specific virtual addresses. Do you know which component lacks support for relocations? Is it something Rust related or a more fundamental problem with LLVM?

[2019-02-17 07:08] Disasm commented on #218
@fintelia,

What's wrong with qemu? I thought that you can set any base address for RAM in your machine definition. Other workarounds may involve using virtual memory region [-2GB;+2GB) for your application.

It's not a fundamental problem, but you need LLVM support to generate relocatable code with pc-based addressing. Aside from this, Rust uses `static` relocation model for many if not all embed

[2019-02-17 16:32] japaric commented on #305
_Moderation note_: I'd like to remind you about this line I included in the issue description. This issue is about deciding what to do with the existing discord channel given that there's nearly zero presence of EWG members over there. This thread is *not* about A vs B; please take those discussions elsewhere.

---

Regardless of anyone's preferences, I would say that a hard requirement to keep th

[2019-02-17 16:49] therealprof commented on #305
@japaric I'm actively monitoring the discord channel.

[2019-02-17 16:49] Disasm commented on #305
@japaric IMO if we do not have enough resources for managing the #wg-embedded Discord channel and we have a hard requirement about this, we should shutdown the channel. If anybody wants to improve accessibility and create an EWG Discord channel, they can do so. I do not see any pros for using that official original channel name. We can create a channel with any other name and show it in the [Conta

[2019-02-17 17:24] fintelia commented on #218
This is possible in spike, but I'm not sure of any way to configure this in qemu. It is [hard coded here](https://github.com/qemu/qemu/blob/1e36232994c8ad01774501d2e299deba3a2469af/hw/riscv/virt.c#L59) and I'm not aware of any way to change that without patching/recompiling qemu. My application is also a bit tricky because I'm trying to build a classic hypervisor. That means that even once early b

[2019-02-17 17:41] Disasm commented on #218
@fintelia Yes, you have to recompile qemu with another address, however it's not difficult. If you are trying to implement a hypervisor, you need to execute (at least some of) your code in M mode without virtual addresses. You can write this M-mode part in assembly with relocatable code.

[2019-02-17 21:02] japaric opened #315 "Not yet awesome embedded Rust"
This issue is to coordinate the creation of a "not yet awesome embedded Rust"
list, which would be a list of things missing in the ecosystem -- things like
crates, tools and documentation.

This list is meant to serve as a bulletin board for people looking what to work
on. Where applicable, each item in this list would also contain a list of WIP
crates, examples, etc. so people can check them out

[2019-02-17 21:44] japaric opened #316 "Embedded Rust "libs blitz""
This issue is to discuss doing a embedded Rust version of ["The Rust Libs
Blitz"](https://blog.rust-lang.org/2017/05/05/libz-blitz.html).

The idea would be to review library crates: their implementation (\*), their API
surface, their use of unsafe code and their test suite. In the case of early
stage libraries we would work through API design questions with the authors
(e.g. "how do I design my A

[2019-02-18 12:49] japaric opened #318 "Embedded WG meeting, February 19"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-02-19,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

- Reminders / announcements (10 mins)

- Triage team (10 mins) - https://github.com/rust-embedd

[2019-02-18 12:49] japaric commented on #310
This meeting happened! The minutes and logs can be found in PR #314.

The agenda for the next meeting can be found in #318

[2019-02-18 12:49] #310 closed

[2019-02-18 12:53] RevoluPowered commented on #308
Got a hex file, will be testing on a dev kit tomorrow night

[2019-02-18 23:51] flip111 commented on #318
Please change the title in google calendar from "Weekly meetings" to "Rust Embedded meeting".

[2019-02-19 00:19] flip111 commented on #22
I would like a tool like svd2rust for register maps that are on other devices (not in the memory mapped IO of the MCU). Would be nice if this could be generic over some protocol. For instance if the connected device supports I2C and SPI to just say which protocol needs to be used + register map and out comes a low level driver. I don't expect this to be the final driver because usually to do anyth

[2019-02-19 15:14] jamesmunns commented on #316
Bikeshed, maybe "build out"?

[2019-02-19 15:30] jamesmunns commented on #315
I think this makes sense.

I think how the WG can help with this is making these kind of review comments during the PR process. I think this is what you mean by this:

that the request is reasonably scoped / sized and actionable by the community.

So more concretely, I think the process should be:

**Adding an item:**

1. Anyone submits a PR, making a request for something that is needed in the ec

[2019-02-19 15:37] jamesmunns commented on #315
We may want to link both the "awesome" and "not yet awesome" list on https://docs.rust-embedded.org/.

[2019-02-22 11:37] vertexclique commented on #318
One of the topics for discussion might be creating a RTOS team.

[2019-02-22 13:43] mathk commented on #318
An other topic would be to discuss on how to avoid duplication in the different stm32xxxxx-hal. There is some hal that are more frequently updated like the stm32f4xx-hal and some lagging behind ,  I see a lot of duplicate effort going on on the different hal.

[2019-02-22 13:45] mathk commented on #318
An other topic that I am interested to solve is how can we provide clean abstraction to enable different power mode and be able to switch from one mode to an other and keeping peripheral safe when entering and leaving mode.

[2019-02-23 09:43] Disasm opened #321 "Embedded WG meeting, February 26"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-02-05,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

-  Reminders / announcements

- @vertexclique RTOS team - https://github.com/rust-embedded/wg/i

[2019-02-24 08:27] Disasm commented on #318
This meeting happened! The minutes and logs can be found in PR #322.

The agenda for the next meeting can be found in #321

[2019-02-24 08:27] #318 closed

[2019-02-24 12:48] flip111 commented on #321
@Disasm can you add this too ?  https://github.com/rust-embedded/wg/issues/22#issuecomment-464929863

[2019-02-24 18:17] RandomInsano commented on #25
FWIW, I have a hobby project (Kobo N416) that is ARMv4 Linux. It's more worthwhile for me to buy a newer Kobo however.

[2019-02-27 00:27] japaric commented on #315
@rust-embedded/resources I want to propose adopting the [process](https://github.com/rust-embedded/wg/issues/315#issuecomment-465177817) proposed by @jamesmunns (with "someone from the WG" = resources team) and creating the not yet awesome embedded Rust right after that's approved. Let's vote:

- [ ] @adamgreig
- [ ] @andre-richter
- [ ] @jamesmunns
- [x] @japaric
- [ ] @korken89
- [ ] @ryankurte

[2019-02-27 06:42] japaric commented on #321
@vertexclique

We discussed this during the last meeting and the consensus was that we do *not*
want to create an RTOS team right now. The reason is that we want to avoid
maintaining crates tied to any particular vendor in the org because that could
snowball into us maintaining crates for all the RTOSes out there -- this is also
the reason why we don't maintain any HAL implementation in the org.

[2019-02-27 07:04] japaric commented on #63
Update: [a PR] that exposes the ACLE API on ARM and AArc64 recently landed in
stdsimd.;though it has not yet made its way into `core::arch::{arm,aarch64}`.

[a PR]: https://github.com/rust-lang-nursery/stdsimd/pull/557

The next steps here would be to use the `core::arch::arm` API in the `cortex-m` crate
(behind the "inline-asm" feature, which requires nightly), and then proceed to
stabilize (a su

[2019-02-27 08:29] gnzlbg commented on #63
We have stabilized other APIs since the `std::arch` RFC without going through the RFC process, but that's because those APIs had no new design in them. Their design was covered 1:1 by `std::arch` (which basically states we map C APIs 1:1 to Rust) and the same guarantees agreed on there (automatic verification, etc.) were provided.

The merged PR is awesome, and definitely something worth using on

[2019-02-27 13:13] flip111 commented on #321
@japaric perhaps it's possible to create some hardware agnostic parts of the RTOS. Maybe a scheduler? Or just having an inventory of which parts would be needed would already be useful. Maybe some people would like to think about this. Not as a team capacity but just investigation.

[2019-02-27 15:39] alexcrichton commented on #63
FWIW I personally still feel that it's ok to "only" FCP these APIs. Such an FCP would, however, want to be advertised to relevant parties (aka the compiler team and the embedded WG).

@gnzlbg while for x86/x86_64 we have C precedent, wasm was a platform where we didn't have any C precedent so we made our own. I think that's fine to do in limited bases within platforms. For example it sounds like A

[2019-02-27 17:04] gnzlbg commented on #63
For WASM we coordinated this a bit with the spec and the clang/LLVM devs to make sure that things "matched".

For PowerPC, even though that's not stable yet, @lu-zero contacted the spec developers and they agreed to include the Rust API into the spec.

AFAIK the ACLE headers are just normal C headers, and most (all?) C and C++ programs use those. Isn't this the case? (I can't recall the exact resu

[2019-02-27 19:19] dtolnay commented on #18
Relevant libcore PR: [Cut down on number formatting code size](https://github.com/rust-lang/rust/pull/58272).
One commenter noted 28% reduction in code size for a specific ARMv6m example.

[2019-02-27 19:32] alexcrichton commented on #63
Hm ok, I was unaware that it had switched far enough away to a more object-oriented style, sorry about that! If that's the case then I agree that is a big enough change it may want an RFC

[2019-02-28 13:15] Disasm opened #326 "Embedded WG meeting, March 5"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-03-05,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

-  Reminders / announcements

- @flip111 svd2rust-like tool for external device specification -

[2019-02-28 13:16] Disasm commented on #321
This meeting happened! The minutes and logs can be found in PR #325.

The agenda for the next meeting can be found in #326

[2019-02-28 13:16] #321 closed

[2019-02-28 19:32] gnzlbg commented on #63
Maybe one could draft the FCP post first, and then we can discuss which process this should follow? With a draft of the FCP it should be pretty obvious how much new design there is in here.

[2019-03-02 13:33] flip111 commented on #326
Maybe it would be nice to have bindings for https://github.com/littlevgl/lvgl micropython already has bindings for it

[2019-03-02 14:55] osterwood commented on #22
@flip111 - I’ve been thinking a bit about something like this myself.  I’ve used Kaitai Struct to recreate register maps from chip datasheets, and a bit of custom python to emit Contruct allowing serialization / deserialization from dicts to binary payloads.  I’m interested in doing the same thing for Rust code, but haven’t tried anything yet.

One potential issue with Kaitai is that it’s designed

[2019-03-02 15:36] flip111 commented on #22
Looks interesting Katai Struct.

By the way not directly related, but i found this https://www.microsoft.com/en-us/microsoft-365/blog/2019/02/28/new-to-microsoft-365-in-february-advance-security-and-empower-a-modern-workplace/#excel Can be handy to scan datasheet, put them into a spreadsheet, mangle the columns a bit and then process into rust types.

[2019-03-03 17:16] tarcieri commented on #286
I've opened a PR to add a board definition here:

https://github.com/atsamd-rs/atsamd/pull/40

...and with that, I think I can close out this issue. Thanks for the help!

[2019-03-03 17:17] #286 closed

[2019-03-04 03:54] tarcieri commented on #286
One last thing... here's Rust blinking all of the LED buttons! 🎉

![ezgif-5-66826ee0bddf](https://user-images.githubusercontent.com/797/53709617-0b251080-3dee-11e9-9ff9-fb77917b0113.gif)

[2019-03-04 04:46] tarcieri commented on #286
Okay I lied. Last but not least here is the board support crate: https://crates.io/crates/trellis_m4

[2019-03-04 05:28] japaric commented on #11
This was about changing the labels used in this repository but the issue is out of date because things have changed since then so closing.

[2019-03-04 05:28] #11 closed

[2019-03-04 05:34] japaric commented on #79
@jamesmunns not sure, but I can tell you that I don't intend to work on this one. We don't rely have a policy for keeping "interesting project" issues around. Perhaps this could be moved into the "not yet awesome embedded Rust" list? Then we can close this issue.

[2019-03-04 05:44] japaric commented on #106
Update:

[`cargo-call-stack`](https://crates.io/crates/cargo-call-stack) is a whole program stack analysis tool that uses the `-Z emit-stack-sizes` feature / flag.

I think we can close this issue since the feature is exposed in rustc and there are libraries to parse the emitted data and end user tools.

It's unclear if this flag will ever be stabilized or when; there's no precedent for exposing s

[2019-03-04 05:44] #106 closed

[2019-03-05 00:02] sajattack commented on #22
@RandomInsano It's not really in a good state yet, but I'm working on this. https://github.com/sajattack/bitbang-hal

[2019-03-05 18:41] #285 closed

[2019-03-07 17:58] japaric commented on #315
This proposal has been approved and the NYAER list now exists at https://github.com/rust-embedded/not-yet-awesome-embedded-rust :tada:

[2019-03-07 17:58] #315 closed

[2019-03-09 12:01] jamesmunns commented on #294
This is now listed at https://github.com/rust-embedded/not-yet-awesome-embedded-rust#sharing-data-with-interrupts, I think we can close this issue here.

[2019-03-09 12:01] #294 closed

[2019-03-09 12:03] jamesmunns commented on #256
For anyone here who added an item to the wishlist, please consider adding your item to the [Not Yet Awesome Embedded Rust List](https://github.com/rust-embedded/not-yet-awesome-embedded-rust) to make the need for your wishlist item more visible!

[2019-03-10 11:46] jamesmunns opened #331 "Embedded WG Meeting, March 12th"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-03-12,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

-  Reminders / announcements
    - [RFC: Forming the Ecosystem Team](https://github.com/rust-em

[2019-03-10 11:51] therealprof commented on #331
* Discuss logistics around minor version bumping the whole `Cortex-M` crate chain

cc @rust-embedded/cortex-m

[2019-03-10 21:27] Yatekii commented on #331
The nrf52 devices (likely the other Nordic devices as well) have a DMA controller which can't access ROM. So to transfer data via DMA, the buffer from or to which you copy have to reside in RAM.

We discussed, how we should handle this circumstance. There is two fixes for this:
- Check if the buffer resides in RAM (RAM address range) and if it does not, copy it to a buffer in RAM.
- Check if the b

[2019-03-10 23:56] kiffie commented on #308
I created a Rust example for the PIC32MX470 (on github). Maybe, it could be helpful for your project. Should be possible to adapt it to the PIC32MZ.

It uses the ChipKIT toolchain to process some assembly files. Interrupt handlers are called via an assembly wrapper without relying on compiler features. It's quite experimental.

[2019-03-11 21:35] azasypkin commented on #40
In case it's useful to anyone, here is yet another narrowly specialized [USB HID implementation for STM32F0](https://github.com/azasypkin/kroneum/blob/master/sw/firmware/api/src/usb/mod.rs) inspired by [anne-key](https://github.com/ah-/anne-key/) and [stm32plus](https://github.com/andysworkshop/stm32plus). It's very rough, but works nevertheless.

There is also a test [hidapi/libusb-based CLI tool

[2019-03-11 21:49] therealprof commented on #40
@azasypkin Wow, this is awesome! On a first glance this might be a nice project for the [showcase](https://github.com/rust-embedded/showcase), would you like to submit it?

[2019-03-12 08:29] azasypkin commented on #40
Yes, definitely, thanks! I'll clean it up a bit and submit.

[2019-03-12 18:41] japaric commented on #326
This meeting happened! The logs and minutes can be found in #332.

The agenda for the next meeting is at #331

[2019-03-12 18:41] #326 closed

[2019-03-12 21:59] Yatekii commented on #311
@therealprof and I have started working on this some time ago: https://github.com/Yatekii/probe-rs
Atm it's very ARM specific and not all that well finished & polished, but we are making progress.
The idea would be to have a foundation lib to make it easy to write tools like `cargo flash`.

[2019-03-13 08:25] Disasm commented on #311
@Yatekii sure, it will be helpful. However, it seems like we still need a gdb layer for debugging. Do you have any ideas about using gdb with `probe-rs`?

[2019-03-13 09:41] therealprof commented on #311
@Disasm If someone wants to write a gdbserver protocol adapter, that'd be one option. Better ideas (IMHO, of course would be):
- Provide a simple command line tool (something I'm working on)
- Have a GDB/MI protocol adapter
- Have a VSCode plugin
- Nothing of the above and instead have develop a kickass native Rust debugging application with direct compiler support

[2019-03-17 16:15] codido commented on #88
FWIW, the LPC55S69-EVK development board from NXP which has two Cortex-M33 cores is now shipping as well.

Things appear to work well including basic peripheral functionality, and only required a few mild modifications to the svd file.
The only minor gotcha was that cortex-m-rt includes the thumbv8m.base-none-eabi prebuilt library, but not thumbv8m.main-none-eabi.

By the way, it seems that out of

[2019-03-17 21:13] hug-dev commented on #88
@codido I think `thumbv8m.main` is currently being added to `cortex-m-rt` at rust-embedded/cortex-m-rt#167 and rust-embedded/cortex-m-rt#182

`thumbv8m.mainhf` and `thumbv8m.base` are currently being added to Rust CI (for `rustup` to pull) here: rust-lang/rust#59182 (as soon as I have more time)

[2019-03-17 21:35] codido commented on #88
Thanks @hug-dev, missed those cortex-m-rt PRs, guess I don't need to push my version :)

[2019-03-19 10:37] Disasm opened #334 "Embedded WG Meeting, March 19th"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-03-19,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

-  Reminders / announcements
    - [RFC: Forming the Ecosystem Team](https://github.com/rust-em

[2019-03-19 10:38] Disasm commented on #331
This meeting happened! The logs and minutes can be found in #333.

The agenda for the next meeting is at #334

[2019-03-19 10:38] #331 closed

[2019-03-19 11:19] johnthagen opened #335 "How can dynamically sized Vec<T> be using on STM32?"
Cross post from https://github.com/rust-lang/rfcs/pull/2480#issuecomment-473339244

When evaluating using Rust for an embedded project at work, not having dynamic containers was a big drawback at the time compared with C++11/14 where the `gcc-arm-embedded` toolchain had versions of `std::string` and `std::vector<T>`. (C++ has it's own set of drawbacks, like exception-based error handling APIs, but

[2019-03-19 11:22] therealprof commented on #335
https://crates.io/crates/heapless

[2019-03-19 11:28] johnthagen commented on #335
@therealprof Thanks, yeah I had seen `heapless` and I changed the title to be more clear that we'd like to actually use the heap for true dynamically sized containers. `heapless` requires a fixed size up front.

[2019-03-19 11:42] therealprof commented on #335
You can use alloc-cortex-m to create a heap and combine it with heapless.

[2019-03-19 11:48] japaric commented on #335
@johnthagen what @therealprof said. The quickstart template has an example: https://github.com/rust-embedded/cortex-m-quickstart/blob/master/examples/allocator.rs

[2019-03-19 11:49] japaric commented on #335
(you don't need to specifically use alloc-cortex-m; any global_allocator will do)

[2019-03-19 11:51] johnthagen opened #336 "Embedded Commercial Rust Gaps"
## Overview

This post is a summary of the our evaluation of using Rust for an embedded project, and the gaps we hit and why we ultimately decided to use a subset of C++14 instead. This is from a team that *wanted* to use Rust, but ultimately couldn't justify it in its current state.

## Goal

We needed to build an embedded application that utilized CAN, UART, and GPIO. We wanted to use a common,

[2019-03-19 11:52] johnthagen commented on #335
@japaric Is this mentioned in the Discovery Book? And if not, would you accept a PR to add it? I think this would be a really great addition!

[2019-03-19 12:01] johnthagen commented on #335
(For anyone else finding this issue in the future, [the embedded book has some discussion on this as well](https://rust-embedded.github.io/book/collections/index.html).)

[2019-03-19 12:04] therealprof commented on #335
I think this would be more appropriate for the book and/or the embeddonomicon with a reference in the discovery book. Any contributions in that directions would certainly be welcome.

[2019-03-19 16:25] jamesmunns commented on #336
Hey @johnthagen, it sounds like it might be a bit late, but if you are looking for commercial support, or filling in gaps in the ecosystem for your project, my company [Ferrous Systems](https://ferrous-systems.com) is happy to discuss. Feel free to [send me an email](mailto:james.munns@ferrous-systems.com) if you'd like to discuss further.

Either way, thank you for providing the report of what yo

[2019-03-19 16:25] Yatekii commented on #331
I think my item got missed last time ;)

[2019-03-19 16:26] jamesmunns commented on #335
I think we should also note (last time I checked) that `alloc-cortex-m` requires nightly rust to operate.

[2019-03-19 17:06] johnthagen commented on #335
Correct, this RFC is currently being discussed to potentially stabilize `alloc`: https://github.com/rust-lang/rfcs/pull/2480

[2019-03-19 18:22] jdemilledt commented on #336
I'm currently working on the front of the lack of CAN support. The current blocker is determining an interface that can be implemented by all.

[2019-03-19 23:26] ryankurte commented on #311
Hey totally agreed it'd be excellent to make this easy! A couple of thoughts:
- VSCode + [Cortex Debug](https://marketplace.visualstudio.com/items?itemName=marus25.cortex-debug) is interesting on the ARM side. Loads SVDs and shows memory nicely, talks to a few different types of debuggers, it might be worth considering how that could be extended for other targets?
- It's probably worth looking at

[2019-03-20 09:13] Yatekii commented on #311
Definitely cool projects you have here!

The problem at least for myself is, that I'd like to eliminate unnecessary layers like GDB, which all of those tools don't. They basically encapsulate the bazzillion tools there is. Each and every of them has it's own quirks and implementations of the GDB protocol. Flashing might or might not work, etc.

I will definitely have a look at those projects, espe

[2019-03-20 10:33] ejpcmac commented on #311
@ryankurte Can you flash with Cortex Debug? I am currently using a pre-launch task to do this in C/C++, it would be neat to avoid this.

[2019-03-22 22:28] ryankurte commented on #311
@Yatekii interesting! i can see the benefit of not having the layers and quirks (though personally might be a little attached to GDB).

@ejpcmac i've been doing the same. there is however an option to pre-run gdb commands on connect in the launch configuration, in which case something like `["halt", "load"]` might do it.

[2019-03-25 11:11] jamesmunns opened #339 "Embedded WG Meeting, March 26th"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-03-26,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

-  Reminders / announcements
- [Issues nominated for discussion, if any](https://github.com/rus

[2019-03-26 16:21] tarcieri opened #340 "Accelerometer crate"
Well, I hope this wasn't overly ambitious/audacious to do without really talking to anyone about it, but I made an `accelerometer` crate:

- **repo:** https://github.com/NeoBirth/accelerometer.rs
- **crate:** https://crates.io/crates/accelerometer
- **docs:** https://docs.rs/accelerometer/

<img src="https://raw.githubusercontent.com/NeoBirth/accelerometer.rs/master/img/cartesian-ferris.png" width

[2019-03-26 19:06] tarcieri commented on #340
Note: `vek`'s author @yoanlcq suggested that the issues around `no_std` support might be quite difficult to fix (see https://github.com/yoanlcq/vek/issues/24)

[2019-03-26 19:59] japaric commented on #22
Update: we now have a [not *yet* awesome embedded Rust (NYAER) list](https://github.com/rust-embedded/not-yet-awesome-embedded-rust). If you have posted some request in this thread you should  submit it to NYAER for higher visibility. And if you agree with one of the requests here but didn't submit it yourself you should consider submitting it to NYAER too!

[2019-03-29 07:48] eldruin commented on #39
Hi, my [TMP1x2 temperature sensor driver](https://crates.io/crates/tmp1x2) is now finished. The intro blog post is [here](https://blog.eldruin.com/tmp1x2-temperature-sensor-driver-in-rust/).
Please let me know of any improvements and comments.

[2019-04-02 09:56] Disasm commented on #276
Triage:
RISC-V crates are updated and now work on stable. However, there is still work to be done.
At the moment I'm working on multi-core support.

[2019-04-02 14:17] Disasm opened #342 "Embedded WG Meeting, April 2nd"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-04-02,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

-  Reminders / announcements
- [Issues nominated for discussion, if any](https://github.com/rus

[2019-04-02 14:18] Disasm commented on #334
This meeting happened! The logs and minutes can be found in #341.

The agenda for the next meeting is at #339

[2019-04-02 14:18] #334 closed

[2019-04-02 14:19] Disasm commented on #339
This meeting happened! The logs and minutes can be found in #341.

The agenda for the next meeting is at #342

[2019-04-02 14:19] #339 closed

[2019-04-02 16:31] jamesmunns opened #343 "Pre-RFC: embedded-rust-community organization"
In the last embedded-wg meeting, we discussed having an "embedded-rust-community" organization, with a lower threshold to inclusion of members, maintainers, and crates.

The idea would be to allow a bit more centralization and focus of ideas that are good, but have not reached the critical mass/core functionality that would drive them being maintained by the limited embedded-wg resources.

See the

[2019-04-02 18:12] thejpster commented on #343
I think AUR also works as a model: https://aur.archlinux.org/. I believe Ubuntu and Fedora do something similar.

[2019-04-04 10:12] hug-dev commented on #88
All the Armv8-M targets are now available with `rustup`:
* `thumbv8m.base-none-eabi`: Cortex-M23
* `thumbv8m.main-none-eabi`: Cortex-M33
* `thumbv8m.main-none-eabihf`: Cortex-M33 with FPU

[2019-04-04 19:12] achan1989 commented on #92
@jamesmunns that's fantastic :)

[2019-04-08 15:33] fintelia commented on #218
It seems that [LLVM now has support for mcmodel=medium](https://reviews.llvm.org/D54143) (which is equivalent to GCC's mcmodel=medany). It should now be possible to cherry pick the relevant commits and expose support from Rust.

[2019-04-08 15:46] Disasm commented on #218
@fintelia Wow! Thank you for the information. I'm not sure I'll be able to cherry-pick commits this time, maybe we need some help from the Rust team. I tried to cherry-pick useful commits two weeks ago and failed: I couldn't even figure out "maximum" commit set.

[2019-04-11 12:44] jamesmunns commented on #63
Note, as of Rust 1.34, it may be possible to achieve this in a limited fashion using linker-plugin-lto functionality. Please see the [related cortex-m issue](https://github.com/rust-embedded/cortex-m/issues/139), and [this test repo](https://github.com/Disasm/inline-test) demonstrating this works.

As a note, this isn't really inline ASM, as originally described, but instead a way to define ASM in

[2019-04-11 20:45] memoryruins commented on #218
`riscv64imac-unknown-none-elf` and `riscv64gc-unknown-none-elf` targets are now on stable rustc 1.34.0 :) <https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1340-2019-04-11>

[2019-04-14 08:23] ejpcmac opened #345 "Improve consistency between HAL implementations"
## Rationale

I’ve digged into Rust Embedded a few weeks ago, after lurking at it for some time. Before to say anything else, I want to thank you so much for your incredible work. The ecosystem is still young, yet already joyful to work with and easy to contribute to.

I’ve recently ported [`stm32f767_hal`](https://github.com/therealprof/stm32f767-hal) to Rust 2018 and added timers support, and wr

[2019-04-14 13:55] therealprof commented on #345
Well, there's no right or wrong. Even if there were implementation guidelines, there's no one fits all approach to this since the register interface is vendor specific and those vendors have completely different ideas on what a good interface looks like. To implement your suggestion would mean to create one definitive interface everyone would have to implement, no matter how scary that implementat

[2019-04-15 07:26] TeXitoi commented on #345
Methods on pac object are added using traits in the prelude of the hal.

I think we can homogenize at least the hal un stm32 by having a common interface, begining by the clock management and the time module.

[2019-04-15 07:29] therealprof commented on #345
I very much doubt that. Clocking is vastly different between families.

That should be possible.

[2019-04-16 17:49] jamesmunns opened #346 "Oxidize Coordination"
A number of /wg members will be attending [OxidizeConf](https://oxidizeconf.com) in Berlin. If you plan to be here, let's try and coordinate time for the teams to meet and discuss things, such as #265.

CC @rust-embedded/all

[2019-04-16 17:49] jamesmunns commented on #346
I will be there for the conference and both Impl days (Sunday and Monday), though I may be running around organizing things.

[2019-04-16 17:50] jamesmunns commented on #342
This meeting happened! Thanks everyone.

[2019-04-16 17:50] #342 closed

[2019-04-16 17:50] jamesmunns opened #347 "Embedded WG Meeting, April 23"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-04-23,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

-  Reminders / announcements
- [Issues nominated for discussion, if any](https://github.com/rus

[2019-04-16 17:56] korken89 commented on #346
I'll be there until Sunday afternoon.

[2019-04-16 18:03] therealprof commented on #346
I'll be there on Saturday only.

[2019-04-16 18:53] thejpster commented on #346
I'm there all four days

[2019-04-16 20:52] Disasm commented on #346
I'll be there for all four days.

[2019-04-16 21:33] japaric commented on #346
I'll be there for the four days (but I'm not attending any workshop).

[2019-04-17 12:36] Dylan-DPC commented on #347
Have a few points about cross:

* New release: The last release of cross was in November 2017 which means users have to depend on latest master branch (which may break on certain architectures) for newer features.

* Qemu failures: Currently build is failing on a few architectures because of QEMU and we haven't found a way to solve the issue and it is blocking other unrelated PRs (we could disable

[2019-04-18 08:18] hannobraun commented on #346
I'll be there all 4 days. I'll also have some time the day before (late afternoon and evening) and the day after (morning and possibly early afternoon), in case anyone wants to meet.

[2019-04-19 17:16] ejpcmac commented on #345
@therealprof Thank you for your detailed answer. I may think too much about details sometimes.

I understand this. I was more thinking about things to avoid or ways to name / do the things *if possible and natural on the given platform*. But maybe that’s too much energy for something that is not relevent.

Ok, so I’ll go for `pac` on any refactoring, as I go. That’s one question less :)

As @TeXit

[2019-04-21 17:37] adamgreig commented on #346
I'm there from Friday evening until Monday afternoon.

[2019-04-22 15:15] johnthagen commented on #335
`alloc` is on track to stabilize for Rust 1.36.0: https://github.com/rust-lang/rust/pull/59675

[2019-04-28 15:30] adamgreig commented on #278
Points from the WG meeting at Oxidize:

* Investigate SVD format alternatives or other formats
* Investigate alternatives to svd2rust code generation / API
* Is the svd2rust `write` function appropriate? Should we have write-from-0 vs write-from-reset or rename or remove write or..?
* Work on cross

[2019-04-28 15:30] adamgreig commented on #277
Summary of WG meeting at Oxidize: things we'd like to work on this year:

* Rust book
    * How to use PACs
* Patterns book
* Link to training material
* Guide on how to write an embedded-hal driver (perhaps link to training material)

[2019-04-28 15:30] adamgreig commented on #271
Summary from WG meeting at Oxidize:

* We'd like to release cortex-m 1.0 and cortex-m-rt 1.0 this year
* We'd need to resolve:
    * Using svd2rust API in cortex_m::peripheral
    * Better inline ASM, via intrinsics or otherwise
    * Better interrupt handling. Closures? NVIC splitting?
    * Improve Mutex (especially making it sound for multi-core systems)
    * Support multiple memory regions

[2019-04-28 16:24] adamgreig commented on #346
This happened :tada:

[2019-04-28 16:24] #346 closed

[2019-05-01 09:13] benjaminjt opened #348 "Network abstractions crate"
Would there be some value in a crate for network layer abstractions (e.g. Ethernet, IP, TCP, etc.) in the same vein as [`embedded-hal`](https://github.com/rust-embedded/embedded-hal)?

This may a naive view, but it seems to me that it would be very useful for building up an embedded networking stack. For example:

A common `Ethernet` trait implemented by board support and [driver crates](https://c

[2019-05-03 01:06] ryankurte commented on #348
hey interesting idea! seems possible, though i suspect we'd need some more examples to extract the commonality and create something generally useful. my suggestion would be that it might be worth developing the networking bits outside the wg with the goal of adoption once it's demonstrated / useful?

also i think an ethernet peripheral trait (if it can be generalised) is definitely in scope for em

[2019-05-11 14:10] sequencer commented on #218
https://github.com/rust-embedded/wg/issues/218#issuecomment-480887902
May I ask when will `mcmodel` become ready in rust?
RISC-V is deprecating [bbl](https://github.com/riscv/riscv-pk/), using [opensbi](https://github.com/riscv/opensbi) as a replacement, which won't set paging from bootloader, so if `_start` don't start from `0x8000_000` will lead to pure rust can't write a bare metal entry.

[2019-05-11 15:25] Disasm commented on #218
@sequencer Unfortunately, I don't have an answer to this question. Someone has to merge corresponding patches from upstream LLVM to Rust LLVM tree. I'm busy at the moment, but I hope I will be able to start dealing with this soon.

[2019-05-11 16:30] sequencer commented on #218
Oh thank you!
A demo [kernel](https://github.com/wangrunji0408/rust-rv64-kernel) by @wangrunji0408 give a solution of sv39 paging in `_start` written by Rust.

[2019-05-13 22:26] therealprof commented on #147
[This](https://rust-embedded.github.io/showcase/) has happened.

[2019-05-13 22:26] #147 closed

[2019-05-13 23:49] therealprof opened #349 "Selecting a new rust-embedded communication channel"
# Proposal for selecting a new communication channel

## Background

As people may have noticed **irc.mozilla.org** which is the main communication channel for the rust-embedded WG and community is coming to an end, cf. [here](http://exple.tive.org/blarg/2019/04/26/synchronous-text/) and also [here](https://blog.rust-lang.org/2019/04/26/Mozilla-IRC-Sunset-and-the-Rust-Channel.html).

While this ch

[2019-05-25 14:55] tarcieri commented on #88
Will `thumbv8m.base-none-eabi` land on stable soon? I was able to use it on nightly.

[2019-05-26 18:59] n8henrie commented on #2
@caemor you may have already seen https://github.com/espressif/llvm-xtensa but if not it looks promising.

[2019-05-26 19:00] caemor commented on #2
yes already saw. it's looking good although it will still take some time until its integrated/merged into llvm

[2019-05-27 18:58] thejpster commented on #88
I assume it's riding the release train, and will turn up in two stable releases time?

[2019-05-29 16:59] eldruin commented on #39
I just released a driver for AD983x waveform generators / DDS. As an example application I wrote a simple MIDI player that plays Beethoven’s Ninth Symphony using a STM32F3Discovery board.
[Check out the video here](https://blog.eldruin.com/ad983x-waveform-generator-dds-driver-in-rust/) :D

[2019-06-04 16:39] tarcieri opened #353 "RNG support in libcore"
Of interest to this WG are some developments on [rust-random](https://github.com/rust-random), namely the new [getrandom](https://github.com/rust-random/getrandom) crate and plans to integrate it into `std`:

https://github.com/rust-random/getrandom/issues/21

There's an open issue about `no_std` support for `getrandom` in general, including various ways it could potentially be integrated into `co

[2019-06-04 17:54] therealprof opened #354 "Embedded WG Meeting, Jun 4"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-03-19,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

-  Reminders / announcements
- [RFC: Vote for new chat platform](https://github.com/rust-embedd

[2019-06-04 22:37] therealprof opened #356 "Embedded WG Meeting, Jun 11"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-03-19,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

- Reminders / announcements
- [Issues nominated for discussion, if any](https://github.com/rust

[2019-06-04 22:38] therealprof commented on #354
This meeting happened 🎉
Meeting minutes in https://github.com/rust-embedded/wg/pull/355
Next meeting issue is: https://github.com/rust-embedded/wg/issues/356

[2019-06-04 22:38] #354 closed

[2019-06-05 03:20] jamesmunns opened #357 "[VOTE] Choose the next chat platform"
This is the implementation of [RFC0351](https://github.com/rust-embedded/wg/blob/master/rfcs/0351-chat-vote.md) - voting on a new chat platform. The highest voted platform based on this vote will become the official room used for the Rust Embedded Working Group.

Please read the text of the RFC for the full content, but a quick summary of the rules:

* Voting will begin immediately. Voting will be

[2019-06-05 03:23] jamesmunns commented on #357
# Option 1: Discord

We would use the [`wg-embedded`](https://discordapp.com/channels/442252698964721669/443151017681485835) room of the Official [Rust Discord Server](https://discordapp.com/channels/442252698964721669/).

[2019-06-05 03:23] jamesmunns commented on #357
# Option 2: Gitter

We would use the [gitter.im](https://gitter.im/) server based on the `rust-embedded/wg` repository.

[2019-06-05 03:24] jamesmunns commented on #357
# Option 3: IRC (Freenode)

We woud use the `#rust-embedded` channel on [Freenode IRC](https://freenode.net/).

[2019-06-05 03:28] jamesmunns commented on #357
# Option 4: Matrix

We would set up a channel on a hosted [Matrix](https://matrix.org) instance.

[2019-06-05 03:31] jamesmunns commented on #357
# Option 5: Zulip

We would set up a room on a hosted [Zulip](https://zulipchat.com/) instance.

[2019-06-05 03:32] jamesmunns commented on #357
# END OF OFFICIAL VOTES

Only items listed above this line will be considered for the official vote.

[2019-06-05 03:33] jamesmunns commented on #357
# Beginning of Comments

Discussion of the above items begins below here. Information discussed below may be included in the posts above on a periodic basis.

[2019-06-05 03:33] jamesmunns commented on #357
CC @rust-embedded/all

[2019-06-05 06:43] berkus commented on #357
### Option 6: Telegram

* Simple
* Lightweight
* Persistent history
* File and other media sharing and storage directly without 3rd party services
* Endless chat branching (offtopic/general/newbies are easily created and cross referenced)
* Searchable history, #tags
* Convenient mobile clients
* Web client exists and is quite usable

[2019-06-05 07:49] jamesmunns commented on #349
Closed by #351

[2019-06-05 07:49] #349 closed

[2019-06-05 08:22] therealprof commented on #356
@jamesmunns NB: I won't be available for this meeting.

[2019-06-05 12:42] mvirkkunen commented on #357
Whatever is chosen I truly wish it won't be a closed proprietary platform.

Closed means being closed to using your own preferred client software that you can choose and configure to *your* liking above all others, whether that means convenience or accessibility.

Proprietary means not being ran by a community of enthusiasts but rather a faceless corporation, at which point your data and continued

[2019-06-05 12:53] nbraud commented on #357
@berkus I think you missed James' [end-of-list comment] and an important rule point:

[end-of-list comment]: https://github.com/rust-embedded/wg/issues/357#issuecomment-498925900

[2019-06-05 13:18] therealprof commented on #357
@mvirkkunen If it has a web interface it's not closed, you can select whichever browser you want.

[2019-06-05 13:29] IGBC commented on #357
Discord is a really problematic platform, they have history selling user's data, and a rather arbitrary usage policy that does not really protect Mozilla's community guidelines. Additionally their Linux client is poor reducing accessibility for a lot of users.

Please Consider this when casting your vote.

[2019-06-05 13:35] therealprof commented on #357
@IGBC Is there any proof of this? Also which user data are they supposed to sell? Worst case they have your email address and I can tell you they haven't sold mine yet since every service I use gets a unique email address here. Also I'm not sure why people would even consider using a special client (which is nothing but a web browser running a specific application) instead of a regular (or even de

[2019-06-05 13:43] IGBC commented on #357
@therealprof  "When you interact with us through the Services, we receive and store certain information such as an IP address, device ID, and your activities within the Services. We may store such information or such information may be included in databases owned and maintained by affiliates, agents or service providers" - Lifted directly from the discord [https://discordapp.com/privacy](Privacy P

[2019-06-05 14:03] therealprof commented on #357
@IGBC Those are pretty standard terms and not proof of anything. Worse yet: With IRC **anyone** can gather the same kind of information, not just the operator.

I certainly prefer a web browser over a special protocol client, especially with IRC clients which are going the way of the dodo (read: unmaintained bitrot). Ever tried to use IRC on a tablet or phone, Discord in a webbrowser is a godsend

[2019-06-05 16:52] mvirkkunen commented on #357
@therealprof If a web browser is your preference there's always web IRC clients and IRCCloud.

[2019-06-05 16:54] therealprof commented on #357
@mvirkkunen Yeah, doesn't address any of the drawbacks of IRC though.

[2019-06-05 19:38] knyzorg commented on #357
A major benefit of matrix is that we could setup bots to sync matrix activities with discord, irc, telegram, etc fairly easily.

I for one would really like to be able to use telegram without forcing anyone to get on it as well.

[2019-06-05 19:52] andre-richter commented on #357
Copy/pasting a point I made in another thread: What annoys me about IRC is that the mobile experience is the probably the worst of all options.

But we are in the age of mobile. While it might not be suitable to have long discussions over mobile regarding programming topics, at least I would want to have push messages on my mobile notifying me that my attention might be needed. That's just how it

[2019-06-05 19:56] paulvt commented on #357
In the case of web browsers, I think one can no longer speak of having a non-special protocol client. The free and open web browsers that we all have and love to use nowadays just provide a platform to run those huge, often closed, proprietary special protocol clients. Just... on another VM.

Open platforms with decent open protocols (I'm not really defending IRC here ;)) provide ways to connect w

[2019-06-05 23:52] Shizmob commented on #357
This is a very weird position to take from my perspective. Whether the specifications of a protocol are open for implementation has very little relevance to whether it can be spied upon, which is a content feature of the protocol itself. You can definitely not spy upon all IRC traffic as a random user, and being able to set up your own servers, possibly proxying themselves, is a distinct advantage

[2019-06-05 23:55] joepie91 commented on #357
I just want to emphasize here that the Riot client for Android is *really quite good*. It's quite unlike the typical open-source mobile clients that one might be used to.

[2019-06-06 02:41] taciturasa commented on #357
Matrix has official IRC bridge functionality, is a FOSS protocol, and could easily be used as a default with IRC as a legacy alternative. It also supports avatars, read badges, embeds and files, voice/video, and persistant history. It it federated as well, meaning your user doesn't even have to be on the same instance to communicate. There's reaaaally no reason to NOT choose it and go with IRC oth

[2019-06-06 11:55] mvirkkunen commented on #357
I've upvoted both IRC and Matrix, because a Matrix room with IRC integration would probably provide best of both worlds and satisfy most people. Matrix has all the bells and whistles of a "cloud" service for the mobile first people, and it has great IRC integration for us old people.

[2019-06-06 12:00] therealprof commented on #357
@mvirkkunen This is not how this works. If the vote is going to IRC you can use Matrix yourself to bridge (and get the worst of both worlds), if it's going to Matrix there won't be any IRC anymore. Voting for IRC if you really want Matrix is likely going to defeat the purpose.

[2019-06-06 12:07] f0x52 commented on #357
@therealprof Why not? Bridges are first-class citizens in Matrix, especially the IRC bridge. You can have Matrix as your main platform, but still allow bridging to an irc channel for everyone that wants to use an irc client

[2019-06-06 12:23] therealprof commented on #357
@f0x52 This vote is supposed to select **one** protocol to use in the future which will be the official one. There's of course a possibility that some volunteer might set up a bridge to some other system/protocol but this is out of scope for this vote.

Of course people are free to vote however they like, but each vote has equal weight, so if one has a clear preference of Matrix over IRC it does n

[2019-06-06 12:25] mvirkkunen commented on #357
@therealprof I understand "Matrix with IRC bridge" isn't a valid option to vote but since both are on the table why dismiss using both? I'm a part of another "techie" community where Matrix and IRC are used equally with great bridging you barely even notice (users show up with their real nicknames, not as some bridge username) and that is there for everyone (no need to set up anything yourself - j

[2019-06-06 12:26] f0x52 commented on #357
Then I urge everyone who voted for IRC to reconsider voting for Matrix, if they find a Matrix <> IRC bridge acceptable.
From my experience they work quite well on both sides, except maybe for the "user x sent a long message, here's a link", which can be disabled by using a bridge with different config options.

[2019-06-06 12:28] mvirkkunen commented on #357
@therealpeof (wrt later comment) welp, if the process is this rigid I guess us IRC people will have no option but to vote for IRC and IRC only in order to not lose access, even though another option would perhaps be more considerate for the community as whole.

[2019-06-06 12:37] therealprof commented on #357
@mvirkkunen Well, there is an RFC and it has been accepted. Discussions have happened and people provided their input (not only to the RFC but also to earlier issues and in meetings); obviously no one found the time or spirit to propose this solution. So yes, now that the process is in motion, we're going to stick with it.

It is perfectly okay for IRC people to vote for IRC, that's why the option

[2019-06-06 12:38] TeXitoi commented on #357
Can you connect to the #rust-embedded channel from freenode using matrix out of the box as there is an official freenode bridge operated by Matrix.org?

[2019-06-06 12:45] f0x52 commented on #357
@TeXitoi Yes, or using third party bridges like the one I run for pixie.town (#freenode_#rust-embedded:matrix.org or #freenode_#rust-embedded:pixie.town)
If IRC is chosen, Matrix users will still be able to connect, if allowed by the moderators.
Having Matrix listed as an official platform (optionally next to IRC) would still be beneficial to new users though, due to it's browser client that is ea

[2019-06-06 12:50] therealprof commented on #357
@f0x52

Today it is also possible to use Matrix to connect irc.mozilla.org. This has all the disadvantages of IRC plus some more quirks of Matrix/RIOT, too so it's not really a good solution IMHO.

[2019-06-06 12:53] TeXitoi commented on #357
@therealprof can you explain that a bit more? If the official channel is on matrix, is it better to have the bridge the other way?

[2019-06-06 13:09] therealprof commented on #357
@TeXitoi My understanding of Matrix is that it is a modern and open chat platform (someone will certainly correct me on this) on par with the other (closed) modern alternatives. Means history, privacy, safety, authentication, text correction, emoticons, text markup are all there.

Bridging that to IRC would only throw the people using the bridge 20 years back into into the past while everyone else

[2019-06-07 15:11] linuxtim commented on #357
FWIW...

If it were chosen at some point in the future to bridge an irc channel to a matrix room...  The moderation features of Matrix effectively don't apply to the messages that get bridged into the IRC channel.  This may not be an issue in the real world (I believe it hasn't yet been a problem with the existing IRC channel).

If it did become a problem in the future (to such an extent that the

[2019-06-07 15:12] linuxtim commented on #357
For the record (iff matrix is selected, and matrix.org is selected as the server)...  Approx 6 weeks ago, I pre-emptively registered #rust-embedded:matrix.org - which I'm happy to hand over fully to the WG if requested.

[2019-06-07 16:27] f0x52 commented on #357
There's also a weechat plugin that allows you to use matrix directly https://github.com/poljar/weechat-matrix

[2019-06-11 20:42] michalfita commented on #357
It's interesting Mattermost haven't been taken into consideration.

[2019-06-12 01:52] mmstick commented on #357
We're using Mattermost for Pop!_OS (1500+ users) and Redox OS (700). Works great.

- https://chat.pop-os.org
- https://chat.redox-os.org (you must request an invite)

[2019-06-12 02:49] taciturasa commented on #357
The issue with Mattermost is that it only has choice for one client.

[2019-06-12 03:03] mmstick commented on #357
If that were an issue, Discord wouldn't be a consideration at all. Its TOS expressively forbids third party clients.

Mattermost is fully open source (MIT license), and its API is easy to interact with. Anyone's free to write third party clients for it. [Feel free to contribute to Maco](https://gitlab.com/pop-planet/maco).

[2019-06-12 18:02] hargoniX commented on #357
It's been mentioned above that

And also that

So discussing your favourite chat service here won't really yield any useful results.

[2019-06-13 10:07] IGBC commented on #357
If I know anything about which number is bigger than the other, then the rankings are:

1. Matrix
2. IRC @ Frenode
3. Discord

The 3 vote rule has not come into effect.

3.

[2019-06-13 16:08] caemor commented on #357
The vote is still ongoing for another 10 days ;-)

[2019-06-17 22:24] jamesmunns commented on #356
This meeting happened!

[2019-06-17 22:24] #356 closed

[2019-06-17 22:24] jamesmunns opened #359 "Embedded WG Meeting, Jun 18th"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-06-18,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

- Reminders / announcements
- [Issues nominated for discussion, if any](https://github.com/rust

[2019-06-17 22:25] jamesmunns commented on #359
NB @therealprof, I will likely not be attending this meeting

[2019-06-18 20:43] therealprof commented on #359
This meeting has happened! 🎉

[2019-06-19 09:21] japaric opened #361 "[RISC-V] codegen seems not ideal"
Disclaimer: I don't know much of the RISC-V ISA so this may be just my poor
understanding.

Some things I observed while working with the [hifive1] board.

[hifive1]: https://github.com/japaric/hifive1

## `jalr` instead of `jal`

All direct function calls seems to use some sort of relocatable form. Example
below:

[code]

[code]

That `auipc`, `jalr` combination looks like relocatable code to me

[2019-06-19 14:53] #359 closed

[2019-06-20 22:12] Disasm commented on #361
Oh, someday I'll have to become an LLVM developer. I'm 99% sure these strange things have nothing to do with Rust itself, but I need to check anyway.
Thanks for the observations!

[2019-06-20 22:32] therealprof opened #362 "Embedded WG Meeting, Jun 25th"
[8-9 PM CET][0] (Berlin time) on #rust-embedded on irc.mozilla.org

[0]: https://everytimezone.com/#2019-06-25,420,b8jj

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

Agenda.

- Reminders / announcements
- [Issues nominated for discussion, if any](https://github.com/rust

[2019-06-21 07:17] Kixunil commented on #26
Sorry for replying this late, yes, it does work, you just need to enable `byteorder` feature.

[2019-06-23 18:44] Disasm commented on #218
Good news! This patch arrived 12 days ago: https://github.com/llvm/llvm-project/commit/a5240361dd64a1e9d70caead940e626f45fd4655

Now it's possible to build C programs like this one:
[code]

[code]

[2019-06-23 22:34] jamesmunns commented on #357
Votes as of 00:30 CEST:

* Discord: 74
* Gitter: 11
* IRC (Freenode): 103
* Matrix: 160
* Zulip: 52

It looks like Matrix has gotten the top vote by more than three votes.

We'll be implementing these changes over the next few weeks, and will discuss how to implement this in the upcoming meeting on IRC on Tuesday at 20:00 CEST. See #362 for the agenda. Stay tuned for a switch-over date from IRC to

[2019-06-23 22:35] jamesmunns commented on #362
Discuss the outcome of #357 (Matrix won), how we obtain the rust-embedded channel, when we move over, what bots or other moderation tools need to be set up.

[2019-06-24 12:46] eddyp commented on #357
It seems people were under the impression that downvotes 👎  (or upvotes 👍 - downvotes 👎 ) also accounted for something.

I wonder how many people would have felt cheated if Discord had the most upvotes and most down votes, but Matrix had less upvotes than Discord, but way less down votes.

Since people seem to have felt downvotes acount for something, maybe the rules should be changed to have a cl

[2019-06-24 12:49] therealprof commented on #357
@eddyp Huh? The rules were pretty clear. Changing that after the fact would be cheating to the people who are able to read and acted accordingly.

[2019-06-24 12:51] andre-richter commented on #357
@eddyp I really don't see how the initial post in this thread could have given this impression. Its formulation is not ambiguous in any way.

[2019-06-24 12:54] f0x52 commented on #357
@eddyp Even when counting upvotes :+1: - downvotes :-1:, Matrix is still the clear winner, with 142 compared to the next follow-up, IRC at 58 (calculated with current results, since downvotes weren't saved at the end of the voting period)

[2019-06-24 13:14] #357 closed

[2019-06-24 16:38] tim-seoss commented on #362
Not sure I'll be able to make all (or any) of the meeting, so...

I had a chat on #matrix:matrix.org (and also briefly with Matrix founder Matthew Hodgson) about migrating to matrix.

The options were:

1. Use the matrix.org home server.  In its favour this is quick and easy (and I've already registered one there).  Downside is that the main matrix.org server is a bit overloaded and until they swi

[2019-06-24 19:26] Disasm commented on #361
## `atomic::compiler_fence` produces an instruction

not emit any machine code".

The description is wrong. This `compiler_fence` lowers to `atomic_fence(ordering, SingleThread)` and this `atomic_fence` can be lowered to any architecture-dependent code, not only to empty code.
LLVM lowers `atomic_fence(ordering, SingleThread)` to `CompilerBarrier` for AArch64 and ARM targets, but not for AVR, Powe

[2019-06-26 17:43] ibutra commented on #39
I published an BMP388 driver recently https://crates.io/crates/bmp388
And I am currently working on a driver for the sharp memory displays sold by adafruit

[2019-06-26 23:14] Ralith commented on #362
A core benefit of matrix is that rooms are not strongly associated with any particular server. Users on any (federated) server can join the room, and the room exists equally on the servers of all participating users. This means that there's no need to (or even any possible way to) commit the community to any particular server; individual users can pick whatever server suits them, and can create ne

[2019-06-27 06:44] tim-seoss commented on #362
Yes, apologies, this was my misapprehension.  I had assumed that the room name (more properly "address") or perhaps some metadata would be tied to the namespace where it was created at least in some way.  This isn't the case, and what is now #rust-embedded:matrix.org could also later get an additional address of #main:rust-embedded.org (assuming such a home server was set up) or anything else.

i.

[2019-06-28 17:36] maxidorius commented on #357
A bit late, but here is a research document on privacy regarding self-hosted Matrix installs when relying more or less on default settings: https://gist.github.com/maxidorius/5736fd09c9194b7a6dc03b6b8d7220d0

[2019-06-30 11:59] Disasm commented on #361
## `jalr` instead of `jal`
Compiler generates `call <something>` instruction, which translates into `auipc`+`jalr` pair (The RISC-V Instruction Set Manual Volume I: User-Level ISA v2.2, p.110, table 20.2). That what you can see in `*.o` files because at this point it's impossible to determine whether you can call your function with `jal`. However, linker could translate this to `jal` (or even `j`)

[2019-07-01 08:15] MatMaul commented on #357
And here is a recent update on that from the Matrix team:
https://matrix.org/blog/2019/06/30/tightening-up-privacy-in-matrix

[2019-07-01 13:34] nastevens commented on #362
Sorry I was not able to attend this meeting, it would have been good for me to be there.

Right now provisioning of rust-embedded resources is handled in https://github.com/rust-embedded/rust-embedded-provisioning and hosted on AWS. I pay the bill on that one and I'm totally fine adding more infrastructure as needed within reasonable costs.

If it's determined that we'd like to self-host a home se

[2019-07-01 17:06] luqasz commented on #282
For a simulator you can use:
* [simulavr](https://github.com/Traumflug/simulavr)
* [simavr](https://github.com/buserror/simavr)

[2019-07-05 12:12] sapir opened #364 "Using LLVM C Backend?"
Would it be possible to use the [LLVM C Backend](/JuliaComputing/llvm-cbe) to generate code for architectures that currently don't have LLVM support, like Xtensa? I've made some PRs there to try to get it to compile rustc's LLVM IR output, so I think it's pretty close to working, at least partially. Is there some reason this wouldn't work? And if it did, how would I add a correct target definition

[2019-07-05 14:30] tarcieri commented on #364
FYI, there's an LLVM Xtensa (WIP) backend: https://github.com/espressif/llvm-xtensa

[2019-07-06 04:51] josephpenafiel opened #365 "the embedded rust book inconsistency"
I couldn't find any site where I could write the Rust guys directly, so here I am. I just want to point out an inconsistency in this book. If you introduce a specific hardware in this book (the STM32F3 discovery board), why are you writing example code about different hardware??? (tm4c123x, in Section 2 Memory map registers). It's just plain confusing and annoying.
Stick with st or ti, don't mix t

[2019-07-06 08:38] thejpster commented on #365
That's a useful observation, thank you. Could you open an issue on rust-embedded/book, so we can associate a PR with it?

[2019-07-07 09:38] laanwj commented on #365
Thanks for reporting !
Moved here: https://github.com/rust-embedded/book/issues/195

[2019-07-07 09:38] #365 closed

[2019-07-09 11:05] Disasm commented on #218
Closing this because the major addressing problem is resolved.

[2019-07-09 11:05] #218 closed

[2019-07-10 21:01] michalfita commented on #353
One example from my backyard is entropy for encryption (TLS). While `getrandom`'s source is OS, I wonder how reaching TRNG peripheral of some of MCU could work in such case? If I correctly understand proposal from rust-random/getrandom#4 it would require own implementation to let the further code use a standard API. That's definitely worth consideration.

[2019-07-10 21:17] michalfita commented on #348
Don't forget you need Ethernet at two levels of abstraction, original IEEE 802.3 which can be directly under IP protocol and works today on copper or fibre cable and higher one for everything that mimics Ethernet frames on top of medium like IEEE 802.11 or FrameRelay. The former fits into `embedded-hal` as would address implementation over physical peripheral of the MCU, but then the latter shall

[2019-07-10 22:42] therealprof commented on #353
One thing that works is instantiate some seedable RNG (like `ChaChaRng`) and either seed it with TRNG data when booting up or periodically feed it with some entry e.g. using an interrupt.

[2019-07-11 08:12] michalfita commented on #353
@therealprof TRNG in ATSAMS70Q21 is fast enough to use directly as source of random numbers, we drop the need for cycles to calculate any PRNG.

[2019-07-11 08:15] therealprof commented on #353
@michalfita So what prevents you from using that directly?

[2019-07-11 08:34] michalfita commented on #353
@therealprof My point was about finding good pattern how to use the peripheral by the abstraction layer, so the use of standardised functions would still work. I'm mostly thinking about portability of the code.

[2019-07-13 19:58] sapir commented on #364
Inline assembly doesn't work, because the `asm!` macro parses the assembly as belonging to the current target.

[2019-07-16 11:29] gnzlbg opened #366 "target-feature detection run-time"
I've submitted an RFC (https://github.com/rust-lang/rfcs/pull/2725) that allows `#![no_std]` applications to use the target-feature detection macros, and customize the detection run-time. A

For embedded devices, you often know all features available at compile-time, so doing run-time detection is probably moot, unless you want to ship the same binary to different embedded devices, or have an hete

[2019-07-16 22:37] Disasm commented on #146
Updated [riscv-rust-quickstart](https://github.com/riscv-rust/riscv-rust-quickstart).

[2019-07-28 04:01] AcrossTheWall commented on #246
In compiler control string, it is Cortex-M4, not Cortex-M4.fpu,

![image](https://user-images.githubusercontent.com/25889546/62002025-cbf5b400-b12e-11e9-9747-e84d34824d6c.png)

[2019-07-29 15:35] gbip commented on #362
Would it be possible to publish the meeting logs somewhere please ? :smile:

[2019-07-31 12:16] xcepti0n commented on #47
There is also a wrapper tool [qemu-system-gnuarmeclipse](https://gnu-mcu-eclipse.github.io/qemu/) that I have came across which is a wrapper written over [qemu](https://wiki.qemu.org/Main_Page). It also has support for cortex m4 targets.

[freertos_rs](https://github.com/hashmismatch/freertos.rs) by  @hashmismatch uses qemu-system-gnuarmeclipse for running unit test cases over cortex m4 without FP

[2019-08-01 09:48] lenary commented on #361
Hi! I'm a developer at lowrisc, working with Alex Bradbury on the RISC-V llvm backend. I've just started (yesterday!) looking at where we can improve the RISC-V Rust backend, in addition to my main LLVM work.

The LLVM backend only recently became non-experimental (around the time of the 9.0 branch, with releases imminent). With that, the aim is that we can compile most RISC-V programs in `rv{32,6

[2019-08-06 18:02] jamesmunns opened #369 "Pre-RFC: Mentoring and Onboarding"
In order to reduce bus factor, and to ensure we have a reasonable amount of active members on each of our teams, we would like to come up with a plan for onboarding contributors to the WG, and have a plan for mentoring them.

This will allow contributors to have a solid path on how they can get started, and what kind of support they can expect, as well as give "code maintainers" guidance on how th

[2019-08-06 18:04] jamesmunns opened #370 "Pre-RFC: Deciding WG Focus"
We would like to have a stated process for deciding topics that require WG-level focus, similar to our previous "Wish List", seen here: https://github.com/rust-embedded/wg/issues/269#issuecomment-449199593.

However, we would like to do this on a more continuous basis, to avoid high goals.

We should discuss:

* How to nominate issues
* How to select from nominated issues
* How to triage, work, an

[2019-08-20 20:17] adamgreig commented on #271
I'd like to revitalise this a little and see if we can set some targets for cortex-m.

I think it would be good to focus on:

* Getting intrinsics into core
* Improve cortex_m's peripheral access:
    * Maybe use svd2rust
    * Maybe split it into a separate crate we re-export
    * Go through the documentation carefully to check we match exactly
* The cortex-m-rt RFCs around ramfunc, uninits, and

[2019-08-21 06:11] hannobraun commented on #271
@adamgreig

You might already be aware of this, but I figured it won't hurt to link it: https://github.com/rust-embedded/wg/issues/100#issuecomment-391749679

[2019-08-21 20:29] Lokathor opened #372 "[Needs Expert Help] Using `sqrt` on the less common CPU types."
Heya folks,

As part of the [2019 Embedded-wg Wishlist](https://github.com/rust-embedded/wg/issues/256) I've opened a PR to move `sqrt` from `std` into `core`:

https://github.com/rust-lang/rust/pull/63455

However, a current blocker is to make sure that this will not cause any performance regression on any target. Part of this involves knowing what LLVM will do on the less common CPU types, so I'

[2019-09-18 21:21] andre-richter commented on #230
Changing scope of this issue to only track the necessary first step which is differentiating the targets.

Adding rust-std components for aarch64 bare metal targets can be followed up in a separate issue.

[2019-09-30 08:15] andre-richter commented on #230
Implemented in https://github.com/rust-lang/rust/pull/64589

[2019-09-30 08:15] #230 closed

[2019-09-30 10:41] eldruin commented on #39
I released the driver for the VEML6075 UVA/UVB light sensor. See the [blog post here](https://blog.eldruin.com/veml6075-uva-uvb-uv-index-light-sensor-driver-in-rust/).

[2019-09-30 15:01] asalwa opened #379 "building for older linkers"
I was trying to use embedded Rust for the first time in some real-life environment. I want to link my library written in Rust to existing C/C++ application.
It uses quite old GNU toolchain (GNU ld 2.25, dated 2015), and toolchain choice is out of my control.
So I build my library with:
* --target armv7r-none-eabi
* crate-type = ["staticlib"]
* #![no_std]

I exported one function with no_mangle and

[2019-10-04 01:57] #292 closed

[2019-10-10 03:34] YuhanLiin commented on #275
This may be irrelevant, but how important is enabling debug info in MSP430 executables in the grad scheme of things? It would be nice to step through Rust source instead of ASM when debugging.

[2019-10-10 03:36] cr1901 commented on #275
@YuhanLiin It's on my short-to-medium term list to add source-level debugging after the core crates (`msp430-rt`, etc) have been upgraded. That said, I've found w/ function sections enabled, ASM debugging is possible and not too horrible depending on the size of your MSP430.

[2019-10-10 20:59] YuhanLiin commented on #275
Do you know what steps would be involved for this feature? I may try my hand at it if I have time.

[2019-10-15 18:07] jamesmunns opened #381 "All Hands 2020: Draft Agenda Items"
Placeholder

[2019-10-15 18:13] jamesmunns commented on #370
Closed by #378

[2019-10-15 18:13] #370 closed

[2019-10-15 18:13] japaric commented on #381
For reference, this year (RAH 2019) we had 2 1-hour meetings and one 2-hour working session. Notes and attendance can be found at https://paper.dropbox.com/doc/WG-Embedded-Rust-All-Hands-2019-Topics--Ams~zlHKeJ911vGs6mM1Vn~YAg-JrPzUM1Z3SC859MS03lfC

[2019-10-15 18:14] jamesmunns commented on #369
Closed by #378

[2019-10-15 18:14] #369 closed

[2019-10-15 19:00] thejpster opened #382 "Providing guidance for MSRVs"
At the EWG meeting 2019-10-15, we discussed providing guidance on how to use MSRVs. This should probably be added to https://github.com/rust-embedded/wg/blob/master/ops/msrv.md.

The guidance should be around:

* What authors of HAL crates should do (the current guidance is only for EWG crates)
* How to check what your MSRV is
* Pointers to the docs (and hence current MSRV) of EWG architecture cra

[2019-10-15 19:05] jamesmunns opened #383 "Push foundational crates to 1.0"
We would like to push embedded crates owned by the working group to a stable 1.0 state, when reasonably possible.

Possible crates to evaluate include:

* cortex-m
* cortex-m-rt
* embedded-hal

For each crate, we should come up with our process of deciding whether these crates are ready. This could include evaluation, a call for feedback, or could require identification of tasks required before re

[2019-10-16 09:19] Dylan-DPC commented on #381
Following this issue for coordination purposes.

[2019-10-18 16:52] hug-dev commented on #232
Sorry for bringing this topic up again but just saw this 😋
When I last looked at it, Mbed OS provided a HAL interface that different targets have to implement in order to work with it.
Maybe it would be possible to:
* Using C to Rust FFI, make a Rust implementation of an Mbed OS HAL to have a Rust target running Mbed OS
* Make a generic "converter" between Mbed OS HAL and Rust [embedded-hal](https

[2019-10-18 18:21] theotherjimmy commented on #232
In my personal opinion, that could work. Things to be wary of are:
 * the HAL is designed to be compiled within Mbed OS.
 * parts of the HAL are designed to be used with weak symbols (this harms your ability to use a static lib).
 * Mbed OS likes to control the ISRs and delegate processing to lower exception levels.

OTOH, Mbed OS does have something called "Bare Metal" which should get you compil

[2019-10-18 19:06] therealprof commented on #232
I don't see any reason why it wouldn't work. However I'm not sure why one would want to do this as you're basically getting the worst of both worlds: The unsafety of the Mbed OS abstractions, the additional complexity of having to deal not only with C code but also the Mbed OS build system, the overhead for runtime checks in Rust and all of that without the ability to optimise the generated code b

[2019-10-21 08:18] hug-dev commented on #232
Thanks @theotherjimmy for the warnings!
It was merely some brainstorming about a Rust + Mbed OS integration, and maybe an interesting topic for someone to research.

[2019-10-22 10:53] hug-dev opened #385 "Tier 1 goal: Test Rust natively on Arm with Travis CI"
Hi All!

I posted my question about this topic [on the Rust forum](https://users.rust-lang.org/t/test-rust-natively-on-arm-with-travis-ci/33754).

In a nutshell, as Travis CI now supports native builds on Arm64, it could be a good opportunity to set up a job on it running Rust CI tests on the `aarch64-unknown-linux-gnu` target.
If it is possible for Rust CI infrastructure to have both Azure and Tr

[2019-10-23 12:55] hug-dev commented on #385
Moved the discussion on rust-lang/infra-team#34

[2019-10-23 12:55] #385 closed

[2019-10-26 01:31] Windfisch commented on #39
I have noticed that most of these drivers consume the I2C or SPI peripherals. Usually, I have multiple devices on my SPI bus, and this design forces me to construct and deconstruct each driver whenever I want to use it.
What is the rationale for this decision?
I think a better way would be to only consume the slave-select pin on construction, and to require a borrow of the SPI/I2C bus every time a

[2019-10-26 09:27] TheZoq2 commented on #39
Consuming the peripheral is required, because even with a chip select-pin, the peripheral is still shared and we somehow need to make sure that only one chip select is active at a time.

It might be possible to do something like this:

[code]
Where the _cs structs share the SPI peripheral.

Another option, which would be for the driver crates to take mutable references to the peripherals when they

[2019-10-26 10:30] Rahix commented on #39
@Windfisch, this use-case is exactly why I created [`shared-bus`](https://github.com/Rahix/shared-bus).  I have compared my approach to your idea and a few others in this [blog post](https://blog.rahix.de/001-shared-bus/).  But please note that the SPI implementation is currently broken and has an inherent race-condition (Issue Rahix/shared-bus#8).

Concerning your second point:

I think this coul

[2019-10-26 11:34] therealprof commented on #39
That's probably the best approach. It also allows for the most flexibility and speed by allowing the user to select the most suitable sharing approach.

[2019-10-26 12:39] TeXitoi commented on #39
I agree `&mut` is much better: you can implement the take ownership over it easily.

[2019-10-26 12:58] TheZoq2 commented on #39
The one downside I can see with it is that you lose the mapping between SPI port and device, so you may accidentally end up using the same port for many devices

[2019-10-26 13:00] burrbull commented on #39
What about such structure:

[code]

[2019-10-26 13:04] Windfisch commented on #39
what is a "SPI port", do you mean "SPI bus"?
Well, using one SPI bus for many devices is the point of SPI, isn't it?

Do you mean that you might accidentially pass the wrong SPI bus to the driver, in situations where you have multiple SPI busses? This is indeed an issue, but 1. there's a halfway-working fix to this an 2. it's not getting any worse than with the current driver design.
ad 1.: you ca

[2019-10-26 13:06] Windfisch commented on #39
This is exactly what I've in my mind, while I would rename `MutI2CDriver` to `Driver`, and `OwningI2CDriver` to `DeprecatedLegacyDriver` ;)

[2019-10-26 13:10] burrbull commented on #39
We can also write `derive`, which will produce `Owning` and `Mutex` wrappers.

[2019-10-26 13:13] Windfisch commented on #39
Can you please elaborate on this, I don't understand what writing `derive` means / how it can do what you said?

[2019-10-26 13:19] burrbull commented on #39
I mean `derive` [attribute](https://doc.rust-lang.org/reference/procedural-macros.html) like:
[code]

[2019-10-26 13:22] Windfisch commented on #39
Whoa, just reading up on `derive`... in the page you linked, is this literally gaining code execution in my compiler using `derive_answer_fn` in their example? Does that mean that no machine code is generated for `derive_answer_fn`, but it is executed as part of the build process instead?

[2019-10-26 13:28] burrbull commented on #39
Not sure if I can answer this question.

https://github.com/dtolnay/

[2019-10-26 13:32] therealprof commented on #39
@Windfisch Yes, `#[derive]` means that a macro is called which can introspect whatever you're applying it to and automatically generate code for it.

I don't quite see a use for it here but you never know what people will come up with...

[2019-10-26 14:07] Windfisch commented on #39
I definitely see a use if `OwningI2CDriver` could be auto-generated from `MutI2CDriver` in a generic fashion, since this is what each and every driver would need to do in order to keep backwards compatibility if we transitoned to the "mutable borrow"-approach.

Apart from this, while borrowing the SPI peripheral on each use, I would still own the slave-select GPIO pin. I can't think of a situation

[2019-10-26 15:00] therealprof commented on #39
@Windfisch Since there're no conventions for drivers "objects" it'd be very hard or even impossible to derive something in a generic way. On the upside since there're no conventions, any driver can choose to implement that approach or even both approaches at the same time and let the user choose.

[2019-10-26 16:19] RandomInsano commented on #39
I don’t have time to re-review my dabbling on this (might make no sense whatsoever) but I did do quite a bit of research and thinking about how to re-use the i2c and SPI busses before shared-bus happened:

https://gist.github.com/RandomInsano/d2892f1fdb1b7e2ac15115f922b1d817

Backwards compatibility can be done with a facade that pretends to be the old way while folks work to port their drivers to

[2019-10-26 17:18] eldruin commented on #39
While it may be possible to write drivers with `&mut` and even generate an owning wrapper, I think the points detailed [here](https://blog.rahix.de/001-shared-bus/#not-owning-the-bus-peripheral), as @Rahix stated above, would still need to be addressed. Most concerningly:
1. Implementing traits for a `MutRefDriver`.
2. Preventing usage of the wrong peripheral.

Additionally, even if 1. was solved,

[2019-10-26 18:14] therealprof commented on #39
@eldruin

What is that? And why do we need it?

I still don't understand what a "wrong" peripheral is and why we need to prevent the use of it. If a user wants to prevent himself from _accidentally_ using a different peripheral across multiple function calls, there's always the option to wrap the calls to require specific types instead of trait bounds.

There's no way we can prevent the developer

[2019-10-26 18:37] MrBuddyCasino commented on #39
_Thank you!_ There is no need to whack each and every possible mistake by some type level contortions. Rust culture takes this too far sometimes.

[2019-10-26 22:46] therealprof commented on #39
So I kind of expected it but just to be perfectly certain I actually tried it out, you can simply throw in a `PhantomType` in the constructor of your non-owned driver implementation and it will make sure that you can only call the methods with the same type you originally passed in:

[code]

in addition to being much more idiomatic Rust and solving lots of the sharing issues it's also (as expected

[2019-10-27 10:29] eldruin commented on #39
Good, 2. is solved then. However, I am most concerned about implementing traits, I did not elaborate because it is explained in the link above. For example:
If I need an additional `&mut I2C` parameter in each method call, it is impossible for the [ads1x1x](https://github.com/eldruin/ads1x1x-rs) driver to [implement the OneShot ADC trait](https://github.com/eldruin/ads1x1x-rs/blob/7fd6e72ef5258f79

[2019-10-27 10:37] therealprof commented on #39
No sure about this.

Anyhow, I don't think there's a one-fits-all solution but that is not a problem since it's up to the driver author anyway to select an (or multiple) appropriate interface(s); if a non-owning interface does not make sense then it's fine to not offer it.

[2019-10-27 10:43] eldruin commented on #39
It would be interesting to know what the shortcomings of using `shared-bus` in @Windfisch's case would be.

[2019-10-27 10:51] Windfisch commented on #39
Most importantly (apart from the added complexity for which I did not understand the reason; but the trait issue you mentioned is though indeed):
I don't want a Mutex because I don't need a Mutex. I am concerned about WCET because I am doing orecise time measurements, and locking the interruots as part of a cortex-m-mutex for each spi access is not an option in my case.

However, do you think this

[2019-10-27 11:04] Rahix commented on #39
I think this should be possible if your mutex type is `!Send + !Sync + !SingleCoreSync`, because there is no way to produce concurrent access with that.

[2019-11-03 23:51] leshow commented on #39
I published a rotary encoder lib that works with `embedded-hal`, not sure if it qualifies for the driver initiative, but I've been using it in my own little projects. Feedback/PRs/etc welcome, [here](https://crates.io/crates/rotary-encoder-hal)

[2019-11-04 08:01] therealprof commented on #39
@leshow Absolutely, feel free to add it to all the various resources.

[2019-11-04 08:15] burrbull commented on #39
Can you add link on github repository in `Cargo.toml`?

[2019-11-04 08:18] burrbull commented on #39
More examples also are needed. How to use this with interrupts? How to calculate frequency?

[2019-11-04 16:42] leshow commented on #39
@burrbull

With interrupts you just do the `update` calculation inside your interrupt handler. At least, that's what I've been doing. Feel free to suggest any changes in the repo. And yes thank you, I will add the github link in cargo

[2019-11-04 16:47] burrbull commented on #39
I think I understand. You forgot `delay` in loop.

[2019-11-04 18:54] dotcypress commented on #39
@leshow also will be great to implement [Quadrature encoder interface trait(`Qei`)](https://github.com/rust-embedded/embedded-hal/blob/master/src/lib.rs#L965)

[2019-11-04 20:59] leshow commented on #39
Oh wow, I didn't even realise this existed! I'll definitely do that.

On Mon., Nov. 4, 2019, 1:55 p.m. Vitaly Domnikov, <notifications@github.com>
wrote:

[2019-11-09 17:31] eldruin commented on #39
I just released the OPT300x ambient light sensor driver. See the [blog post here](https://blog.eldruin.com/opt300x-ambient-light-sensor-driver-in-rust/) :)

[2019-11-19 01:11] ara4n commented on #357
...and for the sake of completeness, https://matrix.org/blog/2019/09/27/privacy-improvements-in-synapse-1-4-and-riot-1-4/ is where Matrix finished shipping the refinements to the default configs which were called into question.

[2019-11-20 13:15] korken89 opened #395 "Tracking Issue for Mutex Trait RFC [#377]"
This is the tracking issue for the Mutex trait RFC #377, the following questions need to be ironed out before the RFC is implemented:

1. - [x] Decide on crate name (`core-mutex` was proposed, `mutex-trait` was selected)
2. - [ ] Decide on crate location (freestanding crate under the HAL team was proposed)
3. - [ ] Add and implement crate (proposed reference implementation: https://github.com/kork

[2019-11-20 16:31] Disasm commented on #395
As for the name, I suggest `mutex-trait` or `mutex_trait` (like [`stable_deref_trait`](https://crates.io/crates/stable_deref_trait))

[2019-11-21 08:22] korken89 commented on #395
@Disasm Thanks!

---

I think we should have a time period for proposing names and then we go for a vote.
Maybe 2 weeks now for proposing names, and 1 week to vote after that.
What does the rest of @rust-embedded/all think?

[2019-11-21 14:10] adamgreig commented on #395
Having already had a full RFC for the concept I don't think we really need a vote on the name; I'd be happy for you to go ahead with whatever you think is sensible.

[2019-11-21 14:25] therealprof commented on #395
I also don't think we need a vote. It's bikeshedding really...

[2019-11-21 16:05] almindor commented on #395
I agree with @adamgreig and @therealprof. We shouldn't watershed the name choice, it's not that important.

[2019-11-21 17:12] nickray commented on #395
As an outside view: given that
- in the RFC discussion and chat there has been confusion of this being an implementation, and
- this being called the "Mutex Trait RFC"

calling it `mutex-trait` sounds very reasonable :)

[2019-11-23 20:35] geomatsi commented on #395
Hi @korken89
Link 'this part of the RTFM book' is broken.

[2019-11-26 18:22] korken89 commented on #395
Thanks for the input, let's have a small discussion (yay/nay) on `mutex-trait` and use that. :)

@geomasi, I'll fix it now.

[2019-11-26 19:13] korken89 commented on #395
In today's WG meeting we decided to go with `mutex-trait`, this will not be set in stone until the first release but lets have it as the current name.

[2019-11-26 19:15] jamesmunns opened #398 "Agenda Issue - 2019-12-03"
Please add your nominated items for the meeting on 2019-12-03 as comments for this issue. If possible, please tag anyone who would be relevant to discuss this with, so that they can be present in the meeting if possible.

[2019-11-29 08:52] korken89 commented on #395
Lets continue, @rust-embedded/hal do you agree that this fits under HAL or would you propose another group?

[2019-11-29 08:57] therealprof commented on #395
@korken89 HAL is maybe not ideal, how do we feel about @rust-embedded/resources ?

[2019-11-29 15:00] jamesmunns commented on #395
IMO HAL team (focused on abstractions and code portability) makes more sense than Resources (focused on docs, PR, and guides).

[2019-11-29 15:26] therealprof commented on #395
I don't quite see a Mutex trait as a **Hardware** abstraction but more of a implementation convention which seems closer to a resource. But hey, just throwing it out there, I'm not too attached to it. ;)

[2019-11-29 17:02] andre-richter commented on #395
You guys are using a different meaning of resource here, where the "resources" that James speaks of is what the WG team refers to ;)

Theres lots of bikeshedding potential here. IMO a mutex is not really abstracting over hardware. You can implement it with intermediary crates that already abstract over e.g. interrupt masking and atomic operations.

What we have here is a classical SW interface, li

[2019-11-29 18:33] therealprof commented on #395
I'm certainly aware of the role of the team, especially since I happen to be a member... ;)

As James said, the role of the team is managing documentation and guidelines and to me the mutex traits feels a lot closer to a guidelines for writing embedded software in Rust than hardware abstraction.

[2019-11-30 12:37] Disasm commented on #395
It feels like both HAL and Resources do not match perfectly with the purpose of this mutex crate.
Since
1. we do not want to create another Team for this project
2. @korken89 is already in the Resources team, but not in the HAL team

I suggest placing this crate inside the Resources team, just to save time required for this to happen.

[2019-11-30 17:55] almindor commented on #395
Resources seems like a good placement, but HAL team should be closely involved because they are the ones that can provide the best "hands on" requirements.

[2019-12-03 20:19] ryankurte opened #402 "Ecosystem (crater) testing for core crates"
given we have a set of foundational crates depended on by practically the whole ecosystem (like https://github.com/rust-embedded/embedded-hal/), the risk of changes to these foundational crates causing large volumes of annoyance is _pretty high_.

it'd be awesome to have https://github.com/rust-lang/crater (or something like it) running over consumers of these crates so we can be informed of and m

[2019-12-03 20:46] japaric opened #403 "Agenda for 2019-12-10 meeting"
[8-9 PM CET][0] (Berlin time) on [#rust-embedded:matrix.org](https://matrix.to/#/#rust-embedded:matrix.org)

[0]: https://everytimezone.com/?t=5deee000,474

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

## Agenda

- The big picture of embedded-hal / re-organizing embedde

[2019-12-03 20:48] japaric commented on #398
This meeting happened! Minutes can be found in PR #404 (nope, that's not an error). Agenda for the next meeting can be found in #403

[2019-12-03 20:48] #398 closed

[2019-12-03 20:58] jamesmunns commented on #402
CC @pietroalbini

[2019-12-04 09:38] eldruin commented on #39
In case you want to listen to some good ol' FM radio with Rust, I just released the Si4703 FM radio receiver driver. See the [intro blog post here](https://blog.eldruin.com/si4703-fm-radio-receiver-driver-in-rust/).

[2019-12-04 13:57] jamesmunns commented on #403
Current CI testing is a No-Op: https://github.com/rust-lang/rust/issues/67018

[2019-12-04 20:06] rahealy opened #405 "Missing __truncdfsf2 for aarch64-unknown-none-softfloat"
I created this issue: [Missing __truncdfsf2 for aarch64-unknown-none-softfloat](https://github.com/rust-lang/compiler-builtins/issues/327) on the "rust-lang/compiler-builtins" repository.

This might be better addressed here since I'm working on an embedded target. Guidance on this matter is definitely appreciated. Should I close the issue in the "compiler-builtins" repo and leave this here?

Than

[2019-12-04 22:57] thejpster commented on #405
While it is an embedded target, we can't add functions to that repository, so you probably do need to raise it with them. If they have any questions we could rummage around for an aarch64 expert, but I'm sure they're pretty hot on the specifics of each microarchitecture anyway.

[2019-12-05 22:57] rahealy commented on #405
I'll close this issue then. Thank you for the guidance!

[2019-12-05 22:57] #405 closed

[2019-12-06 09:13] thejpster commented on #403
Some guidance on https://github.com/rust-embedded/cortex-m-quickstart/pull/78 would be useful. How do we feel about IDE specific additions to quickstart? Would we take an Intelli-J IDEA project, or a Sublime Text project?

[2019-12-06 11:09] rubberduck203 commented on #403
Some context for that conversion @thejpster

<img width="636" alt="Screen Shot 2019-12-06 at 6 07 54 AM" src="https://user-images.githubusercontent.com/2716800/70318798-dd428180-17ee-11ea-9973-445f6f4ef5e7.png">

https://www.jetbrains.com/lp/devecosystem-2019/rust/

[2019-12-06 11:18] jonas-schievink commented on #403
That PR adds configuration for very specific MCUs, for use with a specific VSCode plugin, not all VSCode users will benefit from that.

Another agenda item: https://github.com/rust-embedded/cortex-m-rt/issues/223 (regression in the cortex-m-rt release).

[2019-12-06 12:54] rubberduck203 commented on #403
@jonas-schievink I didn’t intend to imply that it would. Only providing some editor usage data to frame the conversation.

[2019-12-06 13:48] IGBC commented on #403
Can we chuck Generic Radio Traits on the agenda?
We have a few driver crates for various radio standards, but when building a protocal ontop of those and making them driver agnostic it would be nice to have a trait for each radio standard (LoRa, Zigbee, Bluetooth, WiFi, whatever) to bind to instead.

[2019-12-06 14:44] therealprof commented on #403
You can put pretty much anything on the agenda but unless you have a proposal it's not very likely that this will result in fruitful discussion since these topics require a high level of domain specific knowledge. It would probably be better to form a group exploring the options and the way forward leading to an RFC proposing those traits and then put it on the agenda for discussion.

[2019-12-06 17:34] MathiasKoch commented on #39
I am on the lookout for an example of a properly implemented AT command based driver, and also looking for guidance on the correct way to address implementing such driver.

Optimally I think we would have some sort of generic AT crate, with some interface traits for commands and response, that would consume an embedded_hal::serial, and then expose functions for sending blindly, sending and waiting

[2019-12-06 17:40] IGBC commented on #403
welp. I will not claim to be experienced in the area.

[2019-12-07 10:21] RalfJung commented on #395
I was just made aware of this RFC and was quite surprised by parts of it. I hope this is an appropriate channel to ask such questions -- if not, please direct me elsewhere. :)

In particular, I am quite surprised by the argument of `lock` being `&mut`. According to my understanding of mutable references, that makes `lock` basically useless because it requires *exclusive access* to even call `lock`

[2019-12-07 11:58] Rahix commented on #395
Yes.  This is a byproduct of the decisions which lead to this mutex design.  For the full history, take a look at [my original MR to `embedded-hal`](https://github.com/rust-embedded/embedded-hal/pull/132) and the [RFC MR](https://github.com/rust-embedded/wg/pull/377).

To summarize, the mutex design tries to abstract over a very broad range of 'things' which could be considered a mutex.  This incl

[2019-12-07 11:58] TheZoq2 commented on #39
This might not qualify for properly implemented, but I have a crate for using At commands with esp-01 wifi modules here: https://github.com/TheZoq2/esp01-rs

[2019-12-09 08:18] pietroalbini commented on #402
Would you like just cross-compilation or also running tests?

[2019-12-09 20:49] RalfJung commented on #395
Ah, that makes a lot of sense! Thanks for explaining that.

[2019-12-10 01:47] ryankurte commented on #402
i think just cross compilation (including the test suite), afaik the issues we're looking to avoid are all around types and interfaces so should be p much (where things _can_ compile for a given target) target independent, and shouldn't require test running.

[2019-12-10 01:58] ryankurte commented on #403
@IGBC i've been working on this for a while now for ISM / LoRa stuff, not sure about how it'd work with WiFi which (afaik) it'd be unusual to interact with as a radio (rather than via some kind of socket API).

You might be interested in [previous discussion](https://github.com/rust-embedded/embedded-hal/issues/48) in embedded-has, some discussion on [rubble](https://github.com/jonas-schievink/rub

[2019-12-10 13:52] pietroalbini commented on #402
That should be *possible*, but I'm not sure how it's best to integrate it with Crater off the top of my head.

[2019-12-10 16:50] Disasm commented on #403
Sorry, I will not be able to attend the meeting. As for the `digital::v3`, I'd rather postponed the voting until we agree on the future structure of the `embedded-hal` crate.

[2019-12-10 18:43] thejpster commented on #403
I'm afraid I've been off sick most of the last week, so I haven't written up the RFC yet.

[2019-12-10 18:58] korken89 commented on #395
So, resources team for now then seems to be the consensus :)

[2019-12-10 20:14] jamesmunns opened #406 "Agenda for 2019-12-17 meeting"
[8-9 PM CET][0] (Berlin time) on [#rust-embedded:matrix.org](https://matrix.to/#/#rust-embedded:matrix.org)

[0]: https://everytimezone.com/?t=5deee000,474

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

## Agenda

* Left From Last Week:
    * re-org embedded-hal rfc

[2019-12-10 20:20] #403 closed

[2019-12-10 21:18] eldruin commented on #39
I just finished the PCA9685 16-channel PWM LED/Servo controller driver, in time for your Christmas decorations. See the [blog post here](https://blog.eldruin.com/pca9685-pwm-led-servo-controller-driver-in-rust/).

[2019-12-11 09:42] therealprof commented on #395
@korken89 So how do we get this repository started? Do you want me to create one?

[2019-12-11 10:05] korken89 commented on #395
@therealprof That would be great! I will then add implementation and then we can start reviewing it.

[2019-12-11 10:08] therealprof commented on #395
https://github.com/rust-embedded/mutex-trait

And I assume you hit the close button by accident?

[2019-12-11 11:36] korken89 commented on #395
Ops, thanks for fixing!

[2019-12-16 07:38] arrowcircle opened #408 "Actual RTFM examples for bluepill?"
Hi! Thanks for the great work bringing rust to embedded devices.
I am kinda  new in Rust and maybe will ask something stupid, but I think it may be helpfull.

1. As I understand, most of the embedded development depends on some kind of RTOS and we have RTFM here. But problem with RTFM, that is does not have actual examples for the most common and cheap hardware, like STM32F3DISCOVERY (as in Rust e

[2019-12-16 09:56] jonas-schievink commented on #408
You don't need to use any RTOS to use embedded Rust, and most crates don't depend on one either. RTFM is used essentially the same way regardless of MCU (you just give it an MCU-specific crate).

I agree about the readme part, we lack docs in general. Feel free to improve this though, most maintainers are pretty responsive.

[2019-12-16 10:04] arrowcircle commented on #408
RTFM is not a requirement, but using RTOS makes life much easier. Writing something more complex, than led blink, will be much easier and cleaner with RTOS.

[2019-12-19 12:47] MathiasKoch commented on #39
In reference to https://github.com/rust-embedded/wg/issues/39#issuecomment-562667033 i have now published my attempt at a generalised `Component abstraction crate` for AT command based serial device drivers. You can find it here: https://github.com/MathiasKoch/at-rs and it comes with examples for usage with cortex-m-rt and with RTFM, as well as unit tests.

I will publish my driver crates built on

[2019-12-19 16:40] dbrgn commented on #39
@MathiasKoch you missed the chance to name your crate [AT-AT](https://starwars.fandom.com/wiki/All_Terrain) :wink:

[2019-12-20 21:52] eldruin commented on #39
I just released [a driver](https://crates.io/crates/veml6030) for Vishay's VEML6030 ambient light sensor. On the [announcement post](https://blog.eldruin.com/veml6030-ambient-light-sensor-driver-in-rust/) you can see some pictures of the device on the PCB of a commercial product where the application is written in Rust 😃

[2019-12-22 22:07] almindor commented on #39
I've released a driver for the [MAX7219](https://crates.io/crates/max7219) chip for segmented and LED matrix displays.

The driver has been originally developed by [Maikel Wever](https://github.com/maikelwever/max7219) and later picked up by [me](https://github.com/almindor/max7219).

It's been on crates.io for some time but I never really announced it.

Here's the new [announcement blog post](htt

[2019-12-28 12:44] korken89 commented on #395
I have added implementation and fixed the repo: https://github.com/rust-embedded/mutex-trait
Can people have a look so I did not goof something up? :)

[2019-12-28 13:46] korken89 commented on #408
Hi, thanks for the input!

If you have examples, please make a PR here: https://github.com/rtfm-rs/examples
We are looking to add as many examples as we can for as many boards and MCUs as possible.

[2020-01-02 06:49] cr1901 commented on #146
@jamesmunns

Once `v0.2.0` crates are published, I will update `msp430-quickstart` to use `cargo-generate`; publishing is imminent.

[2020-01-06 02:06] ryankurte opened #411 "Transfer ownership of example driver"
Hey all,

We talked in [other threads](https://github.com/rust-embedded/embedded-hal/issues/135) about having an example driver / driver template repository to help people navigate the nuances of driver-traits etc.

I've thrown one together [here](https://github.com/ryankurte/rust-embedded-driver), and I think it'd be good to review/expand, transfer to the WG, and to link out from our docs?

-edit

[2020-01-06 14:28] dflemstr opened #412 "Request for Feedback: embedded-platform"
I recently started down a rabbit hole of creating my own abstraction over `embedded-hal` that makes it easy to mix and match various dev boards.  My initial use-case has been to do experiments with Adafruit Feather boards, where I want to plug two devices together and expect the code to "just work" without having to figure out the specific pin/peripheral mappings between them.  On the other hand,

[2020-01-06 16:43] almindor commented on #411
Looking over the code I think it might be more beneficial to write a simple "how-to" blog with these examples instead.

Right now going through it, even tho I wrote a driver myself (only a basic one tho) there were pieces where I went "what? oh.. right" because the example chose an arbitrary interface combination.

A how-to/blog post with maybe a very primitive actual driver as an example but with

[2020-01-07 20:09] thejpster commented on #412
I like the idea. It is to a BSP, what embedded-hal is to an SPI peripheral driver.

[2020-01-07 20:35] IGBC commented on #383
SVD2Rust?

[2020-01-07 20:38] thejpster commented on #383
Done

[2020-01-07 21:09] korken89 commented on #395
Friendly reminder for review

[2020-01-09 08:09] therealprof opened #413 "Agenda for 2020-01-14 meeting"
[8-9 PM CET][0] (Berlin time) on [#rust-embedded:matrix.org](https://matrix.to/#/#rust-embedded:matrix.org)

[0]: https://everytimezone.com/?t=5deee000,474

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

## Agenda

* `cortex-m` exposes unsafe cache invalidation operations

[2020-01-09 09:49] dflemstr commented on #412
@thejpster okay, I will continue working on it for a while longer then and see where it ends up! (possibly adding support for more boards etc)

[2020-01-09 16:56] jonas-schievink commented on #383
* `cortex-m-semihosting` (like it or not)
* `nb` (since it's a public dependency of `embedded-hal`)

Also, before releasing any crate as 1.0, the crate should've gone through an exhaustive review of the [API Guidelines](https://rust-lang.github.io/api-guidelines/) (any deviations from the guidelines should be made consciously).

[2020-01-09 21:57] thejpster commented on #383
Tickety tick.

Agreed.

[2020-01-09 23:06] jonas-schievink commented on #413
We can also discuss https://github.com/rust-embedded/cortex-m/issues/186 and https://github.com/rust-embedded/cortex-m-rt/issues/237 if we have time (they're also part of the road to 1.0).

[2020-01-10 14:57] jonas-schievink commented on #413
Speaking of changing the svd2rust generated code, I was thinking of changing the API of the register writers so that they make use of traits instead of endlessly chaining fields and values as method calls. So something like `.field().set_bit().field2().variant(Field2::Yes)` would become `.field(true).field2(Field2::Yes)`.

This makes the written code look somewhat cleaner IMO, but the real motivat

[2020-01-10 16:32] therealprof commented on #413
@jonas-schievink Updated accordingly. Feel free to update the issue yourself.

[2020-01-10 18:53] thejpster commented on #413
Although of course you don't have to chain them.

[code]

I agree that `w.field(true)` is nicer though. Maybe adding `w.set_field(true)` is more backwards compatible.

[2020-01-10 22:33] almindor commented on #413
I might be wrong but isn't `w.set_bit()` constant (compile time) while `w.set_bit(true)` makes it a runtime expense?

My understanding was that that's the reason why things like `Iterator::rev()` don't have a param.

[2020-01-10 22:43] jonas-schievink commented on #413
No, both are entirely up to the optimizer. svd2rust marks all of those small functions `#[inline(always)]` to help with that, but that is also just a (strong) hint to the compiler. In practice both should always be optimized out though.

[2020-01-10 23:22] jonas-schievink commented on #269
It is now one year later (apparently!). I'll update the checklist from above, then close. Or do we want to blog about this?

A proof of concept of this has landed on nightly. `cargo build -Z build-std=core`.

Not much happened here I'm afraid.

:heavy_check_mark:

This is blocked on lazy normalization, which is being worked on in https://github.com/rust-lang/rust/pull/67890

Nothing happened here

[2020-01-10 23:22] #269 closed

[2020-01-11 02:05] PTS93 commented on #40
Not sure how useful it is at this point but there is TinyUSB which is being adopted in a lot of places now. Maybe something a rust stack can profit from?
https://github.com/hathach/tinyusb

[2020-01-11 23:07] thejpster commented on #269
Yeah, we should do a 2019 round-up blog. There's good progress here, but
also pain points we should continue to highlight

[2020-01-11 23:43] jonas-schievink commented on #312
That HAL is now mostly obsolete and replaced by https://github.com/stm32-rs/stm32f3xx-hal, so closing.

[2020-01-11 23:43] #312 closed

[2020-01-12 00:02] #406 closed

[2020-01-12 03:57] cr1901 commented on #146
@jamesmunns Long overdue, but `msp430-quickstart` has been [updated](https://github.com/japaric/msp430-quickstart/pull/5) to use `cargo-generate`. This issue can be closed I believe.

[2020-01-13 06:28] hannobraun commented on #413
I don't currently have a strong opinion, but I'd like to note that the proposed style requires the user to import the parameter types, which can be a hassle.

[2020-01-13 10:36] jonas-schievink commented on #413
@hannobraun That's a good point actually! I think it does match other Rust builder patterns well though.

There might also be a tradeoff regarding compile times here. Do the methods compile faster, or the trait-based approach?

[2020-01-13 16:00] almindor commented on #413
The more I think about this the more I think we should keep it as-is. Changing functional well understood code to workaround a formatter issue seems backwards.

[2020-01-13 18:28] jonas-schievink commented on #395
I took a brief look at the crate:
* Do we want to commit to the 1.31+ MSRV policy? Which other WG crates use this policy? I'd be more in favor of a policy of supporting the last N Rust releases (usually N=3), since that allows using newer features without having to issue a breaking change.
* There's no impl for 1-tuples (this can be useful for macros, and the standard library does provide these)
*

[2020-01-21 02:32] adamgreig opened #417 "Agenda for 2020-01-21 meeting"
[8-9 PM CET][0] (Berlin time) on [#rust-embedded:matrix.org](https://matrix.to/#/#rust-embedded:matrix.org)

[0]: https://everytimezone.com/?t=5deee000,474

[Public Google calendar that includes these weekly meetings](https://calendar.google.com/calendar?cid=NzhmdGJsMGQ1cjA2YzM5dDJ1MDU0ODBsbm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ)

## Agenda

Leftover from last week:

* https://github.com/rust-embed

[2020-01-21 16:42] baloo commented on #417
I'd be interested in adding https://github.com/rust-embedded/embedded-hal/issues/172 on the next meeting.

[2020-01-22 20:16] #413 closed

[2020-01-22 21:37] jonas-schievink opened #418 "Specify the ABI of `-rt` crates in the Rust embedded ecosystem"
`-rt` crates like [`cortex-m-rt`](https://github.com/rust-embedded/cortex-m-rt/) provide linker scripts with sections and common symbol names that can be used by applications and tooling.

In order for such tooling to be portable across architectures it would be great to specify what kinds of sections and symbols should be exported. This would allow tooling such as [flip-lld](https://github.com/ja

[2020-01-23 20:13] thejpster commented on #418
Sounds like a good idea. Should we do our specifications as RFCs like the IETF does, or should we have some sort of `specifications/spec-0000.md` structure do you think?

[2020-01-23 20:35] jonas-schievink commented on #418
Going through the RFC process seems generally reasonable. One issue might be discoverability when specifications end up among other more "mundane" RFCs. Maybe we want to have an index of specifications in the readme, or something like that?

[2020-01-26 17:34] arrowcircle commented on #408
We added example of simple blinky app [https://github.com/rtfm-rs/examples/tree/bluepill/rtfm_v5/bluepill_blinky](https://github.com/rtfm-rs/examples/tree/bluepill/rtfm_v5/bluepill_blinky) (not yet merged)

[2020-01-26 17:34] #408 closed

[2020-01-27 21:16] jonas-schievink commented on #381
My two cents:

`T-lang` inquiries:

* Specify what `Send` and `Sync` mean without using the word "thread"
  * Embedded Rust uses "thread-equivalent" constructs such as interrupt handlers, and also has less equivalent constructs such as multi-core MCUs. It would be good to know what `Send` and `Sync` *really* mean, since their contract can't be specific to just threads.
* Reconsider [RFC 2492](http

[2020-01-27 21:19] jonas-schievink commented on #383
As part of this effort, would it make sense to push embedded targets (at least ARMv7-M / `thumbv7*`) towards tier-1 support in Rust? Personally I'd love to see that happen, and making that a part of the 1.0 push makes sense from a marketing perspective to me.

There's also some non-crate-specific things that might need some discussion from the entire WG before going 1.0 with some crates: https://g

[2020-01-28 19:41] #417 closed

[2020-01-30 00:29] jonas-schievink commented on #294
I've recently published the [`irq`](https://docs.rs/irq/0.2.1/irq/) crate to help with this. AFAICT it addresses all success criteria listed in https://github.com/rust-embedded/not-yet-awesome-embedded-rust#sharing-data-with-interrupts, but I've not followed this thread for any other patterns that aren't currently possible.

[2020-01-31 05:04] twitchyliquid64 commented on #40
Just dropping by to mention we atsamd contributors have finished implementing working USB drivers for the samd21 & samd51 crates, entirely interrupt driven. This was built on wez@'s existing implementation.

As far as I'm aware, this makes it the third implementation of the [usb-device](https://github.com/mvirkkunen/usb-device) HAL.

I'm also working on a HID class crate (implementation of functio

[2020-01-31 06:45] nickray commented on #40
Congrats :) We also have USB support in https://github.com/nickray/lpc55-hal/.

[2020-01-31 08:43] TeXitoi commented on #40
@twitchyliquid64 for HID, I use https://github.com/TeXitoi/keyberon/blob/master/src/hid.rs and there is demands on a published crate on https://github.com/TeXitoi/keyberon/issues/14#issuecomment-569563329

I didn't wrote the code, just add a few thing for my needs. Working great, but I'm sure it's possible to do much better. Will try to have a look at your WiP.

[2020-02-02 02:59] twitchyliquid64 commented on #40
I've pushed an alpha version of `usbd-hid` [here](https://github.com/twitchyliquid64/usbd-hid): any feedback? is it understandable?

Still need to implement reading `host -> device` reports, but that should only be 10 lines or so.

[2020-02-02 11:38] thejpster commented on #40
Has anyone done any work on a USB Host HAL? I guess it would look like OHCI, or UHCI (or EHCI or XHCI?).

[2020-02-03 11:43] rubberduck203 opened #422 "Agenda for 2020-02-04 meeting"
[8-9 PM CET][timezone] (Berlin time) on [#rust-embedded:matrix.org][matrix]

[Public Google calendar that includes these weekly meetings][google-cal]

Agenda
---

Leftover from last week:

* https://github.com/rust-embedded/cortex-m-rt/issues/237
* digital::v3 RFC voting? https://github.com/rust-embedded/wg/pull/393

Announcements:

---

This meeting is open for anyone to attend. If you'd like to

[2020-02-03 11:46] rubberduck203 commented on #422
- `r0` v1.0 progress
  - https://github.com/rust-embedded/r0/issues/9
- `bare-metal` v1.0 progress
  - https://github.com/rust-embedded/bare-metal/issues/22

[2020-02-05 16:06] #422 closed

[2020-02-05 16:07] jonas-schievink commented on #422
Minutes added in https://github.com/rust-embedded/wg/pull/423

[2020-02-11 16:25] jonas-schievink opened #424 "Agenda for 2020-02-18 meeting"
[8-9 PM CET][timezone] (Berlin time) on [#rust-embedded:matrix.org][matrix]

[Public Google calendar that includes these weekly meetings][google-cal]

Agenda
---

* Move smoltcp to rust-embedded?
* https://github.com/rust-embedded/cortex-m/issues/195 – UB in inline-asm implementation of `cortex_m::asm::delay`. Audit all inline asm in the wg for similar issues?
* Multi-Core RFCs status update
  * h

[2020-02-12 18:43] arrowcircle commented on #383
Just a little not, all of these repos, except `cortex-m-rt`, **does not have** at least one test.
It looks like a good hygienic thing to have at least minimal set of unit tests.
Any ideas on that?

[2020-02-12 18:54] jonas-schievink commented on #383
r0 has tests, nb has tests, embedded-hal has tests, bare-metal has a compile-fail test and otherwise no API that really needs testing. cortex-m should indeed have more tests, possibly running in Qemu, same for semihosting but we might deprecate that crate instead.

[2020-02-12 21:37] adamgreig commented on #383
Just to add some more very commonly used embedded crates: the panic handlers (`panic-halt`, `panic-abort`, `panic-semihosting`, etc) would be nice to get to 1.0 as well.

[2020-02-13 09:03] arrowcircle commented on #383
@jonas-schievink
r0 have 2 tests inside src folder (thought it should go to tests).
nb (japaric/nb) does not have any tests.
embedded-hal does not have any tests.
Maybe we talking about different things?

[2020-02-13 11:36] jonas-schievink commented on #383
nb has extensive doctests, embedded-hal has tests for adapter impls, doctests, and otherwise only defines traits that cannot really be tested in a useful way. If you think any specific test coverage is lacking, please comment on the 1.0 tracking issue in the specific repo.

[2020-02-16 15:57] TheVova opened #426 "Broader no_std eco-system via clearer paths."
Im not sure this is the correct place for this, but im sure this issue has crept up for more here than just me.
Rust has a wonderful eco-system and good tooling to allow using 3rd party crates very easily... However, since most of those creates are not no_std, it limits the number of available tools for embedded programmers.

As it stands, the responsibiliy of making a library creates `no_std` com

[2020-02-16 16:24] almindor commented on #426
This is an interesting take. I agree that `std` vs `core` is something that should've been handled better. Sadly the cat is out of the bag now and getting a properly linter "this std can be replaced for core" is not simple. If someone could build a `cargo unstd` plugin that would probably be the best 1st step.

[2020-02-16 16:37] therealprof commented on #426
@almindor You mean like https://github.com/hobofan/cargo-nono

@TheVova You're not completely off but there's indeed very little we can do here in the EWG. Luckily for us there's another big area where `no_std` is a hard requirement: WebAssembl, so there's awareness at least.

[2020-02-16 17:43] TheVova commented on #426
@almindor I dont think a linter would do it, was thinking this should maybe done at the language level itself. for example, looking at the source at /libstd/prelude/v1.rs, we find the following comment:

// and below to src/liballoc/prelude.rs.
// Those files are duplicated rather than using glob imports
// because we want docs to show these re-exports as pointing to within `std`.

the last line t

[2020-02-16 18:12] almindor commented on #426
`cargo-nono` seems like a good first step. One issue I think still remains is the "core <-> std" false equivalency. I'm sure there are cases where `core::something` does not equal to `std::something` and detecting those automatically is probably a PITA.

[2020-02-16 18:34] TheVova commented on #426
yeah, cargo no-no seemed cool, i did not know about it. As far as the core<->std equivalence, from what i can gather from looking over the rust code, it is in fact a strict superset. (which is has to be, because otherwise the language itself breaks its coherence rules). so yeah, not everything in std:: is in core, but all from core works in std in the same way. so a fully qualified item (crate::mo

[2020-02-16 19:13] jonas-schievink commented on #426
IIRC there was some discussion around removing the libstd split and integrating this concept of "support levels" in a different way, but I can't find it now. This is definitely a known issue though, but from what I know there isn't really much bandwidth available to tackle it (it seems to require fairly deep language design work).

In terms of API, yes (at least currently), but for example `core::

[2020-02-16 20:59] TheVova commented on #426
@jonas-schievink I dont know thats its unrelated to coherence... not internally, but from a user viewpoint, if the same operation behaved differently on the same type between std and core, you essentially lost coherence (im being a bit loose with the term here, i know). i think exposing a different API in core will make it even harder to write 'portable' code, but the comment re `io::{Read, Write}

[2020-02-16 21:01] jonas-schievink commented on #426
Yes, coherence has a specific meaning in Rust.

For now, yeah, this definitely seems like the easiest and most impactful work to be done.

[2020-02-18 19:20] jamesmunns opened #427 "Re-evaluate WG wide MSRV policy"

[2020-02-18 19:22] adamgreig commented on #427
Current policy is: https://github.com/rust-embedded/wg/blob/master/ops/msrv.md

ref: #304 #285

[2020-02-18 19:26] jamesmunns opened #428 "Tracking Issue for implementation of RFC419"
c.f. https://github.com/rust-embedded/wg/pull/419

[2020-02-18 19:28] almindor commented on #427
`r0` requires rust `1.26.0` and newer due to `u128`

[2020-02-18 20:31] #424 closed

[2020-02-18 21:46] adamgreig commented on #427
Currently our policy suggests the highest allowable MSRV is stable-1. Given the stability we want to maintain with the upcoming 1.0 releases, I think we should consider changing this to stable-2 or stable-3.

The current policy has a separate MSRV per crate. This is probably the only manageable approach, but it's worth bearing in mind that many of our crates depend on each other, which will impact

[2020-02-19 14:45] arrowcircle commented on #383
@jonas-schievink I checked nb and embedded-hal repos. They both have travis ci set up, but have no badges in the readme. Travis scripts runs successfully, but I was unable to run simple cargo test on my laptop (mac os x).

I think badges and good readme is essential for open source projects, and most of rust embedded repos have nothing of this.

Should I create pull requests?

[2020-02-19 15:05] jonas-schievink commented on #383
I don't really have much to do with either of those crates, but CI badges are at best useless for rust-embedded crates (CI always passes since we use bors), and at worst misleading (the link always points to the state of master, even when on a maintenance branch), so I don't think we should add them.

[2020-02-20 07:39] arrowcircle commented on #383
@jonas-schievink Could You please tell me more why CI always passes because of bors? You mean it will prohibit pull request from merge if CI is not passing?

Readme is where I see big problem and You dont. Most of the rust repos have horrible readme. Most of them have same template, from which you cant get any idea what is what. Also, I've seen some articles, that OSS repo with bad readme (no badg

[2020-02-20 10:38] jonas-schievink commented on #383
@arrowcircle Let's move that discussion somewhere else, I don't think this tracking issue is the right place. I don't disagree about the readme situation by the way, not sure why you think that. I just have limited time and energy to improve them.

[2020-02-27 12:07] stappersg commented on #362
And then closing this issue?
Or close it now. `8^)`

Clearing stating for which use this issues is still open is also fine.

Plus stating the obvious:  in four months we are past another Jun 25th.

My point:  Open issues  do drain human energy

[2020-02-27 12:12] stappersg commented on #347
Please close this issue  (or say why it is still open).

See also #362 comment from 2020-02-27 which has

[2020-02-27 12:19] stappersg commented on #176
@andre-richter is your question answered?  [Yes/No]

@andre-richter are you aware that you have the power to close issues that you have created? [Yes/No]

At all:  For which reason is this issue still open?

[2020-02-27 21:52] #347 closed

[2020-02-27 21:52] #362 closed

[2020-02-27 21:55] Dylan-DPC commented on #347
Sure, especially if the open issues are closed without receiving any update, which means back to square one 😅

Thanks 😃

[2020-02-28 06:54] #176 closed

[2020-02-28 19:24] stappersg commented on #60
Because there  is [STM32L0X2 H.A.L.](https://crates.io/crates/stm32l0xx-hal) seems it to me
that [PX-HERO Board](https://www.crowdsupply.com/piconomix/px-her0-board/) is a safe bet to buy.

Where to report the actual succes (some where in August)?

I'm asking because that is what this issue is about. (Isn't it?)

[2020-02-29 11:04] stappersg commented on #60
Because there  is [STM32L0X2 H.A.L.](https://crates.io/crates/stm32l0xx-hal) seems it to me
that [PX-HERO Board](https://www.crowdsupply.com/piconomix/px-her0-board/) is a safe bet to buy.

Where to report the actual succes (some where in August)?

I'm asking because that is what this issue is about. (Isn't it?)

[2020-03-02 20:09] posborne commented on #427
Most of these suggestions seem pretty reasonable to me.  A few notes:

* I agree that it can get complicated managing MSRV with multiple dependent crates but I don't see a way around it.
* I would be against changing the policy related to making an MSRV change not require a semver bump.  As an application maintainer, having to work around breakages when one does a `cargo update` is frustrating, es

[2020-03-02 20:19] Disasm commented on #427
The same happened with `riscv` due to the `bare-metal` patch update (fix: https://github.com/rust-embedded/riscv/pull/33).
I don't think that having MSRV on non-leaf crates or crates with lots of foreign dependencies is a good idea.

[2020-03-06 19:20] markhildreth commented on #411
I just started playing with writing a driver myself, and I found the example very useful. I'm not much of a blog reader, but I wonder if the how-to/blog that @almindor mentioned could be part of the README. I blog post could be extra just for those SEO points.

I do agree that some of the parts were confusing for a "general". For example, I had to think for a second if `Error::ResetTimeout` is som

[2020-03-06 19:25] markhildreth commented on #411
Also, just realized this:

`use std::marker::PhantomData;`

Is it okay to have `std` in an embedded driver?

[2020-03-06 21:32] ryankurte commented on #411
Ahh good catch, this should be `core::marker::PhantomData` (if you need it)

[2020-03-09 21:56] ryankurte commented on #343
I still really like the idea of this, especially as a collective / home for _done_ packages to share maintenance and support

[2020-03-09 22:33] adamgreig commented on #343
I like the idea but I think it could work just fine as part of rust-embedded itself, without needing a whole separate organisation. We could just have a team to manage those repositories. I think @jonas-schievink mentioned that rust-lang itself has a bunch of repositories in a step away from separate organisations. It could also help with #266 and #431.

[2020-03-09 22:38] jonas-schievink commented on #343
Having it as part of rust-embedded would probably help with the discoverability a lot, too.

[2020-03-10 02:46] ryankurte commented on #343
imo it's useful to maintain some separation between core rust-embedded things and the wider ecosystem, particularly as one would expect orders of magnitude more repositories (and thus noise) from the collective.

i imagined something more like, you add your project to the collective and maintain authorship but reduce bus factor / share maintaining effort with others as required, as opposed to, fin

[2020-03-10 06:32] xobs opened #432 "Support linker scripts in Cargo.toml"
As per https://github.com/rust-embedded/wg/pull/24#issuecomment-464469319_, I'm opening a new issue.

The current recommendation for making custom linker scripts is to create a `.cargo/config` file and add a reference to the linker script there.  The previous discussion identified a number of issues with this:

1. It puts configuration data in a file that's ostensibly not going to be checked in
2.

[2020-03-10 15:53] jonas-schievink commented on #432
Big :+1: from me, but this should probably be filed as a Cargo issue at https://github.com/rust-lang/cargo

[2020-03-10 17:07] roblabla commented on #432
I'm probably misunderstanding something, but it's absolutely possible to check in `.cargo/config`, and cargo will read it just fine. Cargo walks the path from the current working directory upwards to find `.cargo/config`.

I'm 100% on board with a build-script mechanism to set linker flags though.

[2020-03-10 19:55] cr1901 commented on #432
My understanding is that, you need to check in `.cargo/config` in a workspace targeting multiple architectures at once. Consider a workspace containing:
* x86_64 testing application
* An ARM micrcocontroller testing firmware
* A serialization crate to send data back and forth, compiled for _both_ x86_64 and ARM.

Setting the architecture to `.cargo/config` is required for the x86_64 testing applic

[2020-03-10 20:49] jonas-schievink commented on #395
The "deadlock safe by construction" thing doesn't work out when the trait is implemented on immutable references by the way.

[code]

It also forces one to use the `(&a).lock` syntax, which looks fairly alien.

[2020-03-10 21:20] roblabla commented on #395
You can avoid writing (&a) by simply changing it to take the reference earlier, e.g.

[code]

[2020-03-10 21:33] jonas-schievink commented on #395
Sure, but it still feels like an odd API

[2020-03-10 21:34] jonas-schievink commented on #395
Most of my comments in https://github.com/rust-embedded/wg/issues/395#issuecomment-573803670 are addressed in https://github.com/rust-embedded/mutex-trait/pull/5, should be ready for 0.1 soon :tm:

[2020-03-11 03:52] xobs commented on #432
I created an issue in the cargo repository: https://github.com/rust-lang/cargo/issues/7984

[2020-03-11 17:33] nickray commented on #395
Why are `Deref` and `DerefMut` not implemented for `Exclusive`?

[2020-03-11 19:41] jonas-schievink commented on #395
Ah, missed those when adding the type. Opened https://github.com/rust-embedded/mutex-trait/pull/6 to add them.

[2020-03-11 20:53] adamgreig commented on #395
This is [now live](https://crates.io/crates/mutex-trait) :tada:

I've set the resources team as the crate owner for now since I believe that was our conclusion at the time, but perhaps we can discuss that in the upcoming chat about teams.

[2020-03-11 22:17] MabezDev commented on #343
Apologies, I completely forgot about this! I meant to get back to this after I finished up my final year, whoops! I'm still very interested in helping out with something like this!

Am I right in assuming this would be a case of extending support to core embedded projects that are currently outside of the rust-embedded org? For example a project like smoltcp; I know there have been talks aready ab

[2020-03-11 22:48] adamgreig commented on #343
Possibly we need to address two types of project here:

* one is larger and widely useful embedded projects (like smoltcp, or like other recent crates such as r0, bare-metal, or mutex-trait that don't really have a good place in the org at the moment) which might move to rust-embedded to help ensure continuity and maintenance; we'd expect these to be either larger projects or very widely applicabl

[2020-03-13 21:51] jonas-schievink opened #433 "Agenda for 2020-03-17 meeting"
[8-9 PM CET][timezone] (Berlin time) on [#rust-embedded:matrix.org][matrix]

[Public Google calendar that includes these weekly meetings][google-cal]

Agenda
---

* Default setting for frame pointers, uwtables and backtraces (in light of https://github.com/rust-lang/rust/pull/69890)
* Do we want to `#[cfg]`-gate fields of `cortex_m::Peripherals`? It has some drawbacks: https://github.com/rust-embe

[2020-03-15 18:20] lenary commented on #433
I’ll try to join so we can talk about this backtrace issue.

[2020-03-15 19:47] almindor commented on #39
Released a driver for the [ST7789](https://crates.io/crates/st7789) display.

Driver originally developed by [Paul Sajna](https://github.com/sajattack) and [Anna Scholtz](https://github.com/scholtzan).

The [github repo](https://github.com/almindor/st7789) contains an example video of the driver in action. There's also a [repo with examples](https://github.com/almindor/st7789-examples) using the P

[2020-03-17 13:33] thejpster commented on #433
Can we talk about Branch management please. Some of our 1.0-readyness changes are breaking, and putting them on master complicates hotfixing existing releases. We need to decide if we want a stable master with feature branches, or an unstable master with release branches. Personally, I'm still a really big fan of "git flow" but I'm aware it's not to everyone's tastes.

[2020-03-17 13:34] thejpster commented on #433
Also AVR support :tada: :tada: :heart: :+1:

[2020-03-21 00:37] lonesometraveler commented on #39
A new embedded Rustacean here. Thank you all for your work in developing a great ecosystem.

I have released a driver for [MAX6955](https://crates.io/crates/max6955) LED display driver. Here is a [blog post](https://lonesometraveler.github.io/2020/03/20/max6955.html).

I am now working on [LSM9DS1 driver](https://github.com/lonesometraveler/lsm9ds1).

[2020-03-24 19:02] jamesmunns commented on #433
This meeting happened! Notes will be uploaded today.

[2020-03-24 19:02] #433 closed

[2020-03-24 20:17] jamesmunns opened #434 "Tracking Issue - Team Update/Reorganization"
In the meeting on 2020-03-24 (and in previous meetings), we discussed the following items:

1. we have a number of members which are inactive, which sometimes makes voting difficult
2. we have a number of people who are very active, but don't currently have a role in the WG, but are interested in assisting
3. We have some potential new teams, and maybe some that make sense to retire or rescope
4.

[2020-03-24 20:17] jamesmunns commented on #434
CC @rust-embedded/all!

[2020-03-24 20:39] andre-richter commented on #434
Thanks James.

Most cortex-a team members are effectively dormant/idle.

I am active with respect to the Raspberrypi OS tutorials (mostly) and with register-rs (when maintenance is due, e.g. the Tock project on which it depends changes something on their end).

For the cortex-a crate itself, I see it is being used by people, but I seldom find time to work on it nowadays apart from moderating commu

[2020-03-24 22:33] nastevens commented on #434
I can't speak for the rest of @rust-embedded/embedded-linux, but I've been lax on joining weekly meetings since most of the embedded linux work seems to be pretty orthogonal to bare-metal embedded work. I can certainly make a more concerted effort to attend if it would be valuable, although my professional embedded work will remain OS-bound.

[2020-03-25 13:43] jonathanpallant commented on #434
Could someone post here a list of teams and members, so we can see where we are at the moment?

[2020-03-25 13:48] therealprof commented on #434
@jonathanpallant Not sure how to extract this information from https://github.com/orgs/rust-embedded/teams . There might be an API to do that but that requires setting up access tokens and might end up a bit annoying.

[2020-03-25 13:50] jonathanpallant commented on #434
You can't see that if you are not in a team it seems (this is my work account).

[2020-03-25 13:57] therealprof commented on #434
This should be up-to-date: https://github.com/rust-lang/team/blob/master/teams/wg-embedded.toml
(and is also visible through the Rust homepage). I just noticed that three people are still absent, will add them now. ;)

[2020-03-25 14:06] therealprof commented on #434
re teams, this is what we have now:

[code]

[2020-03-27 08:10] paoloteti commented on #434
Due to changes in company rules I cannot use working hours for not approved open-source projects and I don't have enougth personal spare time to hack on cortex-r devices.
Probably others are in the same situation. A list of members without vote rigths I guess can solve the issue.

[2020-03-30 09:31] dylanmckay commented on #434
I've been on here since the start, but I only really deal with AVR stuff, of which there is very little on embedded-wg.

That may change with https://github.com/avr-rust/rust/issues/161 however.

I suspect my presence as some kind of admin of this repository may be getting in the way - I don't really interact with much on the embedded-wg because it isn't AVR related. I have no problems with my acc

[2020-03-30 12:38] raw-bin commented on #434
Hi.

I don't have a very strong leg to stand on for this request given my mostly peripheral association with the cortex-a team (commentary not code) but I would request that the team be kept alive for 2 reasons:

1. I am on a trajectory with Arm now where my tangible participation through the cortex-a team (and possibly others) will increase. I can provide detail but read on first please.

2. By h

[2020-04-06 20:25] jonas-schievink opened #437 "Agenda for 2020-04-07 meeting"
[8-9 PM CET][timezone] (Berlin time) on [#rust-embedded:matrix.org][matrix]

[Public Google calendar that includes these weekly meetings][google-cal]

Agenda
---

* The DMA API proposed in the embedonomicon is unsound: https://github.com/rust-embedded/embedonomicon/issues/64

Announcements:
* (your announcement here)

---

This meeting is open for anyone to attend. If you'd like to bring up any is

[2020-04-06 21:52] adamgreig commented on #437
* cortex-m-rt MSRV (https://github.com/rust-embedded/cortex-m-rt/pull/262)

[2020-04-10 00:30] ryankurte opened #442 "Move groups and mailinglists to rust team infrastructure"
It was recently suggested that we move github group management and email lists to rust team infrastructure, this would be a clear improvement over the current setup (manual management and mailgun respectively).

**Discussions:**
- https://github.com/orgs/rust-embedded/teams/infrastructure/discussions/1
- https://github.com/orgs/rust-embedded/teams/infrastructure/discussions/2

**Questions:**
- Wha